Repository gnolang/gno, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gnolang/tech-staff, @jaekwon, @piux2, @moul, @zivkovicmilos, @gnolang/security, @gnolang/devrels, @gfanton, @thehowl, @harry-hov, @gnolang/devops

.github/CODEOWNERS:

# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# Primary repo maintainers.
*                             @gnolang/tech-staff

# Tendermint2 (Gno version).
/tm2/*                        @gnolang/tech-staff
/tm2/pkg                      @jaekwon @piux2 @moul @zivkovicmilos
/tm2/pkg/crypto               @jaekwon @moul @gnolang/security
# TODO: add per package exceptions
# ...

# Docs & Content.
/docs/                        @gnolang/devrels
/misc/docusaurus/             @gnolang/devrels
/README.md                    @gnolang/devrels
/.gitpod.yml                  @gnolang/devrels

# Gno examples and default contracts.
/examples/                    @gnolang/tech-staff @gnolang/devrels
/examples/gno.land/r/gnoland/ @moul
/examples/gno.land/r/gov/     @moul
/examples/gno.land/r/sys/     @moul
/examples/gno.land/r/worx/    @moul
/examples/gno.land/r/x        @gnolang/devrels
# TODO: add people from the community here.
/examples/gno.land/r/jaekwon/ @jaekwon
/examples/gno.land/r/manfred/ @moul

# Gno.land.
/gno.land/                    @moul
/gno.land/pkg/integration     @gfanton
#...

# GnoVM/Gnolang.
/gnovm/                       @gnolang/tech-staff
/gnovm/stdlibs                @jaekwon @thehowl
/gnovm/tests                  @jaekwon @piux2 @thehowl @moul
/gnovm/cmd/gno                @jaekwon @thehowl @harry-hov @moul
/gnovm/pkg/gnolang            @jaekwon @piux2 @thehowl @moul
/gnovm/pkg/doc                @thehowl
/gnovm/pkg/gnomod             @harry-hov
/gnovm/pkg/integration        @gfanton
#/gnovm/pkg/gnoenv
#/gnovm/pkg/repl

# Contribs
/contribs/                    @gnolang/tech-staff
/contribs/gnodev              @gfanton
/contribs/gnokeykc            @moul
/contribs/gnomd               @moul
#...

# Misc
/misc/                        @gnolang/tech-staff
/misc/loop                    @moul @gnolang/devops
/misc/deployments             @moul @gnolang/devops
/misc/genstd                  @thehowl
#...

# Special files.
/PLAN.md                      @jaekwon @moul
/PHILOSOPHY.md                @jaekwon
/CONTRIBUTING.md              @jaekwon @moul @gnolang/tech-staff
/LICENSE.md                   @jaekwon
/.github/                     @moul @gnolang/tech-staff
/.github/CODEOWNERS           @jaekwon @moul

feat(examples): add package cford32, add method `seqid.ID.String` (#1572)
  examples/gno.land/p/demo/cford32/LICENSE
  examples/gno.land/p/demo/cford32/README.md
  examples/gno.land/p/demo/cford32/cford32.gno
  examples/gno.land/p/demo/cford32/cford32_test.gno
  examples/gno.land/p/demo/cford32/gno.mod
  examples/gno.land/p/demo/seqid/gno.mod
  examples/gno.land/p/demo/seqid/seqid.gno
  examples/gno.land/p/demo/seqid/seqid_test.gno
  tm2/pkg/std/memfile.go
Owners: @gnolang/tech-staff, @gnolang/devrels, @jaekwon, @piux2, @moul, @zivkovicmilos

removed v1 suffix
  examples/gno.land/p/demo/gnorkle/agent/gno.mod
  examples/gno.land/p/demo/gnorkle/agent/whitelist.gno
  examples/gno.land/p/demo/gnorkle/feed/gno.mod
  examples/gno.land/p/demo/gnorkle/feed/task.gno
  examples/gno.land/p/demo/gnorkle/feed/type.gno
  examples/gno.land/p/demo/gnorkle/feed/value.gno
  examples/gno.land/p/demo/gnorkle/feeds/static/feed.gno
  examples/gno.land/p/demo/gnorkle/feeds/static/gno.mod
  examples/gno.land/p/demo/gnorkle/gnorkle/feed.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/gno.mod
  examples/gno.land/p/demo/gnorkle/gnorkle/ingester.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/instance.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/storage.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/whitelist.gno
  examples/gno.land/p/demo/gnorkle/ingester/gno.mod
  examples/gno.land/p/demo/gnorkle/ingester/type.gno
  examples/gno.land/p/demo/gnorkle/ingesters/single/gno.mod
  examples/gno.land/p/demo/gnorkle/ingesters/single/ingester.gno
  examples/gno.land/p/demo/gnorkle/message/gno.mod
  examples/gno.land/p/demo/gnorkle/message/parse.gno
  examples/gno.land/p/demo/gnorkle/message/type.gno
  examples/gno.land/p/demo/gnorkle/readme.md
  examples/gno.land/p/demo/gnorkle/storage/simple/gno.mod
  examples/gno.land/p/demo/gnorkle/storage/simple/storage.gno
  examples/gno.land/p/demo/gnorkle/v1/feed/gno.mod
  examples/gno.land/p/demo/gnorkle/v1/feeds/static/gno.mod
  examples/gno.land/p/demo/gnorkle/v1/gnorkle/gno.mod
  examples/gno.land/p/demo/gnorkle/v1/ingester/gno.mod
  examples/gno.land/p/demo/gnorkle/v1/ingesters/single/gno.mod
  examples/gno.land/p/demo/gnorkle/v1/message/gno.mod
  examples/gno.land/p/demo/gnorkle/v1/storage/simple/gno.mod
  examples/gno.land/r/gnoland/ghverify/contract.gno
  examples/gno.land/r/gnoland/ghverify/gno.mod
Owners: @gnolang/tech-staff, @gnolang/devrels, @moul

begin removing support for linked identifiers
  gnovm/stdlibs/std/banker.gno
  gnovm/stdlibs/std/banker.go
  gnovm/stdlibs/std/context.gno
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
Owners: @jaekwon, @thehowl

fixup
  .github/workflows/examples.yml
  docs/getting-started/local-setup.md
  gnovm/cmd/gno/test.go
Owners: @moul, @gnolang/tech-staff, @gnolang/devrels, @jaekwon, @thehowl, @harry-hov

txtar test and contract bug fix
  examples/gno.land/r/gnoland/ghverify/contract.gno
  gno.land/cmd/gnoland/testdata/ghverify.txtar
Owners: @moul

added tests
  gnovm/tests/files/recover11.gno
  gnovm/tests/files/recover12a.gno
  gnovm/tests/files/recover12b.gno
Owners: @jaekwon, @piux2, @thehowl, @moul

use exception struct for panic value and frame management
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/uverse.go
Owners: @jaekwon, @piux2, @thehowl, @moul
