Repository gnolang/gno, changes with the labels that .github/labeler.yml gives for each.
All labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land, :book:  documentation

check url length
  gnovm/cmd/gno/bug.go
Labels: :package: :robot: gnovm

Use text/template
  gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/util.go
Labels: :package: :robot: gnovm

fixup CI
  examples/gno.land/p/demo/blog/blog.gno
Labels: :receipt:  package/realm

fix run files with precompile
  gnovm/cmd/gno/precompile.go
  gnovm/pkg/precompile/misc.go
  gnovm/pkg/precompile/precompile.go
  gnovm/tests/debug/1.gno
  gnovm/tests/debug/2.gno
  gnovm/tests/debug/3.gno
  gnovm/tests/debug/zrealm0.gno
  gnovm/tests/debug/zrealm0_a.gno
  gnovm/tests/debug2/1.gno
  gnovm/tests/debug2/2.gno
  gnovm/tests/debug2/3.gno
  gnovm/tests/debug2/4.gno
  gnovm/tests/debug2/4a.gno
  gnovm/tests/debug2/a1.gno
  gnovm/tests/debug2/access0.gno
  gnovm/tests/debug2/addr0b_stdlibs.gno
  gnovm/tests/debug2/main.go
  gnovm/tests/debug2/zrealm0.gno
  gnovm/tests/debug2/zrealm0_a.gno
  gnovm/tests/file.go
  gnovm/tests/files/a12.gno
  gnovm/tests/files/a25.gno
  gnovm/tests/files/a39.gno
  gnovm/tests/files/a47.gno
  gnovm/tests/files/context2.gno
  gnovm/tests/files/fun22.gno
  gnovm/tests/files/interface9b.gno
Labels: :package: :robot: gnovm

feat: use 0.0.0.0 as the default listening address for RPC and gnoweb
  docs/getting-started/setting-up-a-local-chain.md
  gno.land/cmd/gnoweb/main.go
  tm2/pkg/bft/rpc/config/config.go
Labels: :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land

fix(gnovm): don't treat `[]byte("xxx")` as a constant expression (#1597)
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/byte_slice_issue1570.gno
Labels: :package: :robot: gnovm

log & check on genesis pkg for addpkg
  examples/gno.land/r/demo/hello/hello.gno
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/run.go
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/go2gno_test.go
  gnovm/pkg/gnolang/gonative_test.go
  gnovm/pkg/gnolang/uverse_test.go
  gnovm/pkg/precompile/debug.go
  gnovm/pkg/precompile/misc.go
  gnovm/pkg/precompile/precompile.go
  gnovm/tests/debug/addr0b_stdlibs.gno
  gnovm/tests/debug2/1.gno
  gnovm/tests/debug2/extern.gno
  gnovm/tests/file.go
  gnovm/tests/files/fun22.gno
  gnovm/tests/files/zregexp_stdlibs.gno
Labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :mountain:  gno.land

fixup
  examples/gno.land/p/demo/json/gno.mod
  examples/gno.land/p/demo/json/state_machine.gno
  examples/gno.land/p/demo/json/struct.gno
  gnovm/pkg/gnolang/precompile.go
  gnovm/tests/files/json0.gno
  gnovm/tests/files/json1.gno
  gnovm/tests/files/json2.gno
  gnovm/tests/files/json3.gno
  gnovm/tests/files/json4.gno
Labels: :receipt:  package/realm, :package: :robot: gnovm

fmt
  examples/gno.land/p/demo/json/escape.gno
  examples/gno.land/p/demo/json/parser.gno
  examples/gno.land/p/demo/json/state_machine.gno
  examples/gno.land/p/demo/json/struct.gno
Labels: :receipt:  package/realm

feat(vm): add group comments
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/nodes_copy.go
  gnovm/pkg/gnolang/nodes_string.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/types.go
  gnovm/pkg/gnolang/word_string.go
Labels: :package: :robot: gnovm

chore: lint
  gnovm/pkg/gnolang/nodes.go
  gnovm/tests/files/zrealm1.gno
  gnovm/tests/files/zrealm2.gno
  gnovm/tests/files/zrealm3.gno
  gnovm/tests/files/zrealm_natbind0.gno
  gnovm/tests/files/zrealm_tests0.gno
Labels: :package: :robot: gnovm

wip: xxx
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/nodes_string.go
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm

fix test and comment
  gnovm/pkg/gnolang/precompile.go
  gnovm/pkg/gnolang/precompile_test.go
Labels: :package: :robot: gnovm

Fix line&col shifting for *.gen.go files
  gnovm/pkg/gnolang/precompile.go
  gnovm/pkg/gnolang/precompile_test.go
Labels: :package: :robot: gnovm

add flag `-skip-browser`
  gnovm/cmd/gno/bug.go
Labels: :package: :robot: gnovm

Add test
  gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/bug_test.go
Labels: :package: :robot: gnovm

update dependabot groups
  .github/dependabot.yml
Labels: none

update to 1.21 in a few more places
  CONTRIBUTING.md
  gnovm/cmd/gno/test.go
  gnovm/stdlibs/std/native.go
Labels: :package: :robot: gnovm

remove redundant `users.AddressOrName` casting
  examples/gno.land/p/demo/grc/grc1155/basic_grc1155_token_test.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
Labels: :receipt:  package/realm

s/Render/String
  examples/gno.land/p/demo/users/users.gno
  examples/gno.land/r/demo/users/users.gno
Labels: :receipt:  package/realm

.github/labeler.yml:

":receipt:  package/realm":
- examples/**/*

":package: :robot: gnovm":
- gnovm/**/*

":package: :globe_with_meridians:  tendermint v2":
- tm2/**/*

":package: :mountain:  gno.land":
- "gno.land/**/*"

":book:  documentation":
- docs/**/*"
