Repository gnolang/gno, changes with the labels that .github/labeler.yml gives for each.
All labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land, :book:  documentation

remove node.reset in gnodev
  contribs/gnodev/pkg/dev/node.go
Labels: none

xx
  tm2/pkg/bft/consensus/wal_generator.go
Labels: :package: :globe_with_meridians:  tendermint v2

docs: update getting-started with `gno test` (#1712)
  docs/how-to-guides/testing-gno.md
Labels: none

refactor(tm2): make rpc client not depend on goleveldb (#1603)
  contribs/gnodev/pkg/dev/node.go
  contribs/gnokeykc/go.mod
  tm2/pkg/bft/appconn/app_conn.go
  tm2/pkg/bft/appconn/multi_app_conn.go
  tm2/pkg/bft/blockchain/reactor_test.go
  tm2/pkg/bft/consensus/reactor.go
  tm2/pkg/bft/consensus/replay.go
  tm2/pkg/bft/consensus/replay_file.go
  tm2/pkg/bft/consensus/replay_test.go
  tm2/pkg/bft/consensus/types/peer_round_state.go
  tm2/pkg/bft/consensus/wal_generator.go
  tm2/pkg/bft/consensus/wal_test.go
  tm2/pkg/bft/mempool/clist_mempool.go
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/node/node_test.go
  tm2/pkg/bft/rpc/client/localclient.go
  tm2/pkg/bft/rpc/client/rpc_test.go
  tm2/pkg/bft/rpc/core/consensus.go
  tm2/pkg/bft/rpc/core/pipe.go
  tm2/pkg/bft/rpc/core/status.go
  tm2/pkg/bft/state/execution.go
  tm2/pkg/bft/state/execution_test.go
  tm2/pkg/bft/state/helpers_test.go
  tm2/pkg/bft/types/keys.go
Labels: :package: :globe_with_meridians:  tendermint v2

chore(make): disable cgo, reorganise makefiles
  Makefile
  contribs/Makefile
  examples/Makefile
  gno.land/Makefile
  gnovm/Makefile
  misc/Makefile
  tm2/Makefile
Labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land

address underlying problem
  Makefile
  tm2/pkg/bft/state/state_test.go
Labels: :package: :globe_with_meridians:  tendermint v2

feat(cmd/gno): add -v as an alias for -verbose
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_test/flag_v.txtar
Labels: :package: :robot: gnovm

fix: remove staging network configuration
  docs/reference/rpc-endpoints.md
Labels: none

feat: PrevRealm ignores user realms
  gno.land/cmd/gnoland/testdata/prevrealm.txtar
  gnovm/pkg/gnolang/values.go
Labels: :package: :robot: gnovm, :package: :mountain:  gno.land

fix: move sort + refactor validate
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :mountain:  gno.land

fix: move sort + refactor validate
  tm2/pkg/std/memfile.go
Labels: :package: :globe_with_meridians:  tendermint v2

.github/labeler.yml:

":receipt:  package/realm":
- changed-files:
  - any-glob-to-any-file:
    - examples/**/*

":package: :robot: gnovm":
- changed-files:
  - any-glob-to-any-file:
    - gnovm/**/*

":package: :globe_with_meridians:  tendermint v2":
- changed-files:
  - any-glob-to-any-file:
    - tm2/**/*

":package: :mountain:  gno.land":
- changed-files:
  - any-glob-to-any-file:
    - "gno.land/**/*"

":book:  documentation":
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*"
