Repository gnolang/gno, changes with the labels that .github/labeler.yml gives for each.
All labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land, :book:  documentation

Update docs and txtar(s)
  docs/assets/how-to-guides/simple-contract/gno.mod
  docs/assets/how-to-guides/simple-library/gno.mod
  docs/gno-tooling/cli/gnokey.md
  docs/how-to-guides/deploy.md
  docs/how-to-guides/simple-library.md
  examples/gno.land/r/demo/groups/README.md
  examples/gno.land/r/demo/microblog/README.md
  gno.land/cmd/gnoland/testdata/append.txtar
  gno.land/cmd/gnoland/testdata/float-arg.txtar
  gno.land/cmd/gnoland/testdata/grc20-registry.txtar
  gno.land/cmd/gnoland/testdata/issue-1167.txtar
  gno.land/cmd/gnoland/testdata/issue-gnochess-97.txtar
  gno.land/genesis/genesis_txs.txt
  gno.land/pkg/integration/testdata/adduser.txtar
Labels: :receipt:  package/realm, :package: :mountain:  gno.land

remove -pkgPath from adduser.txtar
  gno.land/pkg/integration/testdata/adduser.txtar
Labels: :package: :mountain:  gno.land

prefer setting empty value
  gno.land/pkg/keyscli/run.go
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :mountain:  gno.land

add back script/script.gno in adduser.txtar
  gno.land/pkg/integration/testdata/adduser.txtar
Labels: :package: :mountain:  gno.land

feat(gnovm): add benchmark system (#1624)
  gnovm/pkg/gnolang/benchdata/fib.gno
  gnovm/pkg/gnolang/benchdata/loop.gno
  gnovm/pkg/gnolang/benchdata/matrix.gno
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/go_bench_test.go
Labels: :package: :robot: gnovm

fix(misc/genstd): ignore gno generated files (#1633)
  misc/genstd/genstd.go
Labels: none

fix parallel tests
  gno.land/pkg/gnoclient/client_test.go
Labels: :package: :mountain:  gno.land

remove excess slice
  gno.land/pkg/gnoclient/client_txs.go
Labels: :package: :mountain:  gno.land

add godoc
  gno.land/pkg/gnoclient/client_txs.go
Labels: :package: :mountain:  gno.land

add errors & checks in validation
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/msgs.go
Labels: :package: :mountain:  gno.land

place verification in verifybasic
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/msgs.go
Labels: :package: :mountain:  gno.land

correct pkg generated by NewMsgRun
  gno.land/pkg/sdk/vm/msgs.go
Labels: :package: :mountain:  gno.land

rework errors
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/msgs.go
  tm2/pkg/std/memfile.go
Labels: :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land

add check into msgaddpkg
  gno.land/pkg/sdk/vm/msgs.go
Labels: :package: :mountain:  gno.land

rename eerr
  gno.land/pkg/sdk/vm/errors.go
Labels: :package: :mountain:  gno.land

add more integration tests
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain:  gno.land

unit tests
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/integration_test.go
Labels: :package: :mountain:  gno.land

make fmt
  gno.land/pkg/gnoclient/integration_test.go
Labels: :package: :mountain:  gno.land

fixup genesis blog tx, start reworking tests
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  gno.land/genesis/genesis_txs.txt
Labels: :receipt:  package/realm, :package: :mountain:  gno.land

closure tests passing
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/op_assign.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/pkg/gnolang/op_decl.go
  gnovm/pkg/gnolang/op_exec.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/values.go
Labels: :package: :robot: gnovm

refactor: update handlers.go
  tm2/pkg/bft/rpc/lib/server/handlers.go
Labels: :package: :globe_with_meridians:  tendermint v2

Add two malicious examples
  examples/gno.land/r/x/kristov_malicious/README.md
  examples/gno.land/r/x/kristov_malicious/bidirectional_override/README.md
  examples/gno.land/r/x/kristov_malicious/bidirectional_override/override.gno
  examples/gno.land/r/x/kristov_malicious/bidirectional_override/z1_filetest.gno
  examples/gno.land/r/x/kristov_malicious/int_overflow/README.md
  examples/gno.land/r/x/kristov_malicious/int_overflow/int_overflow.gno
  examples/gno.land/r/x/kristov_malicious/int_overflow/z1_filetest.gno
Labels: :receipt:  package/realm

chore: In gnoclient, add validateMsgSend and unit test TestClient_Send_Errors.
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain:  gno.land

Update gno.land/pkg/gnoclient/client_test.go with tc := tc
  gno.land/pkg/gnoclient/client_test.go
Labels: :package: :mountain:  gno.land

chore: In client_test.go, fix lint errors.
  gno.land/pkg/gnoclient/client_test.go
Labels: :package: :mountain:  gno.land

chore(gnoclient): Add Send support (#1639)
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain:  gno.land

fix(sdk/vm): coerce MsgRun pkgpath to `gno.land/r/$addr/run` (#1645)
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/keyscli/run.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/msgs.go
Labels: :package: :mountain:  gno.land

wip
  examples/gno.land/p/demo/blog/blog.gno
Labels: :receipt:  package/realm

rename tests, fix std.Msg array for Send
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
Labels: :package: :mountain:  gno.land

add pkg try build
  examples/gno.land/p/demo/avl/node.go
  examples/gno.land/p/demo/avl/tree.go
  examples/gno.land/p/demo/microblog/microblog.go
  examples/gno.land/r/demo/build2/microblog/microblog.go
  examples/gno.land/r/demo/compile/go.mod
  examples/gno.land/r/demo/compile/main.go
  examples/gno.land/r/demo/compile/z_0_filetest.go
  examples/gno.land/r/demo/hello/hello.gno
  gno.land/genesis/genesis_balances.txt
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/run.go
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/main_test.go
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/util_test.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnomod/file.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/precompile/precompile.go
  gnovm/pkg/precompile/precompile_test.go
  gnovm/pkg/precompile/util.go
  gnovm/stdlibs/stdshim/addr_set.go
  gnovm/stdlibs/stdshim/banker.go
  gnovm/stdlibs/stdshim/coins.go
  gnovm/stdlibs/stdshim/crypto.go
  gnovm/stdlibs/stdshim/frame.go
  gnovm/stdlibs/stdshim/mock_native.goa
  gnovm/tests/file.go
  main
Labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :mountain:  gno.land

Fix scope issues when for stack and print commands.
  gnovm/cmd/gno/debug_test.go
  gnovm/pkg/gnolang/debugger.go
  gnovm/tests/integ/debugger/sample.gno
Labels: :package: :robot: gnovm

extract post errors
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/p/demo/blog/errors.gno
Labels: :receipt:  package/realm

fix fmt issues
  examples/gno.land/r/x/kristov_malicious/bidirectional_override/override.gno
  examples/gno.land/r/x/kristov_malicious/int_overflow/int_overflow.gno
Labels: :receipt:  package/realm

update dates on pages
  gno.land/genesis/genesis_txs.txt
Labels: :package: :mountain:  gno.land

clean generated files
  examples/gno.land/r/demo/foo_bank/README.md
  examples/gno.land/r/demo/foo_bank/banktest.gno
  examples/gno.land/r/demo/foo_bank/gno.mod
  examples/gno.land/r/demo/foo_bank/z_0_filetest.gno
  examples/gno.land/r/demo/foo_bank/z_1_filetest.gno
  examples/gno.land/r/demo/foo_bank/z_2_filetest.gno
  examples/gno.land/r/demo/foo_blog/README.md
  examples/gno.land/r/demo/foo_blog/gno.mod
  examples/gno.land/r/demo/foo_blog/microblog.gno
  gno.land/pkg/keyscli/addpkg.go
  gnovm/cmd/gno/clean.go
  gnovm/pkg/precompile/precompile.go
Labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :mountain:  gno.land

refactor precompile dependence
  gno.land/pkg/keyscli/addpkg.go
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/util.go
  gnovm/pkg/precompile/misc.go
  gnovm/pkg/precompile/precompile.go
Labels: :package: :robot: gnovm, :package: :mountain:  gno.land

simplify build logic
  examples/gno.land/r/demo/hello/hello.gno
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/run.go
  gnovm/cmd/gno/precompile.go
  gnovm/pkg/precompile/misc.go
  gnovm/pkg/precompile/precompile.go
Labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :mountain:  gno.land

clear dependency
  examples/gno.land/r/demo/foo_blog/microblog.gno
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/run.go
  gnovm/cmd/gno/precompile.go
  gnovm/pkg/precompile/precompile.go
Labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :mountain:  gno.land

change fmt package into p/demo/ufmt
  examples/gno.land/p/demo/json/state_machine.gno
  examples/gno.land/p/demo/json/struct.gno
Labels: :receipt:  package/realm

regex as global
  examples/gno.land/p/demo/json/const.gno
  examples/gno.land/p/demo/json/state_machine.gno
  examples/gno.land/p/demo/json/struct.gno
Labels: :receipt:  package/realm

.github/labeler.yml:

":receipt:  package/realm":
- examples/**/*

":package: :robot: gnovm":
- gnovm/**/*

":package: :globe_with_meridians:  tendermint v2":
- tm2/**/*

":package: :mountain:  gno.land":
- "gno.land/**/*"

":book:  documentation":
- docs/**/*"
