Repository gnolang/gno, changes with the labels that .github/labeler.yml gives for each.
All labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land, :book:  documentation

remove newlines
  examples/gno.land/p/demo/blog/util.gno
Labels: :receipt:  package/realm

docs: add links into navbar (#1627)
  misc/docusaurus/docusaurus.config.js
  misc/docusaurus/src/css/custom.css
Labels: none

fix(misc/genstd): ignore gno generated files
  misc/genstd/genstd.go
Labels: none

Add unit tests for debugger
  gnovm/cmd/gno/debug_test.go
  gnovm/cmd/gno/run.go
  gnovm/pkg/gnolang/debugger.go
  gnovm/tests/integ/debugger/sample.gno
Labels: :package: :robot: gnovm

fix banker typo
  docs/concepts/standard-library/banker.md
  docs/reference/standard-library/std/banker.md
Labels: none

docs: fix typo in banker documentation (#1634)
  docs/concepts/standard-library/banker.md
  docs/reference/standard-library/std/banker.md
Labels: none

chore(make): provide install.gnodev in root makefile (#1626)
  Makefile
Labels: none

dependency injection for test clearScreen
  gnovm/cmd/gno/repl.go
  gnovm/cmd/gno/repl_test.go
Labels: :package: :robot: gnovm

fixup
  gnovm/cmd/gno/repl.go
Labels: :package: :robot: gnovm

fix(sdk/vm): improve MsgCall panic error message for wrong number of args (#1610)
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
Labels: :package: :mountain:  gno.land

wip
  examples/gno.land/r/demo/disperse/disperse.gno
Labels: :receipt:  package/realm

feat(gnodev): add more configuration flags for server usage
  contribs/gnodev/main.go
  contribs/gnodev/pkg/dev/node.go
  gno.land/pkg/gnoland/node_inmemory.go
Labels: :package: :mountain:  gno.land

modify run to use baseTxCfg
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain:  gno.land

simplify err
  gno.land/pkg/gnoclient/client_txs.go
Labels: :package: :mountain:  gno.land

wip tests
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
Labels: :package: :mountain:  gno.land

fixing test bugs
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
Labels: :package: :mountain:  gno.land

replace previous `PeekStmt` to `PeekStmt1`
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_exec.go
Labels: :package: :robot: gnovm

tmp test build
  examples/gno.land/p/demo/avl/node.go
  examples/gno.land/p/demo/avl/tree.go
  examples/gno.land/p/demo/microblog/microblog.go
  examples/gno.land/r/demo/build2/microblog/microblog.go
  examples/gno.land/r/demo/compile/go.mod
  examples/gno.land/r/demo/compile/z_0_filetest.gno
  examples/gno.land/r/demo/compile/z_0_filetest.go
  gnovm/cmd/gno/precompile.go
  gnovm/pkg/gnolang/precompile.go
  gnovm/stdlibs/stdshim/addr_set.go
  gnovm/stdlibs/stdshim/banker.go
  gnovm/stdlibs/stdshim/coins.go
  gnovm/stdlibs/stdshim/crypto.go
  gnovm/stdlibs/stdshim/frame.go
  gnovm/stdlibs/stdshim/mock_native.go
  gnovm/tests/debug/4.gno
  gnovm/tests/debug/zrealm0_a.gno
  gnovm/tests/debug2/4.gno
  gnovm/tests/debug2/zrealm0_a.gno
  gnovm/tests/file.go
Labels: :receipt:  package/realm, :package: :robot: gnovm

chore: Add gnoclient Send
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
Labels: :package: :mountain:  gno.land

remove mem alloc for gas purpose
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/pkg/sdk/vm/gas_test.go
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm, :package: :mountain:  gno.land

Update docs/how-to-guides/effective-gno.md
  docs/how-to-guides/effective-gno.md
Labels: none

Update docs/how-to-guides/effective-gno.md
  docs/how-to-guides/effective-gno.md
Labels: none

docs: Effective Gno (#1000)
  docs/how-to-guides/effective-gno.md
  misc/docusaurus/sidebars.js
Labels: none

test(precompile): add more cases
  gnovm/cmd/gno/testdata/gno_precompile/03_gno_files_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/08_build_flag_with_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/09_gno_files_whitelist_error.txtar
Labels: :package: :robot: gnovm

test(precompile): add more cases (#1640)
  gnovm/cmd/gno/testdata/gno_precompile/03_gno_files_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/08_build_flag_with_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/09_gno_files_whitelist_error.txtar
Labels: :package: :robot: gnovm

escape op on render side
  gnovm/pkg/gnolang/nodes_string.go
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm

chore: add playground section into gno.land homepage
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt:  package/realm

fix: tab
  examples/gno.land/r/gnoland/home/home.gno
Labels: :receipt:  package/realm

fix: lint
  examples/gno.land/r/gnoland/home/home.gno
Labels: :receipt:  package/realm

fix tests
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain:  gno.land

ci: use action to validate dependabot.yml
  .github/workflows/dependabot-validate.yml
Labels: none

test
  .github/dependabot.yml
Labels: none

ci: add dependabot group for all GH actions (#1628)
  .github/dependabot.yml
Labels: none

dont post comment
  .github/workflows/dependabot-validate.yml
Labels: none

Revert "test"
  .github/dependabot.yml
Labels: none

Add package `helloworld` for docker test
  gnovm/tests/integ/helloworld/gno.mod
  gnovm/tests/integ/helloworld/hello.gno
  gnovm/tests/integ/helloworld/world/gno.mod
  gnovm/tests/integ/helloworld/world/world.gno
  misc/docker-integration/integration_test.go
Labels: :package: :robot: gnovm

Fix failing tests
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/cmd/gnoland/testdata/import.txtar
  gno.land/cmd/gnoland/testdata/run.txtar
Labels: :package: :mountain:  gno.land

fix(sdk/vm): coerce MsgRun pkgpath to `gno.land/r/$addr/run`
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :mountain:  gno.land

Remove -pkgPath from addPkg in favour of gno.mod
  gno.land/pkg/keyscli/addpkg.go
Labels: :package: :mountain:  gno.land

feat: remove legacy `gnotxsync` (#1613)
  .github/workflows/gnoland.yml
  Dockerfile
  README.md
  docs/gno-tooling/cli/tm2txsync.md
  gno.land/Makefile
  gno.land/cmd/gnotxsync/README.md
  gno.land/cmd/gnotxsync/export.go
  gno.land/cmd/gnotxsync/import.go
  gno.land/cmd/gnotxsync/main.go
  gno.land/cmd/gnotxsync/main_test.go
  misc/docusaurus/sidebars.js
Labels: :package: :mountain:  gno.land

.github/labeler.yml:

":receipt:  package/realm":
- examples/**/*

":package: :robot: gnovm":
- gnovm/**/*

":package: :globe_with_meridians:  tendermint v2":
- tm2/**/*

":package: :mountain:  gno.land":
- "gno.land/**/*"

":book:  documentation":
- docs/**/*"
