Repository gnolang/gno, changes with the labels that .github/labeler.yml gives for each.
All labels: :receipt:  package/realm, :package: :robot: gnovm, :package: :globe_with_meridians:  tendermint v2, :package: :mountain:  gno.land, :book:  documentation

fmt
  examples/gno.land/p/demo/json/const.gno
  examples/gno.land/p/demo/json/eisel_lemire.gno
  examples/gno.land/p/demo/json/escape.gno
  examples/gno.land/p/demo/json/escape_test.gno
  examples/gno.land/p/demo/json/state_machine.gno
  examples/gno.land/p/demo/json/state_machine_test.gno
  examples/gno.land/p/demo/json/struct.gno
  examples/gno.land/p/demo/json/utils.go
Labels: :receipt:  package/realm

fixup
  examples/gno.land/p/demo/json/utils.gno
Labels: :receipt:  package/realm

simplify run logic
  gnovm/cmd/gno/precompile.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/precompile/precompile.go
  gnovm/tests/debug/1.gno
  gnovm/tests/file.go
Labels: :package: :robot: gnovm

precompile returns scanner.ErrorList
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_precompile/03_gno_files_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/07_build_flag_with_build_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/08_build_flag_with_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/09_gno_files_whitelist_error.txtar
  gnovm/pkg/gnolang/precompile.go
Labels: :package: :robot: gnovm

parse go build errors into scanner.ErrorList
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/testdata/gno_precompile/07_build_flag_with_build_error.txtar
Labels: :package: :robot: gnovm

move go build error parsing
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/test.go
  gnovm/pkg/gnolang/precompile.go
Labels: :package: :robot: gnovm

avoid gobuild if errors (bc .gen.go aren't generated)
  gnovm/cmd/gno/precompile.go
Labels: :package: :robot: gnovm

add tests for parseGoBuildErrors
  gnovm/cmd/gno/precompile.go
  gnovm/pkg/gnolang/precompile.go
  gnovm/pkg/gnolang/precompile_test.go
Labels: :package: :robot: gnovm

add notes about line & columns shifting
  gnovm/pkg/gnolang/precompile.go
Labels: :package: :robot: gnovm

rm unused debug code
  gnovm/pkg/precompile/misc.go
  gnovm/pkg/precompile/precompile.go
Labels: :package: :robot: gnovm

create EachKey
  examples/gno.land/p/demo/json/const.gno
  examples/gno.land/p/demo/json/eisel_lemire.gno
  examples/gno.land/p/demo/json/errors.gno
  examples/gno.land/p/demo/json/escape.gno
  examples/gno.land/p/demo/json/parser.gno
  examples/gno.land/p/demo/json/state_machine.gno
  examples/gno.land/p/demo/json/state_machine_test.gno
  examples/gno.land/p/demo/json/struct.gno
  examples/gno.land/p/demo/json/utils.gno
  gnovm/tests/files/json0.gno
Labels: :receipt:  package/realm, :package: :robot: gnovm

update dates on pages v2
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/p/demo/blog/errors.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  examples/gno.land/r/gnoland/pages/page_about.gno
  examples/gno.land/r/gnoland/pages/page_ecosystem.gno
  examples/gno.land/r/gnoland/pages/page_events.gno
  examples/gno.land/r/gnoland/pages/page_gnolang.gno
  examples/gno.land/r/gnoland/pages/page_gor.gno
  examples/gno.land/r/gnoland/pages/page_partners.gno
  examples/gno.land/r/gnoland/pages/page_start.gno
  examples/gno.land/r/gnoland/pages/page_testnets.gno
  examples/gno.land/r/gnoland/pages/page_tokenomics.gno
Labels: :receipt:  package/realm

move eff-gno to concepts, reorg concepts
  docs/concepts/effective-gno.md
  misc/docusaurus/sidebars.js
Labels: none

chore: update doc
  gno.land/pkg/integration/doc.go
Labels: :package: :mountain:  gno.land

docs: Move Effective Gno, reorg Concepts ordering (#1652)
  docs/concepts/effective-gno.md
  misc/docusaurus/sidebars.js
Labels: none

feat: call grc20 function with registered interface(without import)
  examples/gno.land/r/x/grc20_dynamic_call/bar/bar.gno
  examples/gno.land/r/x/grc20_dynamic_call/bar/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/baz/baz.gno
  examples/gno.land/r/x/grc20_dynamic_call/baz/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/foo/foo.gno
  examples/gno.land/r/x/grc20_dynamic_call/foo/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/registry/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/registry/registry.gno
  examples/gno.land/r/x/grc20_dynamic_call/registry/registry_test.gno
  examples/gno.land/r/x/grc20_dynamic_call/wrapper/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/wrapper/wrapper.gno
Labels: :receipt:  package/realm

feat: add txtar
  gno.land/cmd/gnoland/testdata/grc20_dynamic.txtar
Labels: :package: :mountain:  gno.land

chore: update `gno.mod`
  examples/gno.land/r/x/grc20_dynamic_call/bar/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/baz/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/foo/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/registry/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/wrapper/gno.mod
Labels: :receipt:  package/realm

fix: adresss type and value
  examples/gno.land/r/x/grc20_dynamic_call/registry/registry.gno
  examples/gno.land/r/x/grc20_dynamic_call/registry/registry_test.gno
Labels: :receipt:  package/realm

chore: remove old
  examples/gno.land/r/x/grc20_dynamic_call/baz/baz.gno
  examples/gno.land/r/x/grc20_dynamic_call/baz/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/registry/registry_test.gno
  examples/gno.land/r/x/grc20_dynamic_call/wrapper/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/wrapper/wrapper.gno
Labels: :receipt:  package/realm

feat: use map instead of []struct
  examples/gno.land/r/x/grc20_dynamic_call/registry/registry.gno
Labels: :receipt:  package/realm

fix: testcase
  examples/gno.land/r/x/grc20_dynamic_call/bar/bar.gno
  examples/gno.land/r/x/grc20_dynamic_call/foo/foo.gno
  examples/gno.land/r/x/grc20_dynamic_call/registry/gno.mod
  examples/gno.land/r/x/grc20_dynamic_call/registry/z_0_transfer_filetest.gno
  examples/gno.land/r/x/grc20_dynamic_call/registry/z_1_transferfrom_filetest.gno
Labels: :receipt:  package/realm

fix: map copy
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm

fix: copy value in `cv.map`
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm

test: txtar
  gno.land/cmd/gnoland/testdata/pr-1112.txtar
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm, :package: :mountain:  gno.land

[WIP] feat(gnovm, tm2): Yet Another Emit/Event
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/emitEvent.gno
  gnovm/stdlibs/std/emitEvent.go
  gnovm/stdlibs/std/emitEvent_test.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/events.go
  tm2/pkg/sdk/package.go
  tm2/pkg/sdk/sdk.proto
Labels: :package: :robot: gnovm, :package: :globe_with_meridians:  tendermint v2

feat: bump go 1.20 to 1.21
  Dockerfile
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  contribs/gnomd/go.mod
  go.mod
  go.sum
  misc/devdeps/go.mod
  misc/devdeps/go.sum
  misc/loop/go.mod
  misc/loop/go.sum
Labels: none

temp add test1 as admin to blog realm
  examples/gno.land/r/gnoland/blog/admin.gno
Labels: :receipt:  package/realm

fix(ci): docker integration
  .github/workflows/gnoland.yml
Labels: none

fix: bump ci golang version
  .github/workflows/benchmark.yml
  .github/workflows/codegen.yml
  .github/workflows/contribs.yml
  .github/workflows/db-tests.yml
  .github/workflows/dependabot-tidy.yml
  .github/workflows/examples.yml
  .github/workflows/gh-pages.yml
  .github/workflows/gnoland.yml
  .github/workflows/gnovm.yml
  .github/workflows/lint.yml
  .github/workflows/misc.yml
  .github/workflows/tm2.yml
Labels: none

chore: lint
  .github/golangci.yml
  go.mod
  tm2/pkg/bft/node/node.go
Labels: :package: :globe_with_meridians:  tendermint v2

chore(bft/rpc): fix typo in handlers.go (#1648)
  tm2/pkg/bft/rpc/lib/server/handlers.go
Labels: :package: :globe_with_meridians:  tendermint v2

fix tests
  examples/gno.land/r/gnoland/blog/admin.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
Labels: :receipt:  package/realm

fix lint
  examples/gno.land/r/gnoland/blog/admin.gno
Labels: :receipt:  package/realm

feat: implement `gno bug`
  gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/util.go
Labels: :package: :robot: gnovm

rum fmt
  gnovm/cmd/gno/bug.go
Labels: :package: :robot: gnovm

Add tests
  gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/bug_test.go
Labels: :package: :robot: gnovm

cleanup
  gnovm/cmd/gno/main.go
Labels: :package: :robot: gnovm

save
  gnovm/cmd/gno/bug_test.go
Labels: :package: :robot: gnovm

Update gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/bug.go
Labels: :package: :robot: gnovm

.github/labeler.yml:

":receipt:  package/realm":
- examples/**/*

":package: :robot: gnovm":
- gnovm/**/*

":package: :globe_with_meridians:  tendermint v2":
- tm2/**/*

":package: :mountain:  gno.land":
- "gno.land/**/*"

":book:  documentation":
- docs/**/*"
