Repository gnolang/gno, pull requests merged in 2022-05, with the labels that each got.

#191 chore: silent the 'XXX save hash to iavl' comment
  realm.go
Labels: tests

#175 Website: render usernames
  gnoland/website/static/js/renderer.js
  gnoland/website/views/realm_render.html
Labels: gnoland

#132 WIP: fixing some nondeterministic tests
  pkgs/p2p/switch_test.go
  pkgs/p2p/transport_test.go
Labels: core, tests

#208 gnodev test with testing.T
  .gitignore
  cmd/gnodev/precompile.go
  cmd/gnodev/test.go
  cmd/gnodev/testrun.go
  examples/gno.land/r/foo20/foo200_test.gno
  precompile.go
  precompile_test.go
  stdlibs/testing/testing.gno
  tests/imports.go
Labels: core, tool, tests
