Repository gnolang/gno, pull requests merged in 2023-07, with the labels that each got.

#895 chore: use std.PrevRealm() in grc20 and grc721
  examples/gno.land/p/demo/grc/grc20/user_token.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo721/foo721.gno
Labels: :receipt: package/realm

#905 feat: add p/demo/svg
  examples/gno.land/p/demo/svg/doc.gno
  examples/gno.land/p/demo/svg/gno.mod
  examples/gno.land/p/demo/svg/svg.gno
  examples/gno.land/p/demo/svg/z0_filetest.gno
  examples/gno.land/p/demo/svg/z1_filetest.gno
Labels: :receipt: package/realm

#818 feat: new website v2
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  gno.land/cmd/gnoweb/main.go
  gno.land/cmd/gnoweb/pages/GOR.md
  gno.land/cmd/gnoweb/static/css/app.css
  gno.land/cmd/gnoweb/static/font/README.md
  gno.land/cmd/gnoweb/static/font/font.css
  gno.land/cmd/gnoweb/static/font/roboto/LICENSE.txt
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-Bold.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-BoldItalic.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-Italic.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-Light.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-LightItalic.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-Medium.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-MediumItalic.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-Regular.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-Thin.woff
  gno.land/cmd/gnoweb/static/font/roboto/RobotoMono-ThinItalic.woff
  gno.land/cmd/gnoweb/static/img/ico-discord.svg
  gno.land/cmd/gnoweb/static/img/ico-email.svg
  gno.land/cmd/gnoweb/static/img/ico-telegram.svg
  gno.land/cmd/gnoweb/static/img/ico-twitter.svg
  gno.land/cmd/gnoweb/static/img/ico-youtube.svg
  gno.land/cmd/gnoweb/static/js/renderer.js
  gno.land/cmd/gnoweb/views/404.html
  gno.land/cmd/gnoweb/views/faucet.html
  gno.land/cmd/gnoweb/views/funcs.html
  gno.land/cmd/gnoweb/views/generic.html
  gno.land/cmd/gnoweb/views/home.html
  gno.land/cmd/gnoweb/views/package_dir.html
  gno.land/cmd/gnoweb/views/package_file.html
  gno.land/cmd/gnoweb/views/realm_help.html
  gno.land/cmd/gnoweb/views/realm_render.html
Labels: :receipt: package/realm, :package: :mountain: gno.land

#951 chore(make): make lint work without installing golangci-lint
  .github/workflows/misc.yml
  Makefile
  gno.land/Makefile
  gnovm/Makefile
  misc/devdeps/deps.go
  misc/devdeps/go.mod
  misc/devdeps/go.sum
  tm2/Makefile
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, :star2: improvement

#885 feat: add p/demo/bf (brainfuck vm)
  examples/gno.land/p/demo/bf/bf.gno
  examples/gno.land/p/demo/bf/bf_test.gno
  examples/gno.land/p/demo/bf/doc.gno
  examples/gno.land/p/demo/bf/gno.mod
  examples/gno.land/p/demo/bf/run.gno
Labels: :receipt: package/realm

#937 refactor(gnoland): add subcommands support
  .github/workflows/gnoland.yml
  .gitpod.yml
  examples/gno.land/r/demo/boards/README.md
  gno.land/cmd/gnofaucet/README.md
  gno.land/cmd/gnoland/README.md
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoland/start_test.go
  go.mod
  go.sum
  misc/deployments/staging.gno.land/docker-compose.yml
  misc/deployments/test2.gno.land/docker-compose.yml
  misc/deployments/test3.gno.land/docker-compose.yml
  misc/docker-compose/docker-compose.yml
  misc/docker-integration/integration_test.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#969 chore: regular block creation time (5s)
  gno.land/cmd/gnoland/start.go
  misc/deployments/staging.gno.land/overlay/config.toml
  tm2/pkg/bft/consensus/config/config.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#976 Fix gno.land additional terms
  gno.land/LICENSE.md
  gnovm/LICENSE.md
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#977 feat: foo20 check an error from grc20 package
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
Labels: :receipt: package/realm

#989 docs(p/demo/ufmt): add documentation to package and Sprintf
  examples/gno.land/p/demo/ufmt/ufmt.gno
Labels: :receipt: package/realm

#988 feat(cmd/gno): allow dirs and arbitrary expressions on gno run
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/run_test.go
  gnovm/tests/integ/run-namedpkg/main.gno
  gnovm/tests/integ/run-package/package.gno
  gnovm/tests/integ/run-package/package2.gno
Labels: :package: :robot: gnovm

#980 docs: add doc for GetIsReal
  gnovm/pkg/gnolang/ownership.go
Labels: :package: :robot: gnovm

#981 feat: initial 'gno lint'
  .github/workflows/examples.yml
  examples/Makefile
  examples/gno.land/p/demo/grc/exts/vault/gno.mod
  examples/gno.land/p/demo/merkle/gno.mod
  examples/gno.land/p/demo/microblog/gno.mod
  examples/gno.land/r/demo/microblog/gno.mod
  examples/gno.land/r/demo/ui/gno.mod
  examples/gno.land/r/demo/x/upgrade/gno.mod
  examples/gno.land/r/x/README.md
  examples/gno.land/r/x/manfred_outfmt/README.md
  examples/gno.land/r/x/manfred_outfmt/gno.mod
  examples/gno.land/r/x/manfred_outfmt/outfmt.gno
  examples/gno.land/r/x/manfred_outfmt/outfmt_test.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/README.md
  examples/gno.land/r/x/manfred_upgrade_patterns/gno.mod
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-a/integration_test.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-a/v1/v1.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-a/v2/v2.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-b/v1/v1.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-b/v2/v2.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-c/root/root.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-c/v1/v1.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade-c/v2/v2.gno
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/lint_test.go
  gnovm/cmd/gno/main.go
  gnovm/docs/go-gno-compatibility.md
  misc/docker-integration/integration_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm
