Repository gnolang/gno, pull requests merged in 2023-12, with the labels that each got.

#1380 feat(gnolang): print nil slices as undefined
  gnovm/pkg/gnolang/uverse_test.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/print1.gno
Labels: :package: :robot: gnovm

#1262 chore: add contract-contract interation with ownership example
  gno.land/cmd/gnoland/testdata/grc20-registry.txtar
Labels: :package: :mountain: gno.land

#1385 fix: Improve BFT Tests Stability
  tm2/pkg/bft/consensus/common_test.go
  tm2/pkg/bft/consensus/state_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1356 feat(examples): wugnot (grc20’s wrapped ugnot)
  examples/gno.land/r/demo/wugnot/gno.mod
  examples/gno.land/r/demo/wugnot/wugnot.gno
  examples/gno.land/r/demo/wugnot/z0_filetest.gno
  gno.land/cmd/gnoland/testdata/wugnot.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#1446 fix: [gnoweb] fix unset binding
  gno.land/cmd/gnoweb/main.go
  gno.land/pkg/gnoweb/gnoweb.go
Labels: :package: :mountain: gno.land

#1441 fix: Revert "Improve BFT Tests Stability (#1385)"
  tm2/pkg/bft/consensus/common_test.go
  tm2/pkg/bft/consensus/state_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1413 docs: add more info on `maketx call` args
  docs/explanation/gno-tooling/cli/gnokey.md
Labels: :book: documentation

#1331 feat(gnolang): add support for octals without 'o' (eg. `0755`)
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/op_eval.go
  gnovm/tests/files/base_conv0.gno
  gnovm/tests/files/base_conv1.gno
Labels: :package: :robot: gnovm

#1451 fix: boolean operations must have boolean operands
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/bool6.gno
  gnovm/tests/files/bool7.gno
Labels: :package: :robot: gnovm

#1455 docs: reorg & rename top level docs
  README.md
  docs/concepts/from-go-to-gno.md
  docs/concepts/gno-language.md
  docs/concepts/gno-modules.md
  docs/concepts/gno-test.md
  docs/concepts/gno-tooling/cli/gno.md
  docs/concepts/gno-tooling/cli/gnofaucet.md
  docs/concepts/gno-tooling/cli/gnokey.md
  docs/concepts/gno-tooling/cli/gnoland.md
  docs/concepts/gno-tooling/cli/tm2txsync.md
  docs/concepts/gnovm.md
  docs/concepts/packages.md
  docs/concepts/proof-of-contribution.md
  docs/concepts/realms.md
  docs/concepts/tendermint2.md
  docs/getting-started/browsing-gno-source-code.md
  docs/how-to-guides/creating-grc20.md
  docs/how-to-guides/creating-grc721.md
  docs/how-to-guides/simple-contract.md
  docs/how-to-guides/simple-library.md
  misc/docusaurus/sidebars.js
Labels: :book: documentation

#1444 fix: In gnoweb realm_help.html, update to Data.Flags.HelpChainID and Data.Flags.HelpRemote
  gno.land/pkg/gnoweb/views/realm_help.html
Labels: :package: :mountain: gno.land

#1449 fix(gnoweb): FaucetURL correct endpoint
  gno.land/pkg/gnoweb/views/faucet.html
Labels: :package: :mountain: gno.land

#1440 chore: portal loop's homepage update
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#1476 fix: repair gnoweb flag parsing
  gno.land/cmd/gnoweb/main.go
  gno.land/cmd/gnoweb/main_test.go
Labels: :package: :mountain: gno.land

#1309 feat(p/grc721): add SetTokenURI to `IGRC721`
  examples/gno.land/p/demo/grc/grc721/basic_nft.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
  examples/gno.land/p/demo/grc/grc721/gno.mod
  examples/gno.land/p/demo/grc/grc721/igrc721.gno
Labels: :receipt: package/realm

#1412 ci: add Dependabot recursive go mod tidy support
  .github/workflows/dependabot-tidy.yml
  .github/workflows/lint.yml
Labels: :star2: improvement

#1470 docs: update gnokey url
  gno.land/pkg/gnoweb/views/realm_help.html
Labels: :package: :mountain: gno.land

#1315 fix: account for recursion when stringing to avoid overflow
  gnovm/pkg/gnolang/values_string.go
Labels: :package: :robot: gnovm
