Repository gnolang/gno, pull requests merged in 2023-08, with the labels that each got.

#1011 chore(cmd): print shortHelp if longHelp is empty
  gnovm/cmd/gno/doc.go
  tm2/pkg/commands/command.go
  tm2/pkg/commands/commands_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#1019 docs: fix outdated documentation in r/demo/boards
  examples/gno.land/r/demo/boards/README.md
Labels: :book: documentation, :receipt: package/realm

#896 fix(gnovm): PrevRealm in _test files
  examples/gno.land/r/demo/tests/tests.gno
  examples/gno.land/r/demo/tests/tests_test.gno
  gnovm/cmd/gno/main_test.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/test_test.go
  gnovm/pkg/doc/dirs.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnomod/parse.go
  gnovm/tests/files/zrealm_crossrealm11.gno
  gnovm/tests/files/zrealm_tests0.gno
  gnovm/tests/imports.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#1014 feat: add GNOROOT environment variables
  gnovm/cmd/gno/util.go
Labels: :package: :robot: gnovm

#955 feat: implement `gno mod init` command
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/mod_test.go
  gnovm/docs/go-gno-compatibility.md
  gnovm/pkg/gnomod/file.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/gnomod/gnomod_test.go
Labels: :package: :robot: gnovm

#1034 docs: fix demo/boards/README, fix typos and change to a local node
  examples/gno.land/r/demo/boards/README.md
Labels: :receipt: package/realm

#978 feat(repl): support multi-line inputs and declarations
  gnovm/cmd/gno/repl.go
  gnovm/pkg/repl/repl.go
  gnovm/pkg/repl/repl_test.go
  gnovm/tests/imports.go
Labels: :package: :robot: gnovm

#994 feat: use `PackageClauseOnly` for parsing pkg name
  gnovm/pkg/gnolang/nodes.go
Labels: :package: :robot: gnovm

#1012 feat: make gnovm wasm-friendly
  .github/workflows/gnovm.yml
  go.mod
  go.sum
  misc/deployments/staging.gno.land/overlay/config.toml
  misc/deployments/test2.gno.land/overlay/config.toml
  misc/deployments/test3.gno.land/overlay/config.toml
  tm2/pkg/autofile/autofile.go
  tm2/pkg/autofile/autofile_unix.go
  tm2/pkg/autofile/autofile_wasm.go
  tm2/pkg/bft/abci/example/kvstore/persistent_kvstore.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/toml.go
  tm2/pkg/crypto/keys/lazy_keybase.go
  tm2/pkg/db/db.go
  tm2/pkg/db/go_level_db.go
  tm2/pkg/db/go_level_db_test.go
  tm2/pkg/iavl/nodedb.go
Labels: :package: :globe_with_meridians: tendermint v2

#945 feat: fix `gno test` for `_test.gno` and `_filetest.gno` files
  gno.land/cmd/gnoland/start.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/test_test.go
  gnovm/cmd/gno/util.go
  gnovm/pkg/gnomod/pkg.go
  gnovm/pkg/gnomod/pkg_test.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#1023 test(gnovm): "*_filetest.gno" instructions
  gnovm/cmd/gno/main_test.go
  gnovm/cmd/gno/test_test.go
  gnovm/cmd/gno/testdata/gno_test/dir_not_exist.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno1.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno2.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno3.txtar
  gnovm/cmd/gno/testdata/gno_test/error_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/error_incorrect.txtar
  gnovm/cmd/gno/testdata/gno_test/error_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_filetest.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_test.txtar
  gnovm/cmd/gno/testdata/gno_test/flag_print-runtime-metrics.txtar
  gnovm/cmd/gno/testdata/gno_test/flag_run.txtar
  gnovm/cmd/gno/testdata/gno_test/flag_timeout.txtar
  gnovm/cmd/gno/testdata/gno_test/minim1.txtar
  gnovm/cmd/gno/testdata/gno_test/minim2.txtar
  gnovm/cmd/gno/testdata/gno_test/minim3.txtar
  gnovm/cmd/gno/testdata/gno_test/no_args.txtar
  gnovm/cmd/gno/testdata/gno_test/output_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/output_incorrect.txtar
  gnovm/cmd/gno/testdata/gno_test/output_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_incorrect.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/test_with-native-fallback.txtar
  gnovm/cmd/gno/testdata/gno_test/unknow_lib.txtar
  gnovm/cmd/gno/testdata/gno_test/valid_filetest.txtar
  gnovm/cmd/gno/testdata/gno_test/valid_test.txtar
  gnovm/tests/integ/failing1/failing.gno
  gnovm/tests/integ/failing1/failing_test.gno
  gnovm/tests/integ/failing2/failing.gno
  gnovm/tests/integ/failing2/failing_filetest.gno
  gnovm/tests/integ/minimalist-gno1/minim.gno
  gnovm/tests/integ/minimalist-gno2/minim.gno
  gnovm/tests/integ/minimalist-gno2/minim_test.gno
  gnovm/tests/integ/minimalist-gno3/minim.gno
  gnovm/tests/integ/minimalist-gno3/minim_filetest.gno
  gnovm/tests/integ/native-lib/contract.gno
  gnovm/tests/integ/native-lib/contract_test.gno
  gnovm/tests/integ/unknown-lib/contract.gno
  gnovm/tests/integ/unknown-lib/contract_test.gno
  gnovm/tests/integ/valid2/valid.gno
  gnovm/tests/integ/valid2/valid_filetest.gno
  go.mod
  go.sum
Labels: :package: :robot: gnovm

#1044 feat(repl): Add support for new declarations.
  gnovm/pkg/repl/repl.go
  gnovm/pkg/repl/repl_test.go
Labels: :package: :robot: gnovm

#1049 chore: use the Github version of the Boards realm
  README.md
  gno.land/cmd/gnokey/README.md
Labels: :package: :mountain: gno.land

#964 test(gnovm): fix TestPackages
  gnovm/pkg/gnolang/machine.go
  gnovm/tests/machine_test.go
  gnovm/tests/testdata/TestMemPackage/fail/file_test.gno
  gnovm/tests/testdata/TestMemPackage/success/file_test.gno
Labels: :package: :robot: gnovm

#1052 fix: correct panic message for ParseMemPackage()
  gnovm/pkg/gnolang/nodes.go
Labels: :package: :robot: gnovm

#1010 docs(gnovm): gno test help long description
  examples/gno.land/r/demo/groups/README.md
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/repl.go
  gnovm/cmd/gno/test.go
Labels: :book: documentation, :receipt: package/realm, :package: :robot: gnovm

#1065 feat(stdlib): add `path` package
  gnovm/docs/go-gno-compatibility.md
  gnovm/stdlibs/path/match.gno
  gnovm/stdlibs/path/match_test.gno
  gnovm/stdlibs/path/path.gno
  gnovm/stdlibs/path/path_test.gno
Labels: :package: :robot: gnovm

#1089 fix(pkg/commands): readPassword support for windows
  tm2/pkg/commands/utils.go
Labels: :package: :globe_with_meridians: tendermint v2

#1080 refactor: tm2 clean up against the latest main branch
  .github/workflows/gnoland.yml
  .github/workflows/tm2.yml
  Dockerfile
  README.md
  gno.land/Makefile
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnotxsync/README.md
  gno.land/cmd/gnotxsync/export.go
  gno.land/cmd/gnotxsync/import.go
  gno.land/cmd/gnotxsync/main.go
  gno.land/cmd/gnoweb/main.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/sdk/vm/builtins.go
  gno.land/pkg/sdk/vm/common_test.go
  gno.land/pkg/sdk/vm/consts.go
  gno.land/pkg/sdk/vm/convert.go
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/handler_test.go
  gno.land/pkg/sdk/vm/invariants.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gno.land/pkg/sdk/vm/msgs.go
  gno.land/pkg/sdk/vm/package.go
  gno.land/pkg/sdk/vm/types.go
  gno.land/pkg/sdk/vm/vm.proto
  misc/docker-integration/integration_test.go
  misc/genproto/genproto.go
  tm2/Makefile
  tm2/pkg/crypto/keys/client/addpkg.go
  tm2/pkg/crypto/keys/client/call.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land
