Repository gnolang/gno, pull requests merged in 2023-06, with the labels that each got.

#828 feat: set MAX VM cycles from cli
  gno.land/cmd/gnoland/main.go
  gno.land/pkg/gnoland/app.go
  tm2/pkg/sdk/vm/common_test.go
  tm2/pkg/sdk/vm/keeper.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#805 feat: add Sine + Cosine + Signbit
  gnovm/docs/go-gno-compatibility.md
  gnovm/stdlibs/math/all_test.gno
  gnovm/stdlibs/math/signbit.gno
  gnovm/stdlibs/math/sin.gno
Labels: :seedling: feature, :package: :robot: gnovm

#816 feat: encoding/binary (for encoding/base64)
  gnovm/docs/go-gno-compatibility.md
  gnovm/stdlibs/encoding/binary/binary.gno
  gnovm/stdlibs/encoding/binary/binary_test.gno
Labels: :lady_beetle: bug, :package: :robot: gnovm

#894 fix(gnovm): zero-in Ops and Values correctly in (*Machine).Release
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm

#792 feat: Evaluation DAO Kick Off
  examples/gno.land/r/x/nir1218_evaluation_proposal/EVALUATION.md
  examples/gno.land/r/x/nir1218_evaluation_proposal/category.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/committee.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/committee_test.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/contribution.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/contribution_test.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/evaluation.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/evaluation_test.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/points.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/pull_request.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/pull_request_test.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/tally.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/task.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/vote.gno
Labels: :receipt: package/realm

#763 feat(gno.land/cmd): auto load and sort pkgs from examples
  examples/gno.land/p/demo/acl/gno.mod
  examples/gno.land/p/demo/avl/gno.mod
  examples/gno.land/p/demo/bank/gno.mod
  examples/gno.land/p/demo/blog/gno.mod
  examples/gno.land/p/demo/dom/gno.mod
  examples/gno.land/p/demo/flow/gno.mod
  examples/gno.land/p/demo/gnode/gno.mod
  examples/gno.land/p/demo/grc/exts/gno.mod
  examples/gno.land/p/demo/grc/grc1155/gno.mod
  examples/gno.land/p/demo/grc/grc20/gno.mod
  examples/gno.land/p/demo/grc/grc721/gno.mod
  examples/gno.land/p/demo/grc/grc777/gno.mod
  examples/gno.land/p/demo/groups/gno.mod
  examples/gno.land/p/demo/maths/gno.mod
  examples/gno.land/p/demo/rand/gno.mod
  examples/gno.land/p/demo/releases/gno.mod
  examples/gno.land/p/demo/stack/gno.mod
  examples/gno.land/p/demo/tests/gno.mod
  examples/gno.land/p/demo/tests/subtests/gno.mod
  examples/gno.land/p/demo/testutils/gno.mod
  examples/gno.land/p/demo/ufmt/gno.mod
  examples/gno.land/r/demo/art/gnoface/gno.mod
  examples/gno.land/r/demo/art/millipede/gno.mod
  examples/gno.land/r/demo/banktest/gno.mod
  examples/gno.land/r/demo/boards/gno.mod
  examples/gno.land/r/demo/deep/very/deep/gno.mod
  examples/gno.land/r/demo/foo1155/gno.mod
  examples/gno.land/r/demo/foo20/gno.mod
  examples/gno.land/r/demo/foo721/gno.mod
  examples/gno.land/r/demo/groups/gno.mod
  examples/gno.land/r/demo/markdown_test/gno.mod
  examples/gno.land/r/demo/nft/gno.mod
  examples/gno.land/r/demo/releases_example/gno.mod
  examples/gno.land/r/demo/tests/gno.mod
  examples/gno.land/r/demo/tests/subtests/gno.mod
  examples/gno.land/r/demo/tests_foo/gno.mod
  examples/gno.land/r/demo/types/gno.mod
  examples/gno.land/r/demo/users/gno.mod
  examples/gno.land/r/demo/x/outfmt/gno.mod
  examples/gno.land/r/demo/x/upgrade/gno.mod
  examples/gno.land/r/gnoland/blog/gno.mod
  examples/gno.land/r/gnoland/faucet/gno.mod
  examples/gno.land/r/system/names/gno.mod
  examples/gno.land/r/system/rewards/gno.mod
  examples/gno.land/r/system/validators/gno.mod
  gno.land/cmd/gnoland/main.go
  gnovm/pkg/gnomod/pkg.go
  gnovm/pkg/gnomod/pkg_test.go
  misc/docker-integration/integration_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#829 feat(cmd/gno): add support for gno.mod projects in gno doc
  gnovm/cmd/gno/doc.go
  gnovm/docs/go-gno-compatibility.md
  gnovm/pkg/doc/dirs.go
  gnovm/pkg/doc/dirs_test.go
  gnovm/pkg/doc/doc.go
  gnovm/pkg/doc/doc_test.go
  gnovm/pkg/doc/testdata/dirs/module/alpha/a.gno
  gnovm/pkg/doc/testdata/dirs/module/gno.mod
  gnovm/pkg/doc/testdata/dirsdep/pkg/mod/dirs.mod/dep/a.gno
  gnovm/pkg/doc/testdata/dirsdep/pkg/mod/dirs.mod/dep/alpha/a.gno
  gnovm/pkg/doc/testdata/dirsdep/pkg/mod/dirs.mod/dep/gno.mod
  gnovm/pkg/doc/testdata/dirsmod/gno.mod
  gnovm/pkg/doc/testdata/dirsmod/math/rand/a.gno
  gnovm/pkg/doc/testdata/integ/mod/gno.mod
  gnovm/pkg/doc/testdata/integ/mod/mod.gno
  gnovm/pkg/doc/testdata/integ/modignored/gno.mod
  gnovm/pkg/doc/testdata/integ/modignored/mod.gno
  gnovm/pkg/gnomod/file.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/gnomod/utils.go
Labels: :package: :robot: gnovm

#886 feat(repl): add imports, funcs, commands, etc
  gnovm/cmd/gno/repl.go
Labels: :package: :robot: gnovm

#915 fix(cmd/gno): support new examples gno.mods
  gnovm/cmd/gno/doc.go
  gnovm/pkg/doc/dirs.go
  gnovm/pkg/doc/doc.go
Labels: :package: :robot: gnovm

#881 feat: add benchmarks and performance checks on PRs
  .benchmarks/README.md
  .benchmarks/gobenchdata-checks.yml
  .github/pull_request_template.md
  .github/workflows/benchmark-check.yml
  .github/workflows/benchmark-publish.yml
  .github/workflows/benchmark.yml
  gnovm/pkg/gnolang/go_bench_test.go
  tm2/pkg/amino/benchmark_test.go
  tm2/pkg/bft/wal/wal_test.go
  tm2/pkg/clist/bench_test.go
  tm2/pkg/crypto/keys/armor/armor_bench_test.go
  tm2/pkg/crypto/secp256k1/bench_test.go
  tm2/pkg/db/boltdb_test.go
  tm2/pkg/iavl/benchmarks/bench_test.go
  tm2/pkg/iavl/testutils_test.go
  tm2/pkg/iavl/tree_test.go
  tm2/pkg/sdk/auth/keeper_bench_test.go
  tm2/pkg/std/coin_benchmark_test.go
  tm2/pkg/store/cache/store_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :star2: improvement

#791 feat: new realm /r/demo/microblog
  examples/gno.land/p/demo/microblog/microblog.gno
  examples/gno.land/p/demo/microblog/microblog_test.gno
  examples/gno.land/r/demo/microblog/README.md
  examples/gno.land/r/demo/microblog/microblog.gno
Labels: :receipt: package/realm

#882 feat: add p/demo/mux
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/p/demo/blog/gno.mod
  examples/gno.land/p/demo/mux/doc.gno
  examples/gno.land/p/demo/mux/gno.mod
  examples/gno.land/p/demo/mux/handler.gno
  examples/gno.land/p/demo/mux/helpers.gno
  examples/gno.land/p/demo/mux/request.gno
  examples/gno.land/p/demo/mux/request_test.gno
  examples/gno.land/p/demo/mux/response.gno
  examples/gno.land/p/demo/mux/router.gno
  examples/gno.land/p/demo/mux/router_test.gno
Labels: :receipt: package/realm

#921 fix: typo in p/demo/blog imports
  examples/gno.land/p/demo/blog/gno.mod
Labels: hotfix, :receipt: package/realm, :package: :mountain: gno.land

#901 fix(pkg/errors): correct stacktraces for inlined functions
  tm2/pkg/errors/errors.go
Labels: :package: :globe_with_meridians: tendermint v2

#893 feat: std.CurrentRealm
  examples/gno.land/p/demo/tests/subtests/subtests.gno
  examples/gno.land/r/demo/tests/subtests/subtests.gno
  gnovm/stdlibs/stdlibs.go
  gnovm/stdlibs/stdshim/stdshim.gno
  gnovm/tests/files/zrealm_crossrealm12.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#902 chore: refactor p/demo/ui
  examples/gno.land/p/demo/ui/gno.mod
  examples/gno.land/p/demo/ui/ui.gno
  examples/gno.land/r/demo/ui/ui.gno
  examples/gno.land/r/demo/ui/ui_test.gno
Labels: :receipt: package/realm

#920 fix(tm2): better error on AddPackage when package already exists
  tm2/pkg/errors/errors.go
  tm2/pkg/errors/errors_test.go
  tm2/pkg/sdk/vm/errors.go
  tm2/pkg/sdk/vm/keeper.go
  tm2/pkg/sdk/vm/keeper_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#870 chore: update README.md
  tm2/README.md
Labels: :package: :globe_with_meridians: tendermint v2

#932 fix(gnovm): load map from state
  gnovm/docs/go-gno-compatibility.md
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/challenges/persist_map.gno
  gnovm/tests/files/persist_map.gno
Labels: :package: :robot: gnovm

#936 fix: update faucet link r/demo/boards
  examples/gno.land/r/demo/boards/README.md
Labels: :receipt: package/realm

#933 chore: fix typos in nir1218_evaluation_proposal/EVALUATION.md
  examples/gno.land/r/x/nir1218_evaluation_proposal/EVALUATION.md
Labels: :receipt: package/realm
