Repository gnolang/gno, pull requests merged in 2023-05, with the labels that each got.

#797 chore: more concise and actionable PR template
  .github/PULL_REQUEST_TEMPLATE/detailed_pr_template.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: documentation

#827 feat: add support for toml configuration files + recursive flag definitions for subcommands
  tm2/pkg/commands/command.go
  tm2/pkg/crypto/keys/client/common.go
  tm2/pkg/crypto/keys/client/root.go
Labels: :package: :globe_with_meridians: tendermint v2

#799 feat: support `gno clean` just like `go clean`
  gnovm/cmd/gno/clean.go
  gnovm/cmd/gno/clean_test.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/main_test.go
  gnovm/docs/go-gno-compatibility.md
  gnovm/pkg/gnomod/utils.go
Labels: :package: :robot: gnovm

#762 fix(cli): accept flags after command's arguments
  tm2/pkg/commands/command.go
  tm2/pkg/commands/commands_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :star2: improvement

#787 chore(gnolang): add challenge for unused var
  gnovm/tests/challenges/unused0.gno
Labels: :package: :robot: gnovm

#783 feat: add 'gno test -print-runtime-metrics'
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/test_test.go
  gnovm/cmd/gno/util.go
Labels: :package: :robot: gnovm

#841 chore: print newline after error in command exit
  gno.land/cmd/gnofaucet/main.go
  gno.land/cmd/gnokey/main.go
  gno.land/cmd/gnoland/main.go
  gnovm/cmd/gno/main.go
  misc/genproto/genproto.go
  misc/goscan/goscan.go
  tm2/cmd/tm2txsync/main.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#631 feat(examples): add merkle tree package
  examples/gno.land/p/demo/merkle/README.md
  examples/gno.land/p/demo/merkle/merkle.gno
  examples/gno.land/p/demo/merkle/merkle_test.gno
  gnovm/pkg/gnolang/precompile.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#849 chore: add gnovm/tests/challenges/print_ref.gno
  gnovm/tests/challenges/print_ref.gno
Labels: :package: :robot: gnovm

#833 chore: improve tests and docs of persisted types
  gnovm/docs/go-gno-compatibility.md
  gnovm/pkg/gnolang/uverse.go
  gnovm/tests/challenges/persist_map.gno
  gnovm/tests/files/zpersist_valids.gno
Labels: :package: :robot: gnovm

#789 feat: add 'gno test -use-native-fallback'
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/test_test.go
  gnovm/tests/imports.go
  gnovm/tests/integ/native-lib/contract.gno
  gnovm/tests/integ/native-lib/contract_test.gno
  gnovm/tests/integ/unknown-lib/contract.gno
  gnovm/tests/integ/unknown-lib/contract_test.gno
Labels: :package: :robot: gnovm

#854 test: improve codecov support on gnovm and gno.land
  .github/workflows/gnoland.yml
  .github/workflows/gnovm.yml
  gno.land/Makefile
  gnovm/Makefile
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#858 chore: Make applications go-installable
  go.mod
  go.sum
Labels: :star2: improvement
