Repository gnolang/gno, pull requests merged in 2023-09, with the labels that each got.

#1093 chore: bump golang at go1.21
  .github/workflows/benchmark.yml
  .github/workflows/db-tests.yml
  .github/workflows/examples.yml
  .github/workflows/gnoland.yml
  .github/workflows/gnovm.yml
  .github/workflows/misc.yml
  .github/workflows/tm2.yml
  CONTRIBUTING.md
  Dockerfile
  gnovm/cmd/gno/test.go
  go.mod
  misc/devdeps/go.mod
  misc/devdeps/go.sum
  tm2/pkg/p2p/conn/connection.go
  tm2/pkg/store/cache/store.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#1058 test: add reverseiterator tests
  tm2/pkg/store/cache/store_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1057 test: refactor kvpair, add tests
  tm2/pkg/std/kvpair.go
  tm2/pkg/std/kvpair_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1118 fix: change default rpc config + upgrade CORS library
  go.mod
  go.sum
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/rpc/config/config.go
Labels: :package: :globe_with_meridians: tendermint v2

#965 feat: add realm /r/demo/math_eval
  examples/gno.land/p/demo/math_eval/int32/gno.mod
  examples/gno.land/p/demo/math_eval/int32/int32.gno
  examples/gno.land/p/demo/math_eval/int32/int32_test.gno
  examples/gno.land/r/demo/math_eval/gno.mod
  examples/gno.land/r/demo/math_eval/math_eval.gno
Labels: :receipt: package/realm

#958 feat: add realm r/demo/keystore
  examples/gno.land/r/demo/keystore/gno.mod
  examples/gno.land/r/demo/keystore/keystore.gno
  examples/gno.land/r/demo/keystore/keystore_test.gno
Labels: :receipt: package/realm

#1140 chore: disable codecov flags that can overlap
  .github/workflows/gnoland.yml
  .github/workflows/gnovm.yml
  .github/workflows/tm2.yml
Labels: hotfix

#1144 chore: Fix codecov
  .github/codecov.yml
  gnovm/pkg/doc/dirs_test.go
Labels: :package: :robot: gnovm

#1147 chore: add empty test files for consistent coverage
  gno.land/cmd/gnofaucet/main_test.go
  gno.land/cmd/gnokey/main_test.go
  gno.land/cmd/gnotxsync/main_test.go
Labels: :package: :mountain: gno.land

#1160 ci: tell codecov to wait_for_ci to avoid flappy reports
  .github/codecov.yml
  .github/workflows/benchmark.yml
  .github/workflows/db-tests.yml
  .github/workflows/examples.yml
  .github/workflows/gh-pages.yml
  .github/workflows/gnoland.yml
  .github/workflows/gnovm.yml
  .github/workflows/misc.yml
  .github/workflows/tm2.yml
Labels: :lady_beetle: bug

#1143 fix: print declared type in output
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/addr0b_stdlibs.gno
  gnovm/tests/files/assign21.gno
  gnovm/tests/files/composite2.gno
  gnovm/tests/files/composite5.gno
  gnovm/tests/files/composite6.gno
  gnovm/tests/files/const12.gno
  gnovm/tests/files/const15.gno
  gnovm/tests/files/fun6b.gno
  gnovm/tests/files/fun9.gno
  gnovm/tests/files/interface39b.gno
  gnovm/tests/files/map19b.gno
  gnovm/tests/files/ptr0.gno
  gnovm/tests/files/ptr7.gno
  gnovm/tests/files/recurse0.gno
  gnovm/tests/files/struct28b.gno
  gnovm/tests/files/struct50b.gno
  gnovm/tests/files/struct52b.gno
  gnovm/tests/files/struct53b.gno
  gnovm/tests/files/type0.gno
  gnovm/tests/files/zpersist_valids.gno
  gnovm/tests/files/zrealm10.gno
  gnovm/tests/files/zrealm11.gno
  gnovm/tests/files/zrealm8.gno
  gnovm/tests/files/zrealm9.gno
  gnovm/tests/files/zrealm_crossrealm0.gno
  gnovm/tests/files/zrealm_crossrealm1.gno
  gnovm/tests/files/zrealm_crossrealm6.gno
  gnovm/tests/files/zrealm_std1.gno
  gnovm/tests/files/zrealm_std2.gno
Labels: :package: :robot: gnovm

#1113 docs(contributing): change instructions for vim, reference gnols
  CONTRIBUTING.md
Labels: :book: documentation

#584 fix: fix vuln demonstrated by #583
  tm2/pkg/iavl/proof.go
  tm2/pkg/iavl/proof_forgery_test.go
  tm2/pkg/iavl/proof_test.go
Labels: :lady_beetle: bug, :package: :globe_with_meridians: tendermint v2

#1066 feat(stdlib): add `net/url`
  gnovm/docs/go-gno-compatibility.md
  gnovm/stdlibs/net/url/url.gno
  gnovm/stdlibs/net/url/url_test.gno
  gnovm/stdlibs/strings/strings.gno
Labels: :package: :robot: gnovm

#1116 fix(vm): Release VM properly
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/machine_test.go
Labels: :package: :robot: gnovm

#992 chore: use std.PrevRealm() in grc721 package
  examples/gno.land/p/demo/grc/grc721/basic_nft.gno
Labels: :receipt: package/realm
