Repository gnolang/gno, pull requests merged in 2023-10, with the labels that each got.

#1117 feat: add txtar driver for gnoland integration test
  .github/workflows/gnoland.yml
  Dockerfile
  docs/testing_guide.md
  gno.land/Makefile
  gno.land/cmd/gnokey/main.go
  gno.land/cmd/gnoland/integration_test.go
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/gnoland.go
  gno.land/pkg/integration/integration_test.go
  gno.land/pkg/integration/testdata/gnokey.txtar
  gno.land/pkg/integration/testdata/gnoland.txtar
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/sdk/vm/keeper.go
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/client/addpkg.go
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/call.go
  tm2/pkg/crypto/keys/client/delete.go
  tm2/pkg/crypto/keys/client/export.go
  tm2/pkg/crypto/keys/client/generate.go
  tm2/pkg/crypto/keys/client/import.go
  tm2/pkg/crypto/keys/client/list.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/crypto/keys/client/query.go
  tm2/pkg/crypto/keys/client/root.go
  tm2/pkg/crypto/keys/client/send.go
  tm2/pkg/crypto/keys/client/sign.go
  tm2/pkg/crypto/keys/client/verify.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1158 fix(tm2): make HTTPClient support https
  tm2/pkg/bft/rpc/lib/client/http_client.go
  tm2/pkg/bft/rpc/lib/client/http_client_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1132 fix(gnolang): allow comparisons using uninitialized string values
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/tests/files/append5.gno
  gnovm/tests/files/comp3.gno
Labels: :lady_beetle: bug, :package: :robot: gnovm

#1077 feat: use `modfile` package to write modfile
  gnovm/cmd/gno/mod.go
  gnovm/pkg/gnomod/file.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/gnomod/read.go
  gnovm/pkg/gnomod/read_test.go
Labels: :package: :robot: gnovm

#1179 chore(amino): improve error readability
  tm2/pkg/amino/codec.go
Labels: :package: :globe_with_meridians: tendermint v2

#1232 chore: improve tests
  gno.land/pkg/integration/testdata/gnokey.txtar
Labels: :package: :mountain: gno.land

#1223 fix(make): disable _test.gnoweb temporarily
  .github/workflows/gnoland.yml
  gno.land/Makefile
Labels: :package: :mountain: gno.land

#1103 test(gnovm): migrate 'gno build' test to testscript
  gnovm/cmd/gno/build_test.go
  gnovm/cmd/gno/testdata/gno_build/empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_build/invalid_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_build/invalid_go_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_args.txtar
  gnovm/cmd/gno/testdata/gno_build/no_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_go_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_gomod.txtar
  gnovm/cmd/gno/testdata/gno_build/ok.txtar
Labels: :package: :robot: gnovm

#1078 feat: `gno test` support `/...` pattern
  .github/workflows/examples.yml
  examples/Makefile
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_test/empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno1.txtar
  gnovm/cmd/gno/testdata/gno_test/error_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_filetest.txtar
  gnovm/cmd/gno/testdata/gno_test/minim1.txtar
  gnovm/cmd/gno/testdata/gno_test/minim2.txtar
  gnovm/cmd/gno/testdata/gno_test/minim3.txtar
  gnovm/cmd/gno/testdata/gno_test/output_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/output_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/valid_filetest.txtar
  gnovm/cmd/gno/testdata/gno_test/valid_test.txtar
  gnovm/cmd/gno/util.go
  gnovm/cmd/gno/util_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#1254 feat: add `genesis verify`
  gno.land/cmd/genesis/generate.go
  gno.land/cmd/genesis/main.go
  gno.land/cmd/genesis/verify.go
  gno.land/cmd/genesis/verify_test.go
  tm2/pkg/bft/types/genesis.go
  tm2/pkg/bft/types/genesis_test.go
Labels: :seedling: feature, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1259 feat: add `genesis validator` subcommand
  gno.land/cmd/genesis/main.go
  gno.land/cmd/genesis/validator.go
  gno.land/cmd/genesis/validator_add.go
  gno.land/cmd/genesis/validator_add_test.go
  gno.land/cmd/genesis/validator_remove.go
  gno.land/cmd/genesis/validator_remove_test.go
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/client/export_test.go
  tm2/pkg/crypto/keys/client/helper.go
Labels: :seedling: feature, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1261 test(gno build): remove exit code assertion
  gnovm/cmd/gno/testdata/gno_build/invalid_go_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_go_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_gomod.txtar
Labels: :package: :robot: gnovm

#546 feat: add file-based transaction indexing
  gno.land/cmd/gnoland/start.go
  tm2/pkg/autofile/group.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/rpc/core/pipe.go
  tm2/pkg/bft/state/eventstore/file/file.go
  tm2/pkg/bft/state/eventstore/file/file_test.go
  tm2/pkg/bft/state/eventstore/mock_test.go
  tm2/pkg/bft/state/eventstore/null/null.go
  tm2/pkg/bft/state/eventstore/store.go
  tm2/pkg/bft/state/eventstore/store_service.go
  tm2/pkg/bft/state/eventstore/store_service_test.go
  tm2/pkg/bft/state/eventstore/types/config.go
  tm2/pkg/bft/state/eventstore/types/config_test.go
  tm2/pkg/bft/state/txindex/indexer.go
  tm2/pkg/bft/state/txindex/indexer_service.go
  tm2/pkg/bft/state/txindex/null/null.go
  tm2/pkg/p2p/node_info.go
Labels: :seedling: feature, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1240 fix: add support for custom node config file
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/integration/gnoland.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/toml.go
  tm2/pkg/bft/config/toml_test.go
Labels: :seedling: feature, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1251 docs: publish static pkg-site generated docs for this repo on GH pages
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
  README.md
  misc/devdeps/Makefile
  misc/gendocs/Makefile
  misc/gendocs/gendocs.sh
Labels: :book: documentation

#1185 fix: allow constant values of infininitesimal non-zero floating points
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/pkg/gnolang/values_conversions_test.go
  gnovm/tests/files/float6.gno
  gnovm/tests/files/float7.gno
Labels: :package: :robot: gnovm

#1279 chore: enable analytics on staging
  gno.land/cmd/gnoweb/views/funcs.html
  misc/deployments/staging.gno.land/docker-compose.yml
Labels: :package: :mountain: gno.land

#1288 fix: -broadcast true in doc
  examples/gno.land/r/demo/groups/README.md
Labels: :receipt: package/realm

#1287 fix: comment typos
  examples/gno.land/r/demo/tests/tests.gno
  examples/gno.land/r/x/nir1218_evaluation_proposal/EVALUATION.md
  examples/gno.land/r/x/nir1218_evaluation_proposal/committee.gno
  tm2/README.md
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2

#1273 feat: add hash
  gnovm/docs/go-gno-compatibility.md
  gnovm/stdlibs/encoding/encoding.gno
  gnovm/stdlibs/hash/adler32/adler32.gno
  gnovm/stdlibs/hash/hash.gno
  gnovm/stdlibs/hash/marshal_test.gno
Labels: :package: :robot: gnovm

#1278 feat: add `genesis txs` subcommand
  gno.land/cmd/genesis/main.go
  gno.land/cmd/genesis/txs.go
  gno.land/cmd/genesis/txs_add.go
  gno.land/cmd/genesis/txs_add_test.go
  gno.land/cmd/genesis/txs_remove.go
  gno.land/cmd/genesis/txs_remove_test.go
  gno.land/cmd/genesis/types.go
  gno.land/cmd/genesis/utils.go
Labels: :seedling: feature, :package: :mountain: gno.land

#1289 fix: Error string in decryptPrivKey. Use errors.As in IsErrWrongPassword.
  tm2/pkg/crypto/keys/armor/armor.go
  tm2/pkg/crypto/keys/keyerror/errors.go
Labels: :package: :globe_with_meridians: tendermint v2

#1301 fix: In TestGnoDoc, fix expected output for "doc", "avl"
  gnovm/cmd/gno/doc_test.go
Labels: :package: :robot: gnovm

#1300 chore: fix typos
  README.md
  tm2/pkg/bft/consensus/ticker.go
  tm2/pkg/bft/rpc/client/mock/client.go
  tm2/pkg/bft/types/evidence.go
  tm2/pkg/db/prefix_db.go
  tm2/pkg/p2p/conn/secret_connection_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1304 fix(cmd/gno): change set_exit_stauts flag to kebab-case
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/lint_test.go
Labels: :package: :robot: gnovm

#1252 feat: add genesis command suite
  gno.land/Makefile
  gno.land/cmd/genesis/balances.go
  gno.land/cmd/genesis/balances_add.go
  gno.land/cmd/genesis/balances_add_test.go
  gno.land/cmd/genesis/balances_export.go
  gno.land/cmd/genesis/balances_export_test.go
  gno.land/cmd/genesis/balances_remove.go
  gno.land/cmd/genesis/balances_remove_test.go
  gno.land/cmd/genesis/generate.go
  gno.land/cmd/genesis/generate_test.go
  gno.land/cmd/genesis/main.go
  gno.land/cmd/genesis/txs.go
  gno.land/cmd/genesis/txs_add.go
  gno.land/cmd/genesis/txs_add_test.go
  gno.land/cmd/genesis/txs_export.go
  gno.land/cmd/genesis/txs_export_test.go
  gno.land/cmd/genesis/txs_remove.go
  gno.land/cmd/genesis/txs_remove_test.go
  gno.land/cmd/genesis/types.go
  gno.land/cmd/genesis/validator.go
  gno.land/cmd/genesis/validator_add.go
  gno.land/cmd/genesis/validator_add_test.go
  gno.land/cmd/genesis/validator_remove.go
  gno.land/cmd/genesis/validator_remove_test.go
  gno.land/cmd/genesis/verify.go
  gno.land/cmd/genesis/verify_test.go
  tm2/pkg/bft/types/genesis.go
  tm2/pkg/bft/types/genesis_test.go
  tm2/pkg/bft/types/params.go
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/client/export_test.go
  tm2/pkg/crypto/keys/client/helper.go
Labels: :seedling: feature, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1303 feat: add simple address validity check
  examples/gno.land/p/demo/grc/grc1155/util.gno
  examples/gno.land/p/demo/grc/grc20/util.gno
  examples/gno.land/p/demo/grc/grc721/util.gno
  gnovm/stdlibs/std/crypto.gno
  gnovm/stdlibs/std/crypto_test.gno
  gnovm/stdlibs/stdshim/crypto.gno
  go.mod
  go.sum
Labels: :receipt: package/realm, :package: :robot: gnovm
