Repository gnolang/gno, pull requests merged in 2023-11, with the labels that each got.

#1129 feat(repl): improve support of multi-line statements
  gnovm/cmd/gno/repl.go
  gnovm/pkg/repl/repl.go
Labels: :package: :robot: gnovm

#1241 feat: add InMemory `gnoland` node
  .github/workflows/gnoland.yml
  gno.land/Makefile
  gno.land/cmd/genesis/balances_add.go
  gno.land/cmd/genesis/balances_add_test.go
  gno.land/cmd/genesis/balances_export_test.go
  gno.land/cmd/genesis/balances_remove.go
  gno.land/cmd/genesis/balances_remove_test.go
  gno.land/cmd/genesis/types.go
  gno.land/cmd/genesis/verify.go
  gno.land/cmd/genesis/verify_test.go
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/cmd/gnoweb/main.go
  gno.land/cmd/gnoweb/main_test.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/gnoland/types.go
  gno.land/pkg/gnoland/types_test.go
  gno.land/pkg/integration/gnoland.go
  gno.land/pkg/integration/testing.go
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/integration/testing_node.go
Labels: :package: :mountain: gno.land

#1249 feat: setup testscripts coverage
  .github/workflows/gnovm.yml
  gnovm/Makefile
  gnovm/cmd/gno/build_test.go
  gnovm/cmd/gno/main_test.go
  gnovm/cmd/gno/test_test.go
  gnovm/pkg/integration/coverage.go
  gnovm/pkg/integration/gno.go
Labels: :package: :robot: gnovm

#1263 fix: don't pass value types by reference
  gnovm/pkg/gnolang/op_call.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/issue-1096.gno
Labels: :package: :robot: gnovm

#1277 chore: remove deprecated io/ioutil methods
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/precompile.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/stdlibs/io/export_test.gno
  gnovm/stdlibs/io/io.gno
  gnovm/stdlibs/io/io_test.gno
  gnovm/stdlibs/io/ioutil/ioutil.gno
  gnovm/stdlibs/io/multi_test.gno
  gnovm/tests/backup/cli1.gno
  gnovm/tests/backup/cli2.gno
  gnovm/tests/backup/cli3.gno
  gnovm/tests/backup/cli4.gno
  gnovm/tests/backup/cli5.gno
  gnovm/tests/backup/cli6.gno
  gnovm/tests/backup/file_access.gno
  gnovm/tests/backup/ioutil.gno
  gnovm/tests/backup/issue-558.gno
  gnovm/tests/files/io2.gno
  gnovm/tests/files/issue-558b.gno
  gnovm/tests/imports.go
  tm2/pkg/amino/genproto/genproto.go
  tm2/pkg/autofile/autofile_test.go
  tm2/pkg/bft/config/toml.go
  tm2/pkg/bft/consensus/common_test.go
  tm2/pkg/bft/consensus/replay_test.go
  tm2/pkg/bft/privval/file_test.go
  tm2/pkg/bft/privval/socket_listeners_test.go
  tm2/pkg/bft/rpc/client/main_test.go
  tm2/pkg/bft/rpc/lib/client/http_client.go
  tm2/pkg/bft/rpc/lib/server/handlers.go
  tm2/pkg/bft/rpc/lib/server/handlers_test.go
  tm2/pkg/bft/rpc/lib/server/http_server_test.go
  tm2/pkg/bft/types/genesis_test.go
  tm2/pkg/bft/types/part_set_test.go
  tm2/pkg/db/fsdb.go
  tm2/pkg/iavl/tree_dotgraph_test.go
  tm2/pkg/log/tm_logger_test.go
  tm2/pkg/os/tempfile_test.go
  tm2/pkg/p2p/upnp/upnp.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#1294 feat: add `unused` linter
  .github/golangci.yml
  gnovm/pkg/gnolang/helpers.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/scanner.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/types.go
  gnovm/stdlibs/stdlibs.go
  misc/logos/buffer.go
  misc/logos/cmd/logos.go
  misc/logos/debug.go
  misc/logos/types.go
  misc/logos/unicode.go
  tm2/pkg/amino/binary_decode.go
  tm2/pkg/amino/codec_test.go
  tm2/pkg/amino/genproto/bindings.go
  tm2/pkg/amino/genproto/example/main.go
  tm2/pkg/amino/genproto/scanner.go
  tm2/pkg/amino/reflect.go
  tm2/pkg/amino/tests/common.go
  tm2/pkg/bft/abci/client/client.go
  tm2/pkg/bft/consensus/common_test.go
  tm2/pkg/bft/consensus/replay.go
  tm2/pkg/bft/consensus/state_test.go
  tm2/pkg/bft/consensus/wal_generator.go
  tm2/pkg/bft/consensus/wal_test.go
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/privval/signer_listener_endpoint_test.go
  tm2/pkg/bft/rpc/core/pipe.go
  tm2/pkg/bft/rpc/lib/client/ws_client.go
  tm2/pkg/bft/rpc/lib/server/handlers_test.go
  tm2/pkg/bft/state/helpers_test.go
  tm2/pkg/bft/types/validator_set.go
  tm2/pkg/bft/wal/wal.go
  tm2/pkg/bft/wal/wal_test.go
  tm2/pkg/crypto/keys/client/export_test.go
  tm2/pkg/crypto/keys/keybase.go
  tm2/pkg/crypto/merkle/proof_test.go
  tm2/pkg/crypto/util.go
  tm2/pkg/events/store.go
  tm2/pkg/iavl/benchmarks/bench_test.go
  tm2/pkg/iavl/node.go
  tm2/pkg/iavl/nodedb.go
  tm2/pkg/iavl/proof_path.go
  tm2/pkg/iavl/proof_range.go
  tm2/pkg/iavl/tree_test.go
  tm2/pkg/p2p/config/config.go
  tm2/pkg/p2p/switch.go
  tm2/pkg/sdk/auth/test_common.go
  tm2/pkg/sdk/baseapp_test.go
  tm2/pkg/std/coin.go
  tm2/pkg/store/gas/store_test.go
  tm2/pkg/store/rootmulti/dbadapter.go
Labels: :seedling: feature, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#1344 fix(ci): remove unused func `parseBalance`
  gno.land/pkg/gnoland/app.go
Labels: :package: :mountain: gno.land

#1317 chore(gnomod): test package does not exist
  gnovm/pkg/gnomod/file_test.go
Labels: :package: :robot: gnovm

#1342 fix: txtar tests load full config and execute serially
  gno.land/cmd/gnoland/integration_test.go
  gno.land/cmd/gnoland/testdata/import.txtar
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/integration/integration_test.go
  gno.land/pkg/integration/testing_integration.go
Labels: :package: :mountain: gno.land

#1316 fix: In Keybase GetByAddress, change generic error to NewErrKeyNotFound
  tm2/pkg/crypto/keys/keybase.go
  tm2/pkg/crypto/keys/keybase_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1270 feat: add contribs/gnokeykc
  contribs/gnokeykc/README.md
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  contribs/gnokeykc/kc.go
  contribs/gnokeykc/main.go
  gno.land/cmd/genesis/balances.go
  gno.land/cmd/genesis/balances_add.go
  gno.land/cmd/genesis/balances_export.go
  gno.land/cmd/genesis/balances_remove.go
  gno.land/cmd/genesis/generate.go
  gno.land/cmd/genesis/main.go
  gno.land/cmd/genesis/txs.go
  gno.land/cmd/genesis/txs_add.go
  gno.land/cmd/genesis/txs_export.go
  gno.land/cmd/genesis/txs_remove.go
  gno.land/cmd/genesis/validator.go
  gno.land/cmd/genesis/validator_add.go
  gno.land/cmd/genesis/validator_remove.go
  gno.land/cmd/genesis/verify.go
  gno.land/cmd/gnofaucet/serve.go
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/start.go
  gnovm/cmd/gno/build.go
  gnovm/cmd/gno/clean.go
  gnovm/cmd/gno/doc.go
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  tm2/pkg/commands/io.go
  tm2/pkg/commands/utils.go
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/client/addpkg.go
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/call.go
  tm2/pkg/crypto/keys/client/delete.go
  tm2/pkg/crypto/keys/client/export.go
  tm2/pkg/crypto/keys/client/generate.go
  tm2/pkg/crypto/keys/client/import.go
  tm2/pkg/crypto/keys/client/list.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/crypto/keys/client/query.go
  tm2/pkg/crypto/keys/client/root.go
  tm2/pkg/crypto/keys/client/send.go
  tm2/pkg/crypto/keys/client/sign.go
  tm2/pkg/crypto/keys/client/verify.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1313 chore: Add Keybase HasByNameOrAddress, HasByName and HasByAddress
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/keybase.go
  tm2/pkg/crypto/keys/keybase_test.go
  tm2/pkg/crypto/keys/lazy_keybase.go
  tm2/pkg/crypto/keys/types.go
Labels: :package: :globe_with_meridians: tendermint v2

#1328 feat: add p/demo/pausable
  examples/gno.land/p/demo/pausable/gno.mod
  examples/gno.land/p/demo/pausable/pausable.gno
  examples/gno.land/p/demo/pausable/pausable_test.gno
Labels: :receipt: package/realm

#1311 docs: update Go<>Gno compatibility document with up-to-date info
  gnovm/docs/go-gno-compatibility.md
Labels: :book: documentation, :package: :robot: gnovm

#1351 fix: resolve Docusaurus build
  .github/workflows/docusaurus.yml
  docs/explanation/gnovm.md
  docs/how-to-guides/creating-grc20.md
  docs/how-to-guides/creating-grc721.md
  misc/docusaurus/docusaurus.config.js
Labels: :book: documentation, hotfix

#1355 fix: tidy `gnokeykc` go mod
  .github/workflows/misc.yml
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
Labels: :star2: improvement

#1378 feat(examples): add p/demo/seqid
  examples/gno.land/p/demo/seqid/README.md
  examples/gno.land/p/demo/seqid/gno.mod
  examples/gno.land/p/demo/seqid/seqid.gno
  examples/gno.land/p/demo/seqid/seqid_test.gno
Labels: :seedling: feature, :receipt: package/realm

#1297 refactor!: remove `gno build` command
  .github/workflows/examples.yml
  gnovm/cmd/gno/build.go
  gnovm/cmd/gno/build_test.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/precompile_test.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_build/empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_build/invalid_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_build/invalid_go_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_args.txtar
  gnovm/cmd/gno/testdata/gno_build/no_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_go_files.txtar
  gnovm/cmd/gno/testdata/gno_build/no_gomod.txtar
  gnovm/cmd/gno/testdata/gno_build/ok.txtar
  gnovm/cmd/gno/testdata/gno_precompile/01_no_args.txtar
  gnovm/cmd/gno/testdata/gno_precompile/02_empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_precompile/03_invalid_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_precompile/04_valid_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_precompile/05_skip_fmt_flag.txtar
  gnovm/cmd/gno/testdata/gno_precompile/06_build_flag.txtar
  gnovm/cmd/gno/testdata/gno_precompile/07_build_flag_with_build_error.txtar
  gnovm/pkg/gnolang/precompile.go
Labels: :package: :robot: gnovm

#1349 fix: improve error message output in integration tests
  gno.land/pkg/integration/testing_integration.go
  gnovm/pkg/integration/gno.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#1384 fix: In demo/boards/README.md, the chainid for test3.gno.land should be test3
  examples/gno.land/r/demo/boards/README.md
Labels: :receipt: package/realm

#1383 chore: In processSig, clarify the signature verification failed error message
  tm2/pkg/sdk/auth/ante.go
Labels: :package: :globe_with_meridians: tendermint v2

#1221 fix(gnolang): allow floats in inc/dec statements
  gnovm/pkg/gnolang/op_inc_dec.go
  gnovm/tests/files/inc0.gno
  gnovm/tests/files/inc1.gno
Labels: :package: :robot: gnovm

#1387 chore: sort stdlib whitelist
  gnovm/pkg/gnolang/precompile.go
Labels: :package: :robot: gnovm

#1213 chore: In Amino, use ToLowerSnakeCase for Protobuf field names
  gno.land/pkg/sdk/vm/vm.proto
  gnovm/pkg/gnolang/gnolang.proto
  tm2/pkg/amino/genproto/bindings.go
  tm2/pkg/amino/genproto/genproto.go
  tm2/pkg/amino/genproto/genproto_test.go
  tm2/pkg/amino/genproto/stringutil/snakecase.go
  tm2/pkg/amino/genproto/types.go
  tm2/pkg/amino/tests/pb/tests.pb.go
  tm2/pkg/amino/tests/proto3/proto/compat.pb.go
  tm2/pkg/amino/tests/tests.proto
  tm2/pkg/bft/abci/types/abci.proto
  tm2/pkg/bft/blockchain/blockchain.proto
  tm2/pkg/bft/consensus/consensus.proto
  tm2/pkg/bft/consensus/types/cstypes.proto
  tm2/pkg/bft/mempool/mempool.proto
  tm2/pkg/bft/types/types.proto
  tm2/pkg/bitarray/bitarray.proto
  tm2/pkg/crypto/ed25519/ed25519.proto
  tm2/pkg/crypto/hd/hd.proto
  tm2/pkg/crypto/merkle/merkle.proto
  tm2/pkg/crypto/multisig/multisig.proto
  tm2/pkg/sdk/bank/bank.proto
  tm2/pkg/sdk/sdk.proto
  tm2/pkg/std/std.proto
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1001 feat: add 'gnokey maketx run'
  gno.land/Makefile
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/cmd/gnoland/testdata/run.txtar
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gno.land/pkg/sdk/vm/msgs.go
  gno.land/pkg/sdk/vm/package.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/crypto/keys/client/run.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1138 feat: introduce personal realms, add `r/manfred/home`
  examples/README.md
  examples/gno.land/r/manfred/README.md
  examples/gno.land/r/manfred/config/config.gno
  examples/gno.land/r/manfred/config/gno.mod
  examples/gno.land/r/manfred/home/gno.mod
  examples/gno.land/r/manfred/home/home.gno
  examples/gno.land/r/manfred/home/z1_filetest.gno
  examples/gno.land/r/manfred/home/z2_filetest.gno
Labels: :receipt: package/realm

#1233 feat: add 'gno env' subcommand
  gno.land/cmd/gnokey/main.go
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoweb/main_test.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/integration/testing_integration.go
  gnovm/Makefile
  gnovm/cmd/gno/clean.go
  gnovm/cmd/gno/doc.go
  gnovm/cmd/gno/env.go
  gnovm/cmd/gno/env_test.go
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/repl.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/util.go
  gnovm/pkg/gnoenv/gnohome.go
  gnovm/pkg/gnoenv/gnohome_test.go
  gnovm/pkg/gnoenv/gnoroot.go
  gnovm/pkg/gnoenv/gnoroot_test.go
  gnovm/pkg/gnoenv/migration.go
  gnovm/pkg/gnoenv/migration_test.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/integration/gno.go
  tm2/pkg/crypto/keys/client/common.go
  tm2/pkg/crypto/keys/client/root.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1153 feat(stdlibs): add math and math/bits
  docs/reference/go-gno-compatibility.md
  gnovm/stdlibs/math/abs.gno
  gnovm/stdlibs/math/acosh.gno
  gnovm/stdlibs/math/all_test.gno
  gnovm/stdlibs/math/asin.gno
  gnovm/stdlibs/math/asinh.gno
  gnovm/stdlibs/math/atan.gno
  gnovm/stdlibs/math/atan2.gno
  gnovm/stdlibs/math/atanh.gno
  gnovm/stdlibs/math/bits.gno
  gnovm/stdlibs/math/bits/bits.gno
  gnovm/stdlibs/math/bits/bits_errors.gno
  gnovm/stdlibs/math/bits/bits_tables.gno
  gnovm/stdlibs/math/bits/bits_test.gno
  gnovm/stdlibs/math/bits/export_test.gno
  gnovm/stdlibs/math/cbrt.gno
  gnovm/stdlibs/math/const.gno
  gnovm/stdlibs/math/const_test.gno
  gnovm/stdlibs/math/copysign.gno
  gnovm/stdlibs/math/dim.gno
  gnovm/stdlibs/math/erf.gno
  gnovm/stdlibs/math/erfinv.gno
  gnovm/stdlibs/math/exp.gno
  gnovm/stdlibs/math/expm1.gno
  gnovm/stdlibs/math/export_test.gno
  gnovm/stdlibs/math/floor.gno
  gnovm/stdlibs/math/fma.gno
  gnovm/stdlibs/math/frexp.gno
  gnovm/stdlibs/math/gamma.gno
  gnovm/stdlibs/math/hypot.gno
  gnovm/stdlibs/math/j0.gno
  gnovm/stdlibs/math/j1.gno
  gnovm/stdlibs/math/jn.gno
  gnovm/stdlibs/math/ldexp.gno
  gnovm/stdlibs/math/lgamma.gno
  gnovm/stdlibs/math/log.gno
  gnovm/stdlibs/math/log10.gno
  gnovm/stdlibs/math/log1p.gno
  gnovm/stdlibs/math/logb.gno
  gnovm/stdlibs/math/mod.gno
  gnovm/stdlibs/math/modf.gno
  gnovm/stdlibs/math/nextafter.gno
  gnovm/stdlibs/math/pow.gno
  gnovm/stdlibs/math/pow10.gno
  gnovm/stdlibs/math/remainder.gno
  gnovm/stdlibs/math/signbit.gno
  gnovm/stdlibs/math/sin.gno
  gnovm/stdlibs/math/sincos.gno
  gnovm/stdlibs/math/sinh.gno
  gnovm/stdlibs/math/sqrt.gno
  gnovm/stdlibs/math/tan.gno
  gnovm/stdlibs/math/tanh.gno
  gnovm/stdlibs/math/trig_reduce.gno
  gnovm/stdlibs/math/unsafe.gno
Labels: :package: :robot: gnovm

#1329 chore(deps): update btcec to the latest version
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  go.mod
  go.sum
  misc/loop/go.mod
  misc/loop/go.sum
  tm2/pkg/crypto/ed25519/ed25519_test.go
  tm2/pkg/crypto/hd/hdpath.go
  tm2/pkg/crypto/ledger/ledger_secp256k1.go
  tm2/pkg/crypto/secp256k1/secp256k1.go
  tm2/pkg/crypto/secp256k1/secp256k1_internal_test.go
  tm2/pkg/crypto/secp256k1/secp256k1_nocgo.go
  tm2/pkg/crypto/secp256k1/secp256k1_nocgo_test.go
  tm2/pkg/crypto/secp256k1/secp256k1_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1330 fix(cmd/gno): allow testing packages which contain test files with `package x_test`
  examples/gno.land/p/demo/tests/tests.gno
  examples/gno.land/p/demo/tests/tests_test.gno
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_test/flag_run.txtar
  gnovm/cmd/gno/testdata/gno_test/pkg_underscore_test.txtar
Labels: :receipt: package/realm, :package: :robot: gnovm

#1235 chore: In amino.pkg, add optional WithComments, use them in GenerateProto3MessagePartial
  tm2/pkg/amino/genproto/comments_test.go
  tm2/pkg/amino/genproto/genproto.go
  tm2/pkg/amino/pkg/pkg.go
Labels: :package: :globe_with_meridians: tendermint v2

#1218 feat: add links to subdir licenses
  LICENSE.md
Labels: :book: documentation

#1395 fix(gnoland/cli): store skipFailingGenesisTxs in cfg
  gno.land/pkg/gnoland/app.go
Labels: :package: :mountain: gno.land
