Repository gnolang/gno, pull requests merged in 2024-10, with the labels that each got.

#2859 fix(tm2): Improve hash comparison messages in consensus error handling
  tm2/pkg/bft/state/validation.go
  tm2/pkg/bft/state/validation_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#2768 feat(examples): Implement a two-player Dice Roller game
  examples/gno.land/r/demo/games/dice_roller/dice_roller.gno
  examples/gno.land/r/demo/games/dice_roller/dice_roller_test.gno
  examples/gno.land/r/demo/games/dice_roller/gno.mod
  examples/gno.land/r/demo/games/dice_roller/icon.gno
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2

#2351 feat(p/ufmt): Support more formatting verbs
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
Labels: :receipt: package/realm

#1705 test(r/demo/tests): add filetest for PrevRealm
  examples/gno.land/r/demo/tests/z2_filetest.gno
  examples/gno.land/r/demo/tests/z3_filetest.gno
Labels: :receipt: package/realm

#2546 chore(gnovm/gnofmt): Replace usage of ast.Object with ast.Ident In `gnofmt`
  gnovm/pkg/gnofmt/processor.go
Labels: :package: :robot: gnovm

#2855 test(gno.land/sdk/vm): add unit tests for `Msg*.ValidateBasic`
  gno.land/pkg/sdk/vm/msg_test.go
Labels: :package: :mountain: gno.land

#2816 feat: add strings.Replacer structure on native libraries
  gnovm/stdlibs/strings/printtrie_test.gno
  gnovm/stdlibs/strings/replace.gno
  gnovm/stdlibs/strings/replace_test.gno
Labels: :package: :robot: gnovm

#2802 feat(stdlibs): add package `html`
  docs/reference/go-gno-compatibility.md
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/html/entity.gno
  gnovm/stdlibs/html/entity_test.gno
  gnovm/stdlibs/html/escape.gno
  gnovm/stdlibs/html/escape_test.gno
Labels: :package: :robot: gnovm

#2322 chore(docs): fix broken link in tm2/pkg/amino/README.md
  tm2/pkg/amino/README.md
Labels: :package: :globe_with_meridians: tendermint v2

#2900 feat(boardsv2): init
  examples/gno.land/p/demo/boardsv2/boardsv2.gno
  examples/gno.land/p/demo/boardsv2/post/avlstorage/avlstorage.gno
  examples/gno.land/p/demo/boardsv2/post/plugin.gno
  examples/gno.land/p/demo/boardsv2/post/post.gno
  examples/gno.land/p/demo/boardsv2/post/view.gno
  examples/gno.land/r/demo/boardsv2/boardsv2.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2897 docs: test3 -> portal loop
  README.md
  docs/concepts/gnovm.md
  examples/gno.land/r/demo/boards/README.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_testnets.gno
  gno.land/cmd/gnoweb/README.md
  gnovm/README.md
  gnovm/cmd/gno/mod.go
  gnovm/pkg/gnomod/file_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#2922 chore(gnoweb): update page_contribute.gno
  examples/gno.land/r/gnoland/pages/page_contribute.gno
Labels: :receipt: package/realm

#2921 fix: Update json package README.md
  examples/gno.land/p/demo/json/README.md
Labels: :receipt: package/realm

#2936 fix(p/demo/uassert): amend ineffective assignment
  examples/gno.land/p/demo/uassert/uassert.gno
Labels: :receipt: package/realm

#2934 fix(r/leon/config): fix config bug
  examples/gno.land/r/leon/config/config.gno
  examples/gno.land/r/leon/home/home.gno
Labels: :receipt: package/realm

#2952 chore: fix issues reported by `go vet`
  gno.land/pkg/gnoweb/gnoweb.go
  gno.land/pkg/sdk/vm/builtins.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gnovm/pkg/gnomod/read.go
  gnovm/tests/file.go
  misc/logos/cmd/logos.go
  tm2/pkg/amino/wellknown.go
  tm2/pkg/bft/abci/example/kvstore/helpers.go
  tm2/pkg/bft/abci/example/kvstore/persistent_kvstore.go
  tm2/pkg/bft/consensus/state.go
  tm2/pkg/bft/consensus/wal_generator.go
  tm2/pkg/bft/types/params.go
  tm2/pkg/crypto/hd/hdpath_test.go
  tm2/pkg/db/boltdb/boltdb.go
  tm2/pkg/db/memdb/mem_db.go
  tm2/pkg/p2p/switch.go
  tm2/pkg/sdk/bank/keeper_test.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/baseapp_test.go
  tm2/pkg/store/cache/store_test.go
  tm2/pkg/store/gas/store_test.go
  tm2/pkg/store/iavl/store_test.go
  tm2/pkg/store/prefix/store_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2700 feat: In the gnokey CLI, add command to update the password
  docs/gno-tooling/cli/gnokey/working-with-key-pairs.md
  gno.land/pkg/keyscli/root.go
  tm2/pkg/crypto/keys/client/root.go
  tm2/pkg/crypto/keys/client/rotate.go
  tm2/pkg/crypto/keys/client/rotate_test.go
  tm2/pkg/crypto/keys/keybase.go
  tm2/pkg/crypto/keys/keybase_test.go
  tm2/pkg/crypto/keys/lazy_keybase.go
  tm2/pkg/crypto/keys/types.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1464 feat(stdlibs): add package `strconv`
  docs/reference/go-gno-compatibility.md
  gno.land/cmd/gnoland/testdata/append.txtar
  gno.land/cmd/gnoland/testdata/assertorigincall.txtar
  gno.land/cmd/gnoland/testdata/grc20_registry.txtar
  gno.land/cmd/gnoland/testdata/issue_1167.txtar
  gno.land/cmd/gnoland/testdata/prevrealm.txtar
  gno.land/cmd/gnoland/testdata/restart_missing_type.txtar
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/integration/testdata/loadpkg_example.txtar
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/store_test.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/strconv/atob.gno
  gnovm/stdlibs/strconv/atob_test.gno
  gnovm/stdlibs/strconv/atof.gno
  gnovm/stdlibs/strconv/atof_test.gno
  gnovm/stdlibs/strconv/atoi.gno
  gnovm/stdlibs/strconv/atoi_test.gno
  gnovm/stdlibs/strconv/bytealg.gno
  gnovm/stdlibs/strconv/decimal.gno
  gnovm/stdlibs/strconv/decimal_test.gno
  gnovm/stdlibs/strconv/doc.gno
  gnovm/stdlibs/strconv/eisel_lemire.gno
  gnovm/stdlibs/strconv/example_test.gno
  gnovm/stdlibs/strconv/export_test.gno
  gnovm/stdlibs/strconv/fp_test.gno
  gnovm/stdlibs/strconv/ftoa.gno
  gnovm/stdlibs/strconv/ftoa_test.gno
  gnovm/stdlibs/strconv/ftoaryu.gno
  gnovm/stdlibs/strconv/ftoaryu_test.gno
  gnovm/stdlibs/strconv/internal_test.gno
  gnovm/stdlibs/strconv/isprint.gno
  gnovm/stdlibs/strconv/itoa.gno
  gnovm/stdlibs/strconv/itoa_test.gno
  gnovm/stdlibs/strconv/quote.gno
  gnovm/stdlibs/strconv/quote_test.gno
  gnovm/stdlibs/strconv/strconv.gno
  gnovm/stdlibs/strconv/strconv.go
  gnovm/stdlibs/strconv/strconv_test.gno
  gnovm/stdlibs/unicode/example_test.gno
  gnovm/stdlibs/unicode/letter.gno
  gnovm/stdlibs/unicode/tables.gno
  gnovm/stdlibs/unicode/utf8/example_test.gno
  gnovm/stdlibs/unicode/utf8/utf8.gno
  gnovm/stdlibs/unicode/utf8/utf8_test.gno
  gnovm/tests/files/break0.gno
  gnovm/tests/files/cont3.gno
  gnovm/tests/files/for20.gno
  gnovm/tests/files/redeclaration10.gno
  gnovm/tests/files/redeclaration6.gno
  gnovm/tests/files/redeclaration8.gno
  gnovm/tests/imports.go
Labels: :seedling: feature, :package: :robot: gnovm, :package: :mountain: gno.land

#2864 chore: Run stdlib tests in parallel to make gnovm tests run faster
  gnovm/tests/package_test.go
Labels: :package: :robot: gnovm

#2978 fix(gnovm): remove migration of old dir for gno tools
  gnovm/pkg/gnoenv/gnohome.go
  gnovm/pkg/gnoenv/migration.go
  gnovm/pkg/gnoenv/migration_test.go
Labels: :package: :robot: gnovm

#2971 fix(cmd/aminoscan): set len=0 in a slice initialization
  tm2/pkg/amino/cmd/aminoscan/colors.go
Labels: :package: :globe_with_meridians: tendermint v2

#2964 feat(gnoweb): disable html in markdown
  contribs/gnodev/go.mod
  gno.land/cmd/gnoweb/main.go
  gno.land/pkg/gnoweb/gnoweb.go
Labels: :package: :mountain: gno.land

#2990 chore: remove unused flag
  gno.land/cmd/gnoland/start.go
Labels: :package: :mountain: gno.land

#2991 chore(cmd/gnoland): disable --flag-config-path
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/start.go
Labels: :package: :mountain: gno.land

#2202 feat: lint all files in folder before panicking
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/lint_test.go
  gnovm/cmd/gno/run_test.go
  gnovm/cmd/gno/test.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/tests/integ/several-files-multiple-errors/file2.gno
  gnovm/tests/integ/several-files-multiple-errors/gno.mod
  gnovm/tests/integ/several-files-multiple-errors/main.gno
Labels: :package: :robot: gnovm

#2981 fix(tm2): avoid mutex copy in marshal and unmarshal methods
  tm2/pkg/amino/amino.go
  tm2/pkg/amino/json_test.go
  tm2/pkg/amino/wellknown.go
  tm2/pkg/bitarray/bit_array.go
Labels: :package: :globe_with_meridians: tendermint v2

#2982 chore(pages): update bounty Terms & Conditions link
  examples/gno.land/r/gnoland/pages/page_contribute.gno
Labels: :receipt: package/realm

#2848 fix(gonative): add constant information when we define a go native value
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/preprocess_test.go
  gnovm/tests/files/assign29_native.gno
  gnovm/tests/imports.go
Labels: :package: :robot: gnovm

#2933 fix(ghverify): fix avl tree iteration in `Render` and `GetFeedDefinitions`
  examples/gno.land/p/demo/gnorkle/gnorkle/instance.gno
  examples/gno.land/r/gnoland/ghverify/contract.gno
  examples/gno.land/r/gnoland/ghverify/contract_test.gno
Labels: :receipt: package/realm

#2993 chore: remove vmkeeper.maxcycles
  contribs/gnodev/pkg/dev/node.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/gnoland/validators.go
  gno.land/pkg/sdk/vm/common_test.go
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :mountain: gno.land

#2685 fix: In dbKeybase.writeInfo, if replacing a name entry, remove the lookup by the old address
  tm2/pkg/crypto/keys/keybase.go
  tm2/pkg/crypto/keys/keybase_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#2920 feat(tm2): add sdk/params module
  gno.land/cmd/gnoland/testdata/params.txtar
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/sdk/vm/builtins.go
  gno.land/pkg/sdk/vm/common_test.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/params.gno
  gnovm/stdlibs/std/params.go
  misc/genstd/Makefile
  tm2/pkg/sdk/auth/keeper.go
  tm2/pkg/sdk/bank/keeper.go
  tm2/pkg/sdk/params/doc.go
  tm2/pkg/sdk/params/handler.go
  tm2/pkg/sdk/params/handler_test.go
  tm2/pkg/sdk/params/keeper.go
  tm2/pkg/sdk/params/keeper_test.go
  tm2/pkg/sdk/params/test_common.go
  tm2/pkg/store/README.md
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2884 fix(tm2): Enable coin benchmark tests after fixing panic error
  tm2/pkg/std/coin_benchmark_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#2778 feat(ghverify): emit event when user request verification
  examples/gno.land/r/gnoland/ghverify/contract.gno
Labels: :receipt: package/realm

#2931 test(p/uint256): Increase Test Coverage for `uint256` Package
  examples/gno.land/p/demo/uint256/arithmetic_test.gno
  examples/gno.land/p/demo/uint256/bitwise_test.gno
  examples/gno.land/p/demo/uint256/cmp_test.gno
  examples/gno.land/p/demo/uint256/conversion_test.gno
  examples/gno.land/p/demo/uint256/uint256.gno
  examples/gno.land/p/demo/uint256/uint256_test.gno
  examples/gno.land/p/demo/uint256/utils.gno
Labels: :receipt: package/realm

#2898 fix(stdlib): io test
  gnovm/stdlibs/io/export_test.gno
  gnovm/stdlibs/io/io_test.gno
  gnovm/stdlibs/io/multi_test.gno
Labels: :package: :robot: gnovm

#2975 feat(gnovm): add 'gno test -print-events' + cleanup machine between tests
  .github/workflows/examples.yml
  examples/gno.land/p/demo/ownable/ownable_test.gno
  examples/gno.land/r/demo/event/z1_filetest.gno
  examples/gno.land/r/gnoland/events/events.gno
  examples/gno.land/r/gnoland/events/events_test.gno
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_test/filetest_events.txtar
  gnovm/cmd/gno/testdata/gno_test/multitest_events.txtar
  gnovm/tests/file.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#2248 feat: avoid Instantiation of banker on pure packages
  examples/gno.land/r/demo/banktest/z_0_filetest.gno
  examples/gno.land/r/demo/banktest/z_1_filetest.gno
  examples/gno.land/r/demo/banktest/z_2_filetest.gno
  examples/gno.land/r/demo/banktest/z_3_filetest.gno
  examples/gno.land/r/demo/disperse/z_0_filetest.gno
  examples/gno.land/r/demo/disperse/z_1_filetest.gno
  examples/gno.land/r/demo/disperse/z_2_filetest.gno
  examples/gno.land/r/demo/disperse/z_3_filetest.gno
  examples/gno.land/r/demo/disperse/z_4_filetest.gno
  gnovm/Makefile
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/std/banker.gno
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
  gnovm/tests/files/stdbanker_stdlibs.gno
  gnovm/tests/stdlibs/generated.go
  gnovm/tests/stdlibs/std/frame_testing.gno
  gnovm/tests/stdlibs/std/std.gno
  gnovm/tests/stdlibs/std/std.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#3014 fix(gnovm): fix issue with locally re-definition
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/redefine.gno
  gnovm/tests/files/redefine2.gno
  gnovm/tests/files/redefine3.gno
  gnovm/tests/files/redefine4.gno
  gnovm/tests/files/redefine5.gno
  gnovm/tests/files/redefine6.gno
Labels: 🐞 bug, :package: :robot: gnovm

#2997 fix(gnolang): ensure complete Uverse initialization
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/uverse.go
Labels: :package: :robot: gnovm

#2910 chore: relocate tm2/std.MemFile in gnovm/std
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/gnoweb/gnoweb.go
  gno.land/pkg/keyscli/run.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gno.land/pkg/sdk/vm/msg_test.go
  gno.land/pkg/sdk/vm/msgs.go
  gno.land/pkg/sdk/vm/package.go
  gno.land/pkg/sdk/vm/vm.proto
  gnovm/cmd/gno/test.go
  gnovm/gno.proto
  gnovm/gnovm.proto
  gnovm/memfile.go
  gnovm/memfile_test.go
  gnovm/package.go
  gnovm/pkg/gnolang/gnolang.proto
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/go2gno_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/machine_test.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/store_test.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/tests/file.go
  misc/genproto/Makefile
  misc/genproto/genproto.go
  tm2/pkg/amino/tests/pb/tests.pb.go
  tm2/pkg/amino/tests/proto3/proto/compat.pb.go
  tm2/pkg/libtm/messages/types/messages.pb.go
  tm2/pkg/std/package.go
  tm2/pkg/std/std.proto
  tm2/pkg/telemetry/config/config.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2979 chore(ci): run gno test with --print-runtime-metrics
  .github/workflows/examples.yml
  gnovm/cmd/gno/test.go
Labels: 🐞 bug, :package: :robot: gnovm, help wanted

#2887 feat: add `p/moul/txlink` + `p/moul/helplink`
  examples/gno.land/p/moul/helplink/gno.mod
  examples/gno.land/p/moul/helplink/helplink.gno
  examples/gno.land/p/moul/helplink/helplink_test.gno
  examples/gno.land/p/moul/txlink/gno.mod
  examples/gno.land/p/moul/txlink/txlink.gno
  examples/gno.land/p/moul/txlink/txlink_test.gno
  examples/gno.land/r/demo/boards/board.gno
  examples/gno.land/r/demo/boards/gno.mod
  examples/gno.land/r/demo/boards/post.gno
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/boards/z_10_c_filetest.gno
  examples/gno.land/r/demo/boards/z_10_filetest.gno
  examples/gno.land/r/demo/boards/z_11_d_filetest.gno
  examples/gno.land/r/demo/boards/z_11_filetest.gno
  examples/gno.land/r/demo/boards/z_12_filetest.gno
  examples/gno.land/r/demo/boards/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_3_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/boards/z_5_c_filetest.gno
  examples/gno.land/r/demo/boards/z_5_filetest.gno
  examples/gno.land/r/demo/boards/z_6_filetest.gno
  examples/gno.land/r/demo/boards/z_7_filetest.gno
  examples/gno.land/r/demo/boards/z_8_filetest.gno
  examples/gno.land/r/demo/boards/z_9_filetest.gno
Labels: :receipt: package/realm

#3007 ci: benchmark only BenchmarkBenchdata
  .github/workflows/benchmark-master-push.yml
Labels: :package: :robot: gnovm

#3025 ci: add workflow to ensure go.mod files are tidied
  .github/workflows/mod-tidy.yml
  tm2/pkg/amino/tests/proto3/proto/doc.go
Labels: :package: :globe_with_meridians: tendermint v2

#3034 docs: fix tm2 broken link
  tm2/README.md
Labels: :package: :globe_with_meridians: tendermint v2

#2984 fix(gnovm): forbid star expression when value is not a pointer
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/ptr9.gno
Labels: :package: :robot: gnovm

#2939 feat(p/json): optimize json
  examples/gno.land/p/demo/json/buffer.gno
  examples/gno.land/p/demo/json/buffer_test.gno
  examples/gno.land/p/demo/json/builder.gno
  examples/gno.land/p/demo/json/builder_test.gno
  examples/gno.land/p/demo/json/decode_test.gno
  examples/gno.land/p/demo/json/eisel_lemire/eisel_lemire.gno
  examples/gno.land/p/demo/json/eisel_lemire/gno.mod
  examples/gno.land/p/demo/json/encode.gno
  examples/gno.land/p/demo/json/encode_test.gno
  examples/gno.land/p/demo/json/errors.gno
  examples/gno.land/p/demo/json/escape.gno
  examples/gno.land/p/demo/json/escape_test.gno
  examples/gno.land/p/demo/json/gno.mod
  examples/gno.land/p/demo/json/indent.gno
  examples/gno.land/p/demo/json/node.gno
  examples/gno.land/p/demo/json/parser.gno
  examples/gno.land/p/demo/json/parser_test.gno
  examples/gno.land/p/demo/json/ryu/License
  examples/gno.land/p/demo/json/ryu/floatconv.gno
  examples/gno.land/p/demo/json/ryu/floatconv_test.gno
  examples/gno.land/p/demo/json/ryu/gno.mod
  examples/gno.land/p/demo/json/ryu/ryu64.gno
  examples/gno.land/p/demo/json/ryu/table.gno
Labels: :receipt: package/realm

#2459 test(gno.land): add unit tests for sdk/vm.vmHandler
  gno.land/pkg/sdk/vm/common_test.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/handler_test.go
Labels: :package: :mountain: gno.land

#3053 fix(gnovm): forbid star expression when value is nil
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/ptr10.gno
Labels: :package: :robot: gnovm
