Repository gnolang/gno, pull requests merged in 2024-09, with the labels that each got.

#2626 chore: remove panic from uverse
  gnovm/pkg/gnolang/misc.go
  gnovm/pkg/gnolang/uverse.go
Labels: :package: :robot: gnovm

#2740 feat(examples): add `r/leon`
  examples/gno.land/r/leon/config/config.gno
  examples/gno.land/r/leon/config/gno.mod
  examples/gno.land/r/leon/home/gno.mod
  examples/gno.land/r/leon/home/home.gno
Labels: :receipt: package/realm

#2319 fix(gno.land): make gno store cache respect rollbacks
  contribs/gnodev/pkg/dev/node.go
  gno.land/cmd/gnoland/testdata/issue_2283_cacheTypes.txtar
  gno.land/cmd/gnoland/testdata/restart_missing_type.txtar
  gno.land/cmd/gnoland/testdata/restart_nonval.txtar
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/gnoland/mock_test.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/testdata/gnoland.txtar
  gno.land/pkg/integration/testdata/restart.txtar
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/integration/testing_node.go
  gno.land/pkg/sdk/vm/common_test.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gno.land/pkg/sdk/vm/testdata/emptystdlib/README
  gnovm/pkg/gnolang/internal/txlog/txlog.go
  gnovm/pkg/gnolang/internal/txlog/txlog_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/store_test.go
  tm2/pkg/sdk/abci.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/baseapp_test.go
  tm2/pkg/sdk/context.go
  tm2/pkg/sdk/options.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2226 docs: add `Using gnokey` tutorial
  docs/getting-started/local-setup/creating-a-keypair.md
  docs/getting-started/local-setup/installation.md
  docs/getting-started/local-setup/interacting-with-gnoland.md
  docs/gno-tooling/cli/faucet/faucet.md
  docs/gno-tooling/cli/gnokey.md
  docs/gno-tooling/cli/gnokey/full-security-tx.md
  docs/gno-tooling/cli/gnokey/gnokey.md
  docs/gno-tooling/cli/gnokey/querying-a-network.md
  docs/gno-tooling/cli/gnokey/state-changing-calls.md
  docs/gno-tooling/cli/gnokey/working-with-key-pairs.md
  docs/how-to-guides/connecting-from-go.md
  docs/how-to-guides/deploy.md
  docs/reference/gnoclient/gnoclient.md
Labels: :book: documentation

#2742 feat(r/gnoland/pages): substitute /game-of-realms with /contribute page
  examples/gno.land/r/gnoland/pages/page_contribute.gno
  examples/gno.land/r/gnoland/pages/page_gor.gno
  examples/gno.land/r/gnoland/pages/pages_test.gno
  gno.land/pkg/gnoweb/alias.go
  gno.land/pkg/gnoweb/gnoweb_test.go
  gno.land/pkg/gnoweb/views/funcs.html
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2756 chore(tm2): crypto.Address json Marshal
  tm2/pkg/crypto/bech32_test.go
  tm2/pkg/crypto/crypto.go
Labels: :package: :globe_with_meridians: tendermint v2

#2725 fix(gnovm): correct type comparison for bool type
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/types/eql_0f49.gno
Labels: :package: :robot: gnovm

#2717 feat: adding support for arbitrary field
  examples/gno.land/r/demo/profile/profile.gno
  examples/gno.land/r/demo/profile/profile_test.gno
Labels: :receipt: package/realm

#2784 feat(p/demo/merkle): add constructor w/ getter for merkle.Node struct
  examples/gno.land/p/demo/merkle/merkle.gno
Labels: :receipt: package/realm

#2345 feat(examples): add `r/morgan/{home,guestbook}`
  examples/gno.land/r/morgan/guestbook/admin.gno
  examples/gno.land/r/morgan/guestbook/gno.mod
  examples/gno.land/r/morgan/guestbook/guestbook.gno
  examples/gno.land/r/morgan/guestbook/guestbook_test.gno
  examples/gno.land/r/morgan/home/gno.mod
  examples/gno.land/r/morgan/home/home.gno
Labels: :receipt: package/realm

#2781 fix(gnovm): Make GnoVM slice allocations before go runtime allocations
  gno.land/cmd/gnoland/testdata/alloc_array.txtar
  gno.land/cmd/gnoland/testdata/alloc_byte_slice.txtar
  gno.land/cmd/gnoland/testdata/alloc_slice.txtar
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/uverse.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#2766 test(gnoland): test content mismatch for addpkg.txtar
  gno.land/cmd/gnoland/testdata/addpkg.txtar
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2754 test(gnovm): test all files in gnovm/tests subdirs
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/gnolang/eval_test.go
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/a31.gno
  gnovm/tests/files/assign_unnamed_type/unnamedtype5_filetest.gno
  gnovm/tests/files/assign_unnamed_type/unnamedtype5a_filetest.gno
  gnovm/tests/files/convert4.gno
  gnovm/tests/files/convert5.gno
  gnovm/tests/files/defer6.gno
  gnovm/tests/files/map15.gno
  gnovm/tests/files/method27.gno
  gnovm/tests/files/types/cmp_iface_2.gno
  gnovm/tests/files/types/eql_0f2d.gno
  gnovm/tests/files/types/eql_0f2e.gno
  gnovm/tests/files/types/runtime_a2.gno
  gnovm/tests/files/types/shift_a12.gno
  gnovm/tests/files/types/shift_a13.gno
Labels: :package: :robot: gnovm

#2765 docs(website): more info on /contribute
  examples/gno.land/r/gnoland/pages/page_contribute.gno
Labels: :receipt: package/realm

#2793 fix(grc20): remove unused interface, fix typo
  examples/gno.land/p/demo/grc/grc20/token.gno
Labels: :receipt: package/realm

#2409 fix(gno.land): refine error message for addpkg operation
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gno.land/pkg/sdk/vm/package.go
  gno.land/pkg/sdk/vm/vm.proto
Labels: :package: :mountain: gno.land

#2792 test(gnovm): run initStaticBlocks in BenchmarkPreprocess
  gnovm/pkg/gnolang/gno_test.go
Labels: :package: :robot: gnovm

#2805 perf(tm2/bft/fail): use sync.Once instead of Getenv on each call
  tm2/pkg/bft/fail/fail.go
Labels: :package: :globe_with_meridians: tendermint v2

#2808 feat(examples): add p/fqname
  examples/gno.land/p/demo/fqname/fqname.gno
  examples/gno.land/p/demo/fqname/fqname_test.gno
  examples/gno.land/p/demo/fqname/gno.mod
Labels: :receipt: package/realm

#2806 fix: Don't emit events from failed transactions
  tm2/pkg/sdk/baseapp.go
Labels: 🐞 bug, :package: :globe_with_meridians: tendermint v2

#2815 feat(examples): add simplest "counter" realm
  examples/gno.land/r/demo/counter/counter.gno
  examples/gno.land/r/demo/counter/counter_test.gno
  examples/gno.land/r/demo/counter/gno.mod
Labels: :receipt: package/realm

#2809 feat(examples): add p/printfdebugging
  examples/gno.land/p/moul/printfdebugging/color.gno
  examples/gno.land/p/moul/printfdebugging/gno.mod
  examples/gno.land/p/moul/printfdebugging/printfdebugging.gno
Labels: :receipt: package/realm

#2783 docs: updated missing gnofaucet README
  contribs/gnofaucet/README.md
  examples/gno.land/r/demo/boards/README.md
Labels: :receipt: package/realm

#2705 feat: Add timezone location support
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/time/timezoneinfo.gno
  gnovm/stdlibs/time/tzdata.go
  gnovm/stdlibs/time/zoneinfo_read.gno
  gnovm/stdlibs/time/zzipdata.go
  gnovm/tests/files/tz_locations.gno
  gnovm/tests/imports.go
Labels: :package: :robot: gnovm

#2853 test(gno.land): fix `TestTestdata/restart_missing_type`
  gno.land/cmd/gnoland/testdata/restart_missing_type.txtar
Labels: :package: :mountain: gno.land

#2823 feat: pre-register test1 user to make interaction with boards easier
  examples/gno.land/r/demo/users/gno.mod
  examples/gno.land/r/demo/users/preregister.gno
  examples/gno.land/r/demo/users/users_test.gno
  examples/gno.land/r/demo/users/z_5_filetest.gno
Labels: :receipt: package/realm

#2854 fix(tm2/iavl/benchmarks): skip benchmarks that run for too long
  gnovm/pkg/gnolang/machine.go
  tm2/pkg/iavl/benchmarks/bench_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#2820 chore: rename r/manfred -> r/moul
  .github/CODEOWNERS
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/grc20factory/grc20factory_test.gno
  examples/gno.land/r/demo/groups/z_1_a_filetest.gno
  examples/gno.land/r/demo/groups/z_2_a_filetest.gno
  examples/gno.land/r/demo/users/users.gno
  examples/gno.land/r/demo/users/z_10_filetest.gno
  examples/gno.land/r/demo/users/z_11_filetest.gno
  examples/gno.land/r/demo/users/z_11b_filetest.gno
  examples/gno.land/r/demo/users/z_2_filetest.gno
  examples/gno.land/r/demo/users/z_3_filetest.gno
  examples/gno.land/r/demo/users/z_4_filetest.gno
  examples/gno.land/r/demo/users/z_5_filetest.gno
  examples/gno.land/r/demo/users/z_6_filetest.gno
  examples/gno.land/r/demo/users/z_7_filetest.gno
  examples/gno.land/r/demo/users/z_7b_filetest.gno
  examples/gno.land/r/demo/users/z_8_filetest.gno
  examples/gno.land/r/demo/users/z_9_filetest.gno
  examples/gno.land/r/gnoland/blog/admin.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/overide_filetest.gno
  examples/gno.land/r/gnoland/pages/admin.gno
  examples/gno.land/r/manfred/config/gno.mod
  examples/gno.land/r/manfred/home/gno.mod
  examples/gno.land/r/manfred/home/home.gno
  examples/gno.land/r/moul/README.md
  examples/gno.land/r/moul/config/config.gno
  examples/gno.land/r/moul/config/gno.mod
  examples/gno.land/r/moul/home/gno.mod
  examples/gno.land/r/moul/home/home.gno
  examples/gno.land/r/moul/home/z1_filetest.gno
  examples/gno.land/r/moul/home/z2_filetest.gno
  examples/gno.land/r/moul/present/admin.gno
  examples/gno.land/r/moul/present/gno.mod
  examples/gno.land/r/moul/present/present_miami23.gno
  examples/gno.land/r/moul/present/present_miami23_filetest.gno
  examples/gno.land/r/moul/present/presentations.gno
  examples/gno.land/r/sys/users/verify.gno
  gno.land/cmd/gnoland/testdata/addpkg_namespace.txtar
  gno.land/genesis/genesis_balances.txt
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/gnoweb/gnoweb_test.go
  gno.land/pkg/integration/testdata/adduserfrom.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2857 fix: stop LevelDB benchmark due to an error
  tm2/pkg/iavl/benchmarks/bench_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#2786 chore: address codereview comments from #2754
  gnovm/pkg/gnolang/eval_test.go
Labels: :package: :robot: gnovm

#2856 fix(cmd/gno): pass an ExecContext to MachineOptions in `gno run`
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/run_test.go
  gnovm/tests/integ/context/context.gno
Labels: :package: :robot: gnovm

#2860 fix(gnoweb): show contents of source when javascript is disabled
  gno.land/pkg/gnoweb/views/funcs.html
Labels: :package: :mountain: gno.land
