Repository gnolang/gno, pull requests merged in 2024-06, with the labels that each got.

#2212 docs: add infra section intro
  docs/gno-infrastructure/gno-infrastructure.md
  docs/gno-infrastructure/premining-balances.md
  docs/gno-infrastructure/setting-up-a-local-chain.md
  docs/gno-tooling/cli/faucet/faucet.md
Labels: :book: documentation

#2259 docs: add missing doc link to docs/reference/gnoclient
  gno.land/pkg/gnoclient/README.md
Labels: :package: :mountain: gno.land

#2269 fix(make): re-enable package testing
  gnovm/Makefile
Labels: :package: :robot: gnovm

#2221 fix: set Loc Line on Decl
  gnovm/cmd/gno/testdata/gno_test/lint_bad_import.txtar
  gnovm/cmd/gno/testdata/gno_test/test_with-native-fallback.txtar
  gnovm/cmd/gno/testdata/gno_test/unknow_lib.txtar
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/gnolang/go2gno.go
  gnovm/tests/files/const9.gno
  gnovm/tests/files/import6.gno
  gnovm/tests/files/var18.gno
Labels: :package: :robot: gnovm

#2264 fix(bft): potential deadlock in the consensus ticker on close
  tm2/pkg/bft/consensus/ticker.go
Labels: :package: :globe_with_meridians: tendermint v2

#2058 chore(gnovm): move invalid labels tests to tests/files/
  gnovm/pkg/gnolang/gno_test.go
  gnovm/tests/files/invalid_labels0.gno
  gnovm/tests/files/invalid_labels1.gno
  gnovm/tests/files/invalid_labels2.gno
  gnovm/tests/files/invalid_labels3.gno
Labels: :package: :robot: gnovm

#2274 add redirect temporarily from /gophercon24 to docs.gno.land
  gno.land/pkg/gnoweb/gnoweb.go
Labels: :package: :mountain: gno.land

#2271 fix(blog): add edit check
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
Labels: :receipt: package/realm

#2280 fix(gnoweb): Cursor pointer when hovering over dark mode theme
  gno.land/pkg/gnoweb/static/css/app.css
Labels: :package: :mountain: gno.land

#2292 fix(gnovm): incorrect `Emit` signature in stdshim
  gnovm/stdlibs/stdshim/stdshim.gno
Labels: :package: :robot: gnovm

#2289 docs(GRC721): remove outdated guide
  docs/assets/how-to-guides/creating-grc721/mynonfungibletoken-1.gno
  docs/assets/how-to-guides/creating-grc721/mynonfungibletoken-2.gno
  docs/how-to-guides/creating-grc721.md
Labels: :book: documentation

#2279 style: Fixing some typos
  .benchmarks/README.md
  docs/concepts/effective-gno.md
  examples/gno.land/p/demo/cford32/README.md
  examples/gno.land/p/demo/cford32/cford32.gno
Labels: :receipt: package/realm

#2278 fix: Handle .mod files for realms in gnoweb
  gno.land/pkg/gnoweb/gnoweb.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2293 fix(gno.land/Makefile): lazily start gnoland node
  gno.land/Makefile
Labels: :package: :mountain: gno.land

#2281 feat(gnodev): allow gnodev to load txs
  contribs/gnodev/cmd/gnodev/main.go
  contribs/gnodev/cmd/gnodev/setup_node.go
  contribs/gnodev/cmd/gnodev/txs.go
  contribs/gnodev/pkg/dev/node.go
  docs/gno-tooling/cli/gnodev.md
  gno.land/cmd/gnoland/genesis_txs_add.go
  tm2/pkg/std/tx.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2244 fix(gnoweb): update "airgapped" commands in realm help page
  gno.land/cmd/gnoland/testdata/gnoweb_airgapped.txtar
  gno.land/cmd/gnoland/testdata/time_simple.txtar
  gno.land/pkg/gnoweb/static/js/realm_help.js
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/call.go
  gno.land/pkg/keyscli/run.go
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/export.go
  tm2/pkg/crypto/keys/client/send.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2284 fix(gnoland): fix: wrong help message for balances add
  gno.land/cmd/gnoland/genesis_balances_add.go
Labels: :book: documentation, :package: :mountain: gno.land

#681 fix: replace old realm path to current one
  examples/gno.land/p/demo/groups/z_1_filetest.gno
  examples/gno.land/r/demo/art/millipede/millipede.gno
  examples/gno.land/r/demo/art/millipede/millipede_test.gno
  examples/gno.land/r/demo/banktest/README.md
  examples/gno.land/r/demo/boards/z_0_a_filetest.gno
  examples/gno.land/r/demo/boards/z_0_b_filetest.gno
  examples/gno.land/r/demo/boards/z_0_c_filetest.gno
  examples/gno.land/r/demo/boards/z_0_d_filetest.gno
  examples/gno.land/r/demo/boards/z_0_e_filetest.gno
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/boards/z_10_a_filetest.gno
  examples/gno.land/r/demo/boards/z_10_b_filetest.gno
  examples/gno.land/r/demo/boards/z_10_c_filetest.gno
  examples/gno.land/r/demo/boards/z_10_filetest.gno
  examples/gno.land/r/demo/boards/z_11_a_filetest.gno
  examples/gno.land/r/demo/boards/z_11_b_filetest.gno
  examples/gno.land/r/demo/boards/z_11_c_filetest.gno
  examples/gno.land/r/demo/boards/z_11_d_filetest.gno
  examples/gno.land/r/demo/boards/z_11_filetest.gno
  examples/gno.land/r/demo/boards/z_12_a_filetest.gno
  examples/gno.land/r/demo/boards/z_12_b_filetest.gno
  examples/gno.land/r/demo/boards/z_12_c_filetest.gno
  examples/gno.land/r/demo/boards/z_12_d_filetest.gno
  examples/gno.land/r/demo/boards/z_12_filetest.gno
  examples/gno.land/r/demo/boards/z_1_filetest.gno
  examples/gno.land/r/demo/boards/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_3_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/boards/z_5_filetest.gno
  examples/gno.land/r/demo/boards/z_6_filetest.gno
  examples/gno.land/r/demo/boards/z_7_filetest.gno
  examples/gno.land/r/demo/boards/z_8_filetest.gno
  examples/gno.land/r/demo/boards/z_9_a_filetest.gno
  examples/gno.land/r/demo/boards/z_9_b_filetest.gno
  examples/gno.land/r/demo/boards/z_9_filetest.gno
  examples/gno.land/r/demo/groups/misc.gno
  examples/gno.land/r/demo/groups/render.gno
  examples/gno.land/r/demo/groups/z_0_a_filetest.gno
  examples/gno.land/r/demo/groups/z_0_b_filetest.gno
  examples/gno.land/r/demo/groups/z_0_c_filetest.gno
  examples/gno.land/r/demo/groups/z_1_a_filetest.gno
  examples/gno.land/r/demo/groups/z_1_b_filetest.gno
  examples/gno.land/r/demo/groups/z_1_c_filetest.gno
  examples/gno.land/r/demo/groups/z_2_a_filetest.gno
  examples/gno.land/r/demo/groups/z_2_b_filetest.gno
  examples/gno.land/r/demo/groups/z_2_d_filetest.gno
  examples/gno.land/r/demo/groups/z_2_e_filetest.gno
  examples/gno.land/r/demo/groups/z_2_f_filetest.gno
  examples/gno.land/r/demo/groups/z_2_g_filetest.gno
  examples/gno.land/r/demo/nft/README.md
  examples/gno.land/r/demo/nft/z_0_filetest.gno
  examples/gno.land/r/demo/nft/z_1_filetest.gno
  examples/gno.land/r/demo/nft/z_2_filetest.gno
  examples/gno.land/r/demo/nft/z_3_filetest.gno
  examples/gno.land/r/demo/nft/z_4_filetest.gno
  examples/gno.land/r/demo/users/z_10_filetest.gno
  gno.land/genesis/cleanup.sh
  gno.land/genesis/genesis_txs.jsonl
  gnovm/pkg/transpiler/transpiler_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#2291 docs: Index missing pages & remove outdated ones
  docs/glossary.md
  docs/how-to-guides/interact-with-gnoland.md
Labels: :book: documentation

#2327 feat: add the ability to add packages to genesis transactions
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/r/gnoland/events/events.gno
  gno.land/cmd/gnoland/genesis_txs.go
  gno.land/cmd/gnoland/genesis_txs_add.go
  gno.land/cmd/gnoland/genesis_txs_add_packages.go
  gno.land/cmd/gnoland/genesis_txs_add_packages_test.go
  gno.land/cmd/gnoland/genesis_txs_add_sheet.go
  gno.land/cmd/gnoland/genesis_txs_add_sheet_test.go
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/integration/testing_node.go
Labels: breaking change, :receipt: package/realm, :package: :mountain: gno.land

#2135 chore: In gnodev, include gnoweb flags
  contribs/gnodev/cmd/gnodev/main.go
  contribs/gnodev/cmd/gnodev/setup_web.go
  docs/gno-tooling/cli/gnodev.md
Labels: :package: :mountain: gno.land

#2339 fix: bad module naming in gov package
  examples/gno.land/p/gov/proposal/gno.mod
  examples/gno.land/r/gnoland/valopers/gno.mod
  examples/gno.land/r/gov/dao/gno.mod
  examples/gno.land/r/gov/proposals/prop1/gno.mod
Labels: hotfix, :receipt: package/realm

#2347 chore(pages/events): update events
  examples/gno.land/r/gnoland/events/events.gno
  examples/gno.land/r/gnoland/events/events_filetest.gno
Labels: :receipt: package/realm

#569 feat: support timestamp skipping in test cases
  docs/reference/stdlibs/std/testing.md
  examples/gno.land/p/demo/rand/rand0_filetest.gno
  examples/gno.land/r/x/skip_height_to_skip_time/skiptime.gno
  examples/gno.land/r/x/skip_height_to_skip_time/skiptime_test.gno
  gnovm/tests/stdlibs/std/std.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#2330 feat: improve p/ownable API
  examples/gno.land/p/demo/ownable/ownable.gno
Labels: :receipt: package/realm

#2340 fix(gnovm): Correct file test issue in zream12
  gnovm/tests/files/zrealm12.gno
Labels: :package: :robot: gnovm

#2024 fix: default untyped to uint when necessary
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/types.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/tests/files/bigint1.gno
Labels: :package: :robot: gnovm

#2344 feat: govdao mvp improvement
  examples/gno.land/p/gov/proposal/proposal.gno
  examples/gno.land/p/gov/proposal/types.gno
  examples/gno.land/r/gov/dao/dao.gno
  examples/gno.land/r/gov/dao/gno.mod
  examples/gno.land/r/gov/dao/types.gno
  examples/gno.land/r/gov/integration/gno.mod
  examples/gno.land/r/gov/integration/integration.gno
  examples/gno.land/r/gov/integration/z_filetest.gno
  examples/gno.land/r/gov/proposals/prop1/prop1.gno
  examples/gno.land/r/sys/validators/validators.gno
Labels: :receipt: package/realm

#2369 docs: add `TestSetRealm` reference docs
  docs/reference/stdlibs/std/testing.md
  gnovm/tests/stdlibs/std/std.gno
Labels: :book: documentation, :package: :robot: gnovm

#2140 perf: for loop and if
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/op_inc_dec.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/for7.gno
  gnovm/tests/files/if2.gno
Labels: :package: :robot: gnovm

#2147 fix: custom boolean types in conditional statements
  gnovm/cmd/gno/run_test.go
  gnovm/tests/files/for19.gno
  gnovm/tests/files/if8.gno
  gnovm/tests/integ/invalid_assign/main.gno
Labels: :package: :robot: gnovm

#2361 feat: add support for displaying the P2P Address for node secrets info
  gno.land/cmd/gnoland/secrets.go
  gno.land/cmd/gnoland/secrets_common.go
  gno.land/cmd/gnoland/secrets_get.go
  gno.land/cmd/gnoland/secrets_get_test.go
  gno.land/cmd/gnoland/secrets_init.go
  gno.land/cmd/gnoland/secrets_init_test.go
  gno.land/cmd/gnoland/secrets_verify.go
  gno.land/cmd/gnoland/secrets_verify_test.go
Labels: :package: :mountain: gno.land

#2360 fix: Add default ports for `net.Dial` if missing in RPC URL
  tm2/pkg/bft/rpc/lib/client/http/client.go
  tm2/pkg/bft/rpc/lib/client/http/client_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#2390 fix(examples): correct the version number in upgrade demo
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_c/v2/v2.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v2/v2.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v2/z_filetest.gno
Labels: :receipt: package/realm

#1695 feat(transpiler): transpile gno standard libraries
  examples/gno.land/r/demo/art/gnoface/gno.mod
  examples/gno.land/r/x/manfred_outfmt/gno.mod
  gnovm/Makefile
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_transpile/05_skip_fmt_flag.txtar
  gnovm/cmd/gno/testdata/gno_transpile/06_build_flag.txtar
  gnovm/cmd/gno/testdata/gno_transpile/gobuild_flag_build_error.txtar
  gnovm/cmd/gno/testdata/gno_transpile/gobuild_flag_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_transpile/invalid_import.txtar
  gnovm/cmd/gno/testdata/gno_transpile/no_args.txtar
  gnovm/cmd/gno/testdata/gno_transpile/parse_error.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_gobuild_file.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_gobuild_flag.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_output_flag.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_output_gobuild.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_transpile_file.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_transpile_package.txtar
  gnovm/cmd/gno/testdata/gno_transpile/valid_transpile_tree.txtar
  gnovm/cmd/gno/transpile.go
  gnovm/cmd/gno/transpile_test.go
  gnovm/cmd/gno/util.go
  gnovm/cmd/gno/util_test.go
  gnovm/pkg/gnolang/helpers.go
  gnovm/pkg/gnolang/helpers_test.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnomod/file.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/integration/gno.go
  gnovm/pkg/transpiler/transpiler.go
  gnovm/pkg/transpiler/transpiler_test.go
  gnovm/stdlibs/bytes/boundary_test.gno
  gnovm/stdlibs/crypto/chacha20/chacha/chacha_ref.gno
  gnovm/stdlibs/internal/bytealg/compare_generic.gno
  gnovm/stdlibs/internal/bytealg/count_generic.gno
  gnovm/stdlibs/internal/bytealg/index_generic.gno
  gnovm/stdlibs/internal/bytealg/indexbyte_generic.gno
  gnovm/stdlibs/native.go
  gnovm/stdlibs/stdlibs.go
  gnovm/stdlibs/stdshim/addr_set.gno
  gnovm/stdlibs/stdshim/banker.gno
  gnovm/stdlibs/stdshim/coins.gno
  gnovm/stdlibs/stdshim/context.gno
  gnovm/stdlibs/stdshim/crypto.gno
  gnovm/stdlibs/stdshim/frame.gno
  gnovm/stdlibs/time/time.gno
  gnovm/tests/stdlibs/native.go
  misc/genstd/template.tmpl
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#2352 chore(docs): fix example rpcclient.NewHTTPClient returning variables
  docs/how-to-guides/connecting-from-go.md
Labels: :lady_beetle: bug

#2388 feat: add r/demo/bar20 example
  examples/gno.land/r/demo/bar20/bar20.gno
  examples/gno.land/r/demo/bar20/bar20_test.gno
  examples/gno.land/r/demo/bar20/gno.mod
Labels: :receipt: package/realm

#2379 feat: refactor govdao structure and examples
  examples/gno.land/r/gov/dao/prop1_filetest.gno
  examples/gno.land/r/gov/integration/gno.mod
  examples/gno.land/r/gov/integration/integration.gno
  examples/gno.land/r/gov/integration/z_filetest.gno
  examples/gno.land/r/gov/proposals/prop1/gno.mod
  examples/gno.land/r/gov/proposals/prop1/prop1.gno
  examples/gno.land/r/sys/validators/validators.gno
Labels: :receipt: package/realm

#2398 fix(examples): update /r/demo/bar20/gno.mod
  examples/gno.land/r/demo/bar20/gno.mod
Labels: :receipt: package/realm

#2382 feat(keeper)!: use <pkgpath>.<expr> syntax for qeval; <pkgpath>:<path> for qrender
  docs/gno-tooling/cli/gnokey.md
  examples/gno.land/r/demo/boards/README.md
  gno.land/cmd/gnoland/testdata/gnokey_simulate.txtar
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/gnoclient/client_queries.go
  gno.land/pkg/gnoweb/gnoweb.go
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/handler_test.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2300 fix(gnoclient): Return error when getting keypair information
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/mock_test.go
  gno.land/pkg/gnoclient/signer.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2403 chore: remove stdshim
  gnovm/stdlibs/stdshim/stdshim.gno
Labels: :package: :robot: gnovm

#2402 chore(tm2): OTEL / handle http metrics exporter
  go.mod
  go.sum
  tm2/pkg/telemetry/metrics/metrics.go
Labels: :package: :globe_with_meridians: tendermint v2

#2276 feat: small improvements for #1702
  .gitignore
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/sdk/vm/builtins.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/store.go
  gnovm/tests/imports.go
  tm2/pkg/colors/colors.go
  tm2/pkg/db/goleveldb/go_level_db.go
  tm2/pkg/db/memdb/mem_db.go
  tm2/pkg/db/prefix_db.go
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/store/cache/store.go
  tm2/pkg/store/gas/store.go
  tm2/pkg/store/store.go
  tm2/pkg/store/types/store.go
  tm2/pkg/store/utils/print.go
  tm2/pkg/strings/string.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2358 chore: In r/demo/boards public API, change AssertOriginCall() to PrevRealm().IsUser()
  examples/gno.land/r/demo/boards/public.gno
Labels: :receipt: package/realm

#2417 fix: allow LICENSE rendering via gnoweb
  examples/gno.land/p/demo/flow/LICENSE
  gno.land/pkg/gnoweb/gnoweb.go
  gno.land/pkg/gnoweb/gnoweb_test.go
  tm2/pkg/std/memfile.go
  tm2/pkg/std/memfile_test.go
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2424 feat: migrate the `libtm` repo to `tm2/pkg/libtm`
  tm2/pkg/libtm/.gitignore
  tm2/pkg/libtm/LICENSE
  tm2/pkg/libtm/Makefile
  tm2/pkg/libtm/README.md
  tm2/pkg/libtm/core/broadcast.go
  tm2/pkg/libtm/core/cache.go
  tm2/pkg/libtm/core/cache_test.go
  tm2/pkg/libtm/core/cluster_test.go
  tm2/pkg/libtm/core/messages.go
  tm2/pkg/libtm/core/mocks_test.go
  tm2/pkg/libtm/core/options.go
  tm2/pkg/libtm/core/options_test.go
  tm2/pkg/libtm/core/quorum.go
  tm2/pkg/libtm/core/quorum_test.go
  tm2/pkg/libtm/core/state.go
  tm2/pkg/libtm/core/store.go
  tm2/pkg/libtm/core/tendermint.go
  tm2/pkg/libtm/core/tendermint_test.go
  tm2/pkg/libtm/core/timeout.go
  tm2/pkg/libtm/core/timeout_test.go
  tm2/pkg/libtm/core/types.go
  tm2/pkg/libtm/go.mod
  tm2/pkg/libtm/go.sum
  tm2/pkg/libtm/golangci.yaml
  tm2/pkg/libtm/messages/collector.go
  tm2/pkg/libtm/messages/collector_test.go
  tm2/pkg/libtm/messages/subscription.go
  tm2/pkg/libtm/messages/types/messages.go
  tm2/pkg/libtm/messages/types/messages.pb.go
  tm2/pkg/libtm/messages/types/messages_test.go
  tm2/pkg/libtm/messages/types/proto/messages.proto
Labels: :package: :globe_with_meridians: tendermint v2

#2393 feat: overhaul `gnoland secrets` and `gnoland config` to output JSON
  docs/gno-infrastructure/setting-up-a-local-chain.md
  gno.land/cmd/gnoland/config.go
  gno.land/cmd/gnoland/config_get.go
  gno.land/cmd/gnoland/config_get_test.go
  gno.land/cmd/gnoland/secrets.go
  gno.land/cmd/gnoland/secrets_get.go
  gno.land/cmd/gnoland/secrets_get_test.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/consensus/config/config.go
  tm2/pkg/bft/mempool/config/config.go
  tm2/pkg/bft/privval/file.go
  tm2/pkg/bft/rpc/config/config.go
  tm2/pkg/bft/state/eventstore/types/config.go
  tm2/pkg/p2p/config/config.go
  tm2/pkg/p2p/key.go
  tm2/pkg/telemetry/config/config.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2435 feat(telemetry): set otel service instance key id
  tm2/pkg/telemetry/config/config.go
  tm2/pkg/telemetry/metrics/metrics.go
Labels: :package: :globe_with_meridians: tendermint v2

#2285 docs: new validator docs (+ updated docs for gnoland cli)
  docs/gno-infrastructure/premining-balances.md
  docs/gno-infrastructure/validators/connect-to-existing-chain.md
  docs/gno-infrastructure/validators/faq.md
  docs/gno-infrastructure/validators/overview.md
  docs/gno-infrastructure/validators/running-a-validator.md
  docs/gno-infrastructure/validators/setting-up-a-new-chain.md
  docs/gno-tooling/cli/faucet/faucet.md
  docs/gno-tooling/cli/gnoland.md
  docs/gno-tooling/gno-tooling.md
Labels: :book: documentation

#2428 feat(gnoweb): Docs link to `gnokey list` with specific anchor
  gno.land/pkg/gnoweb/views/realm_help.html
Labels: :package: :mountain: gno.land

#2447 fix(tm2): rpc status validator power
  tm2/pkg/bft/rpc/core/status.go
Labels: :package: :globe_with_meridians: tendermint v2

#2019 fix(tm2/std)!: use snake_case JSON fields for MemFile and MemPackage
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/package_test.go
  tm2/pkg/std/memfile.go
Labels: breaking change, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2455 feat(stdlibs): add math/rand
  .github/workflows/docs-404-checker.yml
  .github/workflows/examples.yml
  CONTRIBUTING.md
  contribs/gnodev/go.mod
  contribs/gnofaucet/go.mod
  contribs/gnokeykc/go.mod
  contribs/gnomd/go.mod
  docs/getting-started/local-setup/installation.md
  docs/gno-infrastructure/validators/connect-to-existing-chain.md
  docs/gno-infrastructure/validators/setting-up-a-new-chain.md
  docs/reference/go-gno-compatibility.md
  examples/gno.land/p/demo/rand/gno.mod
  examples/gno.land/p/demo/rand/rand.gno
  examples/gno.land/p/demo/rand/rand0_filetest.gno
  examples/gno.land/p/demo/rand/rand_test.gno
  examples/gno.land/r/demo/art/gnoface/gno.mod
  examples/gno.land/r/demo/art/gnoface/gnoface.gno
  examples/gno.land/r/demo/art/gnoface/gnoface_test.gno
  examples/gno.land/r/x/manfred_outfmt/gno.mod
  examples/gno.land/r/x/manfred_outfmt/outfmt.gno
  examples/gno.land/r/x/manfred_outfmt/outfmt_test.gno
  gnovm/stdlibs/bytes/buffer_test.gno
  gnovm/stdlibs/bytes/bytes_test.gno
  gnovm/stdlibs/math/rand/auto_test.gno
  gnovm/stdlibs/math/rand/example_test.gno
  gnovm/stdlibs/math/rand/exp.gno
  gnovm/stdlibs/math/rand/normal.gno
  gnovm/stdlibs/math/rand/pcg.gno
  gnovm/stdlibs/math/rand/pcg_test.gno
  gnovm/stdlibs/math/rand/rand.gno
  gnovm/stdlibs/math/rand/rand_test.gno
  gnovm/stdlibs/math/rand/regress_test.gno
  gnovm/stdlibs/math/rand/zipf.gno
  gnovm/stdlibs/sort/sort_test.gno
  gnovm/tests/files/extern/p1/s2.gno
  gnovm/tests/files/import4.gno
  gnovm/tests/imports.go
  go.mod
  misc/autocounterd/go.mod
  misc/devdeps/go.mod
  misc/docs-linter/go.mod
  misc/loop/go.mod
  tm2/pkg/libtm/README.md
  tm2/pkg/libtm/go.mod
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#2416 feat(docs-linter): add lint for local links
  .github/workflows/docs-linter.yml
  docs/gno-infrastructure/validators/connect-to-existing-chain.md
  docs/how-to-guides/connecting-from-go.md
  docs/reference/stdlibs/std/testing.md
  misc/docs-linter/errors.go
  misc/docs-linter/jsx.go
  misc/docs-linter/links.go
  misc/docs-linter/main.go
  misc/docs-linter/main_test.go
  misc/docs-linter/urls.go
Labels: :book: documentation
