Repository gnolang/gno, pull requests merged in 2024-08, with the labels that each got.

#2145 feat(gnovm): add stacktraces and log them in panic messages
  gno.land/cmd/gnoland/testdata/panic.txtar
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/cmd/gno/run.go
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/gnolang/eval_test.go
  gnovm/pkg/gnolang/frame.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/tests/file.go
  gnovm/tests/files/panic0.gno
  gnovm/tests/files/panic0a.gno
  gnovm/tests/files/panic0b.gno
  gnovm/tests/files/panic0c.gno
  gnovm/tests/files/panic1.gno
  gnovm/tests/files/panic2a.gno
  gnovm/tests/files/panic2b.gno
  gnovm/tests/files/recover10.gno
  gnovm/tests/files/recover1b.gno
  gnovm/tests/files/recover8.gno
  gnovm/tests/files/std5_stdlibs.gno
  gnovm/tests/files/std8_stdlibs.gno
  gnovm/tests/files/time17_native.gno
  gnovm/tests/files/typeassert1.gno
  gnovm/tests/files/typeassert2a.gno
  gnovm/tests/files/typeassert9.gno
  gnovm/tests/files/zrealm_panic.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#2659 fix(docs): wrong `GetOrigCaller` usage reference
  docs/reference/stdlibs/std/chain.md
Labels: :book: documentation

#2664 chore: bump `gnolang/faucet` version to `v0.3.1`
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
Labels: :package: :mountain: gno.land

#2461 feat(gnoweb): added link to readme if present
  gno.land/pkg/gnoweb/gnoweb.go
  gno.land/pkg/gnoweb/views/realm_render.html
Labels: :package: :mountain: gno.land

#2399 feat(gnoland): Improve `gnoland config/secrets` command description
  gno.land/cmd/gnoland/config_get.go
  gno.land/cmd/gnoland/config_help.go
  gno.land/cmd/gnoland/config_set.go
  gno.land/cmd/gnoland/secrets_get.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2487 feat: add p/demo/entropy
  examples/gno.land/p/demo/entropy/entropy.gno
  examples/gno.land/p/demo/entropy/entropy_test.gno
  examples/gno.land/p/demo/entropy/gno.mod
  examples/gno.land/p/demo/entropy/z_filetest.gno
  examples/gno.land/r/demo/art/gnoface/gno.mod
  examples/gno.land/r/demo/art/gnoface/gnoface.gno
Labels: :receipt: package/realm

#2691 feat: add the `gnostats` server
  contribs/gnostats/go.mod
  contribs/gnostats/go.sum
  contribs/gnostats/proto/stats.pb.go
  contribs/gnostats/proto/stats.proto
  contribs/gnostats/proto/stats_grpc.pb.go
  contribs/gnostats/server/mock_test.go
  contribs/gnostats/server/server.go
  contribs/gnostats/server/server_test.go
  contribs/gnostats/server/subs.go
  contribs/gnostats/server/subs_test.go
Labels: :package: :mountain: gno.land

#2372 feat(examples): implement `r/events`, `p/authorizable`
  examples/gno.land/p/demo/ownable/errors.gno
  examples/gno.land/p/demo/ownable/exts/authorizable/authorizable.gno
  examples/gno.land/p/demo/ownable/exts/authorizable/authorizable_test.gno
  examples/gno.land/p/demo/ownable/exts/authorizable/errors.gno
  examples/gno.land/p/demo/ownable/exts/authorizable/gno.mod
  examples/gno.land/p/demo/ownable/ownable.gno
  examples/gno.land/p/demo/ownable/ownable_test.gno
  examples/gno.land/r/gnoland/events/administration.gno
  examples/gno.land/r/gnoland/events/errors.gno
  examples/gno.land/r/gnoland/events/events.gno
  examples/gno.land/r/gnoland/events/events_filetest.gno
  examples/gno.land/r/gnoland/events/events_test.gno
  examples/gno.land/r/gnoland/events/gno.mod
  examples/gno.land/r/gnoland/events/rendering.gno
  examples/gno.land/r/gnoland/home/gno.mod
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/home/overide_filetest.gno
Labels: :receipt: package/realm

#2697 chore(examples): update home page, add add test for r/events
  examples/gno.land/r/gnoland/events/errors.gno
  examples/gno.land/r/gnoland/events/events_test.gno
  examples/gno.land/r/gnoland/events/gno.mod
  examples/gno.land/r/gnoland/events/rendering.gno
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#2701 chore: update `gnolang/faucet` version to `v0.3.2`
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
Labels: :package: :mountain: gno.land

#2540 feat: render .md files from packages
  gno.land/pkg/gnoweb/static/js/renderer.js
  gno.land/pkg/gnoweb/views/funcs.html
  gno.land/pkg/gnoweb/views/package_file.html
Labels: :package: :mountain: gno.land

#2081 fix(gnovm): prevent cyclic references in type declarations
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/circular_constant.gno
  gnovm/tests/files/recursive1.gno
  gnovm/tests/files/recursive1a.gno
  gnovm/tests/files/recursive1b.gno
  gnovm/tests/files/recursive1c.gno
  gnovm/tests/files/recursive1d.gno
  gnovm/tests/files/recursive1e.gno
  gnovm/tests/files/recursive1f.gno
  gnovm/tests/files/recursive2.gno
  gnovm/tests/files/recursive2a.gno
  gnovm/tests/files/recursive2b.gno
  gnovm/tests/files/recursive2c.gno
  gnovm/tests/files/recursive2d.gno
  gnovm/tests/files/recursive3.gno
  gnovm/tests/files/recursive4.gno
  gnovm/tests/files/recursive4a.gno
  gnovm/tests/files/recursive5.gno
  gnovm/tests/files/recursive6.gno
  gnovm/tests/files/recursive6a.gno
  gnovm/tests/files/recursive7.gno
  gnovm/tests/files/recursive7a.gno
  gnovm/tests/files/recursive8.gno
  gnovm/tests/files/recursive9.gno
  gnovm/tests/files/recursive9a.gno
  gnovm/tests/files/recursive9b.gno
  gnovm/tests/files/recursive9c.gno
  gnovm/tests/files/recursive9d.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#1890 fix(gnovm): correct comparison between different types
  examples/gno.land/p/demo/uassert/uassert.gno
  examples/gno.land/p/demo/uassert/uassert_test.gno
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/types/cmp_databyte.gno
  gnovm/tests/files/types/cmp_iface_0_stdlibs.gno
  gnovm/tests/files/types/cmp_iface_1.gno
  gnovm/tests/files/types/cmp_iface_2.gno
  gnovm/tests/files/types/cmp_iface_3_stdlibs.gno
  gnovm/tests/files/types/cmp_iface_4.gno
  gnovm/tests/files/types/cmp_iface_5_stdlibs.gno
  gnovm/tests/files/types/cmp_iface_6.gno
  gnovm/tests/files/types/cmp_iface_7.gno
  gnovm/tests/files/types/cmp_primitive_0.gno
  gnovm/tests/files/types/cmp_primitive_1.gno
  gnovm/tests/files/types/cmp_primitive_2.gno
  gnovm/tests/files/types/cmp_primitive_3.gno
  gnovm/tests/files/types/cmp_slice_0.gno
  gnovm/tests/files/types/cmp_slice_1.gno
  gnovm/tests/files/types/cmp_slice_2.gno
  gnovm/tests/files/types/cmp_slice_3.gno
  gnovm/tests/files/types/cmp_slice_4.gno
  gnovm/tests/files/types/cmp_typeswitch.gno
  gnovm/tests/files/types/cmp_typeswitch_a.gno
  gnovm/tests/files/types/iface_eql.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#2647 fix(gnovm): handle non call expression valuedecl values
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/var20.gno
  gnovm/tests/files/vardecl.gno
Labels: :package: :robot: gnovm

#2656 chore: add a ugnot constant
  contribs/gnodev/cmd/gnodev/accounts.go
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/dev/node_test.go
  contribs/gnodev/pkg/dev/packages_test.go
  gno.land/cmd/gnoland/genesis_balances_add.go
  gno.land/cmd/gnoland/genesis_balances_add_test.go
  gno.land/cmd/gnoland/genesis_balances_export_test.go
  gno.land/cmd/gnoland/genesis_balances_remove_test.go
  gno.land/cmd/gnoland/genesis_txs_add_packages.go
  gno.land/cmd/gnoland/genesis_txs_add_sheet_test.go
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoclient/signer.go
  gno.land/pkg/gnoland/balance_test.go
  gno.land/pkg/gnoland/ugnot/denom.go
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/integration/testing_node.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gnovm/tests/file.go
  misc/docker-integration/integration_test.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#2613 feat(examples): add disperse (v2)
  examples/gno.land/r/demo/disperse/disperse.gno
  examples/gno.land/r/demo/disperse/doc.gno
  examples/gno.land/r/demo/disperse/errors.gno
  examples/gno.land/r/demo/disperse/gno.mod
  examples/gno.land/r/demo/disperse/util.gno
  examples/gno.land/r/demo/disperse/z_0_filetest.gno
  examples/gno.land/r/demo/disperse/z_1_filetest.gno
  examples/gno.land/r/demo/disperse/z_2_filetest.gno
  examples/gno.land/r/demo/disperse/z_3_filetest.gno
  examples/gno.land/r/demo/disperse/z_4_filetest.gno
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2116 feat: p/subscription
  examples/gno.land/p/demo/subscription/doc.gno
  examples/gno.land/p/demo/subscription/gno.mod
  examples/gno.land/p/demo/subscription/lifetime/errors.gno
  examples/gno.land/p/demo/subscription/lifetime/gno.mod
  examples/gno.land/p/demo/subscription/lifetime/lifetime.gno
  examples/gno.land/p/demo/subscription/lifetime/lifetime_test.gno
  examples/gno.land/p/demo/subscription/recurring/errors.gno
  examples/gno.land/p/demo/subscription/recurring/gno.mod
  examples/gno.land/p/demo/subscription/recurring/recurring.gno
  examples/gno.land/p/demo/subscription/recurring/recurring_test.gno
  examples/gno.land/p/demo/subscription/subscription.gno
Labels: :receipt: package/realm

#2715 chore: gnoclient: Require Caller in Msg. Remove syntax sugar Msgs
  contribs/gnodev/pkg/dev/node_state_test.go
  contribs/gnodev/pkg/dev/node_test.go
  docs/how-to-guides/connecting-from-go.md
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoclient/util.go
Labels: breaking change, :package: :mountain: gno.land

#2724 fix: wrong url syntax
  examples/gno.land/r/demo/art/millipede/millipede.gno
  examples/gno.land/r/demo/art/millipede/millipede_test.gno
Labels: :receipt: package/realm

#2608 feat: gnobro, a terminal-based realm browser
  contribs/gnodev/Makefile
  contribs/gnodev/README.md
  contribs/gnodev/cmd/gnobro/assets/banner_land_1.txt
  contribs/gnodev/cmd/gnobro/assets/gn_hc1.utf8ans
  contribs/gnodev/cmd/gnobro/assets/gn_hc2.utf8ans
  contribs/gnodev/cmd/gnobro/assets/gn_hc3.utf8ans
  contribs/gnodev/cmd/gnobro/assets/gn_hc4.utf8ans
  contribs/gnodev/cmd/gnobro/banner.go
  contribs/gnodev/cmd/gnobro/main.go
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnodev/pkg/browser/client_dev.go
  contribs/gnodev/pkg/browser/client_node.go
  contribs/gnodev/pkg/browser/list_model.go
  contribs/gnodev/pkg/browser/model.go
  contribs/gnodev/pkg/browser/model_banner.go
  contribs/gnodev/pkg/browser/model_nav.go
  contribs/gnodev/pkg/browser/model_style.go
  contribs/gnodev/pkg/browser/model_tasks.go
  contribs/gnodev/pkg/browser/model_view.go
  contribs/gnodev/pkg/browser/utils.go
  contribs/gnodev/pkg/emitter/server.go
  contribs/gnodev/pkg/emitter/server_test.go
  gno.land/pkg/gnoweb/alias.go
  gno.land/pkg/gnoweb/gnoweb.go
Labels: :package: :mountain: gno.land

#2641 chore: In gnoclient, separate out SignTx and BroadcastTxCommit
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
Labels: :package: :mountain: gno.land

#1708 feat: In r/demo/users, add ListUsersByPrefix
  examples/gno.land/p/demo/avlhelpers/avlhelpers.gno
  examples/gno.land/p/demo/avlhelpers/gno.mod
  examples/gno.land/p/demo/avlhelpers/z_0_filetest.gno
  examples/gno.land/r/demo/users/gno.mod
  examples/gno.land/r/demo/users/users.gno
  examples/gno.land/r/demo/users/z_12_filetest.gno
Labels: :receipt: package/realm

#2706 feat(gnostats): add the agent
  contribs/gnostats/agent/agent.go
  contribs/gnostats/agent/agent_test.go
  contribs/gnostats/agent/collector.go
  contribs/gnostats/agent/collector_test.go
  contribs/gnostats/go.mod
  contribs/gnostats/go.sum
  contribs/gnostats/proto/stats.pb.go
  contribs/gnostats/proto/stats.proto
  contribs/gnostats/proto/stats_grpc.pb.go
Labels: :package: :globe_with_meridians: tendermint v2

#2629 feat(examples): a shifumi (rock, paper, scissors) smart contract
  examples/gno.land/r/demo/games/shifumi/gno.mod
  examples/gno.land/r/demo/games/shifumi/shifumi.gno
Labels: :receipt: package/realm
