Repository gnolang/gno, pull requests merged in 2024-04, with the labels that each got.

#1870 fix: use original `goleveldb` package
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  go.mod
  go.sum
  tm2/pkg/bft/config/config.go
  tm2/pkg/db/db.go
  tm2/pkg/db/goleveldb/go_level_db.go
  tm2/pkg/db/goleveldb/go_level_db_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1593 feat: add `gnoland secrets` command suite
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/secrets.go
  gno.land/cmd/gnoland/secrets_common.go
  gno.land/cmd/gnoland/secrets_common_test.go
  gno.land/cmd/gnoland/secrets_get.go
  gno.land/cmd/gnoland/secrets_get_test.go
  gno.land/cmd/gnoland/secrets_init.go
  gno.land/cmd/gnoland/secrets_init_test.go
  gno.land/cmd/gnoland/secrets_verify.go
  gno.land/cmd/gnoland/secrets_verify_test.go
  tm2/pkg/bft/privval/file.go
Labels: :seedling: feature, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1889 fix: ufmt multi-byte fix.
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
Labels: :receipt: package/realm

#1877 fix: labels error handling
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm

#1750 feat: Terminating analysis
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/static_analysis.go
  gnovm/pkg/gnolang/static_analysis_test.go
Labels: :package: :robot: gnovm

#1892 feat(gnoclient): add support for `MsgAddPackage`
  docs/reference/gnoclient/client.md
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain: gno.land

#1854 fix: top sort var/const globals
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/value_decl_dep_graph.go
  gnovm/tests/files/var18.gno
  gnovm/tests/files/var19.gno
  gnovm/tests/files/var20.gno
  gnovm/tests/files/var21.gno
Labels: :package: :robot: gnovm

#1601 fix: incorrect pointer value comparison
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/a47.gno
  gnovm/tests/files/a47a.gno
  gnovm/tests/files/a47b.gno
  gnovm/tests/files/a48.gno
  gnovm/tests/files/a48a.gno
  gnovm/tests/files/a49.gno
Labels: :package: :robot: gnovm

#1733 feat: add support for type declarations on pointer types
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/op_types.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/type33.gno
  gnovm/tests/files/type34.gno
  gnovm/tests/files/type35.gno
  gnovm/tests/files/type36.gno
  gnovm/tests/files/type37.gno
  gnovm/tests/files/type37a.gno
  gnovm/tests/files/type37b.gno
  gnovm/tests/files/type37c.gno
  gnovm/tests/files/type37d.gno
  gnovm/tests/files/type37e.gno
  gnovm/tests/files/type37f.gno
  gnovm/tests/files/type38.gno
  gnovm/tests/files/type39.gno
  gnovm/tests/files/type39a.gno
  gnovm/tests/files/type39b.gno
Labels: :package: :robot: gnovm

#1811 feat(examples): add todolist package & realm
  examples/gno.land/p/demo/todolist/gno.mod
  examples/gno.land/p/demo/todolist/todolist.gno
  examples/gno.land/p/demo/todolist/todolist_test.gno
  examples/gno.land/r/demo/todolist/gno.mod
  examples/gno.land/r/demo/todolist/todolist.gno
  examples/gno.land/r/demo/todolist/todolist_test.gno
Labels: :receipt: package/realm

#1894 chore(gnovm, tm2): changed `reflect.PtrTo` to `reflect.PointerTo`
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/op_types.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/types.go
  tm2/pkg/amino/codec.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#1905 fix(stdlibs/io): handle potential overflow in `NewSectionReader`
  gnovm/stdlibs/io/io.gno
Labels: :package: :robot: gnovm

#1790 feat: improve gnodev logging
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnodev/main.go
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/logger/colors.go
  contribs/gnodev/pkg/logger/log_column.go
  contribs/gnodev/pkg/logger/log_zap.go
  contribs/gnodev/pkg/rawterm/rawterm.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/integration/testing_node.go
Labels: :package: :mountain: gno.land

#1932 fix: use atomic for global counter used for parallel testing
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/values_conversions.go
Labels: :package: :robot: gnovm

#1916 feat: slightly improve node log lines
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoland/start_test.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/sdk/vm/keeper.go
  tm2/pkg/bft/consensus/state.go
  tm2/pkg/p2p/switch.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1782 fix: wugnot-to-respect-p_users
  examples/gno.land/r/demo/wugnot/gno.mod
  examples/gno.land/r/demo/wugnot/wugnot.gno
  examples/gno.land/r/demo/wugnot/z0_filetest.gno
  gno.land/cmd/gnoland/testdata/issue-1786.txtar
Labels: breaking change, :receipt: package/realm, :package: :mountain: gno.land

#1924 chore: fix typos and broken link
  gnovm/stdlibs/unicode/README.md
  tm2/pkg/iavl/PERFORMANCE.md
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#1863 feat: support crypto/ed25519.Verify
  docs/reference/go-gno-compatibility.md
  gnovm/stdlibs/crypto/ed25519/ed25519.gno
  gnovm/stdlibs/crypto/ed25519/ed25519.go
  gnovm/stdlibs/crypto/ed25519/ed25519_test.gno
  gnovm/stdlibs/native.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1546 feat(tm2): store tx results and add endpoint to query them
  gno.land/pkg/gnoclient/mock_test.go
  tm2/pkg/bft/rpc/client/httpclient.go
  tm2/pkg/bft/rpc/client/interface.go
  tm2/pkg/bft/rpc/client/localclient.go
  tm2/pkg/bft/rpc/client/mock/client.go
  tm2/pkg/bft/rpc/client/rpc_test.go
  tm2/pkg/bft/rpc/core/mock_test.go
  tm2/pkg/bft/rpc/core/routes.go
  tm2/pkg/bft/rpc/core/tx.go
  tm2/pkg/bft/rpc/core/tx_test.go
  tm2/pkg/bft/state/errors.go
  tm2/pkg/bft/state/execution.go
  tm2/pkg/bft/state/store.go
  tm2/pkg/bft/state/store_test.go
  tm2/pkg/bft/state/tx_result_test.go
  tm2/pkg/bft/types/tx.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1931 refactor: use `stretchr/testify` throughout codebase
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  gno.land/pkg/gnoland/types_test.go
  gno.land/pkg/integration/testing.go
  gno.land/pkg/integration/testing_node.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gnovm/pkg/gnoenv/gnohome_test.go
  gnovm/pkg/gnoenv/gnoroot_test.go
  gnovm/pkg/gnoenv/migration_test.go
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/go2gno_test.go
  gnovm/pkg/gnolang/gonative_test.go
  gnovm/pkg/gnolang/machine_test.go
  gnovm/pkg/gnolang/package_test.go
  gnovm/pkg/gnomod/preprocess_test.go
  gnovm/pkg/transpiler/transpiler_test.go
  gnovm/tests/package_test.go
  go.mod
  go.sum
  misc/genstd/mapping_test.go
  misc/genstd/util_test.go
  misc/logos/misc_test.go
  misc/logos/types_test.go
  tm2/pkg/amino/genproto/bindings_test.go
  tm2/pkg/amino/genproto/comments_test.go
  tm2/pkg/amino/genproto/genproto_test.go
  tm2/pkg/amino/genproto/types_test.go
  tm2/pkg/amino/libs/press/press_test.go
  tm2/pkg/amino/pkg/pkg_test.go
  tm2/pkg/amino/reflect_test.go
  tm2/pkg/amino/wellknown_test.go
  tm2/pkg/bech32/bech32_test.go
  tm2/pkg/bft/rpc/lib/client/http_client_test.go
  tm2/pkg/db/common_test.go
  tm2/pkg/db/goleveldb/go_level_db_test.go
  tm2/pkg/iavl/benchmarks/bench_test.go
  tm2/pkg/iavl/testutils_test.go
  tm2/pkg/log/testing.go
  tm2/pkg/service/service_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1943 fix(gnovm): assignment operators require 1 expression on both sides
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/assign22.gno
  gnovm/tests/files/assign23.gno
Labels: :package: :robot: gnovm

#1957 fix: remove gnofaucet leftover from gno.land Make
  gno.land/Makefile
Labels: hotfix, :package: :mountain: gno.land

#1954 refactor!: move `genesis` to `gnoland genesis`
  gno.land/Makefile
  gno.land/cmd/gnoland/genesis.go
  gno.land/cmd/gnoland/genesis_balances.go
  gno.land/cmd/gnoland/genesis_balances_add.go
  gno.land/cmd/gnoland/genesis_balances_add_test.go
  gno.land/cmd/gnoland/genesis_balances_export.go
  gno.land/cmd/gnoland/genesis_balances_export_test.go
  gno.land/cmd/gnoland/genesis_balances_remove.go
  gno.land/cmd/gnoland/genesis_balances_remove_test.go
  gno.land/cmd/gnoland/genesis_generate.go
  gno.land/cmd/gnoland/genesis_generate_test.go
  gno.land/cmd/gnoland/genesis_txs.go
  gno.land/cmd/gnoland/genesis_txs_add.go
  gno.land/cmd/gnoland/genesis_txs_add_test.go
  gno.land/cmd/gnoland/genesis_txs_export.go
  gno.land/cmd/gnoland/genesis_txs_export_test.go
  gno.land/cmd/gnoland/genesis_txs_remove.go
  gno.land/cmd/gnoland/genesis_txs_remove_test.go
  gno.land/cmd/gnoland/genesis_validator.go
  gno.land/cmd/gnoland/genesis_validator_add.go
  gno.land/cmd/gnoland/genesis_validator_add_test.go
  gno.land/cmd/gnoland/genesis_validator_remove.go
  gno.land/cmd/gnoland/genesis_validator_remove_test.go
  gno.land/cmd/gnoland/genesis_verify.go
  gno.land/cmd/gnoland/genesis_verify_test.go
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/types.go
Labels: breaking change, :package: :mountain: gno.land

#1942 fix(cmd/gnoland): fixup startup ascii art
  gno.land/cmd/gnoland/start.go
Labels: :package: :mountain: gno.land

#1970 chore: move telemetry package
  gno.land/cmd/gnoland/start.go
  tm2/pkg/bft/consensus/state.go
  tm2/pkg/p2p/switch.go
  tm2/pkg/telemetry/README.md
  tm2/pkg/telemetry/exporter/error.go
  tm2/pkg/telemetry/init.go
  tm2/pkg/telemetry/metrics/init.go
  tm2/pkg/telemetry/options.go
  tm2/pkg/telemetry/options/config.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1881 test(p/avl): increase test coverage
  examples/gno.land/p/demo/avl/node.gno
  examples/gno.land/p/demo/avl/node_test.gno
  examples/gno.land/p/demo/avl/tree.gno
  examples/gno.land/p/demo/avl/tree_test.gno
Labels: :receipt: package/realm

#1903 fix(docs): replace `gno build` with `gno transpile --gobuild`
  docs/reference/go-gno-compatibility.md
  gnovm/cmd/gno/README.md
  gnovm/tests/challenges/unused0.gno
Labels: :book: documentation, :package: :robot: gnovm

#1977 feat: bump max faucet drip amount
  contribs/gnofaucet/serve.go
Labels: :package: :mountain: gno.land

#1956 fix(gnovm): revert "top sort var/const globals (#1854)"
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/value_decl_dep_graph.go
  gnovm/tests/files/var18.gno
  gnovm/tests/files/var19.gno
  gnovm/tests/files/var20.gno
  gnovm/tests/files/var21.gno
Labels: :package: :robot: gnovm

#1698 feat(stdlibs): add `math/overflow`
  examples/gno.land/p/demo/groups/gno.mod
  examples/gno.land/p/demo/groups/vote_set.gno
  examples/gno.land/p/demo/maths/gno.mod
  examples/gno.land/p/demo/rat/gno.mod
  examples/gno.land/p/demo/rat/maths.gno
  examples/gno.land/p/demo/rat/rat.gno
  gnovm/stdlibs/math/overflow/overflow.gno
  gnovm/stdlibs/math/overflow/overflow_test.gno
  gnovm/tests/files/maths_int16_long.gno
  gnovm/tests/files/maths_int8.gno
  gnovm/tests/imports.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#1879 feat(txtar): create user from passed mnemonic, account and index
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/testdata/adduserfrom.txtar
  gno.land/pkg/integration/testing_integration.go
Labels: :package: :mountain: gno.land

#1944 feat: standardize node directory structure
  .dockerignore
  .gitignore
  contribs/gnokeykc/go.mod
  docs/getting-started/local-setup/premining-balances.md
  docs/getting-started/local-setup/setting-up-a-local-chain.md
  docs/gno-tooling/cli/gnoland.md
  gno.land/Makefile
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/node_inmemory.go
  gnovm/pkg/doc/dirs_test.go
  misc/deployments/staging.gno.land/Makefile
  misc/deployments/staging.gno.land/docker-compose.yml
  misc/docker-compose/docker-compose.yml
  misc/loop/cmd/snapshotter.go
  misc/loop/scripts/start.sh
  tm2/pkg/bft/blockchain/reactor_test.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/config_test.go
  tm2/pkg/bft/config/toml.go
  tm2/pkg/bft/config/toml_test.go
  tm2/pkg/bft/config/utils.go
  tm2/pkg/bft/consensus/common_test.go
  tm2/pkg/bft/consensus/config/config.go
  tm2/pkg/bft/consensus/config/utils.go
  tm2/pkg/bft/consensus/mempool_test.go
  tm2/pkg/bft/consensus/replay_file.go
  tm2/pkg/bft/consensus/replay_test.go
  tm2/pkg/bft/consensus/types/height_vote_set_test.go
  tm2/pkg/bft/consensus/wal_generator.go
  tm2/pkg/bft/consensus/wal_test.go
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/node/node_test.go
  tm2/pkg/bft/rpc/client/examples_test.go
  tm2/pkg/bft/rpc/client/rpc_test.go
  tm2/pkg/bft/rpc/test/helpers.go
  tm2/pkg/bft/state/state_test.go
  tm2/pkg/bft/state/store_test.go
  tm2/pkg/bft/store/store_test.go
  tm2/pkg/crypto/keys/utils.go
Labels: breaking change, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1938 feat(gnodev): add balances & keybase support
  contribs/gnodev/Makefile
  contribs/gnodev/cmd/gnodev/accounts.go
  contribs/gnodev/cmd/gnodev/logger.go
  contribs/gnodev/cmd/gnodev/main.go
  contribs/gnodev/cmd/gnodev/setup_address_book.go
  contribs/gnodev/cmd/gnodev/setup_node.go
  contribs/gnodev/cmd/gnodev/setup_term.go
  contribs/gnodev/cmd/gnodev/setup_web.go
  contribs/gnodev/go.mod
  contribs/gnodev/pkg/address/book.go
  contribs/gnodev/pkg/address/book_test.go
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/dev/packages.go
  contribs/gnodev/pkg/dev/packages_test.go
  contribs/gnodev/pkg/dev/pkgs.go
  contribs/gnodev/pkg/emitter/middleware.go
  contribs/gnodev/pkg/logger/colors.go
  contribs/gnodev/pkg/logger/log_column.go
  contribs/gnodev/pkg/rawterm/keypress.go
  contribs/gnodev/pkg/watcher/watch.go
  docs/gno-tooling/cli/gnodev.md
  gno.land/cmd/gnoland/genesis_balances_add.go
  gno.land/cmd/gnoland/genesis_balances_add_test.go
  gno.land/cmd/gnoland/genesis_balances_remove.go
  gno.land/cmd/gnoland/types.go
  gno.land/pkg/gnoland/balance.go
  gno.land/pkg/gnoland/balance_test.go
  gno.land/pkg/gnoland/types.go
  gno.land/pkg/gnoland/types_test.go
  tm2/pkg/crypto/keys/client/export.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1972 feat(gnoland): pass genesis file as a flag
  gno.land/cmd/gnoland/config_get_test.go
  gno.land/cmd/gnoland/config_set_test.go
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoland/start_test.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/config_test.go
  tm2/pkg/bft/config/toml.go
  tm2/pkg/bft/config/toml_test.go
  tm2/pkg/bft/consensus/replay_file.go
  tm2/pkg/bft/rpc/test/helpers.go
  tm2/pkg/bft/store/store_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1984 fix: keep data as default gnohome keybase db
  contribs/gnokeykc/go.mod
  tm2/pkg/crypto/keys/utils.go
Labels: hotfix, :package: :globe_with_meridians: tendermint v2

#1940 chore: archive old demo
  examples/gno.land/p/archives/bank/gno.mod
  examples/gno.land/p/archives/bank/types.gno
Labels: :receipt: package/realm

#1430 fix: consolidate vm gas consumption
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/machine.go
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/store/gas/store.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1212 feat: clean up `gnokey add` + add coverage
  .github/workflows/tm2.yml
  tm2/Makefile
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/client/add_bech32.go
  tm2/pkg/crypto/keys/client/add_bech32_test.go
  tm2/pkg/crypto/keys/client/add_ledger.go
  tm2/pkg/crypto/keys/client/add_ledger_skipped_test.go
  tm2/pkg/crypto/keys/client/add_ledger_test.go
  tm2/pkg/crypto/keys/client/add_multisig.go
  tm2/pkg/crypto/keys/client/add_multisig_test.go
  tm2/pkg/crypto/keys/client/add_test.go
  tm2/pkg/crypto/keys/keybase_ledger_skipped_test.go
  tm2/pkg/crypto/keys/keybase_ledger_test.go
  tm2/pkg/crypto/keys/keybase_test.go
  tm2/pkg/crypto/ledger/discover.go
  tm2/pkg/crypto/ledger/discover_mock.go
  tm2/pkg/crypto/ledger/ledger_secp256k1.go
Labels: :seedling: feature, :package: :globe_with_meridians: tendermint v2

#1949 feat(examples): add simple userbook realm
  examples/gno.land/r/demo/userbook/gno.mod
  examples/gno.land/r/demo/userbook/userbook.gno
  examples/gno.land/r/demo/userbook/userbook_test.gno
Labels: :receipt: package/realm

#1939 fix: remove empty timestamp from the tx signature payload
  gno.land/pkg/gnoclient/signer.go
  tm2/pkg/crypto/keys/client/sign.go
  tm2/pkg/crypto/keys/client/sign_test.go
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/auth/ante_test.go
  tm2/pkg/sdk/testutils/testutils.go
  tm2/pkg/std/doc.go
  tm2/pkg/std/doc_test.go
  tm2/pkg/std/tx.go
  tm2/pkg/std/utils.go
Labels: breaking change, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1910 feat(gnoclient): support fetching blocks, block results, latest block number
  docs/reference/gnoclient/client.md
  gno.land/pkg/gnoclient/client_queries.go
  gno.land/pkg/gnoclient/client_test.go
Labels: :package: :mountain: gno.land

#1653 feat(gnovm, tm2): implement event emission with `std.Emit`
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/cmd/gnoland/testdata/event.txtar
  gno.land/cmd/gnoland/testdata/event_callback.txtar
  gno.land/cmd/gnoland/testdata/event_defer_callback_loop.txtar
  gno.land/cmd/gnoland/testdata/event_for_statement.txtar
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/stdlibs/native.go
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/emit_event.gno
  gnovm/stdlibs/std/emit_event.go
  gnovm/stdlibs/std/emit_event_test.go
  gnovm/stdlibs/std/native.go
  gnovm/stdlibs/std/package.go
  gnovm/tests/file.go
  gnovm/tests/files/zrealm_natbind0.gno
  tm2/pkg/bft/abci/types/types.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/sdk.proto
Labels: breaking change, :seedling: feature, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land
