Repository gnolang/gno, pull requests merged in 2024-03, with the labels that each got.

#1603 refactor(tm2): make rpc client not depend on goleveldb
  contribs/gnodev/pkg/dev/node.go
  contribs/gnokeykc/go.mod
  tm2/pkg/bft/appconn/app_conn.go
  tm2/pkg/bft/appconn/multi_app_conn.go
  tm2/pkg/bft/blockchain/reactor_test.go
  tm2/pkg/bft/consensus/reactor.go
  tm2/pkg/bft/consensus/replay.go
  tm2/pkg/bft/consensus/replay_file.go
  tm2/pkg/bft/consensus/replay_test.go
  tm2/pkg/bft/consensus/types/peer_round_state.go
  tm2/pkg/bft/consensus/wal_generator.go
  tm2/pkg/bft/consensus/wal_test.go
  tm2/pkg/bft/mempool/clist_mempool.go
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/node/node_test.go
  tm2/pkg/bft/rpc/client/localclient.go
  tm2/pkg/bft/rpc/client/rpc_test.go
  tm2/pkg/bft/rpc/core/consensus.go
  tm2/pkg/bft/rpc/core/pipe.go
  tm2/pkg/bft/rpc/core/status.go
  tm2/pkg/bft/state/execution.go
  tm2/pkg/bft/state/execution_test.go
  tm2/pkg/bft/state/helpers_test.go
  tm2/pkg/bft/types/keys.go
Labels: :package: :globe_with_meridians: tendermint v2

#1701 chore: decapitalize short help and flag usage
  contribs/gnodev/main.go
  contribs/gnokeykc/kc.go
  gno.land/cmd/genesis/balances.go
  gno.land/cmd/genesis/balances_export.go
  gno.land/cmd/genesis/generate.go
  gno.land/cmd/genesis/txs.go
  gno.land/cmd/genesis/txs_add.go
  gno.land/cmd/genesis/txs_export.go
  gno.land/cmd/genesis/txs_remove.go
  gno.land/cmd/genesis/validator.go
  gno.land/cmd/genesis/verify.go
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/call.go
  gno.land/pkg/keyscli/maketx.go
  gno.land/pkg/keyscli/run.go
  gnovm/cmd/gno/clean.go
  gnovm/cmd/gno/env.go
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/repl.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/transpile.go
  tm2/pkg/commands/commands_test.go
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/delete.go
  tm2/pkg/crypto/keys/client/export.go
  tm2/pkg/crypto/keys/client/generate.go
  tm2/pkg/crypto/keys/client/import.go
  tm2/pkg/crypto/keys/client/list.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/crypto/keys/client/query.go
  tm2/pkg/crypto/keys/client/send.go
  tm2/pkg/crypto/keys/client/sign.go
  tm2/pkg/crypto/keys/client/verify.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1112 fix: copy value in `cv.map`
  gno.land/cmd/gnoland/testdata/pr-1112.txtar
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#1697 chore: use `.jsonl` instead of `.txt` for genesis_txs file
  docs/gno-tooling/cli/gnoland.md
  gno.land/cmd/gnoland/start.go
  gno.land/genesis/cleanup.sh
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/integration/testing_node.go
  misc/deployments/test3.gno.land/Makefile
  misc/deployments/test3.gno.land/docker-compose.yml
Labels: :package: :mountain: gno.land

#1716 feat(cmd/gno)!: change all `-verbose` flags to `-v`
  .github/workflows/examples.yml
  CONTRIBUTING.md
  docs/how-to-guides/testing-gno.md
  examples/Makefile
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_test/error_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/error_incorrect.txtar
  gnovm/cmd/gno/testdata/gno_test/error_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_filetest.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_test.txtar
  gnovm/cmd/gno/testdata/gno_test/flag_run.txtar
  gnovm/cmd/gno/testdata/gno_test/output_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/output_incorrect.txtar
  gnovm/cmd/gno/testdata/gno_test/output_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/pkg_underscore_test.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_incorrect.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/recover.txtar
  gnovm/cmd/gno/testdata/gno_test/skip.txtar
  gnovm/cmd/gno/testdata/gno_test/test_with-native-fallback.txtar
  gnovm/cmd/gno/testdata/gno_test/unknow_lib.txtar
  gnovm/cmd/gno/testdata/gno_test/valid_filetest.txtar
  gnovm/cmd/gno/transpile.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#1735 chore(gno.land): update content on pages
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_about.gno
  examples/gno.land/r/gnoland/pages/page_ecosystem.gno
  examples/gno.land/r/gnoland/pages/page_events.gno
  examples/gno.land/r/gnoland/pages/page_gnolang.gno
  examples/gno.land/r/gnoland/pages/page_gor.gno
  examples/gno.land/r/gnoland/pages/page_partners.gno
  examples/gno.land/r/gnoland/pages/page_testnets.gno
  examples/gno.land/r/gnoland/pages/pages_test.gno
Labels: :receipt: package/realm

#1737 chore(cmd/gno): remove dead/dormant flags from `repl`
  docs/gno-tooling/cli/gno.md
  gnovm/cmd/gno/repl.go
Labels: :package: :robot: gnovm

#1741 chore(gno.land): add playground section, add GopherconUS to events page
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_events.gno
Labels: :receipt: package/realm

#1740 chore(blog): make blog widget better
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#1742 docs: add index pages
  docs/concepts/concepts.md
  docs/getting-started/getting-started.md
  docs/gno-tooling/gno-tooling.md
  docs/how-to-guides/how-to-guides.md
  docs/reference/reference.md
  misc/docusaurus/sidebars.js
Labels: :book: documentation

#1743 chore(gnoweb): link header "start" button to docs: Getting Started
  gno.land/pkg/gnoweb/views/funcs.html
Labels: :package: :mountain: gno.land

#1744 fix(gno.land): update nebular text
  examples/gno.land/r/gnoland/pages/page_events.gno
Labels: :receipt: package/realm

#1715 chore(make): disable cgo, reorganise makefiles
  Makefile
  contribs/Makefile
  examples/Makefile
  gno.land/Makefile
  gnovm/Makefile
  misc/Makefile
  tm2/Makefile
  tm2/pkg/bft/state/state_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1723 feat: allow disabling consensus WAL
  gno.land/pkg/integration/testing_node.go
  tm2/pkg/bft/consensus/config/config.go
  tm2/pkg/bft/consensus/state.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1745 feat(txtar): handle quote for gnokey
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/integration_test.go
  gno.land/pkg/integration/testing_integration.go
Labels: :package: :mountain: gno.land

#1753 chore(gnoweb): update link to the docs
  gno.land/pkg/gnoweb/views/funcs.html
Labels: :package: :mountain: gno.land

#1605 feat: add `gnoland config` command suite
  gno.land/cmd/genesis/balances_add_test.go
  gno.land/cmd/gnoland/config.go
  gno.land/cmd/gnoland/config_get.go
  gno.land/cmd/gnoland/config_get_test.go
  gno.land/cmd/gnoland/config_init.go
  gno.land/cmd/gnoland/config_init_test.go
  gno.land/cmd/gnoland/config_set.go
  gno.land/cmd/gnoland/config_set_test.go
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoland/start_test.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/db/db.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1763 chore(gnoweb/docs): better website connectivity
  examples/gno.land/r/gnoland/pages/page_gor.gno
  gno.land/pkg/gnoweb/views/funcs.html
  misc/docusaurus/docusaurus.config.js
Labels: :book: documentation, :receipt: package/realm, :package: :mountain: gno.land

#1746 refactor(tm2): remove pkg/maths in favour of min/max
  tm2/pkg/bft/mempool/clist_mempool.go
  tm2/pkg/bft/rpc/client/rpc_test.go
  tm2/pkg/bft/rpc/core/blocks.go
  tm2/pkg/bft/state/store.go
  tm2/pkg/bft/types/block.go
  tm2/pkg/bft/types/part_set.go
  tm2/pkg/bft/types/signable.go
  tm2/pkg/bft/types/validator_set_test.go
  tm2/pkg/bitarray/bit_array.go
  tm2/pkg/maths/math.go
  tm2/pkg/p2p/conn/connection.go
Labels: :package: :globe_with_meridians: tendermint v2

#1767 feat(p/ufmt): add ufmt.Errorf
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
Labels: :receipt: package/realm

#1614 feat: swap legacy faucet implementation
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  gno.land/cmd/gnofaucet/README.md
  gno.land/cmd/gnofaucet/middleware.go
  gno.land/cmd/gnofaucet/serve.go
  gno.land/cmd/gnofaucet/throttle.go
  gno.land/cmd/gnofaucet/throttle_test.go
  gno.land/pkg/gnoweb/views/faucet.html
  go.mod
  go.sum
  misc/loop/go.mod
  misc/loop/go.sum
Labels: breaking change, :package: :mountain: gno.land

#1772 chore(p/math_eval, gnovm): Simplifying Previous Error Formatting with `Errorf`
  examples/gno.land/p/demo/math_eval/int32/int32.gno
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/preprocess.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#1700 feat(stdlibs): remove support for linkedType in native bindings
  gno.land/pkg/sdk/vm/builtins.go
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/store.go
  gnovm/stdlibs/native.go
  gnovm/stdlibs/std/banker.gno
  gnovm/stdlibs/std/banker.go
  gnovm/stdlibs/std/coins.gno
  gnovm/stdlibs/std/context.gno
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/frame.go
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
  gnovm/stdlibs/stdlibs.go
  gnovm/tests/files/zrealm_natbind0.gno
  gnovm/tests/imports.go
  gnovm/tests/stdlibs/native.go
  gnovm/tests/stdlibs/std/std.gno
  gnovm/tests/stdlibs/std/std.go
  misc/genstd/exprstring.go
  misc/genstd/mapping.go
  misc/genstd/mapping_test.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#1789 feat: add devx faucet account
  gno.land/genesis/genesis_balances.txt
Labels: :package: :mountain: gno.land

#1783 chore: add r/demo/echo
  examples/gno.land/r/demo/echo/echo.gno
  examples/gno.land/r/demo/echo/echo_test.gno
  examples/gno.land/r/demo/echo/gno.mod
Labels: :receipt: package/realm

#1784 feat: `ufmt` package to print all numeric primitive
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
Labels: :receipt: package/realm

#1751 feat(examples): add memeland
  examples/gno.land/p/demo/memeland/gno.mod
  examples/gno.land/p/demo/memeland/memeland.gno
  examples/gno.land/p/demo/memeland/memeland_test.gno
  examples/gno.land/r/demo/memeland/gno.mod
  examples/gno.land/r/demo/memeland/memeland.gno
Labels: don't merge, :receipt: package/realm

#1800 fix(memeland): sort by newest instead of by oldest
  examples/gno.land/p/demo/memeland/memeland.gno
  examples/gno.land/p/demo/memeland/memeland_test.gno
Labels: :receipt: package/realm

#1711 docs: gno does not support shadowing native types
  docs/reference/go-gno-compatibility.md
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm

#1618 feat(pkg/std): ensure files are sorted in a `MemPackage`
  gno.land/pkg/sdk/vm/keeper.go
  tm2/pkg/std/memfile.go
  tm2/pkg/std/memfile_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1810 chore(gnoland/testdata): `mv pr-1112.txtar map-storage.txtar`
  gno.land/cmd/gnoland/testdata/map-storage.txtar
Labels: :package: :mountain: gno.land

#1787 fix(stdlibs/std): Banker should only send coins owned by the calling realm
  docs/concepts/standard-library/coin.md
  examples/gno.land/r/demo/banktest/banktest.gno
  examples/gno.land/r/demo/banktest/z_0_filetest.gno
  examples/gno.land/r/demo/banktest/z_1_filetest.gno
  examples/gno.land/r/demo/wugnot/wugnot.gno
  examples/gno.land/r/gnoland/faucet/faucet.gno
  examples/gno.land/r/gnoland/faucet/faucet_test.gno
  examples/gno.land/r/gnoland/faucet/z0_filetest.gno
  examples/gno.land/r/gnoland/faucet/z1_filetest.gno
  examples/gno.land/r/gnoland/faucet/z2_filetest.gno
  examples/gno.land/r/gnoland/faucet/z3_filetest.gno
  gno.land/cmd/gnoland/testdata/issue-1786.txtar
  gnovm/stdlibs/std/banker.go
Labels: breaking change, :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#1793 feat: implement shadowing rules
  examples/gno.land/r/x/manfred_outfmt/outfmt.gno
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/stdlibs/math/all_test.gno
  gnovm/stdlibs/math/bits/bits_test.gno
  gnovm/stdlibs/regexp/regexp.gno
  gnovm/stdlibs/regexp/syntax/prog.gno
  gnovm/stdlibs/time/time.gno
  gnovm/tests/files/define3.gno
  gnovm/tests/files/define4.gno
Labels: breaking change, :receipt: package/realm, :package: :robot: gnovm

#1839 fix(gnoweb): fixed broken URL link
  gno.land/pkg/gnoweb/views/realm_help.html
Labels: :package: :mountain: gno.land

#1769 feat(gnoland): in `config`, refer to fields using toml struct tags
  gno.land/cmd/gnoland/config.go
  gno.land/cmd/gnoland/config_get_test.go
  gno.land/cmd/gnoland/config_set_test.go
  tm2/pkg/bft/config/config.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1732 fix: Corrected the comparison between an untyped constant and an interface
  examples/gno.land/r/demo/foo1155/foo1155_test.gno
  examples/gno.land/r/demo/foo721/foo721_test.gno
Labels: :receipt: package/realm

#1845 feat: issue warning when gno test package can't be resolved
  gnovm/cmd/gno/test.go
Labels: :package: :robot: gnovm

#1846 feat: meaningful realm finalization panic messages
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm

#1819 feat(p/ufmt): Support `Println`
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
Labels: :receipt: package/realm

#1799 feat: full `std.Address` validation
  examples/gno.land/r/demo/foo20/foo20_test.gno
  gno.land/cmd/gnoland/testdata/grc20-invalid-address.txtar
  gnovm/stdlibs/std/crypto.gno
  gnovm/stdlibs/std/crypto_test.gno
  gnovm/stdlibs/stdshim/crypto.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#1809 feat(stdlibs): Fuzz for String
  gnovm/stdlibs/testing/fuzz.gno
  gnovm/stdlibs/testing/fuzz_test.gno
  gnovm/stdlibs/testing/random.gno
  gnovm/stdlibs/testing/random_test.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#1764 feat(stdlib): add `unicode/utf16` pacakge
  docs/reference/go-gno-compatibility.md
  gnovm/pkg/transpiler/transpiler.go
  gnovm/stdlibs/unicode/utf16/utf16.gno
  gnovm/stdlibs/unicode/utf16/utf16_test.gno
Labels: :package: :robot: gnovm

#1778 feat(p/uint256): uint256
  examples/gno.land/p/demo/uint256/LICENSE
  examples/gno.land/p/demo/uint256/README.md
  examples/gno.land/p/demo/uint256/arithmetic.gno
  examples/gno.land/p/demo/uint256/arithmetic_test.gno
  examples/gno.land/p/demo/uint256/bits_table.gno
  examples/gno.land/p/demo/uint256/bitwise.gno
  examples/gno.land/p/demo/uint256/bitwise_test.gno
  examples/gno.land/p/demo/uint256/cmp.gno
  examples/gno.land/p/demo/uint256/cmp_test.gno
  examples/gno.land/p/demo/uint256/conversion.gno
  examples/gno.land/p/demo/uint256/conversion_test.gno
  examples/gno.land/p/demo/uint256/error.gno
  examples/gno.land/p/demo/uint256/gno.mod
  examples/gno.land/p/demo/uint256/mod.gno
  examples/gno.land/p/demo/uint256/uint256.gno
  examples/gno.land/p/demo/uint256/utils.gno
Labels: :receipt: package/realm

#1817 chore(memeland): add sorting condition
  examples/gno.land/p/demo/memeland/memeland.gno
  examples/gno.land/p/demo/memeland/memeland_test.gno
Labels: :receipt: package/realm

#1808 feat: add adena wallet in-app faucet account
  gno.land/genesis/genesis_balances.txt
Labels: :package: :mountain: gno.land

#1848 feat(p/int256): int256
  examples/gno.land/p/demo/int256/LICENSE
  examples/gno.land/p/demo/int256/README.md
  examples/gno.land/p/demo/int256/absolute.gno
  examples/gno.land/p/demo/int256/absolute_test.gno
  examples/gno.land/p/demo/int256/arithmetic.gno
  examples/gno.land/p/demo/int256/arithmetic_test.gno
  examples/gno.land/p/demo/int256/bitwise.gno
  examples/gno.land/p/demo/int256/bitwise_test.gno
  examples/gno.land/p/demo/int256/cmp.gno
  examples/gno.land/p/demo/int256/cmp_test.gno
  examples/gno.land/p/demo/int256/conversion.gno
  examples/gno.land/p/demo/int256/conversion_test.gno
  examples/gno.land/p/demo/int256/gno.mod
  examples/gno.land/p/demo/int256/int256.gno
  examples/gno.land/p/demo/int256/int256_test.gno
Labels: :receipt: package/realm

#1415 feat: byte slice JSON parser
  examples/gno.land/p/demo/json/LICENSE
  examples/gno.land/p/demo/json/README.md
  examples/gno.land/p/demo/json/buffer.gno
  examples/gno.land/p/demo/json/buffer_test.gno
  examples/gno.land/p/demo/json/decode.gno
  examples/gno.land/p/demo/json/decode_test.gno
  examples/gno.land/p/demo/json/eisel_lemire/eisel_lemire.gno
  examples/gno.land/p/demo/json/eisel_lemire/gno.mod
  examples/gno.land/p/demo/json/encode.gno
  examples/gno.land/p/demo/json/encode_test.gno
  examples/gno.land/p/demo/json/escape.gno
  examples/gno.land/p/demo/json/escape_test.gno
  examples/gno.land/p/demo/json/gno.mod
  examples/gno.land/p/demo/json/indent.gno
  examples/gno.land/p/demo/json/indent_test.gno
  examples/gno.land/p/demo/json/internal.gno
  examples/gno.land/p/demo/json/node.gno
  examples/gno.land/p/demo/json/node_test.gno
  examples/gno.land/p/demo/json/parser.gno
  examples/gno.land/p/demo/json/parser_test.gno
  examples/gno.land/p/demo/json/path.gno
  examples/gno.land/p/demo/json/path_test.gno
  examples/gno.land/p/demo/json/ryu/License
  examples/gno.land/p/demo/json/ryu/floatconv.gno
  examples/gno.land/p/demo/json/ryu/floatconv_test.gno
  examples/gno.land/p/demo/json/ryu/gno.mod
  examples/gno.land/p/demo/json/ryu/ryu64.gno
  examples/gno.land/p/demo/json/ryu/table.gno
  examples/gno.land/p/demo/json/token.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#1672 fix: fix the scope of `recover()`
  gnovm/cmd/gno/testdata/gno_test/recover.txtar
  gnovm/pkg/gnolang/frame.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/pkg/gnolang/op_exec.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/stdlibs/std/native.go
  gnovm/stdlibs/testing/testing.gno
  gnovm/tests/files/recover10.gno
  gnovm/tests/files/recover10a.gno
  gnovm/tests/files/recover11.gno
  gnovm/tests/files/recover12a.gno
  gnovm/tests/files/recover12b.gno
  gnovm/tests/files/recover5b.gno
  gnovm/tests/files/recover8.gno
  gnovm/tests/files/recover9.gno
  gnovm/tests/stdlibs/std/std.go
Labels: :package: :robot: gnovm

#1807 fix: hardcode max vm cycles in keeper
  contribs/gnodev/pkg/dev/node.go
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/sdk/vm/common_test.go
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land
