Repository gnolang/gno, pull requests merged in 2024-11, with the labels that each got.

#2941 feat: support metadata for genesis txs
  contribs/gnodev/cmd/gnodev/setup_node.go
  contribs/gnodev/cmd/gnodev/txs.go
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/dev/node_state.go
  contribs/gnodev/pkg/dev/packages.go
  contribs/gnogenesis/internal/txs/txs.go
  contribs/gnogenesis/internal/txs/txs_add_packages.go
  contribs/gnogenesis/internal/txs/txs_add_packages_test.go
  contribs/gnogenesis/internal/txs/txs_add_sheet.go
  contribs/gnogenesis/internal/txs/txs_add_sheet_test.go
  contribs/gnogenesis/internal/txs/txs_export_test.go
  contribs/gnogenesis/internal/txs/txs_list_test.go
  contribs/gnogenesis/internal/txs/txs_remove.go
  contribs/gnogenesis/internal/txs/txs_remove_test.go
  contribs/gnogenesis/internal/verify/verify.go
  contribs/gnogenesis/internal/verify/verify_test.go
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/gnoland/balance_test.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/gnoland/package.go
  gno.land/pkg/gnoland/types.go
  gno.land/pkg/gnoland/types_test.go
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/integration/testing_node.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/helpers.go
Labels: breaking change, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3063 feat: add `contribs/gnomigrate`
  contribs/gnomigrate/Makefile
  contribs/gnomigrate/README.md
  contribs/gnomigrate/go.mod
  contribs/gnomigrate/go.sum
  contribs/gnomigrate/internal/txs/txs.go
  contribs/gnomigrate/internal/txs/txs_test.go
  contribs/gnomigrate/main.go
  contribs/gnomigrate/migrate.go
Labels: :package: :mountain: gno.land

#3065 chore: tidy `misc/loop` mod
  .github/workflows/mod-tidy.yml
  contribs/gnomigrate/go.mod
  gno.land/pkg/gnoland/types.go
  misc/loop/go.sum
Labels: :package: :mountain: gno.land

#3000 fix(tm2): rename methods to avoid conflicts with (un)marshaler interfaces
  .github/golangci.yml
  tm2/pkg/amino/amino.go
  tm2/pkg/amino/benchmark_test.go
  tm2/pkg/amino/json_test.go
  tm2/pkg/amino/reflect_test.go
  tm2/pkg/amino/repr_test.go
  tm2/pkg/amino/tests/fuzz/json/debug/main.go
  tm2/pkg/amino/tests/fuzz/json/json.go
Labels: :package: :globe_with_meridians: tendermint v2, in focus

#3069 chore: fix lint issues from `go vet`
  gno.land/pkg/sdk/vm/handler_test.go
  gno.land/pkg/sdk/vm/keeper_test.go
Labels: :package: :mountain: gno.land

#2876 feat: change `gnoweb` to add URL query string to render path
  examples/gno.land/p/moul/helplink/helplink.gno
  examples/gno.land/p/moul/helplink/helplink_test.gno
  examples/gno.land/p/moul/txlink/txlink.gno
  examples/gno.land/p/moul/txlink/txlink_test.gno
  examples/gno.land/r/demo/boards/README.md
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/boards/z_10_c_filetest.gno
  examples/gno.land/r/demo/boards/z_10_filetest.gno
  examples/gno.land/r/demo/boards/z_11_d_filetest.gno
  examples/gno.land/r/demo/boards/z_11_filetest.gno
  examples/gno.land/r/demo/boards/z_12_filetest.gno
  examples/gno.land/r/demo/boards/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_3_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/boards/z_5_c_filetest.gno
  examples/gno.land/r/demo/boards/z_5_filetest.gno
  examples/gno.land/r/demo/boards/z_6_filetest.gno
  examples/gno.land/r/demo/boards/z_7_filetest.gno
  examples/gno.land/r/demo/boards/z_8_filetest.gno
  examples/gno.land/r/demo/boards/z_9_filetest.gno
  examples/gno.land/r/demo/games/dice_roller/dice_roller.gno
  examples/gno.land/r/demo/games/shifumi/shifumi.gno
  examples/gno.land/r/demo/profile/render.gno
  examples/gno.land/r/demo/tamagotchi/realm.gno
  examples/gno.land/r/demo/tamagotchi/z0_filetest.gno
  examples/gno.land/r/gnoland/events/rendering.gno
  examples/gno.land/r/morgan/guestbook/guestbook.gno
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/gnoweb/gnoweb.go
  gno.land/pkg/gnoweb/gnoweb_test.go
  gno.land/pkg/gnoweb/views/realm_help.html
  gno.land/pkg/gnoweb/views/realm_render.html
  misc/deployments/test4.gno.land/genesis.json
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb

#3071 test(cmd/gno): prevent nil deref in testMainCaseRun
  gnovm/cmd/gno/main_test.go
Labels: :package: :robot: gnovm

#2804 ci: add a stale bot for PRs
  .github/workflows/stale-bot.yml
Labels: in focus

#3074 feat: add `r/demo/daoweb` realm
  examples/gno.land/r/demo/daoweb/daoweb.gno
  examples/gno.land/r/demo/daoweb/gno.mod
Labels: :receipt: package/realm

#3047 chore: `s/Gno.land/gno.land/g`
  README.md
  docs/concepts/namespaces.md
  docs/concepts/testnets.md
  docs/getting-started/local-setup/installation.md
  docs/getting-started/playground-start.md
  docs/gno-infrastructure/validators/faq.md
  docs/gno-infrastructure/validators/overview.md
  docs/how-to-guides/connecting-from-go.md
  docs/overview.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_about.gno
  examples/gno.land/r/gnoland/pages/page_ecosystem.gno
  examples/gno.land/r/gnoland/pages/page_gnolang.gno
  examples/gno.land/r/gnoland/pages/page_testnets.gno
  examples/gno.land/r/gnoland/pages/page_tokenomics.gno
  examples/gno.land/r/gnoland/pages/pages_test.gno
  examples/gno.land/r/stefann/home/home.gno
  gno.land/README.md
  gno.land/genesis/README.md
  gno.land/pkg/gnoclient/README.md
  gno.land/pkg/gnoweb/views/faucet.html
  gno.land/pkg/gnoweb/views/funcs.html
  gno.land/pkg/gnoweb/views/generic.html
  gno.land/pkg/gnoweb/views/package_dir.html
  gno.land/pkg/gnoweb/views/package_file.html
  gno.land/pkg/gnoweb/views/realm_help.html
  gno.land/pkg/gnoweb/views/realm_render.html
  gnovm/pkg/gnolang/store.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#2584 feat: add p/avl/pager
  examples/gno.land/p/demo/avl/pager/gno.mod
  examples/gno.land/p/demo/avl/pager/pager.gno
  examples/gno.land/p/demo/avl/pager/pager_test.gno
  examples/gno.land/p/demo/avl/pager/z_filetest.gno
  examples/gno.land/r/demo/users/gno.mod
  examples/gno.land/r/demo/users/users.gno
  examples/gno.land/r/demo/users/z_5_filetest.gno
Labels: :receipt: package/realm

#3076 fix(gnovm): don't print to stdout by default
  contribs/gnodev/pkg/dev/node.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#2896 fix(gnovm): prevent assignment to non-assignable expressions
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/tests/files/assign29.gno
  gnovm/tests/files/assign30.gno
  gnovm/tests/files/assign31.gno
  gnovm/tests/files/var31.gno
  gnovm/tests/files/var32.gno
  gnovm/tests/files/var33.gno
Labels: :package: :robot: gnovm

#3088 test(ci): coverpkg=gno.land/... for txtar tests
  .github/workflows/gnoland.yml
  .github/workflows/main_template.yml
  .github/workflows/test_template.yml
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3083 fix(cmd/gno/clean): allow to run `gno clean -modcache` from anywhere + rename and use `gnomod.ModCachePath` + tmp `GNOHOME` in main tests
  gnovm/cmd/gno/clean.go
  gnovm/cmd/gno/clean_test.go
  gnovm/cmd/gno/env_test.go
  gnovm/cmd/gno/main_test.go
  gnovm/cmd/gno/mod.go
  gnovm/pkg/gnomod/gnomod.go
Labels: :package: :robot: gnovm

#3094 feat: add p/moul/realmpath
  examples/gno.land/p/moul/realmpath/gno.mod
  examples/gno.land/p/moul/realmpath/realmpath.gno
  examples/gno.land/p/moul/realmpath/realmpath_test.gno
Labels: :receipt: package/realm

#3092 feat: add initial `test5.gno.land` deployment
  misc/deployments/test5.gno.land/CHECKLIST.md
  misc/deployments/test5.gno.land/README.md
  misc/deployments/test5.gno.land/config.toml
  misc/deployments/test5.gno.land/genesis.json
  misc/deployments/test5.gno.land/genesis_balances.txt
  misc/deployments/test5.gno.land/genesis_txs.jsonl
Labels: :package: :mountain: gno.land, in focus

#3110 chore: copy `boards` realm to `boards2`
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/boards.gno
  examples/gno.land/r/demo/boards2/gno.mod
  examples/gno.land/r/demo/boards2/misc.gno
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/public.gno
  examples/gno.land/r/demo/boards2/render.gno
  examples/gno.land/r/demo/boards2/role.gno
Labels: :receipt: package/realm

#3102 chore(p/grc721): Distinct Event Types for GRC721 Functions
  examples/gno.land/p/demo/grc/grc721/basic_nft.gno
  examples/gno.land/p/demo/grc/grc721/grc721_metadata.gno
  examples/gno.land/p/demo/grc/grc721/igrc721.gno
  gno.land/cmd/gnoland/testdata/grc721_emit.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2983 feat(examples): grc20 refactor
  examples/gno.land/p/demo/fqname/fqname.gno
  examples/gno.land/p/demo/fqname/fqname_test.gno
  examples/gno.land/p/demo/grc/grc20/banker.gno
  examples/gno.land/p/demo/grc/grc20/banker_test.gno
  examples/gno.land/p/demo/grc/grc20/examples_test.gno
  examples/gno.land/p/demo/grc/grc20/gno.mod
  examples/gno.land/p/demo/grc/grc20/mock.gno
  examples/gno.land/p/demo/grc/grc20/tellers.gno
  examples/gno.land/p/demo/grc/grc20/tellers_test.gno
  examples/gno.land/p/demo/grc/grc20/token.gno
  examples/gno.land/p/demo/grc/grc20/token_test.gno
  examples/gno.land/p/demo/grc/grc20/types.gno
  examples/gno.land/r/demo/bar20/bar20.gno
  examples/gno.land/r/demo/bar20/bar20_test.gno
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/grc20factory/gno.mod
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
  examples/gno.land/r/demo/grc20factory/grc20factory_test.gno
  examples/gno.land/r/demo/wugnot/wugnot.gno
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2

#3082 feat(examples): add haystack package and realm
  examples/gno.land/p/n2p5/haystack/gno.mod
  examples/gno.land/p/n2p5/haystack/haystack.gno
  examples/gno.land/p/n2p5/haystack/haystack_test.gno
  examples/gno.land/p/n2p5/haystack/needle/gno.mod
  examples/gno.land/p/n2p5/haystack/needle/needle.gno
  examples/gno.land/p/n2p5/haystack/needle/needle_test.gno
  examples/gno.land/r/n2p5/haystack/gno.mod
  examples/gno.land/r/n2p5/haystack/haystack.gno
  examples/gno.land/r/n2p5/haystack/haystack_test.gno
Labels: :receipt: package/realm

#3115 feat: simplify `boards2` implementation
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/boards.gno
  examples/gno.land/r/demo/boards2/format.gno
  examples/gno.land/r/demo/boards2/misc.gno
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/public.gno
  examples/gno.land/r/demo/boards2/render.gno
  examples/gno.land/r/demo/boards2/role.gno
Labels: :receipt: package/realm

#3116 chore(examples): update README
  examples/README.md
Labels: :receipt: package/realm

#2842 feat(examples): hall of fame
  examples/gno.land/p/demo/fqname/fqname.gno
  examples/gno.land/p/demo/ownable/ownable.gno
  examples/gno.land/p/demo/pausable/pausable.gno
  examples/gno.land/r/demo/hof/administration.gno
  examples/gno.land/r/demo/hof/errors.gno
  examples/gno.land/r/demo/hof/gno.mod
  examples/gno.land/r/demo/hof/hof.gno
  examples/gno.land/r/demo/hof/hof_test.gno
  examples/gno.land/r/demo/hof/render.gno
  examples/gno.land/r/gnoland/home/gno.mod
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/leon/home/gno.mod
  examples/gno.land/r/leon/home/home.gno
  examples/gno.land/r/manfred/home/gno.mod
  examples/gno.land/r/manfred/home/home.gno
  examples/gno.land/r/morgan/home/gno.mod
  examples/gno.land/r/morgan/home/home.gno
Labels: :receipt: package/realm

#3100 feat: add p/moul/mdtable
  examples/gno.land/p/moul/mdtable/gno.mod
  examples/gno.land/p/moul/mdtable/mdtable.gno
  examples/gno.land/p/moul/mdtable/mdtable_test.gno
Labels: :receipt: package/realm

#3130 feat(examples): add hello_world, update `r/demo/event`
  examples/gno.land/r/demo/emit/emit.gno
  examples/gno.land/r/demo/emit/gno.mod
  examples/gno.land/r/demo/emit/z1_filetest.gno
  examples/gno.land/r/demo/event/event.gno
  examples/gno.land/r/demo/event/gno.mod
  examples/gno.land/r/demo/hello_world/gno.mod
  examples/gno.land/r/demo/hello_world/hello.gno
  examples/gno.land/r/demo/hello_world/hello_test.gno
Labels: :receipt: package/realm

#3043 fix: branch stmts
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/op_exec.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/break0.gno
  gnovm/tests/files/cont3.gno
  gnovm/tests/files/for21.gno
  gnovm/tests/files/for22.gno
  gnovm/tests/files/for23.gno
  gnovm/tests/files/for24.gno
  gnovm/tests/files/switch8.gno
  gnovm/tests/files/switch8b.gno
  gnovm/tests/files/switch8c.gno
  gnovm/tests/files/switch9.gno
Labels: :package: :robot: gnovm, in focus

#3156 feat(examples): mirror realm
  examples/gno.land/r/demo/mirror/doc.gno
  examples/gno.land/r/demo/mirror/gno.mod
  examples/gno.land/r/demo/mirror/mirror.gno
  examples/gno.land/r/leon/home/gno.mod
  examples/gno.land/r/leon/home/home.gno
Labels: :receipt: package/realm

#3159 refactor: remove useless code and fix a test
  tm2/pkg/bft/consensus/replay.go
  tm2/pkg/bft/consensus/state.go
  tm2/pkg/bft/node/node_test.go
  tm2/pkg/bft/state/execution.go
  tm2/pkg/bft/state/helpers_test.go
  tm2/pkg/bft/state/validation.go
  tm2/pkg/bft/state/validation_test.go
  tm2/pkg/bft/store/store.go
  tm2/pkg/bft/types/block.go
  tm2/pkg/bft/types/validator_set_test.go
  tm2/pkg/bft/types/vote.go
Labels: :package: :globe_with_meridians: tendermint v2

#3167 chore: move `hof` under `r/leon`
  examples/gno.land/r/gnoland/home/gno.mod
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/leon/hof/administration.gno
  examples/gno.land/r/leon/hof/errors.gno
  examples/gno.land/r/leon/hof/gno.mod
  examples/gno.land/r/leon/hof/hof.gno
  examples/gno.land/r/leon/hof/hof_test.gno
  examples/gno.land/r/leon/hof/render.gno
  examples/gno.land/r/leon/home/gno.mod
  examples/gno.land/r/leon/home/home.gno
  examples/gno.land/r/manfred/home/gno.mod
  examples/gno.land/r/manfred/home/home.gno
  examples/gno.land/r/morgan/home/gno.mod
  examples/gno.land/r/morgan/home/home.gno
Labels: :receipt: package/realm

#3163 feat(examples): add source code view doc, add `r/` README
  examples/gno.land/r/README.md
  examples/gno.land/r/docs/adder/adder.gno
  examples/gno.land/r/docs/adder/adder_test.gno
  examples/gno.land/r/docs/adder/gno.mod
  examples/gno.land/r/docs/home/home.gno
  examples/gno.land/r/docs/source/gno.mod
  examples/gno.land/r/docs/source/source.gno
Labels: :receipt: package/realm

#2846 feat(p/int256): Optimize `int256` with two's complement implementation
  examples/gno.land/p/demo/int256/LICENSE
  examples/gno.land/p/demo/int256/README.md
  examples/gno.land/p/demo/int256/absolute.gno
  examples/gno.land/p/demo/int256/absolute_test.gno
  examples/gno.land/p/demo/int256/arithmetic.gno
  examples/gno.land/p/demo/int256/arithmetic_test.gno
  examples/gno.land/p/demo/int256/bitwise.gno
  examples/gno.land/p/demo/int256/bitwise_test.gno
  examples/gno.land/p/demo/int256/cmp.gno
  examples/gno.land/p/demo/int256/cmp_test.gno
  examples/gno.land/p/demo/int256/conversion.gno
  examples/gno.land/p/demo/int256/conversion_test.gno
  examples/gno.land/p/demo/int256/doc.gno
  examples/gno.land/p/demo/int256/int256.gno
  examples/gno.land/p/demo/int256/int256_test.gno
  examples/gno.land/p/demo/uint256/arithmetic_test.gno
  examples/gno.land/p/demo/uint256/bitwise_test.gno
  examples/gno.land/p/demo/uint256/cmp_test.gno
  examples/gno.land/p/demo/uint256/conversion.gno
  examples/gno.land/p/demo/uint256/conversion_test.gno
  examples/gno.land/p/demo/uint256/uint256_test.gno
Labels: :receipt: package/realm, in focus

#3038 chore(otel): Open Telemetry metrics fixed and provided with demo example
  gno.land/pkg/sdk/vm/handler.go
  misc/telemetry/README.md
  misc/telemetry/docker-compose.yml
  misc/telemetry/gnoland/Dockerfile
  misc/telemetry/gnoland/setup.sh
  misc/telemetry/grafana/provisioning/dashboards/dashboards.yaml
  misc/telemetry/grafana/provisioning/dashboards/gno-otel-dashboards.json
  misc/telemetry/grafana/provisioning/datasources/datasources.yaml
  misc/telemetry/supernova.Dockerfile
  tm2/pkg/telemetry/config/config.go
  tm2/pkg/telemetry/metrics/metrics.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3175 feat: r/docs/home -> r/docs
  examples/gno.land/r/docs/docs.gno
  examples/gno.land/r/docs/docs_test.gno
  examples/gno.land/r/docs/gno.mod
  examples/gno.land/r/docs/home/gno.mod
Labels: :receipt: package/realm

#3173 chore: sync portal loop machine and `gnolang/gno` repo
  .github/workflows/portal-loop.yml
  misc/loop/.env.example
  misc/loop/.gitignore
  misc/loop/Makefile
  misc/loop/README.md
  misc/loop/backups/snapshots/.keep
  misc/loop/cmd/cmd_backup.go
  misc/loop/cmd/cmd_serve.go
  misc/loop/cmd/cmd_switch.go
  misc/loop/cmd/snapshotter.go
  misc/loop/docker-compose.override.prod.yml
  misc/loop/docker-compose.production.yml
  misc/loop/docker-compose.yml
  misc/loop/go.mod
  misc/loop/go.sum
  misc/loop/scripts/pull-gh.sh
  misc/loop/scripts/start.sh
  misc/loop/tools.go
  misc/loop/traefik/gno.yml
  misc/loop/traefik/gnofaucet.yml
  misc/loop/traefik/gnoweb.yml
Labels: :package: :mountain: gno.land, in focus

#3184 feat(boards2): update package name to boards2
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/board_test.gno
  examples/gno.land/r/demo/boards2/boards.gno
  examples/gno.land/r/demo/boards2/format.gno
  examples/gno.land/r/demo/boards2/gno.mod
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/post_test.gno
  examples/gno.land/r/demo/boards2/public.gno
  examples/gno.land/r/demo/boards2/render.gno
  examples/gno.land/r/demo/boards2/role.gno
Labels: :receipt: package/realm

#3067 fix: invoke user recover with implicit panics
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_assign.go
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/recover12.gno
  gnovm/tests/files/recover13.gno
  gnovm/tests/files/recover14.gno
  gnovm/tests/files/recover15.gno
  gnovm/tests/files/recover16.gno
  gnovm/tests/files/recover17.gno
  gnovm/tests/files/recover18.gno
  gnovm/tests/files/recover19.gno
Labels: :package: :robot: gnovm, in focus

#3117 fix: typed const conversion validation
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/tests/files/float1.gno
Labels: :package: :robot: gnovm, in focus

#3186 fix: const conversions for 32 bits
  gnovm/pkg/gnolang/values_conversions.go
Labels: :package: :robot: gnovm

#3172 chore: remove ancient docker integration in `misc`
  .github/workflows/misc.yml
  go.mod
  misc/docker-compose/docker-compose.yml
  misc/docker-integration/Makefile
  misc/docker-integration/README.md
  misc/docker-integration/integration.go
  misc/docker-integration/integration_test.go
Labels: :package: :mountain: gno.land

#3024 chore: revert "fix(portal-loop): hotfix revert "chore: rename r/manfred -> r/moul (#2820)" (#2865)"
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/groups/z_1_a_filetest.gno
  examples/gno.land/r/demo/groups/z_2_a_filetest.gno
  examples/gno.land/r/demo/users/users.gno
  examples/gno.land/r/demo/users/z_10_filetest.gno
  examples/gno.land/r/demo/users/z_11_filetest.gno
  examples/gno.land/r/demo/users/z_11b_filetest.gno
  examples/gno.land/r/demo/users/z_2_filetest.gno
  examples/gno.land/r/demo/users/z_3_filetest.gno
  examples/gno.land/r/demo/users/z_4_filetest.gno
  examples/gno.land/r/demo/users/z_5_filetest.gno
  examples/gno.land/r/demo/users/z_6_filetest.gno
  examples/gno.land/r/demo/users/z_7_filetest.gno
  examples/gno.land/r/demo/users/z_7b_filetest.gno
  examples/gno.land/r/demo/users/z_8_filetest.gno
  examples/gno.land/r/demo/users/z_9_filetest.gno
  examples/gno.land/r/gnoland/blog/admin.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/overide_filetest.gno
  examples/gno.land/r/gnoland/pages/admin.gno
  examples/gno.land/r/manfred/config/gno.mod
  examples/gno.land/r/manfred/home/gno.mod
  examples/gno.land/r/manfred/home/home.gno
  examples/gno.land/r/moul/README.md
  examples/gno.land/r/moul/config/config.gno
  examples/gno.land/r/moul/config/gno.mod
  examples/gno.land/r/moul/home/gno.mod
  examples/gno.land/r/moul/home/home.gno
  examples/gno.land/r/moul/home/z1_filetest.gno
  examples/gno.land/r/moul/home/z2_filetest.gno
  examples/gno.land/r/moul/present/admin.gno
  examples/gno.land/r/moul/present/gno.mod
  examples/gno.land/r/moul/present/present_miami23.gno
  examples/gno.land/r/moul/present/present_miami23_filetest.gno
  examples/gno.land/r/moul/present/presentations.gno
  examples/gno.land/r/sys/users/verify.gno
  gno.land/cmd/gnoland/testdata/addpkg_namespace.txtar
  gno.land/genesis/genesis_balances.txt
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/gnoweb/gnoweb_test.go
  gno.land/pkg/integration/testdata/adduserfrom.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3049 feat(gnovm): returns error like in Golang when assignment with a function which does not return any value
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/tests/files/assign37.gno
  gnovm/tests/files/assign37b.gno
  gnovm/tests/files/var34.gno
  gnovm/tests/files/var34b.gno
  gnovm/tests/files/var34c.gno
Labels: :package: :robot: gnovm, in focus

#3192 fix: bit shifting const expr overflow
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_assign.go
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/values_conversions_test.go
Labels: :package: :robot: gnovm

#3151 feat(boards2): initial permissions support
  examples/gno.land/p/demo/boards2/admindao/admindao.gno
  examples/gno.land/p/demo/boards2/admindao/admindao_test.gno
  examples/gno.land/p/demo/boards2/admindao/gno.mod
  examples/gno.land/p/demo/boards2/admindao/options.gno
  examples/gno.land/r/demo/boards2/acl.gno
  examples/gno.land/r/demo/boards2/acl_options.gno
  examples/gno.land/r/demo/boards2/acl_test.gno
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/board_test.gno
  examples/gno.land/r/demo/boards2/boards.gno
  examples/gno.land/r/demo/boards2/gno.mod
  examples/gno.land/r/demo/boards2/permission.gno
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/post_test.gno
  examples/gno.land/r/demo/boards2/public.gno
  examples/gno.land/r/demo/boards2/role.gno
Labels: :receipt: package/realm

#3170 ci: validate genesis.json
  .github/workflows/genesis-verify.yml
Labels: :package: :mountain: gno.land, in focus

#3177 chore(examples/gnoland): fix gnoland/home realm, rename the blog
  examples/gno.land/r/gnoland/blog/gnoblog.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gov/dao/v2/prop2_filetest.gno
Labels: :receipt: package/realm

#3183 feat: adding home realm for r/n2p5/home and supporting packages
  examples/gno.land/p/n2p5/chonk/chonk.gno
  examples/gno.land/p/n2p5/chonk/chonk_test.gno
  examples/gno.land/p/n2p5/chonk/gno.mod
  examples/gno.land/p/n2p5/mgroup/gno.mod
  examples/gno.land/p/n2p5/mgroup/mgroup.gno
  examples/gno.land/p/n2p5/mgroup/mgroup_test.gno
  examples/gno.land/r/n2p5/config/config.gno
  examples/gno.land/r/n2p5/config/gno.mod
  examples/gno.land/r/n2p5/home/gno.mod
  examples/gno.land/r/n2p5/home/home.gno
Labels: :receipt: package/realm

#3042 feat(gnovm): forbid importing realms in packages
  examples/gno.land/p/demo/groups/gno.mod
  examples/gno.land/p/demo/groups/groups.gno
  examples/gno.land/p/demo/tests/gno.mod
  examples/gno.land/p/demo/tests/tests.gno
  examples/gno.land/p/demo/tests/z0_filetest.gno
  gno.land/cmd/gnoland/testdata/assertorigincall.txtar
  gno.land/cmd/gnoland/testdata/prevrealm.txtar
  gnovm/pkg/gnolang/helpers.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/import11.gno
  gnovm/tests/files/zrealm_crossrealm11.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#2699 fix(gnovm): Prevent use of blank identifier as Value or Type
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/pkg/gnolang/type_check_test.go
  gnovm/tests/files/blankidentifier0.gno
  gnovm/tests/files/blankidentifier1.gno
  gnovm/tests/files/blankidentifier2.gno
  gnovm/tests/files/blankidentifier3.gno
  gnovm/tests/files/blankidentifier4.gno
  gnovm/tests/files/blankidentifier5.gno
  gnovm/tests/files/blankidentifier6.gno
  gnovm/tests/files/blankidentifier7.gno
  gnovm/tests/files/typeassert10.gno
Labels: :package: :robot: gnovm, in focus

#2943 fix(gnodev): timestamp issue on reload
  contribs/gnodev/cmd/gnodev/setup_node.go
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/dev/node_state.go
  contribs/gnodev/pkg/dev/node_test.go
  contribs/gnodev/pkg/dev/packages.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3037 ci: add a github bot to support advanced PR review workflows
  .github/workflows/bot.yml
  contribs/github-bot/README.md
  contribs/github-bot/check.go
  contribs/github-bot/comment.go
  contribs/github-bot/comment.tmpl
  contribs/github-bot/comment_test.go
  contribs/github-bot/config.go
  contribs/github-bot/go.mod
  contribs/github-bot/go.sum
  contribs/github-bot/internal/client/client.go
  contribs/github-bot/internal/conditions/assignee.go
  contribs/github-bot/internal/conditions/assignee_test.go
  contribs/github-bot/internal/conditions/author.go
  contribs/github-bot/internal/conditions/author_test.go
  contribs/github-bot/internal/conditions/boolean.go
  contribs/github-bot/internal/conditions/boolean_test.go
  contribs/github-bot/internal/conditions/branch.go
  contribs/github-bot/internal/conditions/branch_test.go
  contribs/github-bot/internal/conditions/condition.go
  contribs/github-bot/internal/conditions/constant.go
  contribs/github-bot/internal/conditions/constant_test.go
  contribs/github-bot/internal/conditions/file.go
  contribs/github-bot/internal/conditions/file_test.go
  contribs/github-bot/internal/conditions/label.go
  contribs/github-bot/internal/conditions/label_test.go
  contribs/github-bot/internal/logger/action.go
  contribs/github-bot/internal/logger/logger.go
  contribs/github-bot/internal/logger/noop.go
  contribs/github-bot/internal/logger/terminal.go
  contribs/github-bot/internal/params/params.go
  contribs/github-bot/internal/params/prlist.go
  contribs/github-bot/internal/requirements/assignee.go
  contribs/github-bot/internal/requirements/assignee_test.go
  contribs/github-bot/internal/requirements/author.go
  contribs/github-bot/internal/requirements/author_test.go
  contribs/github-bot/internal/requirements/boolean.go
  contribs/github-bot/internal/requirements/boolean_test.go
  contribs/github-bot/internal/requirements/branch.go
  contribs/github-bot/internal/requirements/branch_test.go
  contribs/github-bot/internal/requirements/constant.go
  contribs/github-bot/internal/requirements/constant_test.go
  contribs/github-bot/internal/requirements/label.go
  contribs/github-bot/internal/requirements/label_test.go
  contribs/github-bot/internal/requirements/maintainer.go
  contribs/github-bot/internal/requirements/maintener_test.go
  contribs/github-bot/internal/requirements/requirement.go
  contribs/github-bot/internal/requirements/reviewer.go
  contribs/github-bot/internal/requirements/reviewer_test.go
  contribs/github-bot/internal/utils/actions.go
  contribs/github-bot/internal/utils/actions_test.go
  contribs/github-bot/internal/utils/github_const.go
  contribs/github-bot/internal/utils/testing.go
  contribs/github-bot/internal/utils/tree.go
  contribs/github-bot/main.go
  contribs/github-bot/matrix.go
  contribs/github-bot/matrix_test.go
Labels: in focus

#3229 ci: fixes bot workflow and comment update
  .github/workflows/bot.yml
  contribs/github-bot/README.md
  contribs/github-bot/comment.go
  contribs/github-bot/config.go
  contribs/github-bot/internal/client/client.go
  contribs/github-bot/internal/conditions/branch_test.go
  contribs/github-bot/internal/conditions/draft.go
  contribs/github-bot/internal/conditions/draft_test.go
  contribs/github-bot/internal/conditions/file_test.go
  contribs/github-bot/internal/conditions/label_test.go
  contribs/github-bot/internal/params/prlist.go
  contribs/github-bot/internal/requirements/assignee_test.go
  contribs/github-bot/internal/requirements/branch.go
  contribs/github-bot/internal/requirements/label_test.go
  contribs/github-bot/matrix.go
Labels: in focus

#3243 chore: remove leftover `docker-integration` make directive
  Makefile
Labels: :package: :mountain: gno.land

#3211 feat(boards2): board creation and permissions
  examples/gno.land/p/demo/boards2/admindao/admindao.gno
  examples/gno.land/p/demo/boards2/admindao/admindao_test.gno
  examples/gno.land/r/demo/boards2/acl.gno
  examples/gno.land/r/demo/boards2/acl_options.gno
  examples/gno.land/r/demo/boards2/acl_test.gno
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/boards.gno
  examples/gno.land/r/demo/boards2/permission.gno
  examples/gno.land/r/demo/boards2/permission_default.gno
  examples/gno.land/r/demo/boards2/permission_default_test.gno
  examples/gno.land/r/demo/boards2/permission_handlers.gno
  examples/gno.land/r/demo/boards2/permission_options.gno
  examples/gno.land/r/demo/boards2/public.gno
  examples/gno.land/r/demo/boards2/z_0_a_filetest.gno
  examples/gno.land/r/demo/boards2/z_0_b_filetest.gno
  examples/gno.land/r/demo/boards2/z_0_c_filetest.gno
  examples/gno.land/r/demo/boards2/z_0_d_filetest.gno
  examples/gno.land/r/demo/boards2/z_0_e_filetest.gno
  examples/gno.land/r/demo/boards2/z_0_f_filetest.gno
  examples/gno.land/r/demo/boards2/z_1_a_filetest.gno
  examples/gno.land/r/demo/boards2/z_1_b_filetest.gno
  examples/gno.land/r/demo/boards2/z_1_c_filetest.gno
Labels: :receipt: package/realm
