Repository gnolang/gno, pull requests merged in 2024-12, with the labels that each got.

#3096 feat(govdao): better rendering
  examples/gno.land/p/demo/dao/dao.gno
  examples/gno.land/p/demo/dao/proposals.gno
  examples/gno.land/p/demo/simpledao/dao.gno
  examples/gno.land/p/demo/simpledao/dao_test.gno
  examples/gno.land/p/demo/simpledao/propstore.gno
  examples/gno.land/r/gov/dao/v2/dao.gno
  examples/gno.land/r/gov/dao/v2/gno.mod
  examples/gno.land/r/gov/dao/v2/prop1_filetest.gno
  examples/gno.land/r/gov/dao/v2/prop2_filetest.gno
  examples/gno.land/r/gov/dao/v2/prop3_filetest.gno
  examples/gno.land/r/gov/dao/v2/prop4_filetest.gno
  examples/gno.land/r/gov/dao/v2/render.gno
Labels: :receipt: package/realm

#3210 test(gnovm): test performance improvements
  .github/workflows/gnovm.yml
  .github/workflows/test_template.yml
  gnovm/pkg/gnolang/files_test.go
  gnovm/pkg/test/test.go
  gnovm/stdlibs/bytes/compare_test.gno
  gnovm/tests/stdlibs/generated.go
  gnovm/tests/stdlibs/unicode/natives.gno
  gnovm/tests/stdlibs/unicode/natives.go
Labels: :package: :robot: gnovm, in focus

#3222 fix(gnovm): handle type alias declaration for PrimitiveType
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/type40.gno
Labels: :package: :robot: gnovm, in focus

#3254 chore: fix some function names in comment
  tm2/pkg/p2p/netaddress.go
  tm2/pkg/sdk/baseapp.go
Labels: :package: :globe_with_meridians: tendermint v2

#3252 fix: impl empty statement exec
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/op_exec.go
  gnovm/tests/files/goto_empty_stmt.gno
Labels: :package: :robot: gnovm, in focus

#3262 chore: s/NativeStore/NativeResolver/g
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/store_test.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/test/imports.go
  gnovm/stdlibs/stdlibs.go
  gnovm/tests/stdlibs/stdlibs.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#3207 fix: Modify `app` path method to simulate for ABCI query
  gno.land/cmd/gnoland/testdata/simulate_gas.txtar
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/auth/ante_test.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/baseapp_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3263 feat: Add handling for float types, and also for %v
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
Labels: :receipt: package/realm

#2868 feat(examples): Add a useful set of high quality pseudo-random number generators
  examples/gno.land/p/demo/entropy/entropy.gno
  examples/gno.land/p/demo/entropy/entropy_test.gno
  examples/gno.land/p/demo/entropy/z_filetest.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
  examples/gno.land/p/wyhaines/rand/isaac/README.md
  examples/gno.land/p/wyhaines/rand/isaac/gno.mod
  examples/gno.land/p/wyhaines/rand/isaac/isaac.gno
  examples/gno.land/p/wyhaines/rand/isaac/isaac_test.gno
  examples/gno.land/p/wyhaines/rand/isaac64/README.md
  examples/gno.land/p/wyhaines/rand/isaac64/gno.mod
  examples/gno.land/p/wyhaines/rand/isaac64/isaac64.gno
  examples/gno.land/p/wyhaines/rand/isaac64/isaac64_test.gno
  examples/gno.land/p/wyhaines/rand/xorshift64star/README.MD
  examples/gno.land/p/wyhaines/rand/xorshift64star/gno.mod
  examples/gno.land/p/wyhaines/rand/xorshift64star/xorshift64star.gno
  examples/gno.land/p/wyhaines/rand/xorshift64star/xorshift64star_test.gno
  examples/gno.land/p/wyhaines/rand/xorshiftr128plus/README.MD
  examples/gno.land/p/wyhaines/rand/xorshiftr128plus/gno.mod
  examples/gno.land/p/wyhaines/rand/xorshiftr128plus/xorshiftr128plus.gno
  examples/gno.land/p/wyhaines/rand/xorshiftr128plus/xorshiftr128plus_test.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#3126 feat: A fully featured btree implementation
  examples/gno.land/p/demo/btree/btree.gno
  examples/gno.land/p/demo/btree/btree_test.gno
  examples/gno.land/p/demo/btree/gno.mod
Labels: :receipt: package/realm, in focus

#3272 chore: add filetest in gnovm/makefile
  gnovm/Makefile
Labels: :package: :robot: gnovm

#3282 chore: Fix the linting error.
  examples/gno.land/p/demo/btree/btree_test.gno
Labels: :receipt: package/realm, review/triage-pending

#3275 docs: add help links on github-bot rules
  contribs/github-bot/internal/check/comment.go
  contribs/github-bot/internal/config/config.go
Labels: in focus

#3274 ci: make github-bot ignore events emitted by codecov
  .github/workflows/bot.yml
Labels: in focus

#3221 fix: In keybase writeInfo, enforce one name for address
  tm2/pkg/crypto/keys/keybase.go
  tm2/pkg/crypto/keys/keybase_test.go
  tm2/pkg/crypto/keys/types.go
Labels: :package: :globe_with_meridians: tendermint v2

#3289 chore: refactor txlink in order to extend it
  examples/gno.land/p/moul/helplink/helplink.gno
  examples/gno.land/p/moul/txlink/txlink.gno
  examples/gno.land/p/moul/txlink/txlink_test.gno
  examples/gno.land/r/demo/boards/board.gno
  examples/gno.land/r/demo/boards/post.gno
  examples/gno.land/r/docs/adder/adder.gno
  examples/gno.land/r/gov/dao/v2/render.gno
  examples/gno.land/r/leon/hof/render.gno
Labels: :receipt: package/realm

#2911 feat: support custom VM domain
  contribs/gnodev/cmd/gnodev/main.go
  contribs/gnodev/cmd/gnodev/setup_node.go
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/dev/node_test.go
  gno.land/cmd/gnoland/testdata/addpkg_domain.txtar
  gno.land/cmd/gnoland/testdata/genesis_params.txtar
  gno.land/cmd/gnoland/testdata/simulate_gas.txtar
  gno.land/genesis/genesis_params.toml
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gno.land/pkg/sdk/vm/msgs.go
  gno.land/pkg/sdk/vm/params.go
  gnovm/cmd/gno/test.go
  gnovm/memfile.go
  gnovm/memfile_test.go
  gnovm/pkg/gnolang/helpers.go
  gnovm/pkg/test/test.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
  gnovm/tests/files/std5.gno
  gnovm/tests/files/std8.gno
  gnovm/tests/files/zrealm_natbind1_stdlibs.gno
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3241 feat: add r/docs/img_embed
  examples/gno.land/r/docs/docs.gno
  examples/gno.land/r/docs/img_embed/gno.mod
  examples/gno.land/r/docs/img_embed/img_embed.gno
Labels: :receipt: package/realm, in focus

#3273 fix(gnovm): make stacktrace correctly handle realm panic
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm, in focus

#3279 ci: use go.mod to determine go version
  .github/workflows/benchmark-master-push.yml
  .github/workflows/dependabot-tidy.yml
  .github/workflows/docs.yml
  .github/workflows/genesis-verify.yml
  .github/workflows/gh-pages.yml
  .github/workflows/releaser-master.yml
  .github/workflows/releaser-nightly.yml
  .github/workflows/releaser.yml
Labels: in focus

#3281 feat(mux): support query string in path
  examples/gno.land/p/demo/mux/request.gno
  examples/gno.land/p/demo/mux/router.gno
  examples/gno.land/p/demo/mux/router_test.gno
  gnovm/cmd/gno/download_deps_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, in focus

#3245 docs: hyperlink buttons demo
  examples/gno.land/r/docs/buttons/buttons.gno
  examples/gno.land/r/docs/buttons/buttons_test.gno
  examples/gno.land/r/docs/buttons/gno.mod
  examples/gno.land/r/docs/docs.gno
Labels: :receipt: package/realm, review/triage-pending

#3251 chore(examples): update userbook example to use avl_pager
  examples/gno.land/r/demo/userbook/render.gno
  examples/gno.land/r/demo/userbook/userbook.gno
  examples/gno.land/r/demo/userbook/userbook_test.gno
Labels: :receipt: package/realm, review/triage-pending

#2819 feat: add `p/moul/{md,debug,web25}` + update `r/moul/home`
  contribs/gnodev/cmd/gnodev/main.go
  contribs/gnodev/cmd/gnodev/setup_web.go
  examples/gno.land/p/moul/debug/debug.gno
  examples/gno.land/p/moul/debug/gno.mod
  examples/gno.land/p/moul/debug/z1_filetest.gno
  examples/gno.land/p/moul/debug/z2_filetest.gno
  examples/gno.land/p/moul/md/gno.mod
  examples/gno.land/p/moul/md/md.gno
  examples/gno.land/p/moul/md/md_test.gno
  examples/gno.land/p/moul/md/z1_filetest.gno
  examples/gno.land/p/moul/web25/gno.mod
  examples/gno.land/p/moul/web25/web25.gno
  examples/gno.land/p/moul/web25/web25_test.gno
  examples/gno.land/r/moul/config/config_test.gno
  examples/gno.land/r/moul/home/home.gno
  examples/gno.land/r/moul/home/z1_filetest.gno
  examples/gno.land/r/moul/home/z2_filetest.gno
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3297 feat(examples): add avl_pager reverse option, update userbook
  examples/gno.land/p/demo/avl/pager/pager.gno
  examples/gno.land/p/demo/avl/pager/pager_test.gno
  examples/gno.land/p/demo/avl/pager/z_filetest.gno
  examples/gno.land/r/demo/userbook/render.gno
  examples/gno.land/r/demo/userbook/userbook.gno
  examples/gno.land/r/demo/users/users.gno
  examples/gno.land/r/docs/avl_pager/avl_pager.gno
  examples/gno.land/r/leon/hof/render.gno
Labels: :receipt: package/realm

#3302 chore: import gnolang/overflow into gno/tm2/pkg/overflow
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
  contribs/gnogenesis/go.mod
  contribs/gnogenesis/go.sum
  contribs/gnohealth/go.mod
  contribs/gnohealth/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  contribs/gnomigrate/go.mod
  contribs/gnomigrate/go.sum
  gnovm/pkg/gnolang/machine.go
  go.mod
  go.sum
  misc/autocounterd/go.mod
  misc/autocounterd/go.sum
  misc/loop/go.mod
  misc/loop/go.sum
  tm2/pkg/overflow/README.md
  tm2/pkg/overflow/overflow.go
  tm2/pkg/overflow/overflow_impl.go
  tm2/pkg/overflow/overflow_template.sh
  tm2/pkg/overflow/overflow_test.go
  tm2/pkg/std/coin.go
  tm2/pkg/store/gas/store.go
  tm2/pkg/store/types/gas.go
  tm2/pkg/store/types/gas_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#3296 fix(gnovm): use strconv.UnquoteChar to parse rune literals
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/op_eval.go
  gnovm/tests/files/rune3.gno
Labels: 🐞 bug, :package: :robot: gnovm

#3068 fix(gnovm): improve error message for nil assignment in variable declaration
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/pkg/gnolang/type_check_test.go
  gnovm/pkg/gnolang/types.go
  gnovm/tests/files/add3.gno
  gnovm/tests/files/assign38.gno
  gnovm/tests/files/fun28.gno
  gnovm/tests/files/slice3.gno
  gnovm/tests/files/var35.gno
Labels: :package: :robot: gnovm, in focus

#2916 feat: add Matija's Homepage realm to examples
  examples/gno.land/r/matijamarjanovic/home/config.gno
  examples/gno.land/r/matijamarjanovic/home/gno.mod
  examples/gno.land/r/matijamarjanovic/home/home.gno
  examples/gno.land/r/matijamarjanovic/home/home_test.gno
Labels: :receipt: package/realm

#3313 fix(gnovm): make static-analysis handle block stmt
  gnovm/pkg/gnolang/static_analysis.go
  gnovm/tests/files/block0.gno
Labels: :package: :robot: gnovm

#3298 fix(gnovm): in op_binary, return typed booleans where appropriate
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/bool8.gno
Labels: 🐞 bug, :package: :robot: gnovm, in focus

#3318 feat: generic datasource package
  examples/gno.land/p/jeronimoalbi/datasource/datasource.gno
  examples/gno.land/p/jeronimoalbi/datasource/datasource_test.gno
  examples/gno.land/p/jeronimoalbi/datasource/gno.mod
  examples/gno.land/p/jeronimoalbi/datasource/query.gno
  examples/gno.land/p/jeronimoalbi/datasource/query_test.gno
Labels: :receipt: package/realm

#3121 fix: prevent false positive return for guarding dao member store
  examples/gno.land/p/demo/membstore/membstore.gno
  examples/gno.land/r/gov/dao/v2/dao.gno
Labels: :receipt: package/realm, in focus

#3239 fix(std): add full denom in banker issue & remove coin
  docs/reference/stdlibs/std/banker.md
  docs/reference/stdlibs/std/chain.md
  docs/reference/stdlibs/std/realm.md
  gno.land/cmd/gnoland/testdata/assertorigincall.txtar
  gno.land/cmd/gnoland/testdata/grc20_registry.txtar
  gno.land/cmd/gnoland/testdata/prevrealm.txtar
  gno.land/cmd/gnoland/testdata/realm_banker_issued_coin_denom.txtar
  gno.land/pkg/gnoclient/integration_test.go
  gnovm/stdlibs/std/banker.gno
  gnovm/stdlibs/std/banker.go
  gnovm/stdlibs/std/frame.gno
  gnovm/tests/files/std5.gno
  gnovm/tests/files/std8.gno
  gnovm/tests/files/zrealm_natbind0.gno
Labels: breaking change, :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3329 docs: add bad contribution section
  CONTRIBUTING.md
Labels: :book: documentation

#3247 feat: datasource for `gno.land/r/leon/hof` integration with Gno.me
  examples/gno.land/r/leon/hof/datasource.gno
  examples/gno.land/r/leon/hof/datasource_test.gno
Labels: :receipt: package/realm

#3337 fix(gnovm): raise error when ranging over nil
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/range8.gno
Labels: :package: :robot: gnovm, in focus

#3332 chore: remove ignored files
  tm2/pkg/amino/genproto/example/proto/github.com/tendermint/go-amino/genproto/example/submodule/types.proto
  tm2/pkg/amino/genproto/example/proto/github.com/tendermint/go-amino/genproto/example/submodule2/types.proto
  tm2/pkg/amino/genproto/example/proto/main/types.proto
Labels: :package: :globe_with_meridians: tendermint v2, in focus

#3054 feat: cpu and store gas updates
  gno.land/cmd/gnoland/testdata/addpkg_namespace.txtar
  gno.land/cmd/gnoland/testdata/append.txtar
  gno.land/cmd/gnoland/testdata/assertorigincall.txtar
  gno.land/cmd/gnoland/testdata/ghverify.txtar
  gno.land/cmd/gnoland/testdata/grc20_invalid_address.txtar
  gno.land/cmd/gnoland/testdata/grc20_registry.txtar
  gno.land/cmd/gnoland/testdata/grc721_emit.txtar
  gno.land/cmd/gnoland/testdata/issue_1167.txtar
  gno.land/cmd/gnoland/testdata/issue_1786.txtar
  gno.land/cmd/gnoland/testdata/prevrealm.txtar
  gno.land/cmd/gnoland/testdata/restart_missing_type.txtar
  gno.land/cmd/gnoland/testdata/simulate_gas.txtar
  gno.land/cmd/gnoland/testdata/time_simple.txtar
  gno.land/cmd/gnoland/testdata/wugnot.txtar
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/integration/testdata/loadpkg_example.txtar
  gno.land/pkg/integration/testdata/restart.txtar
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/store_test.go
  gnovm/pkg/test/filetest.go
  gnovm/pkg/test/test.go
  tm2/pkg/sdk/auth/keeper.go
  tm2/pkg/sdk/baseapp_test.go
  tm2/pkg/sdk/context.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#2838 feat: dynamic gas price, keeper implementation
  contribs/gnodev/go.mod
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/dev/node_state.go
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/gnoland/types.go
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/integration/testing_node.go
  gno.land/pkg/sdk/vm/common_test.go
  tm2/pkg/sdk/auth/abci.go
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/auth/ante_test.go
  tm2/pkg/sdk/auth/consts.go
  tm2/pkg/sdk/auth/genesis.go
  tm2/pkg/sdk/auth/keeper.go
  tm2/pkg/sdk/auth/keeper_test.go
  tm2/pkg/sdk/auth/params.go
  tm2/pkg/sdk/auth/params_test.go
  tm2/pkg/sdk/auth/test_common.go
  tm2/pkg/sdk/auth/types.go
  tm2/pkg/sdk/bank/common_test.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/baseapp_test.go
  tm2/pkg/sdk/params/keeper.go
  tm2/pkg/sdk/params/keeper_test.go
  tm2/pkg/std/gasprice.go
  tm2/pkg/std/gasprice_test.go
  tm2/pkg/std/package.go
  tm2/pkg/std/package_test.go
  tm2/pkg/telemetry/metrics/metrics.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3351 fix: gnoland homepage
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#3331 feat(examples): expose ownable & pausable safe objects, update ownable API
  examples/gno.land/p/demo/memeland/memeland.gno
  examples/gno.land/p/demo/ownable/exts/authorizable/authorizable.gno
  examples/gno.land/p/demo/ownable/ownable.gno
  examples/gno.land/p/demo/ownable/ownable_test.gno
  examples/gno.land/p/demo/pausable/pausable.gno
  examples/gno.land/p/demo/subscription/lifetime/lifetime.gno
  examples/gno.land/p/demo/subscription/recurring/recurring.gno
  examples/gno.land/p/n2p5/mgroup/mgroup.gno
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
  examples/gno.land/r/gnoland/events/administration.gno
  examples/gno.land/r/gnoland/events/events.gno
  examples/gno.land/r/gnoland/events/render.gno
  examples/gno.land/r/gnoland/monit/monit.gno
  examples/gno.land/r/leon/hof/administration.gno
  examples/gno.land/r/leon/hof/hof.gno
  examples/gno.land/r/leon/hof/hof_test.gno
  examples/gno.land/r/leon/hof/render.gno
  examples/gno.land/r/sys/users/verify.gno
Labels: :receipt: package/realm

#3349 fix: gnoweb UI styles
  gno.land/pkg/gnoweb/components/help.gohtml
  gno.land/pkg/gnoweb/components/index.gohtml
  gno.land/pkg/gnoweb/components/realm.gohtml
  gno.land/pkg/gnoweb/components/source.gohtml
  gno.land/pkg/gnoweb/components/spritesvg.gohtml
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/frontend/js/copy.ts
  gno.land/pkg/gnoweb/frontend/static/fonts/intervar/Inter.var.woff2
  gno.land/pkg/gnoweb/frontend/static/fonts/intervar/Intervar.woff2
  gno.land/pkg/gnoweb/public/fonts/intervar/Inter.var.woff2
  gno.land/pkg/gnoweb/public/fonts/intervar/Intervar.woff2
  gno.land/pkg/gnoweb/public/js/copy.js
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#2869 feat: Add the stdlib_diff tool to compare gno and go standard libraries
  .github/workflows/gh-pages.yml
  examples/gno.land/r/demo/users/z_13_filetest.gno
  misc/stdlib_diff/.gitignore
  misc/stdlib_diff/Makefile
  misc/stdlib_diff/README.md
  misc/stdlib_diff/diffstatus.go
  misc/stdlib_diff/filediff.go
  misc/stdlib_diff/go.mod
  misc/stdlib_diff/go.sum
  misc/stdlib_diff/main.go
  misc/stdlib_diff/operation.go
  misc/stdlib_diff/packagediff.go
  misc/stdlib_diff/report.go
  misc/stdlib_diff/templates/index_template.html
  misc/stdlib_diff/templates/package_diff_template.html
Labels: :receipt: package/realm

#3319 fix(github-bot): handle pull_request_review event from fork
  .github/workflows/bot-proxy.yml
  .github/workflows/bot.yml
Labels: in focus

#3362 feat: improve gnoweb help function
  gno.land/pkg/gnoweb/components/help.gohtml
  gno.land/pkg/gnoweb/components/index.gohtml
  gno.land/pkg/gnoweb/frontend/js/realmhelp.ts
  gno.land/pkg/gnoweb/frontend/js/utils.ts
  gno.land/pkg/gnoweb/public/js/realmhelp.js
  gno.land/pkg/gnoweb/public/js/utils.js
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb, in focus

#3363 chore(gnovm): add suggestion to build for bodyless funcs error
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/native0.gno
Labels: :package: :robot: gnovm

#3285 feat: simplify the import / export API for the `Keybase`
  contribs/gnodev/cmd/gnobro/main.go
  tm2/pkg/crypto/keys/client/export.go
  tm2/pkg/crypto/keys/client/import.go
  tm2/pkg/crypto/keys/client/import_test.go
  tm2/pkg/crypto/keys/client/verify_test.go
  tm2/pkg/crypto/keys/keybase.go
  tm2/pkg/crypto/keys/keybase_test.go
  tm2/pkg/crypto/keys/lazy_keybase.go
  tm2/pkg/crypto/keys/types.go
Labels: breaking change, :package: :globe_with_meridians: tendermint v2, in focus

#2241 feat: gnovm benchmarking tool
  examples/gno.land/r/x/benchmark/storage/boards.gno
  examples/gno.land/r/x/benchmark/storage/forum.gno
  examples/gno.land/r/x/benchmark/storage/gno.mod
  gnovm/Makefile
  gnovm/cmd/benchops/README.md
  gnovm/cmd/benchops/main.go
  gnovm/cmd/benchops/opcode_test.go
  gnovm/cmd/benchops/run.go
  gnovm/cmd/benchops/stats.go
  gnovm/cmd/benchops/storage_test.go
  gnovm/cmd/benchops/store.go
  gnovm/pkg/benchops/bench.go
  gnovm/pkg/benchops/exporter.go
  gnovm/pkg/benchops/gno/avl/gno.mod
  gnovm/pkg/benchops/gno/avl/node.gno
  gnovm/pkg/benchops/gno/avl/tree.gno
  gnovm/pkg/benchops/gno/opcodes/gno.mod
  gnovm/pkg/benchops/gno/opcodes/opcode.gno
  gnovm/pkg/benchops/gno/storage/boards.gno
  gnovm/pkg/benchops/gno/storage/forum.gno
  gnovm/pkg/benchops/gno/storage/gno.mod
  gnovm/pkg/benchops/init.go
  gnovm/pkg/benchops/ops.go
  gnovm/pkg/benchops/ops_disabled.go
  gnovm/pkg/benchops/ops_enabled.go
  gnovm/pkg/benchops/storage_disabled.go
  gnovm/pkg/benchops/storage_enabled.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_string.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/uverse.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3317 feat(examples): add p/demo/avl/rotree
  examples/gno.land/p/demo/avl/pager/pager.gno
  examples/gno.land/p/demo/avl/rotree/gno.mod
  examples/gno.land/p/demo/avl/rotree/rotree.gno
  examples/gno.land/p/demo/avl/rotree/rotree_test.gno
  examples/gno.land/p/demo/avl/tree.gno
Labels: :receipt: package/realm, in focus

#3365 fix: resolve devx boards2 branch issues
  examples/gno.land/p/demo/boards2/admindao/gno.mod
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/board_test.gno
  examples/gno.land/r/demo/boards2/gno.mod
  examples/gno.land/r/demo/boards2/post.gno
Labels: :receipt: package/realm

#3315 feat(cmd/gno): re-use teststore in `lint`
  gno.land/pkg/integration/testing_integration.go
  gnovm/cmd/gno/download_deps.go
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/testdata/lint/bad_import.txtar
  gnovm/pkg/doc/dirs.go
  gnovm/pkg/gnomod/pkg.go
  gnovm/pkg/packages/imports.go
  gnovm/pkg/packages/imports_test.go
  gnovm/pkg/test/filetest.go
  gnovm/pkg/test/imports.go
  gnovm/pkg/test/test.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3369 fix(lint): fix 'make install' failure due to bad 'BeginTransaction' c…
  gnovm/cmd/gno/lint.go
Labels: :package: :robot: gnovm

#3367 fix: stdlib_diff published on pages
  .github/workflows/gh-pages.yml
Labels: review/triage-pending

#3320 refactor: use errors.As to detect out of gas exceptions
  gno.land/cmd/gnoland/testdata/addpkg_outofgas.txtar
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/preprocess.go
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/store/exports.go
  tm2/pkg/store/types/gas.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3376 style: various gnoweb fix after revamp
  gno.land/pkg/gnoweb/components/directory.gohtml
  gno.land/pkg/gnoweb/components/help.gohtml
  gno.land/pkg/gnoweb/components/index.gohtml
  gno.land/pkg/gnoweb/components/source.gohtml
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#3383 fix: Update init gas price
  gno.land/pkg/gnoland/genesis.go
Labels: :package: :mountain: gno.land

#3373 fix(benchops): support 32-bit compilation
  gnovm/pkg/benchops/exporter.go
Labels: :package: :robot: gnovm

#3378 chore: Upgrade go.uber.org/zap/exp to v0.3.0 (to fix dependabot upgrades)
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
  gno.land/pkg/log/zap.go
  go.mod
  go.sum
  misc/autocounterd/go.sum
Labels: :package: :mountain: gno.land, review/triage-pending

#3387 fix(gnoweb): chroma gno.mod support
  gno.land/pkg/gnoweb/handler.go
Labels: :package: :mountain: gno.land

#3341 chore: experimental render proxy example for versioned realms
  examples/gno.land/r/x/jeronimo_render_proxy/example.gno
  examples/gno.land/r/x/jeronimo_render_proxy/gno.mod
  examples/gno.land/r/x/jeronimo_render_proxy/home/home.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/v1/v1.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/v1/z_filetest.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/v2/v2.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/v2/z_filetest.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/z_a_filetest.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/z_b_filetest.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/z_c_filetest.gno
Labels: :receipt: package/realm

#3393 fix(p/demo/avl): correct order for IterateByOffset
  examples/gno.land/p/demo/avl/node.gno
  examples/gno.land/p/demo/avl/node_test.gno
  examples/gno.land/p/demo/avl/pager/pager.gno
  examples/gno.land/p/n2p5/mgroup/mgroup_test.gno
Labels: :receipt: package/realm

#3324 feat(examples): add p/demo/avl/list
  examples/gno.land/p/demo/avl/list/gno.mod
  examples/gno.land/p/demo/avl/list/list.gno
  examples/gno.land/p/demo/avl/list/list_test.gno
Labels: :receipt: package/realm, in focus

#3386 feat: permissions support for individual boards
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/boards.gno
  examples/gno.land/r/demo/boards2/permission.gno
  examples/gno.land/r/demo/boards2/permission_default.gno
  examples/gno.land/r/demo/boards2/permission_default_test.gno
  examples/gno.land/r/demo/boards2/permission_handlers.gno
  examples/gno.land/r/demo/boards2/public.gno
Labels: :receipt: package/realm

#3394 fix(cmd/gno): reset runtime metrics allocator on each test run
  gnovm/pkg/test/test.go
Labels: :package: :robot: gnovm

#1290 feat(stdlibs): add `encoding`, `encoding/{base32,binary,csv}`
  gnovm/stdlibs/encoding/base32/base32.gno
  gnovm/stdlibs/encoding/base32/base32_test.gno
  gnovm/stdlibs/encoding/base32/example_test.gno
  gnovm/stdlibs/encoding/binary/varint.gno
  gnovm/stdlibs/encoding/binary/varint_test.gno
  gnovm/stdlibs/encoding/csv/reader.gno
  gnovm/stdlibs/encoding/csv/reader_test.gno
  gnovm/stdlibs/encoding/csv/writer.gno
  gnovm/stdlibs/encoding/csv/writer_test.gno
  gnovm/stdlibs/generated.go
Labels: :package: :robot: gnovm, in focus

#3410 feat(examples): Add Nemanya's Home Realm to Examples
  examples/gno.land/r/nemanya/config/config.gno
  examples/gno.land/r/nemanya/config/gno.mod
  examples/gno.land/r/nemanya/home/gno.mod
  examples/gno.land/r/nemanya/home/home.gno
Labels: :receipt: package/realm

#3404 feat(examples): add moul/typeutil
  examples/gno.land/p/moul/typeutil/gno.mod
  examples/gno.land/p/moul/typeutil/typeutil.gno
  examples/gno.land/p/moul/typeutil/typeutil_test.gno
Labels: :receipt: package/realm

#3415 fix(examples): run 'make fmt'
  .github/workflows/examples.yml
  examples/gno.land/r/nemanya/config/gno.mod
  examples/gno.land/r/nemanya/home/gno.mod
  examples/gno.land/r/nemanya/home/home.gno
Labels: :receipt: package/realm

#3397 chore: add r/demo/tests/test20 + add grc20.TokenGetter to reduce boilerplate when using grc20reg
  examples/gno.land/p/demo/grc/grc20/token.gno
  examples/gno.land/r/demo/bar20/bar20.gno
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
  examples/gno.land/r/demo/tests/test20/gno.mod
  examples/gno.land/r/demo/tests/test20/test20.gno
  examples/gno.land/r/demo/wugnot/wugnot.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#3407 feat(examples): add moul/ulist
  examples/gno.land/p/moul/ulist/gno.mod
  examples/gno.land/p/moul/ulist/ulist.gno
  examples/gno.land/p/moul/ulist/ulist_test.gno
Labels: :receipt: package/realm, :package: :robot: gnovm
