Repository gnolang/gno, pull requests merged in 2024-07, with the labels that each got.

#2400 feat: Implement genesis transaction list command.
  gno.land/cmd/gnoland/genesis_txs.go
  gno.land/cmd/gnoland/genesis_txs_list.go
  gno.land/cmd/gnoland/genesis_txs_list_test.go
  tm2/pkg/amino/amino.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2480 fix: `urequire` module path
  examples/gno.land/p/demo/urequire/gno.mod
Labels: hotfix, :receipt: package/realm, :package: :mountain: gno.land

#2130 feat: add `/r/sys/validators`
  examples/gno.land/p/nt/poa/gno.mod
  examples/gno.land/p/nt/poa/option.gno
  examples/gno.land/p/nt/poa/poa.gno
  examples/gno.land/p/nt/poa/poa_test.gno
  examples/gno.land/p/sys/validators/gno.mod
  examples/gno.land/p/sys/validators/types.gno
  examples/gno.land/r/gov/dao/prop1_filetest.gno
  examples/gno.land/r/sys/validators/doc.gno
  examples/gno.land/r/sys/validators/gno.mod
  examples/gno.land/r/sys/validators/gnosdk.gno
  examples/gno.land/r/sys/validators/init.gno
  examples/gno.land/r/sys/validators/poc.gno
  examples/gno.land/r/sys/validators/validators.gno
  gnovm/stdlibs/testing/testing.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#2475 feat: add unit tests to `p/gov/proposal`
  examples/gno.land/p/gov/proposal/gno.mod
  examples/gno.land/p/gov/proposal/proposal.gno
  examples/gno.land/p/gov/proposal/proposal_test.gno
  examples/gno.land/p/gov/proposal/types.gno
  examples/gno.land/r/gov/dao/dao.gno
  examples/gno.land/r/gov/dao/prop1_filetest.gno
  gnovm/stdlibs/math/rand/exp.gno
  gnovm/stdlibs/math/rand/normal.gno
  tm2/pkg/libtm/messages/types/messages.pb.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2160 refactor(stdlibs/std): re-organize gnoEvent struct
  gno.land/cmd/gnoland/testdata/event_callback.txtar
  gno.land/cmd/gnoland/testdata/event_defer_callback_loop.txtar
  gno.land/cmd/gnoland/testdata/event_for_statement.txtar
  gno.land/cmd/gnoland/testdata/event_multi_msg.txtar
  gno.land/cmd/gnoland/testdata/event_normal.txtar
  gnovm/stdlibs/std/emit_event.go
  gnovm/stdlibs/std/emit_event_test.go
  gnovm/stdlibs/std/native.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#2454 fix(gnovm): Resolve RefValues before using as Objects
  gnovm/pkg/gnolang/ownership.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/issue-2449.gno
Labels: :package: :robot: gnovm

#2498 chore(test): update home_filetest.gno due to CI failed
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#2507 fix(examples): fix output of uassert.Equal()
  examples/gno.land/p/demo/uassert/uassert.gno
Labels: :receipt: package/realm

#2506 fix(examples): fix output of urequire.PanicsWithMessage()
  examples/gno.land/p/demo/uassert/uassert.gno
  examples/gno.land/p/demo/uassert/uassert_test.gno
Labels: :receipt: package/realm

#2512 docs: fix typos
  LICENSE.md
  docs/concepts/effective-gno.md
  docs/concepts/stdlibs/gnopher-hole.md
  docs/how-to-guides/creating-grc20.md
  examples/gno.land/r/gnoland/pages/page_license.gno
Labels: :receipt: package/realm

#2504 fix(gno.land): pre-load all standard libraries in vm.Initialize
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoland/testdata/issue_2283.txtar
  gno.land/cmd/gnoland/testdata/issue_2283_cacheTypes.txtar
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/sdk/vm/builtins.go
  gno.land/pkg/sdk/vm/common_test.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gnovm/pkg/gnolang/store.go
  gnovm/stdlibs/generated.go
  gnovm/tests/stdlibs/generated.go
  misc/devdeps/go.mod
  misc/devdeps/go.sum
  misc/genstd/genstd.go
  misc/genstd/genstd_test.go
  misc/genstd/mapping.go
  misc/genstd/package_sort.go
  misc/genstd/package_sort_test.go
  misc/genstd/template.tmpl
  misc/genstd/testdata/integration/bytes/bytes.gno
  misc/genstd/testdata/integration/bytes/bytes.go
  misc/genstd/testdata/integration/generated.go.golden
  misc/genstd/testdata/integration/io/io.gno
  misc/genstd/testdata/sortPackages/a/a.gno
  misc/genstd/testdata/sortPackages/b/b.gno
  misc/genstd/util.go
  misc/genstd/walk.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#2485 feat: add 'gno mod tidy -v --recursive' flags
  examples/Makefile
  gnovm/cmd/gno/mod.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#1257 feat: Bound Method Realm support
  examples/gno.land/p/demo/tests/p_crossrealm/gno.mod
  examples/gno.land/p/demo/tests/p_crossrealm/p_crossrealm.gno
  examples/gno.land/r/demo/tests/crossrealm/crossrealm.gno
  examples/gno.land/r/demo/tests/crossrealm/gno.mod
  gno.land/pkg/sdk/vm/gas_test.go
  gnovm/cmd/gno/run_test.go
  gnovm/cmd/gno/testdata/gno_test/realm_boundmethod.txtar
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/ownership.go
  gnovm/pkg/gnolang/realm.go
  gnovm/tests/files/zrealm_crossrealm14.gno
  gnovm/tests/imports.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#2342 feat: add p/nestedpkg
  examples/gno.land/p/demo/nestedpkg/gno.mod
  examples/gno.land/p/demo/nestedpkg/nestedpkg.gno
  examples/gno.land/p/demo/nestedpkg/nestedpkg_test.gno
  examples/gno.land/r/demo/tests/gno.mod
  examples/gno.land/r/demo/tests/tests.gno
Labels: :receipt: package/realm

#2521 fix: update `tx-archive` usage in portal loop
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  go.mod
  go.sum
  misc/loop/cmd/portal-loop.go
  misc/loop/cmd/snapshotter.go
  misc/loop/docker-compose.production.yml
  misc/loop/go.mod
  misc/loop/go.sum
Labels: hotfix

#2522 fix(examples): wrong module name of nestedpkg
  examples/gno.land/p/demo/nestedpkg/gno.mod
Labels: hotfix, :receipt: package/realm

#2509 feat: improve `r/gnoland/valopers` implementation
  examples/gno.land/r/gnoland/valopers/gno.mod
  examples/gno.land/r/gnoland/valopers/init.gno
  examples/gno.land/r/gnoland/valopers/valopers.gno
  examples/gno.land/r/gnoland/valopers/valopers_test.gno
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2524 fix: update golden test `zrealm_tests0_stdlibs.gno`
  gnovm/tests/files/zrealm_tests0_stdlibs.gno
Labels: hotfix, :package: :robot: gnovm

#2525 fix: Revert "feat: add p/nestedpkg (#2342)"
  examples/gno.land/p/demo/nestedpkg/gno.mod
  examples/gno.land/p/demo/nestedpkg/nestedpkg.gno
  examples/gno.land/p/demo/nestedpkg/nestedpkg_test.gno
  examples/gno.land/r/demo/tests/gno.mod
  examples/gno.land/r/demo/tests/tests.gno
Labels: hotfix, :receipt: package/realm

#2527 fix: regenerate output for `zrealm_tests0_stdlibs`
  gnovm/tests/files/zrealm_tests0_stdlibs.gno
Labels: hotfix, :package: :robot: gnovm

#2528 feat: add devx balances and validators
  misc/deployments/test4.gno.land/genesis.json
  misc/deployments/test4.gno.land/genesis_balances.txt
Labels: :package: :mountain: gno.land

#2229 feat: add valset injection through `r/sys/validators`
  contribs/gnodev/pkg/dev/node.go
  examples/gno.land/r/gov/dao/prop1_filetest.gno
  examples/gno.land/r/sys/validators/gno.mod
  examples/gno.land/r/sys/validators/gnosdk.gno
  examples/gno.land/r/sys/validators/init.gno
  examples/gno.land/r/sys/validators/validators.gno
  examples/gno.land/r/sys/validators/validators_test.gno
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/gnoland/events.go
  gno.land/pkg/gnoland/mock_test.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/gnoland/vals.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/stdlibs/std/emit_event.gno
  gnovm/stdlibs/std/emit_event.go
  gnovm/stdlibs/std/emit_event_test.go
  gnovm/stdlibs/std/package.go
  gnovm/tests/imports.go
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/node/node_test.go
  tm2/pkg/bft/state/execution.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/options.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2462 fix(gnoweb): footer display
  gno.land/pkg/gnoweb/static/css/app.css
Labels: :package: :mountain: gno.land

#2529 feat(examples): refactor grc20
  docs/assets/how-to-guides/creating-grc20/mytoken-1.gno
  docs/assets/how-to-guides/creating-grc20/mytoken-2.gno
  docs/concepts/effective-gno.md
  docs/concepts/packages.md
  docs/how-to-guides/creating-grc20.md
  examples/gno.land/p/demo/grc/exts/vault/errors.gno
  examples/gno.land/p/demo/grc/exts/vault/gno.mod
  examples/gno.land/p/demo/grc/exts/vault/vault.gno
  examples/gno.land/p/demo/grc/exts/vault/vault_filetest.gno
  examples/gno.land/p/demo/grc/exts/vault/vault_test.gno
  examples/gno.land/p/demo/grc/grc20/admin_token.gno
  examples/gno.land/p/demo/grc/grc20/admin_token_test.gno
  examples/gno.land/p/demo/grc/grc20/banker.gno
  examples/gno.land/p/demo/grc/grc20/banker_test.gno
  examples/gno.land/p/demo/grc/grc20/dummy_test.gno
  examples/gno.land/p/demo/grc/grc20/errors.gno
  examples/gno.land/p/demo/grc/grc20/gno.mod
  examples/gno.land/p/demo/grc/grc20/imustgrc20.gno
  examples/gno.land/p/demo/grc/grc20/mustgrc20.gno
  examples/gno.land/p/demo/grc/grc20/mustgrc20_test.gno
  examples/gno.land/p/demo/grc/grc20/token.gno
  examples/gno.land/p/demo/grc/grc20/token_test.gno
  examples/gno.land/p/demo/grc/grc20/types.gno
  examples/gno.land/p/demo/grc/grc20/user_token.gno
  examples/gno.land/p/demo/grc/grc20/util.gno
  examples/gno.land/r/demo/bar20/bar20.gno
  examples/gno.land/r/demo/bar20/bar20_test.gno
  examples/gno.land/r/demo/bar20/gno.mod
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/foo20/gno.mod
  examples/gno.land/r/demo/grc20factory/gno.mod
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
  examples/gno.land/r/demo/grc20factory/grc20factory_test.gno
  examples/gno.land/r/demo/wugnot/wugnot.gno
Labels: :receipt: package/realm

#2538 chore: fix broken CI
  examples/gno.land/r/demo/wugnot/wugnot.gno
Labels: :receipt: package/realm

#2545 fix: rollback docker go versions for portal loop
  misc/loop/cmd/portal-loop.go
  misc/loop/cmd/snapshotter.go
  misc/loop/go.mod
  misc/loop/go.sum
Labels: hotfix

#2514 docs: Gno.land to gno.land
  .gitpod.yml
  README.md
  contribs/gnofaucet/serve.go
  docs/concepts/concepts.md
  docs/concepts/gno-language.md
  docs/concepts/gno-modules.md
  docs/concepts/portal-loop.md
  docs/concepts/stdlibs/events.md
  docs/concepts/tendermint2.md
  docs/concepts/testnets.md
  docs/getting-started/local-setup/browsing-gnoland.md
  docs/getting-started/local-setup/installation.md
  docs/getting-started/local-setup/interacting-with-gnoland.md
  docs/getting-started/local-setup/local-setup.md
  docs/getting-started/local-setup/working-with-key-pairs.md
  docs/getting-started/playground-start.md
  docs/gno-infrastructure/premining-balances.md
  docs/gno-infrastructure/validators/connect-to-existing-chain.md
  docs/gno-infrastructure/validators/faq.md
  docs/gno-infrastructure/validators/overview.md
  docs/gno-infrastructure/validators/running-a-validator.md
  docs/gno-infrastructure/validators/setting-up-a-new-chain.md
  docs/gno-tooling/cli/gnoland.md
  docs/how-to-guides/connecting-from-go.md
  docs/how-to-guides/deploy.md
  docs/how-to-guides/write-simple-dapp.md
  docs/overview.md
  docs/reference/gnoclient/gnoclient.md
  examples/gno.land/r/demo/nft/README.md
  examples/gno.land/r/gnoland/events/events.gno
  examples/gno.land/r/gnoland/events/events_filetest.gno
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_about.gno
  examples/gno.land/r/gnoland/pages/page_ecosystem.gno
  examples/gno.land/r/gnoland/pages/page_gnolang.gno
  examples/gno.land/r/gnoland/pages/page_gor.gno
  examples/gno.land/r/gnoland/pages/page_partners.gno
  gno.land/README.md
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/gnoclient/README.md
  gno.land/pkg/gnoweb/static/font/README.md
  gno.land/pkg/gnoweb/views/faucet.html
  tm2/README.md
  tm2/pkg/bft/config/toml.go
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2380 feat: new govdao pattern with context
  examples/gno.land/p/demo/context/context.gno
  examples/gno.land/p/demo/context/context_test.gno
  examples/gno.land/p/demo/context/gno.mod
  examples/gno.land/p/gov/proposal/gno.mod
  examples/gno.land/p/gov/proposal/proposal.gno
  examples/gno.land/r/gnoland/blog/admin.gno
  examples/gno.land/r/gnoland/blog/gno.mod
  examples/gno.land/r/gov/dao/prop1_filetest.gno
  examples/gno.land/r/gov/dao/prop2_filetest.gno
Labels: :receipt: package/realm

#2329 feat: add watchdog and monit
  examples/gno.land/p/demo/watchdog/gno.mod
  examples/gno.land/p/demo/watchdog/watchdog.gno
  examples/gno.land/p/demo/watchdog/watchdog_test.gno
  examples/gno.land/r/gnoland/monit/gno.mod
  examples/gno.land/r/gnoland/monit/monit.gno
  examples/gno.land/r/gnoland/monit/monit_test.gno
Labels: :receipt: package/realm

#2493 feat: Added missing functionality to govDAO
  examples/gno.land/p/gov/proposal/gno.mod
  examples/gno.land/p/gov/proposal/proposal.gno
  examples/gno.land/p/gov/proposal/proposal_test.gno
  examples/gno.land/p/gov/proposal/types.gno
  examples/gno.land/r/gov/dao/dao.gno
  examples/gno.land/r/gov/dao/dao_test.gno
  examples/gno.land/r/gov/dao/gno.mod
  examples/gno.land/r/gov/dao/memberset.gno
  examples/gno.land/r/gov/dao/prop1_filetest.gno
  examples/gno.land/r/gov/dao/prop2_filetest.gno
  examples/gno.land/r/gov/dao/types.gno
  examples/gno.land/r/gov/dao/voter.gno
Labels: :receipt: package/realm

#2418 feat: Initialize static blocks before preprocess
  examples/gno.land/p/demo/avl/z_0_filetest.gno
  examples/gno.land/p/demo/avl/z_1_filetest.gno
  examples/gno.land/p/demo/avl/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/nft/z_0_filetest.gno
  gnovm/cmd/gno/testdata/gno_test/realm_correct.txtar
  gnovm/cmd/gno/testdata/gno_test/realm_sync.txtar
  gnovm/cmd/gno/testdata/gno_test/test_with-native-fallback.txtar
  gnovm/cmd/gno/testdata/gno_test/unknow_lib.txtar
  gnovm/pkg/gnolang/debugger.go
  gnovm/pkg/gnolang/gonative_test.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/preprocess_test.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/assign_unnamed_type/more/realm_compositelit_filetest.gno
  gnovm/tests/files/heap_item_value.gno
  gnovm/tests/files/heap_item_value_init.gno
  gnovm/tests/files/import6.gno
  gnovm/tests/files/zrealm0.gno
  gnovm/tests/files/zrealm1.gno
  gnovm/tests/files/zrealm10.gno
  gnovm/tests/files/zrealm11.gno
  gnovm/tests/files/zrealm2.gno
  gnovm/tests/files/zrealm3.gno
  gnovm/tests/files/zrealm4.gno
  gnovm/tests/files/zrealm5.gno
  gnovm/tests/files/zrealm6.gno
  gnovm/tests/files/zrealm7.gno
  gnovm/tests/files/zrealm8.gno
  gnovm/tests/files/zrealm9.gno
  gnovm/tests/files/zrealm_avl0.gno
  gnovm/tests/files/zrealm_avl1.gno
  gnovm/tests/files/zrealm_avl2.gno
  gnovm/tests/files/zrealm_natbind0_stdlibs.gno
  gnovm/tests/files/zrealm_tests0_stdlibs.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#2552 chore: update homepage
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#2556 fix: govDAO: Use GetOrigCaller() to be able to run proposals using MsgRun
  examples/gno.land/r/gov/dao/dao.gno
  examples/gno.land/r/gov/dao/dao_test.gno
  examples/gno.land/r/gov/dao/prop1_filetest.gno
  examples/gno.land/r/gov/dao/prop2_filetest.gno
Labels: hotfix, :receipt: package/realm

#2471 feat: users namespace
  docs/concepts/namespaces.md
  examples/gno.land/r/demo/boards/z_0_b_filetest.gno
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/boards/z_10_b_filetest.gno
  examples/gno.land/r/demo/boards/z_11_a_filetest.gno
  examples/gno.land/r/demo/boards/z_11_b_filetest.gno
  examples/gno.land/r/demo/boards/z_11_c_filetest.gno
  examples/gno.land/r/demo/boards/z_11_d_filetest.gno
  examples/gno.land/r/demo/boards/z_11_filetest.gno
  examples/gno.land/r/demo/boards/z_5_b_filetest.gno
  examples/gno.land/r/demo/boards/z_5_c_filetest.gno
  examples/gno.land/r/demo/boards/z_5_d_filetest.gno
  examples/gno.land/r/demo/boards/z_7_filetest.gno
  examples/gno.land/r/demo/boards/z_8_filetest.gno
  examples/gno.land/r/demo/groups/z_0_b_filetest.gno
  examples/gno.land/r/demo/groups/z_1_a_filetest.gno
  examples/gno.land/r/demo/groups/z_2_a_filetest.gno
  examples/gno.land/r/demo/users/preregister.gno
  examples/gno.land/r/demo/users/users.gno
  examples/gno.land/r/demo/users/z_0_b_filetest.gno
  examples/gno.land/r/demo/users/z_10_filetest.gno
  examples/gno.land/r/demo/users/z_11_filetest.gno
  examples/gno.land/r/demo/users/z_11b_filetest.gno
  examples/gno.land/r/demo/users/z_1_filetest.gno
  examples/gno.land/r/demo/users/z_2_filetest.gno
  examples/gno.land/r/demo/users/z_3_filetest.gno
  examples/gno.land/r/demo/users/z_4_filetest.gno
  examples/gno.land/r/demo/users/z_5_filetest.gno
  examples/gno.land/r/demo/users/z_6_filetest.gno
  examples/gno.land/r/demo/users/z_7_filetest.gno
  examples/gno.land/r/demo/users/z_7b_filetest.gno
  examples/gno.land/r/demo/users/z_8_filetest.gno
  examples/gno.land/r/demo/users/z_9_filetest.gno
  examples/gno.land/r/sys/names/genesis.gno
  examples/gno.land/r/sys/names/gno.mod
  examples/gno.land/r/sys/names/names.gno
  examples/gno.land/r/sys/users/gno.mod
  examples/gno.land/r/sys/users/verify.gno
  gno.land/cmd/gnoland/testdata/addpkg_namespace.txtar
  gno.land/genesis/genesis_txs.jsonl
  gno.land/pkg/gnoweb/gnoweb_test.go
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/testdata/patchpkg.txtar
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/integration/testing_node.go
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/package.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2500 fix(vm): avoid "index out of range" in `convertArgToGno`
  gno.land/pkg/sdk/vm/convert.go
  gno.land/pkg/sdk/vm/convert_test.go
Labels: :package: :mountain: gno.land

#2559 feat: skip `gno.mod` in ReadMemPackage
  gnovm/pkg/gnolang/nodes.go
Labels: :package: :robot: gnovm

#2558 test(gnoclient): Fix a potential bug in the integration test
  gno.land/pkg/gnoclient/integration_test.go
Labels: :package: :mountain: gno.land

#2508 feat: test4 `genesis.json` and suggested `config.toml`
  misc/deployments/test4.gno.land/README.md
  misc/deployments/test4.gno.land/config.toml
  misc/deployments/test4.gno.land/genesis.json
  misc/deployments/test4.gno.land/genesis_balances.txt
Labels: don't merge, :package: :mountain: gno.land

#2569 chore: add test4 `persistent_peers`
  misc/deployments/test4.gno.land/README.md
  misc/deployments/test4.gno.land/config.toml
Labels: :package: :mountain: gno.land

#2568 fix(sdk/vm): re-load iavl store from backup if empty
  gno.land/pkg/sdk/vm/keeper.go
Labels: hotfix, :package: :mountain: gno.land

#2566 refactor(gnovm/gno/bug): sync bug template
  .github/ISSUE_TEMPLATE/BUG-REPORT.md
  gnovm/cmd/gno/bug.go
Labels: :package: :robot: gnovm

#2572 test(cmd/gno): fix TestBugApp
  gnovm/cmd/gno/bug_test.go
Labels: :package: :robot: gnovm

#2576 docs: add test4 config & update testnets section
  docs/concepts/namespaces.md
  docs/concepts/testnets.md
  docs/reference/network-config.md
Labels: :book: documentation

#2491 chore(examples): Use uassert/urequire instead of testing in some demo packages
  examples/gno.land/p/demo/acl/acl_test.gno
  examples/gno.land/p/demo/acl/gno.mod
  examples/gno.land/p/demo/gnorkle/agent/gno.mod
  examples/gno.land/p/demo/gnorkle/agent/whitelist_test.gno
  examples/gno.land/p/demo/gnorkle/feeds/static/feed_test.gno
  examples/gno.land/p/demo/gnorkle/feeds/static/gno.mod
  examples/gno.land/p/demo/gnorkle/ingesters/single/gno.mod
  examples/gno.land/p/demo/gnorkle/ingesters/single/ingester_test.gno
  examples/gno.land/p/demo/gnorkle/message/gno.mod
  examples/gno.land/p/demo/gnorkle/message/parse_test.gno
  examples/gno.land/p/demo/gnorkle/storage/simple/gno.mod
  examples/gno.land/p/demo/gnorkle/storage/simple/storage_test.gno
  examples/gno.land/p/demo/grc/grc1155/basic_grc1155_token_test.gno
  examples/gno.land/p/demo/grc/grc1155/gno.mod
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
  examples/gno.land/p/demo/grc/grc721/gno.mod
  examples/gno.land/p/demo/grc/grc721/grc721_metadata_test.gno
  examples/gno.land/p/demo/grc/grc721/grc721_royalty_test.gno
  examples/gno.land/p/demo/memeland/gno.mod
  examples/gno.land/p/demo/memeland/memeland_test.gno
  examples/gno.land/p/demo/pausable/gno.mod
  examples/gno.land/p/demo/pausable/pausable_test.gno
  examples/gno.land/p/demo/tests/gno.mod
  examples/gno.land/p/demo/tests/tests_test.gno
  examples/gno.land/p/demo/todolist/gno.mod
  examples/gno.land/p/demo/todolist/todolist_test.gno
  examples/gno.land/p/demo/uassert/uassert.gno
  examples/gno.land/p/demo/uassert/uassert_test.gno
  examples/gno.land/p/demo/urequire/urequire.gno
  examples/gno.land/r/demo/art/gnoface/gno.mod
  examples/gno.land/r/demo/art/gnoface/gnoface_test.gno
  examples/gno.land/r/demo/art/millipede/gno.mod
  examples/gno.land/r/demo/art/millipede/millipede_test.gno
  examples/gno.land/r/demo/echo/echo_test.gno
  examples/gno.land/r/demo/echo/gno.mod
  examples/gno.land/r/demo/grc20factory/gno.mod
  examples/gno.land/r/demo/grc20factory/grc20factory_test.gno
  examples/gno.land/r/demo/keystore/gno.mod
  examples/gno.land/r/demo/keystore/keystore_test.gno
  examples/gno.land/r/demo/microblog/gno.mod
  examples/gno.land/r/demo/microblog/microblog_test.gno
  examples/gno.land/r/demo/todolist/gno.mod
  examples/gno.land/r/demo/todolist/todolist_test.gno
  examples/gno.land/r/demo/ui/gno.mod
  examples/gno.land/r/demo/ui/ui_test.gno
Labels: :receipt: package/realm

#2582 fix(testdata): wrong expectation at gnoweb_airgapped.txtar
  gno.land/cmd/gnoland/testdata/gnoweb_airgapped.txtar
Labels: :package: :mountain: gno.land

#2587 chore: fix ci
  gno.land/cmd/gnoland/testdata/gnoweb_airgapped.txtar
Labels: :package: :mountain: gno.land

#1983 feat: r/profile dapp
  examples/gno.land/r/demo/profile/gno.mod
  examples/gno.land/r/demo/profile/profile.gno
  examples/gno.land/r/demo/profile/profile_test.gno
  examples/gno.land/r/demo/profile/render.gno
Labels: :receipt: package/realm

#2483 fix(gnovm): repair selector type aliasing
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/type_alias.gno
Labels: :package: :robot: gnovm

#2492 fix(gnovm): annotate specific reason a value does not implement an interface
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/pkg/gnolang/types.go
  gnovm/tests/files/access6_stdlibs.gno
  gnovm/tests/files/access7_stdlibs.gno
  gnovm/tests/files/fun27.gno
  gnovm/tests/files/type24b.gno
  gnovm/tests/files/typeassert4a.gno
  gnovm/tests/files/typeassert6a.gno
  gnovm/tests/files/typeassert9a.gno
  gnovm/tests/files/types/assign_type_assertion_c.gno
  gnovm/tests/files/types/eql_0b4_stdlibs.gno
  gnovm/tests/files/types/eql_0f0_stdlibs.gno
  gnovm/tests/files/types/eql_0f1_stdlibs.gno
  gnovm/tests/files/types/eql_0f41_stdlibs.gno
  gnovm/tests/files/types/eql_0f8_stdlibs.gno
Labels: :package: :robot: gnovm

#2367 feat: named and unnamed type assignment 3 of 3
  gnovm/Makefile
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/transcribe.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed1a_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed1b_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2b_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2c_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2d_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2e_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2f2_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2f_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed2g_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed3_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed4_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed4b_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed4c_filetest.gno
  gnovm/tests/files/assign_unnamed_type/decompose/decompose_unnamed_filetest.gno
Labels: :package: :robot: gnovm

#2309 feat(gnokey): Print out the transaction hash when maketx executes successfully
  gno.land/cmd/gnoland/testdata/addpkg.txtar
  gno.land/cmd/gnoland/testdata/addpkg_invalid.txtar
  gno.land/cmd/gnoland/testdata/event_callback.txtar
  gno.land/cmd/gnoland/testdata/event_defer_callback_loop.txtar
  gno.land/cmd/gnoland/testdata/event_for_statement.txtar
  gno.land/cmd/gnoland/testdata/event_normal.txtar
  gno.land/cmd/gnoland/testdata/run.txtar
  gno.land/pkg/integration/testdata/adduser.txtar
  gno.land/pkg/integration/testdata/loadpkg_work.txtar
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/maketx.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2589 fix(tm2): Fix request_id mismatch at http client
  tm2/pkg/bft/rpc/lib/client/http/client.go
  tm2/pkg/bft/rpc/lib/client/http/client_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#2553 feat(examples): improve p/demo/ufmt
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
Labels: :receipt: package/realm

#1941 feat: expose InitChain tx responses
  gno.land/pkg/gnoland/app.go
  tm2/pkg/bft/abci/types/abci.proto
  tm2/pkg/bft/abci/types/types.go
  tm2/pkg/bft/consensus/replay.go
  tm2/pkg/bft/consensus/replay_test.go
  tm2/pkg/bft/rpc/core/blocks.go
  tm2/pkg/bft/rpc/core/blocks_test.go
  tm2/pkg/bft/state/execution.go
  tm2/pkg/bft/state/export_test.go
  tm2/pkg/bft/state/store.go
Labels: breaking change, :receipt: package/realm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2490 feat(p/uassert, p/diff): Support Diff in `p/uassert` Package
  examples/gno.land/p/demo/diff/diff.gno
  examples/gno.land/p/demo/diff/diff_test.gno
  examples/gno.land/p/demo/diff/gno.mod
  examples/gno.land/p/demo/uassert/gno.mod
  examples/gno.land/p/demo/uassert/uassert.gno
  examples/gno.land/p/demo/uassert/uassert_test.gno
Labels: :receipt: package/realm

#2567 feat(gnovm): add /debug command in REPL
  gnovm/cmd/gno/repl.go
  gnovm/pkg/gnolang/debugger.go
  gnovm/pkg/repl/repl.go
Labels: :package: :robot: gnovm

#2464 feat(gnovm): enforce formatting of added packages
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/go2gno_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2334 chore: add two new upgrade examples + refactor existing ones
  examples/gno.land/p/demo/nestedpkg/gno.mod
  examples/gno.land/p/demo/nestedpkg/nestedpkg.gno
  examples/gno.land/r/demo/tests/gno.mod
  examples/gno.land/r/demo/tests/nestedpkg_test.gno
  examples/gno.land/r/demo/tests/tests.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/README.md
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_a/integration_filetest.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_c/integration_filetest.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_c/root/root.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_c/v1/v1.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_c/v2/v2.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/README.md
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_e/home.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_e/v1impl/v1impl.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_e/v1impl/z_filetest.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_f/home/home.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_f/v1impl/v1impl.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_f/v1impl/z_filetest.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_f/v2impl/v2impl.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_f/v2impl/z_filetest.gno
Labels: :receipt: package/realm

#2583 feat(r/gnoland/home): add AdminSetOverride
  examples/gno.land/r/gnoland/home/gno.mod
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/overide_filetest.gno
Labels: :receipt: package/realm

#2625 ci: fix broken CI, always test all go code
  .github/workflows/contribs.yml
  .github/workflows/dependabot-tidy.yml
  .github/workflows/examples.yml
  .github/workflows/gnoland.yml
  .github/workflows/gnovm.yml
  .github/workflows/misc.yml
  .github/workflows/tm2.yml
  gnovm/tests/files/zrealm_tests0_stdlibs.gno
Labels: :package: :robot: gnovm

#2377 feat(coverage): Add back coverage support for `txtar`
  .github/workflows/test_template.yml
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2614 fix(gnoland): Update error type for invalid deposit
  gno.land/pkg/sdk/vm/msgs.go
  tm2/pkg/sdk/bank/msgs.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2206 fix: missing length check in value declaration
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/tests/files/assign24.gno
  gnovm/tests/files/assign25.gno
  gnovm/tests/files/assign25b.gno
  gnovm/tests/files/assign26.gno
  gnovm/tests/files/assign27.gno
  gnovm/tests/files/assign28.gno
  gnovm/tests/files/var18.gno
  gnovm/tests/files/var19.gno
  gnovm/tests/files/var20.gno
  gnovm/tests/files/var21.gno
  gnovm/tests/files/var22.gno
  gnovm/tests/files/var22b.gno
  gnovm/tests/files/var23.gno
  gnovm/tests/files/var24.gno
  gnovm/tests/files/var25.gno
  gnovm/tests/files/var26.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2642 fix: In r/demo/profile fieldHandler, use url.QueryEscape(value)
  examples/gno.land/r/demo/profile/render.gno
Labels: :receipt: package/realm

#2639 fix(fmt): do not print a second line when printing file to stdout
  gnovm/cmd/gno/fmt.go
  gnovm/cmd/gno/testdata/gno_fmt/empty.txtar
  gnovm/cmd/gno/testdata/gno_fmt/import_cleaning.txtar
  gnovm/cmd/gno/testdata/gno_fmt/include.txtar
  gnovm/cmd/gno/testdata/gno_fmt/multi_import.txtar
  gnovm/cmd/gno/testdata/gno_fmt/noimport_format.txtar
  gnovm/cmd/gno/testdata/gno_fmt/shadow_import.txtar
Labels: :package: :robot: gnovm

#2644 ci: fix backwards incompatible change
  tm2/pkg/crypto/secp256k1/secp256k1_nocgo.go
Labels: :package: :globe_with_meridians: tendermint v2

#2645 fix(gnovm): fix max names in block check
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/nodes_test.go
Labels: :package: :robot: gnovm
