Repository gnolang/gno, pull requests merged in 2024-01, with the labels that each got.

#1491 docs: fix some typos
  docs/reference/go-gno-compatibility.md
  docs/reference/rpc-endpoints.md
  docs/reference/standard-library.md
Labels: :book: documentation

#1305 fix: properly mark array elements when an realm slice is updated
  gno.land/cmd/gnoland/testdata/append.txtar
  gno.land/cmd/gnoland/testdata/issue-1167.txtar
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/a47.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#1494 chore: HTTP server error handling
  gno.land/cmd/gnofaucet/serve.go
Labels: :package: :mountain: gno.land

#1428 docs: fix typos
  CONTRIBUTING.md
  docs/concepts/gno-modules.md
  gno.land/cmd/gnoland/testdata/grc20-registry.txtar
  gno.land/pkg/gnoweb/static/js/umbrella.js
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/stdlibs/math/bits/bits_test.gno
  misc/deployments/staging.gno.land/overlay/config.toml
  misc/deployments/test2.gno.land/overlay/config.toml
  misc/deployments/test3.gno.land/overlay/config.toml
  tm2/pkg/bft/config/toml.go
  tm2/pkg/bft/rpc/config/config.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1452 chore: add challenge for "is not a type" error
  gnovm/tests/challenges/not_a_type.gno
Labels: :package: :robot: gnovm

#1459 refactor(gnolang): handle duplicate method decls using TryDefineMethod
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/types.go
Labels: :package: :robot: gnovm

#1177 fix: handle untyped constant expressions in append()
  examples/gno.land/r/gnoland/faucet/z2_filetest.gno
  examples/gno.land/r/gnoland/faucet/z3_filetest.gno
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/tests/files/append5.gno
  gnovm/tests/files/append6.gno
  gnovm/tests/files/append7.gno
  gnovm/tests/files/convert4.gno
  gnovm/tests/files/convert5.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#1512 docs(gnoweb): remove reference to gnoteam domain
  gno.land/pkg/gnoweb/views/realm_help.html
Labels: :book: documentation, :package: :mountain: gno.land

#1471 feat: new txtar command `adduser`
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/testdata/adduser.txtar
  gno.land/pkg/integration/testing_integration.go
Labels: :package: :mountain: gno.land

#1423 fix: untyped values use calling builtin function's type
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/issue-1085.gno
Labels: :package: :robot: gnovm

#1519 chore: remove `gnodev` leftovers
  gnovm/cmd/gno/doc.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/main_test.go
  gnovm/cmd/gno/run.go
  gnovm/pkg/doc/doc.go
  gnovm/pkg/doc/print.go
Labels: :package: :robot: gnovm

#1525 fix(r/demo/boards): update the user link in displayAddressMD to correct path
  examples/gno.land/r/demo/boards/misc.gno
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/boards/z_10_c_filetest.gno
  examples/gno.land/r/demo/boards/z_10_filetest.gno
  examples/gno.land/r/demo/boards/z_11_d_filetest.gno
  examples/gno.land/r/demo/boards/z_11_filetest.gno
  examples/gno.land/r/demo/boards/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_3_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/boards/z_5_c_filetest.gno
  examples/gno.land/r/demo/boards/z_5_filetest.gno
  examples/gno.land/r/demo/boards/z_6_filetest.gno
  examples/gno.land/r/demo/boards/z_7_filetest.gno
  examples/gno.land/r/demo/boards/z_8_filetest.gno
  examples/gno.land/r/demo/boards/z_9_filetest.gno
Labels: :receipt: package/realm

#1493 fix(gnofaucet): fix transactions by querying account number and sequence each time
  gno.land/cmd/gnofaucet/serve.go
Labels: :package: :mountain: gno.land

#1468 docs: standard library, banker, coins, address
  docs/concepts/gno-test.md
  docs/concepts/packages.md
  docs/concepts/standard-library/banker.md
  docs/concepts/standard-library/coin.md
  docs/concepts/standard-library/gnopher-hole.md
  docs/concepts/standard-library/overview.md
  docs/gno-tooling/cli/gno.md
  docs/gno-tooling/cli/gnofaucet.md
  docs/gno-tooling/cli/gnokey.md
  docs/gno-tooling/cli/gnoland.md
  docs/gno-tooling/cli/tm2txsync.md
  docs/how-to-guides/testing-gno.md
  docs/overview.md
  docs/reference/standard-library.md
  docs/reference/standard-library/overview.md
  docs/reference/standard-library/std/address.md
  docs/reference/standard-library/std/banker.md
  docs/reference/standard-library/std/chain.md
  docs/reference/standard-library/std/coin.md
  docs/reference/standard-library/std/coins.md
  docs/reference/standard-library/std/testing.md
  misc/docusaurus/sidebars.js
  misc/docusaurus/yarn.lock
Labels: :book: documentation

#1490 fix: remove the annoying tail message shows on every command with -h or --help
  contribs/gnodev/main.go
  contribs/gnokeykc/main.go
  docs/getting-started/working-with-key-pairs.md
  gno.land/cmd/genesis/main.go
  gno.land/cmd/gnofaucet/main.go
  gno.land/cmd/gnokey/main.go
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnotxsync/main.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/testdata/gno_precompile/01_no_args.txtar
  gnovm/cmd/gno/testdata/gno_test/no_args.txtar
  misc/genproto/genproto.go
  misc/goscan/goscan.go
  tm2/pkg/commands/command.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1492 refactor: check key name validation for key import and export
  tm2/pkg/crypto/keys/client/export.go
  tm2/pkg/crypto/keys/client/export_test.go
  tm2/pkg/crypto/keys/client/import.go
  tm2/pkg/crypto/keys/client/import_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#1397 fix(cmd/gno): log panic information in gno test
  gnovm/cmd/gno/test.go
Labels: :package: :robot: gnovm

#1489 docs(readme): add play.gno.land
  README.md
Labels: :book: documentation

#1550 chore: remove leftover debugging printlns
  gnovm/pkg/gnolang/nodes.go
  gnovm/stdlibs/std/native.go
Labels: :package: :robot: gnovm

#1047 feat: add gno.land/pkg/gnoclient (Gno.land Go client)
  gno.land/pkg/gnoclient/README.md
  gno.land/pkg/gnoclient/client.go
  gno.land/pkg/gnoclient/client_queries.go
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/example_test.go
  gno.land/pkg/gnoclient/signer.go
  gno.land/pkg/gnoclient/signer_test.go
  tm2/pkg/crypto/keys/keybase.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1553 feat: add Dependabot groups
  .github/dependabot.yml
Labels: dependencies

#1560 fix(cmd/gno): correctly filter filetests in `listNonTestFiles`
  gnovm/cmd/gno/run.go
Labels: :lady_beetle: bug, :package: :robot: gnovm

#1559 fix: replace `fmt` with `ufmt` in realm examples (docs)
  docs/assets/how-to-guides/simple-contract/counter.gno
  docs/assets/how-to-guides/testing-gno/counter-1.gno
  docs/how-to-guides/simple-contract.md
  docs/how-to-guides/testing-gno.md
Labels: :book: documentation

#1202 feat: improve gno linter with basic errors support
  CONTRIBUTING.md
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/lint_test.go
  gnovm/cmd/gno/run_test.go
  gnovm/cmd/gno/test_test.go
  gnovm/cmd/gno/testdata/gno_test/lint_bad_import.txtar
  gnovm/cmd/gno/testdata/gno_test/lint_file_error.txtar
  gnovm/cmd/gno/testdata/gno_test/lint_file_error_txtar
  gnovm/cmd/gno/testdata/gno_test/lint_no_error.txtar
  gnovm/cmd/gno/testdata/gno_test/lint_no_gnomod.txtar
  gnovm/cmd/gno/testdata/gno_test/lint_not_declared.txtar
  gnovm/pkg/gnolang/debug.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/repl/repl_test.go
  gnovm/tests/file.go
  gnovm/tests/integ/package-not-declared/gno.mod
  gnovm/tests/integ/package-not-declared/main.gno
  gnovm/tests/integ/undefined-variable-test/gno.mod
  gnovm/tests/integ/undefined-variable-test/undefined_variables_test.gno
Labels: :package: :robot: gnovm

#1544 fix: load config defaults if not specified in existing config
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  gno.land/cmd/gnoland/start.go
  go.mod
  go.sum
  misc/loop/go.mod
  misc/loop/go.sum
  tm2/pkg/bft/blockchain/reactor_test.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/config_test.go
  tm2/pkg/bft/config/toml.go
  tm2/pkg/bft/config/toml_test.go
  tm2/pkg/bft/consensus/config/config.go
  tm2/pkg/bft/mempool/config/config.go
  tm2/pkg/bft/rpc/config/config.go
  tm2/pkg/bft/state/eventstore/types/config.go
  tm2/pkg/p2p/config/config.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1580 fix(gno.land/pkg/gnoclient): Signer takes chainID
  gno.land/pkg/gnoclient/example_test.go
  gno.land/pkg/gnoclient/signer.go
Labels: :package: :mountain: gno.land

#1574 chore: Add Run to gnoclient
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
Labels: :package: :mountain: gno.land

#1586 fix: fix noop logger reference
  gno.land/pkg/gnoclient/client_test.go
Labels: hotfix, :package: :mountain: gno.land

#1592 refactor: compile all regexes at init
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/op_eval.go
  gnovm/pkg/gnomod/read.go
  tm2/pkg/amino/pkg/pkg.go
  tm2/pkg/autofile/group.go
  tm2/pkg/bft/rpc/lib/server/handlers.go
  tm2/pkg/bft/rpc/lib/server/http_params.go
  tm2/pkg/std/memfile.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1594 feat(cmd/gno): move test output within gno code
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_test/flag_run.txtar
  gnovm/cmd/gno/testdata/gno_test/panic.txtar
  gnovm/cmd/gno/testdata/gno_test/recover.txtar
  gnovm/cmd/gno/testdata/gno_test/skip.txtar
  gnovm/pkg/gnolang/machine.go
  gnovm/stdlibs/native.go
  gnovm/stdlibs/testing/testing.gno
  gnovm/stdlibs/testing/testing.go
  gnovm/tests/stdlibs/native.go
  gnovm/tests/stdlibs/testing/native_testing.gno
  gnovm/tests/stdlibs/testing/native_testing.go
Labels: :package: :robot: gnovm
