Repository gnolang/gno, pull requests merged in 2024-05, with the labels that each got.

#2021 chore(telemetry): move configuration to node config
  gno.land/cmd/gnoland/start.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/telemetry/README.md
  tm2/pkg/telemetry/config/config.go
  tm2/pkg/telemetry/init.go
  tm2/pkg/telemetry/metrics/init.go
  tm2/pkg/telemetry/options.go
  tm2/pkg/telemetry/options/config.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1994 perf: machine string
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/values.go
Labels: :package: :robot: gnovm

#2005 chore: add Gno license page
  examples/gno.land/r/gnoland/pages/page_license.gno
  gno.land/pkg/gnoweb/gnoweb.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2037 fix: add heads machine string
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm

#2036 fix(#2035): Prevent infinite loops caused by cyclic references on typedValue
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/panic1.gno
Labels: :package: :robot: gnovm

#2034 chore(examples): rm inexistent dir in `make lint` targets; use `make` in ci
  .github/workflows/examples.yml
  examples/Makefile
Labels: :receipt: package/realm

#2042 fix: untyped to interface check
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/fun27.gno
Labels: :package: :robot: gnovm

#1568 feat: Oracle packages and Github verification realm
  examples/gno.land/p/demo/gnorkle/README.md
  examples/gno.land/p/demo/gnorkle/agent/gno.mod
  examples/gno.land/p/demo/gnorkle/agent/whitelist.gno
  examples/gno.land/p/demo/gnorkle/agent/whitelist_test.gno
  examples/gno.land/p/demo/gnorkle/feed/errors.gno
  examples/gno.land/p/demo/gnorkle/feed/gno.mod
  examples/gno.land/p/demo/gnorkle/feed/task.gno
  examples/gno.land/p/demo/gnorkle/feed/type.gno
  examples/gno.land/p/demo/gnorkle/feed/value.gno
  examples/gno.land/p/demo/gnorkle/feeds/static/feed.gno
  examples/gno.land/p/demo/gnorkle/feeds/static/feed_test.gno
  examples/gno.land/p/demo/gnorkle/feeds/static/gno.mod
  examples/gno.land/p/demo/gnorkle/gnorkle/feed.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/gno.mod
  examples/gno.land/p/demo/gnorkle/gnorkle/ingester.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/instance.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/storage.gno
  examples/gno.land/p/demo/gnorkle/gnorkle/whitelist.gno
  examples/gno.land/p/demo/gnorkle/ingester/errors.gno
  examples/gno.land/p/demo/gnorkle/ingester/gno.mod
  examples/gno.land/p/demo/gnorkle/ingester/type.gno
  examples/gno.land/p/demo/gnorkle/ingesters/single/gno.mod
  examples/gno.land/p/demo/gnorkle/ingesters/single/ingester.gno
  examples/gno.land/p/demo/gnorkle/ingesters/single/ingester_test.gno
  examples/gno.land/p/demo/gnorkle/message/gno.mod
  examples/gno.land/p/demo/gnorkle/message/parse.gno
  examples/gno.land/p/demo/gnorkle/message/parse_test.gno
  examples/gno.land/p/demo/gnorkle/message/type.gno
  examples/gno.land/p/demo/gnorkle/storage/errors.gno
  examples/gno.land/p/demo/gnorkle/storage/gno.mod
  examples/gno.land/p/demo/gnorkle/storage/simple/gno.mod
  examples/gno.land/p/demo/gnorkle/storage/simple/storage.gno
  examples/gno.land/p/demo/gnorkle/storage/simple/storage_test.gno
  examples/gno.land/r/gnoland/ghverify/README.md
  examples/gno.land/r/gnoland/ghverify/contract.gno
  examples/gno.land/r/gnoland/ghverify/contract_test.gno
  examples/gno.land/r/gnoland/ghverify/gno.mod
  examples/gno.land/r/gnoland/ghverify/task.gno
  gno.land/cmd/gnoland/testdata/ghverify.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2051 chore: clarifying panic message
  gnovm/pkg/gnolang/op_types.go
Labels: :package: :robot: gnovm

#2052 chore(cmd/gnoland): `s/LongHelp/ShortHelp` in genesis commands
  gno.land/cmd/gnoland/genesis_balances_add.go
  gno.land/cmd/gnoland/genesis_balances_remove.go
  gno.land/cmd/gnoland/genesis_validator_add.go
  gno.land/cmd/gnoland/genesis_validator_remove.go
Labels: :package: :mountain: gno.land

#2044 fix(gnolang): fix panic when using struct as index of map
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/struct58.gno
Labels: :package: :robot: gnovm

#2017 fix: map delete
  examples/gno.land/r/x/map_delete/map_delete.gno
  examples/gno.land/r/x/map_delete/map_delete_test.gno
  gno.land/cmd/gnoland/testdata/map-delete.txtar
  gnovm/pkg/gnolang/uverse.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#1965 fix(gno test): pass ExecContext when initializing imported packages
  examples/gno.land/r/demo/tests/tests.gno
  gno.land/cmd/gnoland/testdata/initctx.txtar
  gnovm/tests/file.go
  gnovm/tests/files/zrealm_initctx.gno
  gnovm/tests/files/zrealm_tests0.gno
  gnovm/tests/imports.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#1962 feat(examples): define metadata & royalty info for GRC721 realm
  examples/gno.land/p/demo/grc/grc721/errors.gno
  examples/gno.land/p/demo/grc/grc721/grc721_metadata.gno
  examples/gno.land/p/demo/grc/grc721/grc721_metadata_test.gno
  examples/gno.land/p/demo/grc/grc721/grc721_royalty.gno
  examples/gno.land/p/demo/grc/grc721/grc721_royalty_test.gno
  examples/gno.land/p/demo/grc/grc721/igrc721_metadata.gno
  examples/gno.land/p/demo/grc/grc721/igrc721_royalty.gno
Labels: :receipt: package/realm

#1702 feat(gno.land): add go type checking to keeper + tx simulation in gnokey
  docs/gno-tooling/cli/gnokey.md
  gno.land/cmd/gnoland/testdata/addpkg_invalid.txtar
  gno.land/cmd/gnoland/testdata/gnokey_simulate.txtar
  gno.land/cmd/gnoland/testdata/issue_1786.txtar
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/run.go
  gno.land/pkg/sdk/vm/builtins.go
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gno.land/pkg/sdk/vm/package.go
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/go2gno_test.go
  gnovm/pkg/gnolang/gonative_test.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/transpiler/transpiler.go
  gnovm/stdlibs/io/io.gno
  gnovm/tests/files/import6.gno
  gnovm/tests/imports.go
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/crypto/keys/client/query.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1936 docs(getting-started): local setup with gnodev
  docs/assets/getting-started/local-setup/browsing-gno-source-code/blog_help.png
  docs/assets/getting-started/local-setup/browsing-gno-source-code/blog_render.png
  docs/assets/getting-started/local-setup/browsing-gno-source-code/blog_source.png
  docs/assets/getting-started/local-setup/browsing-gno-source-code/gnodev.gif
  docs/assets/getting-started/local-setup/browsing-gno-source-code/gnoland-homepage.png
  docs/assets/getting-started/local-setup/browsing-gno-source-code/gnoweb-avl.png
  docs/assets/getting-started/local-setup/browsing-gno-source-code/gnoweb-boards-source.png
  docs/assets/getting-started/local-setup/browsing-gno-source-code/gnoweb-boards.png
  docs/assets/getting-started/local-setup/browsing-gno-source-code/gnoweb.png
  docs/assets/getting-started/local-setup/interacting-with-gnoland/faucet-hub-portal-loop.png
  docs/assets/getting-started/local-setup/interacting-with-gnoland/faucet-hub.png
  docs/assets/getting-started/local-setup/interacting-with-gnoland/userbook-default.png
  docs/assets/getting-started/local-setup/interacting-with-gnoland/userbook-help.png
  docs/assets/getting-started/local-setup/local-setup/gnodev.gif
  docs/getting-started/local-setup/browsing-gno-source-code.md
  docs/getting-started/local-setup/browsing-gnoland.md
  docs/getting-started/local-setup/installation.md
  docs/getting-started/local-setup/interacting-with-gnoland.md
  docs/getting-started/local-setup/local-setup.md
  docs/getting-started/local-setup/premining-balances.md
  docs/getting-started/local-setup/working-with-key-pairs.md
Labels: :receipt: package/realm

#2047 feat(docs): emit/event docs
  docs/concepts/effective-gno.md
  docs/concepts/stdlibs/coin.md
  docs/concepts/stdlibs/events.md
  docs/reference/stdlibs/std/chain.md
Labels: :book: documentation

#2040 feat: Overhaul Github Actions
  .github/codecov.yml
  .github/examples.yml
  .github/workflows/DELETEdocker.yml
  .github/workflows/autocounterd.yml
  .github/workflows/benchmark-check.yml
  .github/workflows/benchmark-publish.yml
  .github/workflows/benchmark_template.yml
  .github/workflows/build_template.yml
  .github/workflows/codegen.yml
  .github/workflows/contribs.yml
  .github/workflows/db-tests.yml
  .github/workflows/gnoland.yml
  .github/workflows/gnovm.yml
  .github/workflows/labeler.yml
  .github/workflows/lint-pr-title.yml
  .github/workflows/lint.yml
  .github/workflows/lint_template.yml
  .github/workflows/main_template.yml
  .github/workflows/misc.yml
  .github/workflows/test_template.yml
  .github/workflows/tm2.yml
  gnovm/pkg/gnolang/gno_test.go
  gnovm/tests/file_test.go
  gnovm/tests/package_test.go
  misc/autocounterd/cmd/cmd_start.go
  misc/logos/misc_test.go
  misc/logos/types_test.go
  misc/loop/cmd/cmd_serve.go
  misc/loop/cmd/main.go
  misc/loop/cmd/snapshotter.go
  misc/loop/tools.go
  tm2/pkg/db/cleveldb/c_level_db_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#875 feat(stdlibs/std)!: namespace minted coins with realm path
  gno.land/cmd/gnoland/testdata/realm-banker-issued-coin-denom.txtar
  gnovm/stdlibs/std/banker.go
  tm2/pkg/std/coin.go
  tm2/pkg/std/coin_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2103 fix: register hljs plaintext language
  gno.land/pkg/gnoweb/static/js/highlight.min.js
Labels: :package: :mountain: gno.land

#2105 fix(gnovm/store): copy store caches
  gno.land/cmd/gnoland/testdata/map_delete.txtar
  gno.land/cmd/gnoland/testdata/realm_banker_issued_coin_denom.txtar
  gnovm/pkg/gnolang/store.go
Labels: hotfix, :package: :robot: gnovm, :package: :mountain: gno.land

#1563 feat: add an interactive debugger to GnoVM
  gnovm/cmd/gno/main_test.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/run_test.go
  gnovm/pkg/gnolang/debugger.go
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/tests/integ/debugger/sample.gno
  gnovm/tests/integ/debugger/sample2.gno
Labels: :package: :robot: gnovm

#1200 docs: update license
  LICENSE.md
  examples/gno.land/r/gnoland/pages/page_license.gno
  gno.land/LICENSE.md
  gnovm/LICENSE.md
  tm2/LICENSE
Labels: :book: documentation, :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#891 feat: std.TestSetPrevRealm
  examples/gno.land/r/x/test_prev/gno.mod
  examples/gno.land/r/x/test_prev/test_prev.gno
  examples/gno.land/r/x/test_prev/test_prev_test.gno
  gnovm/tests/stdlibs/native.go
  gnovm/tests/stdlibs/std/std.gno
  gnovm/tests/stdlibs/std/std.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#2112 fix(ci): failing `examples/mod-tidy`
  .github/workflows/examples.yml
  examples/gno.land/r/x/test_prev/gno.mod
Labels: :receipt: package/realm

#2065 fix: Increase 'max gas' and 'vm cycle limit' from 10M to 100M
  contribs/gnodev/pkg/dev/node.go
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/integration/testing_node.go
  gno.land/pkg/sdk/vm/common_test.go
  tm2/pkg/bft/types/params.go
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1714 feat(pkg/db): remove cleveldb, fsdb and rocksdb
  .github/dependabot.yml
  .github/workflows/lint_template.yml
  .github/workflows/test_template.yml
  .github/workflows/tm2.yml
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnokeykc/go.sum
  gno.land/pkg/gnoland/app.go
  go.mod
  go.sum
  tm2/Makefile
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/config_test.go
  tm2/pkg/bft/state/state_test.go
  tm2/pkg/db/_all/all.go
  tm2/pkg/db/_all/all_cgo.go
  tm2/pkg/db/_tags/cleveldb.go
  tm2/pkg/db/_tags/fsdb.go
  tm2/pkg/db/_tags/rocksdb.go
  tm2/pkg/db/cleveldb/c_level_db.go
  tm2/pkg/db/cleveldb/c_level_db_test.go
  tm2/pkg/db/cleveldb/no_cgo_test.go
  tm2/pkg/db/db.go
  tm2/pkg/db/fsdb/fsdb.go
  tm2/pkg/db/rocksdb/grocks_db.go
  tm2/pkg/db/rocksdb/grocks_db_test.go
  tm2/pkg/db/rocksdb/no_cgo_test.go
  tm2/pkg/iavl/benchmarks/bench_test.go
  tm2/pkg/iavl/with_gcc_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2111 chore: time-simple.txtar
  gno.land/cmd/gnoland/testdata/time-simple.txtar
Labels: :package: :mountain: gno.land

#2063 feat: add separator to rpc `block_results` to identify msg & response pair
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
Labels: help wanted, investigating, :package: :mountain: gno.land

#2106 chore(stdlibs/std): use appropriate variable names for regex
  gnovm/stdlibs/std/banker.go
Labels: :package: :robot: gnovm

#1515 fix(bft): correctly drain channels events
  tm2/pkg/bft/consensus/common_test.go
  tm2/pkg/bft/consensus/state_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2132 style: logo and font update
  gno.land/pkg/gnoweb/static/css/app.css
  gno.land/pkg/gnoweb/static/img/logo.png
  gno.land/pkg/gnoweb/static/img/logo.svg
  gno.land/pkg/gnoweb/views/faucet.html
  gno.land/pkg/gnoweb/views/funcs.html
  gno.land/pkg/gnoweb/views/generic.html
  gno.land/pkg/gnoweb/views/package_dir.html
  gno.land/pkg/gnoweb/views/package_file.html
  gno.land/pkg/gnoweb/views/realm_help.html
  gno.land/pkg/gnoweb/views/realm_render.html
Labels: :package: :mountain: gno.land

#2153 feat(blog): add remove functionality
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/r/gnoland/blog/admin.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#2148 feat: update favicon and og
  gno.land/pkg/gnoweb/static/img/apple-touch-icon.png
  gno.land/pkg/gnoweb/static/img/favicon-16x16.png
  gno.land/pkg/gnoweb/static/img/favicon-32x32.png
  gno.land/pkg/gnoweb/static/img/favicon.ico
  gno.land/pkg/gnoweb/static/img/og.png
  gno.land/pkg/gnoweb/static/img/safari-pinned-tab.svg
  gno.land/pkg/gnoweb/views/funcs.html
Labels: don't merge, :package: :mountain: gno.land

#2154 fix(blog): remove function
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/p/demo/blog/util.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
Labels: :receipt: package/realm

#2157 feat: update logo color
  gno.land/pkg/gnoweb/static/css/app.css
  gno.land/pkg/gnoweb/static/img/apple-touch-icon.png
  gno.land/pkg/gnoweb/static/img/favicon-16x16.png
  gno.land/pkg/gnoweb/static/img/favicon-32x32.png
  gno.land/pkg/gnoweb/static/img/favicon.ico
  gno.land/pkg/gnoweb/static/img/og-gnoland.png
  gno.land/pkg/gnoweb/static/img/og.png
  gno.land/pkg/gnoweb/static/img/safari-pinned-tab.svg
  gno.land/pkg/gnoweb/views/funcs.html
Labels: :package: :mountain: gno.land

#1689 fix: achieve type assertion parity with go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/file.go
  gnovm/tests/files/typeassert1.gno
  gnovm/tests/files/typeassert2.gno
  gnovm/tests/files/typeassert2a.gno
  gnovm/tests/files/typeassert3.gno
  gnovm/tests/files/typeassert4.gno
  gnovm/tests/files/typeassert4a.gno
  gnovm/tests/files/typeassert5.gno
  gnovm/tests/files/typeassert5a.gno
  gnovm/tests/files/typeassert6.gno
  gnovm/tests/files/typeassert6a.gno
  gnovm/tests/files/typeassert7_native.gno
  gnovm/tests/files/typeassert7a_native.gno
  gnovm/tests/files/typeassert8.gno
  gnovm/tests/files/typeassert8a.gno
  gnovm/tests/files/typeassert9.gno
Labels: :package: :robot: gnovm

#2163 chore: add Golang Serbia meetup to events page
  examples/gno.land/r/gnoland/pages/page_events.gno
Labels: :receipt: package/realm

#2101 feat: Add goreleaser
  .github/goreleaser.yaml
  .github/workflows/DELETEdocker.yml
  .github/workflows/nightlies.yml
  .github/workflows/releaser.yml
  .gitignore
  Dockerfile
  Dockerfile.gno.release
  Dockerfile.gnokey.release
  Dockerfile.gnoland.release
  Dockerfile.gnoweb.release
  gnovm/tests/imports.go
Labels: :package: :robot: gnovm

#1719 feat: PrevRealm ignores user realms in MsgRun
  gno.land/cmd/gnoland/testdata/prevrealm.txtar
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/transpiler/transpiler.go
Labels: breaking change, :package: :robot: gnovm, :package: :mountain: gno.land

#2087 feat(stdlibs/std)!: remove `std.CurrentRealmPath`
  docs/concepts/stdlibs/gnopher-hole.md
  docs/reference/stdlibs/std/chain.md
  docs/reference/stdlibs/std/testing.md
  examples/gno.land/p/demo/tests/tests.gno
  examples/gno.land/r/demo/tests/tests.gno
  gnovm/stdlibs/native.go
  gnovm/stdlibs/std/emit_event.go
  gnovm/stdlibs/std/emit_event_test.go
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
  gnovm/stdlibs/stdshim/stdshim.gno
  gnovm/tests/files/zrealm12.gno
  gnovm/tests/files/zrealm_natbind0.gno
  gnovm/tests/files/zrealm_std3.gno
  gnovm/tests/stdlibs/native.go
  gnovm/tests/stdlibs/std/std.gno
  gnovm/tests/stdlibs/std/std.go
Labels: breaking change, :receipt: package/realm, :package: :robot: gnovm

#2168 fix(gnovm): remove sort from gonative packages
  gnovm/tests/imports.go
Labels: :package: :robot: gnovm

#2016 fix(#1966): go2Gno loses type info
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/preprocess_test.go
  gnovm/tests/files/op7.gno
  gnovm/tests/files/time16_native.gno
  gnovm/tests/files/type31.gno
  gnovm/tests/files/type32.gno
Labels: :package: :robot: gnovm

#2011 feat: printing all the errors from goparser
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/lint_test.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/tests/integ/several-lint-errors/gno.mod
  gnovm/tests/integ/several-lint-errors/main.gno
Labels: :package: :robot: gnovm

#2180 docs: add LongHelp to `gno bug`, remove \n from `gnodev` LongHelp
  contribs/gnodev/cmd/gnodev/main.go
  gnovm/cmd/gno/bug.go
Labels: :package: :robot: gnovm

#2059 feat: add more telemetry
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/keeper.go
  misc/telemetry/Makefile
  misc/telemetry/README.md
  misc/telemetry/assets/grafana-1.jpeg
  misc/telemetry/assets/grafana-2.jpeg
  misc/telemetry/collector/collector.yaml
  misc/telemetry/docker-compose.yml
  misc/telemetry/gnoland/Dockerfile
  misc/telemetry/gnoland/setup.sh
  misc/telemetry/grafana/dashboards.yaml
  misc/telemetry/grafana/datasources.yaml
  misc/telemetry/grafana/gno-dashboards.json
  misc/telemetry/prometheus/prometheus.yml
  misc/telemetry/supernova.Dockerfile
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/consensus/state.go
  tm2/pkg/bft/mempool/clist_mempool.go
  tm2/pkg/bft/rpc/lib/server/handlers.go
  tm2/pkg/p2p/fuzz.go
  tm2/pkg/p2p/switch.go
  tm2/pkg/p2p/test_util.go
  tm2/pkg/telemetry/README.md
  tm2/pkg/telemetry/config/config.go
  tm2/pkg/telemetry/config/config_test.go
  tm2/pkg/telemetry/exporter/error.go
  tm2/pkg/telemetry/init.go
  tm2/pkg/telemetry/metrics/init.go
  tm2/pkg/telemetry/metrics/metrics.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2030 fix(tm2/gnovm): multi-msg overwrites previous event(s)
  examples/gno.land/r/demo/event/event.gno
  examples/gno.land/r/demo/event/gno.mod
  gno.land/cmd/gnoland/testdata/event_multi_msg.txtar
  gno.land/pkg/gnoclient/integration_test.go
  gnovm/stdlibs/stdshim/stdshim.gno
  tm2/pkg/sdk/baseapp.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1985 feat: overhaul lazy init in `gnoland start`
  docs/assets/getting-started/local-setup/setting-up-a-local-chain/gnoland-start-manual.gif
  docs/assets/getting-started/local-setup/setting-up-a-local-chain/gnoland-start.gif
  docs/getting-started/local-setup/setting-up-a-local-chain.md
  docs/gno-tooling/cli/gnoland.md
  gno.land/cmd/gnoland/config.go
  gno.land/cmd/gnoland/config_init.go
  gno.land/cmd/gnoland/config_init_test.go
  gno.land/cmd/gnoland/genesis_validator.go
  gno.land/cmd/gnoland/root.go
  gno.land/cmd/gnoland/secrets.go
  gno.land/cmd/gnoland/secrets_init.go
  gno.land/cmd/gnoland/start.go
  gno.land/cmd/gnoland/start_test.go
  gno.land/pkg/gnoland/app.go
  go.mod
  misc/loop/scripts/start.sh
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/toml.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2066 chore(lint): forbid usage of `regexp.Match(String)?`
  .github/golangci.yml
  tm2/pkg/amino/genproto/bindings.go
Labels: :package: :globe_with_meridians: tendermint v2

#2188 fix: update genesis to fix commands in /r/demo/boards:testboard/5 (#2183)
  gno.land/genesis/genesis_txs.jsonl
Labels: :package: :mountain: gno.land

#2124 feat(docs/home): Add Faucet Hub & `gno.land/faucet` mentions
  docs/concepts/testnets.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#2203 chore(docs): remove leftover wording
  docs/overview.md
Labels: :book: documentation

#2210 fix(docs): warn banner
  docs/gno-tooling/cli/gnokey.md
Labels: :book: documentation

#2110 test(gnovm): re-enable stdlibs tests
  gnovm/tests/package_test.go
Labels: :package: :robot: gnovm

#2213 test(gnovm): print unexpected error in filetests
  gnovm/tests/file.go
Labels: :package: :robot: gnovm

#2214 chore(stdlibs/testing): remove unused imports and vars
  gnovm/stdlibs/testing/fuzz.gno
  gnovm/stdlibs/testing/fuzz_test.gno
  gnovm/stdlibs/testing/match.gno
  gnovm/stdlibs/testing/random.gno
  gnovm/stdlibs/testing/testing.gno
Labels: :package: :robot: gnovm

#2178 chore: replace all occurence of port 3665{6,7,8} to 2665{6,7,8}
  .gitpod.yml
  Dockerfile.gnoland.release
  contribs/gnodev/cmd/gnodev/main.go
  docs/how-to-guides/interact-with-gnoland.md
  docs/reference/network-config.md
  docs/reference/tm2-js-client/Provider/json-rpc-provider.md
  docs/reference/tm2-js-client/Provider/ws-provider.md
  examples/gno.land/r/demo/boards/README.md
  gnovm/cmd/gno/mod.go
  gnovm/pkg/gnomod/file_test.go
  misc/deployments/staging.gno.land/docker-compose.yml
  misc/deployments/staging.gno.land/overlay/config.toml
  misc/deployments/test2.gno.land/Makefile
  misc/deployments/test2.gno.land/docker-compose.yml
  misc/deployments/test2.gno.land/overlay/config.toml
  misc/deployments/test3.gno.land/Makefile
  misc/deployments/test3.gno.land/docker-compose.yml
  misc/deployments/test3.gno.land/overlay/config.toml
  tm2/pkg/bft/rpc/config/config.go
  tm2/pkg/p2p/config/config.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#1665 feat: make `AssertOriginCall` always panic with `MsgRun`
  examples/gno.land/r/demo/tests/subtests/subtests.gno
  examples/gno.land/r/demo/tests/tests.gno
  examples/gno.land/r/demo/tests/tests_test.gno
  examples/gno.land/r/demo/tests/z0_filetest.gno
  gno.land/cmd/gnoland/testdata/assertorigincall.txtar
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
  gnovm/stdlibs/std/native_test.go
  gnovm/tests/files/zrealm_natbind0.gno
  gnovm/tests/files/zrealm_tests0.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#2228 chore(examples): add event emit to Userbook realm
  examples/gno.land/r/demo/userbook/userbook.gno
Labels: :receipt: package/realm

#2219 fix(stdlibs/net/url): avoid using `fmt`
  gnovm/stdlibs/net/url/url.gno
Labels: :package: :robot: gnovm

#2108 fix: limitation for length of package/realm path
  tm2/pkg/std/memfile.go
  tm2/pkg/std/memfile_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#2196 fix(gnoweb): don't pre-fill help page address with "ADDRESS"
  gno.land/pkg/gnoweb/static/js/realm_help.js
  gno.land/pkg/gnoweb/views/realm_help.html
Labels: :package: :mountain: gno.land

#2164 feat(stdlibs/std)!: change TestSetPrevRealm to TestSetRealm
  examples/gno.land/r/x/test_prev/gno.mod
  examples/gno.land/r/x/test_prev/test_prev.gno
  examples/gno.land/r/x/test_prev/test_prev_test.gno
  gnovm/pkg/gnolang/machine.go
  gnovm/stdlibs/std/banker.go
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/emit_event.go
  gnovm/stdlibs/std/native.go
  gnovm/stdlibs/stdlibs.go
  gnovm/stdlibs/time/time.go
  gnovm/tests/file.go
  gnovm/tests/files/zrealm_crossrealm13.gno
  gnovm/tests/files/zrealm_crossrealm13a.gno
  gnovm/tests/imports.go
  gnovm/tests/stdlibs/native.go
  gnovm/tests/stdlibs/std/frame_testing.gno
  gnovm/tests/stdlibs/std/std.gno
  gnovm/tests/stdlibs/std/std.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#2234 fix(gnokey): remove height and prove flags in `query`
  docs/gno-tooling/cli/gnokey.md
  tm2/pkg/crypto/keys/client/query.go
Labels: :package: :globe_with_meridians: tendermint v2

#2200 fix: fix up telemetry docker example
  misc/telemetry/gnoland/Dockerfile
  misc/telemetry/gnoland/setup.sh
Labels: :package: :mountain: gno.land

#2239 test(stdlibs/std): use real MsgRun pkgpath in TestPrevRealmIsOrigin
  gnovm/stdlibs/std/native_test.go
Labels: hotfix, :package: :robot: gnovm

#2072 perf: make debug a constant set using a build flag
  gnovm/pkg/gnolang/debug.go
  gnovm/pkg/gnolang/debug_false.go
  gnovm/pkg/gnolang/debug_true.go
Labels: :package: :robot: gnovm

#2187 feat(pkg/commands): provide ExitCodeError to use in place of os.Exit
  gnovm/cmd/gno/lint.go
  gnovm/cmd/gno/lint_test.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  tm2/pkg/commands/command.go
  tm2/pkg/commands/errors.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#2240 feat(stdlibs/time): add DateTime, DateOnly and TimeOnly
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  gnovm/stdlibs/time/format.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#1913 feat: add grc20factory example
  examples/gno.land/r/demo/grc20factory/gno.mod
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
  examples/gno.land/r/demo/grc20factory/grc20factory_test.gno
Labels: :receipt: package/realm

#2050 feat!: remove flag `-transpile` from `gno test`
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_test/empty_gno1.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno2.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno3.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_filetest.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_test.txtar
  gnovm/cmd/gno/transpile.go
  gnovm/cmd/gno/util.go
Labels: breaking change, :package: :robot: gnovm

#2143 test(gnovm): improve gnovm/pkg/gnolang test coverage
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/gnolang/eval_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/tests/file.go
  gnovm/tests/files/convert4.gno
  gnovm/tests/files/convert5.gno
  gnovm/tests/files/float5_stdlibs.gno
  gnovm/tests/files/switch8.gno
  gnovm/tests/files/switch8b.gno
  gnovm/tests/files/switch8c.gno
  gnovm/tests/files/switch9.gno
  gnovm/tests/imports.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#2242 feat(sdk/vm)!: only allow using msgcall on realms
  gno.land/cmd/gnoland/testdata/assertorigincall.txtar
  gno.land/cmd/gnoland/testdata/maketx_call_pure.txtar
  gno.land/cmd/gnoland/testdata/prevrealm.txtar
  gno.land/pkg/sdk/vm/msgs.go
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#2151 feat(examples): add upgrade pattern d example
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/README.md
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v1/v1.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v1/z_filetest.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v2/v2.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v2/z_filetest.gno
Labels: :receipt: package/realm

#2247 feat: improve missing config error message
  gno.land/cmd/gnoland/config.go
  gno.land/cmd/gnoland/config_get.go
  gno.land/cmd/gnoland/config_get_test.go
  gno.land/cmd/gnoland/config_set.go
  gno.land/cmd/gnoland/config_set_test.go
  gno.land/cmd/gnoland/start.go
Labels: :package: :mountain: gno.land
