Repository gnolang/gno, pull requests merged in 2024-02, with the labels that each got.

#1530 fix(r/demo/boards): correctly render reposts
  examples/gno.land/r/demo/boards/post.gno
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/boards/z_10_c_filetest.gno
  examples/gno.land/r/demo/boards/z_10_filetest.gno
  examples/gno.land/r/demo/boards/z_11_d_filetest.gno
  examples/gno.land/r/demo/boards/z_11_filetest.gno
  examples/gno.land/r/demo/boards/z_12_a_filetest.gno
  examples/gno.land/r/demo/boards/z_12_b_filetest.gno
  examples/gno.land/r/demo/boards/z_12_c_filetest.gno
  examples/gno.land/r/demo/boards/z_12_d_filetest.gno
  examples/gno.land/r/demo/boards/z_12_filetest.gno
  examples/gno.land/r/demo/boards/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_3_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/boards/z_5_c_filetest.gno
  examples/gno.land/r/demo/boards/z_5_filetest.gno
  examples/gno.land/r/demo/boards/z_6_filetest.gno
  examples/gno.land/r/demo/boards/z_7_filetest.gno
Labels: :receipt: package/realm

#1216 feat: add `Ready` method to Node
  gno.land/pkg/integration/testing_node.go
  tm2/pkg/bft/node/node.go
  tm2/pkg/bft/node/node_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#1565 feat(gnoclient): add MultiCall
  gno.land/pkg/gnoclient/client.go
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/mock_test.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain: gno.land

#1608 test: add regression integ test for gnolang/gnochess#97
  gno.land/cmd/gnoland/testdata/issue-gnochess-97.txtar
Labels: :package: :mountain: gno.land

#1434 feat(sdk/vm): support float as arguments to `maketx call`
  gno.land/cmd/gnoland/testdata/float-arg.txtar
  gno.land/pkg/sdk/vm/convert.go
Labels: :package: :mountain: gno.land

#1616 fix: add missing args field to `gnoclient` Call
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
Labels: :package: :mountain: gno.land

#1629 docs: add edit page link and info
  misc/docusaurus/docusaurus.config.js
  misc/docusaurus/src/css/custom.css
Labels: :book: documentation

#1607 chore(examples): prefer Go and Gno for respective language names
  CONTRIBUTING.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_about.gno
  examples/gno.land/r/gnoland/pages/page_gnolang.gno
  examples/gno.land/r/gnoland/pages/pages_test.gno
Labels: :receipt: package/realm

#1640 test(precompile): add more cases
  gnovm/cmd/gno/testdata/gno_precompile/03_gno_files_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/08_build_flag_with_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/09_gno_files_whitelist_error.txtar
Labels: :package: :robot: gnovm

#1613 feat: remove legacy `gnotxsync`
  .github/workflows/gnoland.yml
  Dockerfile
  README.md
  docs/gno-tooling/cli/tm2txsync.md
  gno.land/Makefile
  gno.land/cmd/gnotxsync/README.md
  gno.land/cmd/gnotxsync/export.go
  gno.land/cmd/gnotxsync/import.go
  gno.land/cmd/gnotxsync/main.go
  gno.land/cmd/gnotxsync/main_test.go
  misc/docusaurus/sidebars.js
Labels: :package: :mountain: gno.land

#1624 feat(gnovm): add benchmark system
  gnovm/pkg/gnolang/benchdata/fib.gno
  gnovm/pkg/gnolang/benchdata/loop.gno
  gnovm/pkg/gnolang/benchdata/matrix.gno
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/go_bench_test.go
Labels: :package: :robot: gnovm

#1639 chore(gnoclient): Add Send support
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain: gno.land

#1645 fix(sdk/vm): coerce MsgRun pkgpath to `gno.land/r/$addr/run`
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/keyscli/run.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/msgs.go
Labels: :package: :mountain: gno.land

#1648 chore(bft/rpc): fix typo in handlers.go
  tm2/pkg/bft/rpc/lib/server/handlers.go
Labels: :package: :globe_with_meridians: tendermint v2

#1597 fix: []byte("xxx") should not be treated as const
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/byte_slice_issue1570.gno
Labels: :package: :robot: gnovm

#1659 test: improve `gnovm/pkg/gnolang.TestPrecompile()`
  gnovm/pkg/gnolang/precompile_test.go
Labels: :package: :robot: gnovm

#1667 chore: replace some TODOs on the portal home
  examples/gno.land/r/gnoland/home/home.gno
Labels: :receipt: package/realm

#1669 chore(examples): fix tests
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#1670 fix: unify the precompile output to make it easier to parse and read.
  gnovm/cmd/gno/precompile.go
  gnovm/cmd/gno/testdata/gno_precompile/03_gno_files_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/07_build_flag_with_build_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/08_build_flag_with_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_precompile/09_gno_files_whitelist_error.txtar
  gnovm/pkg/gnolang/precompile.go
  gnovm/pkg/gnolang/precompile_test.go
Labels: :package: :robot: gnovm

#1582 docs: add Portal Loop concept page
  docs/concepts/portal-loop.md
  misc/docusaurus/sidebars.js
Labels: :book: documentation

#1606 fix: remove incorrect type assertion when reading values from storage
  gno.land/cmd/gnoland/testdata/issue-1588.txtar
  gnovm/pkg/gnolang/values.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#1678 chore(stdlibs): remove unused internal/os
  gnovm/stdlibs/internal/os/os.gno
Labels: :package: :robot: gnovm

#1572 feat(examples): add package cford32, add method `seqid.ID.String`
  examples/gno.land/p/demo/cford32/LICENSE
  examples/gno.land/p/demo/cford32/README.md
  examples/gno.land/p/demo/cford32/cford32.gno
  examples/gno.land/p/demo/cford32/cford32_test.gno
  examples/gno.land/p/demo/cford32/gno.mod
  examples/gno.land/p/demo/seqid/gno.mod
  examples/gno.land/p/demo/seqid/seqid.gno
  examples/gno.land/p/demo/seqid/seqid_test.gno
  tm2/pkg/std/memfile.go
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2

#1637 chore(gnoclient): modify `Run` to use `baseTxCfg` & multiple `MsgRun` args
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoclient/util.go
Labels: :package: :mountain: gno.land

#1541 feat(blog): add sorting, better rendering
  examples/gno.land/p/demo/blog/blog.gno
  examples/gno.land/p/demo/blog/errors.gno
  examples/gno.land/r/gnoland/blog/admin.gno
  examples/gno.land/r/gnoland/blog/gnoblog.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  examples/gno.land/r/gnoland/pages/admin.gno
  examples/gno.land/r/gnoland/pages/page_about.gno
  examples/gno.land/r/gnoland/pages/page_ecosystem.gno
  examples/gno.land/r/gnoland/pages/page_events.gno
  examples/gno.land/r/gnoland/pages/page_gnolang.gno
  examples/gno.land/r/gnoland/pages/page_gor.gno
  examples/gno.land/r/gnoland/pages/page_partners.gno
  examples/gno.land/r/gnoland/pages/page_start.gno
  examples/gno.land/r/gnoland/pages/page_testnets.gno
  examples/gno.land/r/gnoland/pages/page_tokenomics.gno
  examples/gno.land/r/manfred/present/admin.gno
  examples/gno.land/r/manfred/present/present_miami23.gno
  examples/gno.land/r/manfred/present/present_miami23_filetest.gno
  gno.land/genesis/genesis_txs.txt
Labels: :receipt: package/realm, :package: :mountain: gno.land

#1690 chore: `s/use/loadpkg` and `s/example/examples`
  contribs/gnodev/README.md
  contribs/gnodev/main.go
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/testdata/import.txtar
  gno.land/pkg/integration/testdata/loadpkg_example.txtar
  gno.land/pkg/integration/testdata/loadpkg_example_and_work.txtar
  gno.land/pkg/integration/testdata/loadpkg_work.txtar
  gno.land/pkg/integration/testing_integration.go
Labels: :package: :mountain: gno.land

#1688 feat(precompile): use `//line` directive in generated go files
  gnovm/cmd/gno/testdata/gno_precompile/04_valid_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_precompile/05_skip_fmt_flag.txtar
  gnovm/cmd/gno/testdata/gno_precompile/06_build_flag.txtar
  gnovm/cmd/gno/testdata/gno_precompile/07_build_flag_with_build_error.txtar
  gnovm/pkg/gnolang/precompile.go
  gnovm/pkg/gnolang/precompile_test.go
Labels: :package: :robot: gnovm

#1681 refactor(gnovm): rename precompiler to transpiler, move to own package
  .github/workflows/examples.yml
  PLAN.md
  docs/getting-started/local-setup.md
  docs/gno-tooling/cli/gno.md
  docs/reference/go-gno-compatibility.md
  examples/Makefile
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/run.go
  gnovm/cmd/gno/README.md
  gnovm/cmd/gno/lint_test.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/gno_precompile/01_no_args.txtar
  gnovm/cmd/gno/testdata/gno_precompile/02_empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno1.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno2.txtar
  gnovm/cmd/gno/testdata/gno_test/empty_gno3.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_filetest.txtar
  gnovm/cmd/gno/testdata/gno_test/failing_test.txtar
  gnovm/cmd/gno/testdata/gno_transpile/01_no_args.txtar
  gnovm/cmd/gno/testdata/gno_transpile/02_empty_dir.txtar
  gnovm/cmd/gno/testdata/gno_transpile/03_gno_files_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_transpile/04_valid_gno_files.txtar
  gnovm/cmd/gno/testdata/gno_transpile/05_skip_fmt_flag.txtar
  gnovm/cmd/gno/testdata/gno_transpile/06_build_flag.txtar
  gnovm/cmd/gno/testdata/gno_transpile/07_build_flag_with_build_error.txtar
  gnovm/cmd/gno/testdata/gno_transpile/08_build_flag_with_parse_error.txtar
  gnovm/cmd/gno/testdata/gno_transpile/09_gno_files_whitelist_error.txtar
  gnovm/cmd/gno/transpile.go
  gnovm/cmd/gno/transpile_test.go
  gnovm/cmd/gno/util.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnomod/file.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/transpiler/transpiler.go
  gnovm/pkg/transpiler/transpiler_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#1407 feat: implement `gno mod why`
  docs/concepts/gno-modules.md
  docs/reference/go-gno-compatibility.md
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/mod_test.go
Labels: :package: :robot: gnovm

#1325 feat: implement `gno bug`
  .github/ISSUE_TEMPLATE/BUG-REPORT.md
  docs/reference/go-gno-compatibility.md
  gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/bug_test.go
  gnovm/cmd/gno/main.go
Labels: :seedling: feature, :package: :robot: gnovm

#1433 refactor!: split `r/demo/users`
  examples/gno.land/p/demo/grc/grc1155/basic_grc1155_token_test.gno
  examples/gno.land/p/demo/grc/grc1155/gno.mod
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
  examples/gno.land/p/demo/grc/grc721/gno.mod
  examples/gno.land/p/demo/microblog/gno.mod
  examples/gno.land/p/demo/microblog/microblog.gno
  examples/gno.land/p/demo/users/gno.mod
  examples/gno.land/p/demo/users/types.gno
  examples/gno.land/p/demo/users/users.gno
  examples/gno.land/p/demo/users/users_test.gno
  examples/gno.land/r/demo/boards/misc.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/foo1155/foo1155.gno
  examples/gno.land/r/demo/foo1155/foo1155_test.gno
  examples/gno.land/r/demo/foo1155/gno.mod
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/foo20/gno.mod
  examples/gno.land/r/demo/foo721/foo721.gno
  examples/gno.land/r/demo/foo721/foo721_test.gno
  examples/gno.land/r/demo/foo721/gno.mod
  examples/gno.land/r/demo/groups/misc.gno
  examples/gno.land/r/demo/microblog/gno.mod
  examples/gno.land/r/demo/microblog/microblog.gno
  examples/gno.land/r/demo/microblog/microblog_test.gno
  examples/gno.land/r/demo/users/gno.mod
  examples/gno.land/r/demo/users/users.gno
  gno.land/pkg/gnoweb/gnoweb_test.go
Labels: :receipt: package/realm, :package: :mountain: gno.land
