Repository gnolang/gno, pull requests merged in 2025-02, with the labels that each got.

#3661 feat(examples/test): quality of life improvements
  examples/gno.land/p/demo/btree/btree_test.gno
  examples/gno.land/p/demo/diff/diff_test.gno
  examples/gno.land/p/demo/json/node_test.gno
  examples/gno.land/p/demo/simpledao/dao_test.gno
Labels: :receipt: package/realm

#3628 chore(examples): modify pausable
  examples/gno.land/p/demo/ownable/ownable.gno
  examples/gno.land/p/demo/ownable/ownable_test.gno
  examples/gno.land/p/demo/pausable/pausable.gno
  examples/gno.land/p/demo/pausable/pausable_test.gno
Labels: :receipt: package/realm

#3656 test(boards2): add missing filetests for reply flagging
  examples/gno.land/r/nt/boards2/z_13_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_13_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_13_c_filetest.gno
  examples/gno.land/r/nt/boards2/z_13_d_filetest.gno
  examples/gno.land/r/nt/boards2/z_13_e_filetest.gno
  examples/gno.land/r/nt/boards2/z_13_f_filetest.gno
  examples/gno.land/r/nt/boards2/z_13_g_filetest.gno
Labels: :receipt: package/realm

#3657 test(boards2): add missing filetests for reply deletion
  examples/gno.land/r/nt/boards2/public.gno
  examples/gno.land/r/nt/boards2/z_14_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_14_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_14_c_filetest.gno
  examples/gno.land/r/nt/boards2/z_14_d_filetest.gno
  examples/gno.land/r/nt/boards2/z_14_e_filetest.gno
  examples/gno.land/r/nt/boards2/z_14_f_filetest.gno
  examples/gno.land/r/nt/boards2/z_14_g_filetest.gno
Labels: :receipt: package/realm

#3344 feat: add FOMO3D game implementation
  examples/gno.land/r/stefann/fomo3d/errors.gno
  examples/gno.land/r/stefann/fomo3d/events.gno
  examples/gno.land/r/stefann/fomo3d/fomo3d.gno
  examples/gno.land/r/stefann/fomo3d/fomo3d_test.gno
  examples/gno.land/r/stefann/fomo3d/gno.mod
  examples/gno.land/r/stefann/fomo3d/nft.gno
  examples/gno.land/r/stefann/fomo3d/render.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3659 feat(boards2): repost tests
  examples/gno.land/r/nt/boards2/z_15_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_15_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_15_c_filetest.gno
  examples/gno.land/r/nt/boards2/z_15_d_filetest.gno
Labels: :receipt: package/realm, review/triage-pending

#3681 feat: bump max-gas same as current genesis
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/integration/node_testing.go
  tm2/pkg/bft/types/params.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3682 chore(examples): improve p/moul/txlink
  examples/gno.land/p/moul/helplink/helplink_test.gno
  examples/gno.land/p/moul/txlink/txlink.gno
  examples/gno.land/p/moul/txlink/txlink_test.gno
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/boards/z_10_c_filetest.gno
  examples/gno.land/r/demo/boards/z_10_filetest.gno
  examples/gno.land/r/demo/boards/z_11_d_filetest.gno
  examples/gno.land/r/demo/boards/z_11_filetest.gno
  examples/gno.land/r/demo/boards/z_12_filetest.gno
  examples/gno.land/r/demo/boards/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_3_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/boards/z_5_c_filetest.gno
  examples/gno.land/r/demo/boards/z_5_filetest.gno
  examples/gno.land/r/demo/boards/z_6_filetest.gno
  examples/gno.land/r/demo/boards/z_7_filetest.gno
  examples/gno.land/r/demo/boards/z_8_filetest.gno
  examples/gno.land/r/demo/boards/z_9_filetest.gno
  examples/gno.land/r/docs/buttons/buttons_test.gno
  examples/gno.land/r/leon/hof/datasource_test.gno
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3600 feat(gnovm): support constant evaluation of len and cap on arrays
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/pkg/gnolang/types.go
  gnovm/tests/files/const51.gno
  gnovm/tests/files/const52.gno
Labels: :package: :robot: gnovm

#3668 feat: add r/moul/present
  examples/gno.land/r/moul/present/admin.gno
  examples/gno.land/r/moul/present/present.gno
  examples/gno.land/r/moul/present/present_filetest.gno
  examples/gno.land/r/moul/present/present_init.gno
  examples/gno.land/r/moul/present/present_miami23.gno
  examples/gno.land/r/moul/present/present_miami23_filetest.gno
  examples/gno.land/r/moul/present/presentations.gno
Labels: :receipt: package/realm

#3631 feat(mux): add wildcard (*) for more flexible route matching
  examples/gno.land/p/demo/mux/handler.gno
  examples/gno.land/p/demo/mux/request.gno
  examples/gno.land/p/demo/mux/request_test.gno
  examples/gno.land/p/demo/mux/router.gno
  examples/gno.land/p/demo/mux/router_test.gno
Labels: :receipt: package/realm

#3405 feat: add JJOptimist's Homepage realm to examples
  examples/gno.land/r/jjoptimist/home/config.gno
  examples/gno.land/r/jjoptimist/home/gno.mod
  examples/gno.land/r/jjoptimist/home/home.gno
  examples/gno.land/r/jjoptimist/home/home_test.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#3662 fix(p2p): Avoid inifinty loop during transport/listener `Accept`
  tm2/pkg/p2p/switch.go
  tm2/pkg/p2p/switch_test.go
  tm2/pkg/p2p/transport.go
  tm2/pkg/p2p/transport_test.go
  tm2/pkg/service/service.go
Labels: :package: :globe_with_meridians: tendermint v2

#3002 feat: add gno version command
  gnovm/Makefile
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/version.go
  gnovm/cmd/gno/version_test.go
  gnovm/pkg/version/version.go
Labels: :package: :robot: gnovm

#3672 fix(gnoweb): escape bash chars in help args
  gno.land/pkg/gnoweb/components/layouts/header.html
  gno.land/pkg/gnoweb/frontend/js/realmhelp.ts
  gno.land/pkg/gnoweb/frontend/js/utils.ts
  gno.land/pkg/gnoweb/public/js/realmhelp.js
  gno.land/pkg/gnoweb/public/js/utils.js
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#3597 fix(cmd/gno): only perform preprocessing in lint
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/tool_lint.go
  gnovm/cmd/gno/tool_lint_test.go
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/gnolang/files_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/repl/repl.go
  gnovm/pkg/test/imports.go
  gnovm/pkg/test/test.go
  gnovm/tests/integ/init/gno.mod
  gnovm/tests/integ/init/main.gno
Labels: :package: :robot: gnovm

#3523 chore: remove govdao dependency in `r/gov/dao/bridge`
  examples/gno.land/r/gov/dao/bridge/bridge.gno
  examples/gno.land/r/gov/dao/bridge/bridge_test.gno
  examples/gno.land/r/gov/dao/bridge/v2.gno
  examples/gno.land/r/gov/dao/init/gno.mod
  examples/gno.land/r/gov/dao/init/init.gno
  examples/gno.land/r/gov/dao/v2/dao.gno
  examples/gno.land/r/gov/dao/v2/poc.gno
  examples/gno.land/r/gov/dao/v2/prop1_filetest.gno
  examples/gno.land/r/gov/dao/v2/prop2_filetest.gno
  examples/gno.land/r/gov/dao/v2/prop3_filetest.gno
  examples/gno.land/r/gov/dao/v2/prop4_filetest.gno
  examples/gno.land/r/sys/params/params_test.gno
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3589 test(cmd/gnoland): add test to ensure to not import tests/stdlibs
  gno.land/cmd/gnoland/imports_test.go
Labels: :package: :mountain: gno.land

#3679 feat(gnoweb): display network info
  gno.land/pkg/gnoweb/components/layout_header.go
  gno.land/pkg/gnoweb/components/layouts/header.html
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land

#3673 chore(examples): change AVL pager to expect a read only tree
  examples/gno.land/p/demo/avl/pager/pager.gno
Labels: :receipt: package/realm

#3697 fix(gnovm): correct filetest directive behavior
  gnovm/pkg/test/filetest.go
  gnovm/tests/files/addressable_5.gno
  gnovm/tests/files/type_alias.gno
  gnovm/tests/files/types/eql_0f49.gno
Labels: :package: :robot: gnovm

#3678 fix(rpc): always return array reponses for batch requests
  tm2/pkg/bft/rpc/lib/server/handlers.go
  tm2/pkg/bft/rpc/lib/server/handlers_test.go
  tm2/pkg/bft/rpc/lib/server/http_server.go
Labels: :package: :globe_with_meridians: tendermint v2

#3581 fix: utilize `p2p.ExternalAddress` properly for dialing
  tm2/pkg/bft/node/node.go
  tm2/pkg/internal/p2p/p2p.go
  tm2/pkg/p2p/discovery/discovery.go
  tm2/pkg/p2p/discovery/discovery_test.go
  tm2/pkg/p2p/mock/peer.go
  tm2/pkg/p2p/peer.go
  tm2/pkg/p2p/peer_test.go
  tm2/pkg/p2p/switch.go
  tm2/pkg/p2p/switch_test.go
  tm2/pkg/p2p/transport.go
  tm2/pkg/p2p/transport_test.go
  tm2/pkg/p2p/types/node_info.go
  tm2/pkg/p2p/types/node_info_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3671 fix(gnoweb): header links with webquery
  gno.land/pkg/gnoweb/components/layout_header.go
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/weburl/url.go
  gno.land/pkg/gnoweb/weburl/url_test.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#3325 feat(examples): add p/moul/cow
  examples/gno.land/p/moul/cow/gno.mod
  examples/gno.land/p/moul/cow/node.gno
  examples/gno.land/p/moul/cow/node_test.gno
  examples/gno.land/p/moul/cow/tree.gno
  examples/gno.land/p/moul/cow/tree_test.gno
Labels: :receipt: package/realm

#3660 chore(examples): add microposts example
  examples/gno.land/r/moul/microposts/README.md
  examples/gno.land/r/moul/microposts/gno.mod
  examples/gno.land/r/moul/microposts/microposts_test.gno
  examples/gno.land/r/moul/microposts/post.gno
  examples/gno.land/r/moul/microposts/realm.gno
Labels: :receipt: package/realm

#3699 fix: skip failed txs in Portal Loop reset
  misc/loop/cmd/snapshotter.go
  misc/loop/go.mod
  misc/loop/go.sum
Labels: :package: :mountain: gno.land

#3489 perf(tm2/pkg/amino): reduce RAM heavy-handedness by *bytes.Buffer pooled reuse
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
  contribs/gnogenesis/go.mod
  contribs/gnogenesis/go.sum
  contribs/gnohealth/go.mod
  contribs/gnohealth/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  contribs/gnomigrate/go.mod
  contribs/gnomigrate/go.sum
  go.mod
  go.sum
  misc/autocounterd/go.mod
  misc/autocounterd/go.sum
  misc/loop/go.mod
  misc/loop/go.sum
  tm2/pkg/amino/amino.go
  tm2/pkg/amino/binary_encode.go
  tm2/pkg/amino/codec.go
  tm2/pkg/amino/json_encode.go
  tm2/pkg/amino/wellknown.go
Labels: :package: :globe_with_meridians: tendermint v2

#3578 chore: fmt
  .github/workflows/build_template.yml
  gno.land/Makefile
  gnovm/Makefile
  gnovm/cmd/gno/README.md
  gnovm/pkg/gnolang/internal/softfloat/runtime_softfloat64_test.go
  gnovm/tests/stdlibs/README.md
  tm2/Makefile
  tm2/pkg/overflow/overflow_impl.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3711 chore: add missing 'make generate' in examples/ folder
  .github/workflows/build_template.yml
  examples/Makefile
Labels: :receipt: package/realm

#3709 fix(examples): hall of fame render order
  examples/gno.land/r/leon/hof/datasource_test.gno
  examples/gno.land/r/leon/hof/render.gno
Labels: :receipt: package/realm

#3696 chore: add `gno version` output in `gno bug` body
  gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/bug_test.go
Labels: :package: :robot: gnovm

#3595 build(gnovm): improve code generation
  gnovm/Makefile
  gnovm/pkg/gnolang/doc.go
  gnovm/pkg/gnolang/kind_string.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_string.go
  gnovm/pkg/gnolang/string_methods.go
  gnovm/pkg/gnolang/transctrl_string.go
  gnovm/pkg/gnolang/transfield_string.go
  gnovm/pkg/gnolang/vptype_string.go
  gnovm/pkg/gnolang/word_string.go
  gnovm/stdlibs/generated.go
  gnovm/tests/stdlibs/generated.go
  misc/genstd/template.tmpl
  misc/genstd/testdata/integration/generated.go.golden
Labels: :package: :robot: gnovm

#3596 refactor(gnolang): move Exception to frame.go
  gnovm/pkg/gnolang/frame.go
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm

#3716 refactor(rpc): handlers.go - makeJSONRPCHandler() control flow refactor
  tm2/pkg/bft/rpc/lib/server/handlers.go
Labels: :package: :globe_with_meridians: tendermint v2

#3626 refactor(gnovm): remove TRANS_BREAK from transcriber
  gnovm/pkg/gnolang/string_methods.go
  gnovm/pkg/gnolang/transcribe.go
Labels: :package: :robot: gnovm

#3702 chore(gnovm): instrument debug tracing to display the caller site.
  gnovm/pkg/gnolang/debug.go
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#3723 test(cmd/gno): don't fail if tests take more than 10 seconds
  gnovm/cmd/gno/testdata/test/error_correct.txtar
  gnovm/cmd/gno/testdata/test/filetest_events.txtar
  gnovm/cmd/gno/testdata/test/minim2.txtar
  gnovm/cmd/gno/testdata/test/minim3.txtar
  gnovm/cmd/gno/testdata/test/multitest_events.txtar
  gnovm/cmd/gno/testdata/test/output_correct.txtar
  gnovm/cmd/gno/testdata/test/output_sync.txtar
  gnovm/cmd/gno/testdata/test/realm_correct.txtar
  gnovm/cmd/gno/testdata/test/realm_sync.txtar
  gnovm/cmd/gno/testdata/test/valid_filetest.txtar
  gnovm/cmd/gno/testdata/test/valid_test.txtar
Labels: :package: :robot: gnovm

#3710 feat(examples): add p/moul/dynreplacer
  examples/gno.land/p/moul/dynreplacer/dynreplacer.gno
  examples/gno.land/p/moul/dynreplacer/dynreplacer_test.gno
  examples/gno.land/p/moul/dynreplacer/gno.mod
Labels: :receipt: package/realm

#3732 fix(tm2/pkg/*): use fmt.Fprintf instead of buf.Write([]byte(fmt.Sprintf(...))) expenses
  tm2/pkg/amino/codec.go
  tm2/pkg/amino/wellknown.go
  tm2/pkg/errors/errors.go
Labels: :package: :globe_with_meridians: tendermint v2

#3724 feat(boards2): change flagging threshold to be configurable per board
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/flag.gno
  examples/gno.land/r/nt/boards2/v1/permission.gno
  examples/gno.land/r/nt/boards2/v1/public.gno
  examples/gno.land/r/nt/boards2/v1/z_10_g_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_16_a_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_16_b_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_16_c_filetest.gno
Labels: :receipt: package/realm

#3654 fix(gno.land): limit gas in simulate and query
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/integration/process_test.go
  gno.land/pkg/integration/testdata/addpkg_invalid.txtar
  gno.land/pkg/integration/testdata/addpkg_namespace.txtar
  gno.land/pkg/integration/testdata/assertorigincall.txtar
  gno.land/pkg/integration/testdata/ghverify.txtar
  gno.land/pkg/integration/testdata/gnokey_simulate.txtar
  gno.land/pkg/integration/testdata/grc20_invalid_address.txtar
  gno.land/pkg/integration/testdata/improved_coins.txtar
  gno.land/pkg/integration/testdata/infinite_loop.txtar
  gno.land/pkg/sdk/vm/gas_test.go
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/handler_test.go
  gno.land/pkg/sdk/vm/keeper.go
  tm2/pkg/sdk/auth/ante.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3591 feat(gnovm): enforce size of int and uint to 64 bits on all arch.
  gno.land/pkg/sdk/vm/convert.go
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/internal/softfloat/gen/main.go
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/op_exec.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/op_types.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/stdlibs/encoding/base32/base32_test.gno
  gnovm/stdlibs/math/const.gno
  gnovm/stdlibs/strconv/atoi_test.gno
  misc/genstd/util.go
  tm2/pkg/overflow/overflow_template.sh
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3741 fix(gnovm): object deletion; add comments
  gnovm/pkg/gnolang/ownership.go
  gnovm/tests/files/zrealm14.gno
  gnovm/tests/files/zrealm15.gno
Labels: :package: :robot: gnovm

#3745 fix(tm2): overflow check when computing remaining gas.
  tm2/pkg/store/types/gas.go
Labels: :package: :globe_with_meridians: tendermint v2

#3744 chore(gnovm): remove unused Machine.MaxCycles
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm

#3733 fix(gnolang): make Go2Gno return a prespective error instead of sudden/elusive runtime panic with a bad receiver
  gnovm/pkg/gnolang/go2gno.go
  gnovm/tests/files/parse_err0.gno
Labels: :package: :robot: gnovm

#3726 feat(examples): add mason realm to examples + md project
  examples/gno.land/p/mason/md/gno.mod
  examples/gno.land/p/mason/md/md.gno
  examples/gno.land/r/mason/home/gno.mod
  examples/gno.land/r/mason/home/home.gno
Labels: :receipt: package/realm

#3619 feat(gnoweb): add secure headers by default & timeout configuration
  gno.land/cmd/gnoweb/main.go
  gno.land/pkg/gnoweb/Makefile
  gno.land/pkg/gnoweb/components/ui/icons.html
Labels: don't merge, :package: :mountain: gno.land

#3756 chore(boards2): remove legacy user call asserts
  examples/gno.land/r/nt/boards2/v1/public.gno
  examples/gno.land/r/nt/boards2/v1/z_0_d_filetest.gno
Labels: :receipt: package/realm

#3754 chore(boards2): add initial documentation to public realm functions
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/board_test.gno
  examples/gno.land/r/nt/boards2/v1/flag.gno
  examples/gno.land/r/nt/boards2/v1/permission_default.gno
  examples/gno.land/r/nt/boards2/v1/post.gno
  examples/gno.land/r/nt/boards2/v1/post_test.gno
  examples/gno.land/r/nt/boards2/v1/public.gno
Labels: :receipt: package/realm

#3717 chore(boards2): simplify boards realm permissions
  examples/gno.land/r/nt/boards2/v1/permission_default.gno
  examples/gno.land/r/nt/boards2/v1/z_1_b_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_1_c_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_4_a_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_4_c_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_4_d_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_4_f_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_4_g_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_5_a_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_6_a_filetest.gno
Labels: :receipt: package/realm

#3762 fix(gnoweb): allow `gno.services` url for analytics
  gno.land/cmd/gnoweb/main.go
Labels: :package: :mountain: gno.land

#3641 feat(gnovm)!: remove `bigint` type
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/op_inc_dec.go
  gnovm/pkg/gnolang/op_unary.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/types.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/zpersist_valids.gno
Labels: :package: :robot: gnovm

#1891 fix: correct typed-nil handling
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/tests/files/convert4.gno
  gnovm/tests/files/convert5.gno
  gnovm/tests/files/types/cmp_iface_0_stdlibs.gno
  gnovm/tests/files/types/cmp_iface_3_stdlibs.gno
  gnovm/tests/files/types/cmp_iface_5_stdlibs.gno
  gnovm/tests/files/types/typed_nil_a.gno
  gnovm/tests/files/types/typed_nil_b.gno
  gnovm/tests/files/types/typed_nil_c.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#3761 chore(examples): update leon's config package
  examples/gno.land/r/leon/config/config.gno
  examples/gno.land/r/leon/config/render.gno
Labels: :receipt: package/realm, review/triage-pending

#3770 chore(boards2): simplify default permissions implementation
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/permission_options.gno
  examples/gno.land/r/nt/boards2/v1/permissions.gno
  examples/gno.land/r/nt/boards2/v1/permissions_default.gno
  examples/gno.land/r/nt/boards2/v1/permissions_default_test.gno
Labels: :receipt: package/realm

#3753 fix(gnovm): no ValuePath depths should exceed uint8/2
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/op_types.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/types.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/block1.gno
  gnovm/tests/files/block2.gno
Labels: :package: :robot: gnovm

#3784 chore: introducing Gnodev official Docker image
  .github/goreleaser.yaml
  Dockerfile.release
Labels: devops

#3748 feat(gnolang): make panics from Go2Gno produce lineno:column information
  gnovm/pkg/gnolang/go2gno.go
  gnovm/tests/files/parse_err0.gno
Labels: :package: :robot: gnovm

#3380 feat(gnovm): enable debugger for gno test
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/tool_lint.go
  gnovm/pkg/gnolang/debugger.go
  gnovm/pkg/gnolang/debugger_test.go
  gnovm/pkg/repl/repl.go
  gnovm/pkg/test/filetest.go
  gnovm/pkg/test/test.go
Labels: :seedling: feature, :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3767 build: use go1.23.6
  .github/ISSUE_TEMPLATE/BUG-REPORT.md
  .github/workflows/examples.yml
  .github/workflows/gnofmt_template.yml
  .github/workflows/main_template.yml
  CONTRIBUTING.md
  Dockerfile
  contribs/github-bot/go.mod
  contribs/gnodev/go.mod
  contribs/gnofaucet/go.mod
  contribs/gnogenesis/go.mod
  contribs/gnohealth/go.mod
  contribs/gnokeykc/go.mod
  contribs/gnomigrate/go.mod
  docs/getting-started/local-setup/installation.md
  docs/gno-infrastructure/validators/connect-to-existing-chain.md
  docs/gno-infrastructure/validators/setting-up-a-new-chain.md
  gnovm/cmd/gno/bug.go
  gnovm/pkg/gnolang/internal/txlog/txlog.go
  gnovm/pkg/gnolang/internal/txlog/txlog_test.go
  gnovm/pkg/gnolang/store.go
  go.mod
  misc/autocounterd/go.mod
  misc/docs-linter/go.mod
  misc/loop/go.mod
  misc/stdlib_diff/go.mod
Labels: :package: :robot: gnovm

#3798 chore: Adding Stdlib to Gnodev Docker image
  .github/goreleaser.yaml
  Dockerfile.release
Labels: devops

#3814 fix(gnovm): allow private struct fields to be set
  gnovm/pkg/gnolang/gonative.go
  gnovm/tests/files/struct59.gno
Labels: :package: :robot: gnovm

#3810 docs: archive test4
  docs/concepts/namespaces.md
  docs/concepts/testnets.md
  docs/reference/network-config.md
Labels: :book: documentation

#3794 feat(sdk/vm): disallow calling internal realms
  gno.land/pkg/sdk/vm/msgs.go
  gno.land/pkg/sdk/vm/msgs_test.go
  gnovm/pkg/gnolang/helpers.go
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#3736 feat(examples): add p/moul/fifo
  examples/gno.land/p/moul/fifo/fifo.gno
  examples/gno.land/p/moul/fifo/fifo_test.gno
  examples/gno.land/p/moul/fifo/gno.mod
Labels: :receipt: package/realm

#3752 fix(gnolang): prescriptively reject *ast.(IndexListExpr, GoStmt) as unrecognized for Gno
  gnovm/pkg/gnolang/go2gno.go
  gnovm/tests/files/parse_err1.gno
  gnovm/tests/files/parse_err2.gno
Labels: :package: :robot: gnovm

#3728 fix(gnovm): remove `preprocessing` variable
  gnovm/pkg/gnolang/op_assign.go
  gnovm/pkg/gnolang/op_decl.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/values_conversions.go
Labels: :package: :robot: gnovm

#3809 feat(boards2): improve menus and add missing actions
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/pagination.gno
  examples/gno.land/r/nt/boards2/v1/post.gno
  examples/gno.land/r/nt/boards2/v1/post_test.gno
  examples/gno.land/r/nt/boards2/v1/render.gno
Labels: :receipt: package/realm

#3718 feat(boards2): allow changing permissions implementation
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/board_test.gno
  examples/gno.land/r/nt/boards2/v1/boards.gno
  examples/gno.land/r/nt/boards2/v1/permissions.gno
  examples/gno.land/r/nt/boards2/v1/post_test.gno
  examples/gno.land/r/nt/boards2/v1/public.gno
  examples/gno.land/r/nt/boards2/v1/z_18_a_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_18_b_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_18_c_filetest.gno
Labels: :receipt: package/realm

#3813 feat(comondao): change `commondao` package to use `addrset` for members
  examples/gno.land/p/nt/commondao/commondao.gno
  examples/gno.land/p/nt/commondao/commondao_test.gno
  examples/gno.land/p/nt/commondao/options.gno
Labels: :receipt: package/realm

#3700 feat(examples): add p/moul/authz
  examples/gno.land/p/moul/authz/authz.gno
  examples/gno.land/p/moul/authz/authz_test.gno
  examples/gno.land/p/moul/authz/example_test.gno
  examples/gno.land/p/moul/authz/gno.mod
  examples/gno.land/p/moul/once/gno.mod
  examples/gno.land/p/moul/once/once.gno
  examples/gno.land/p/moul/once/once_test.gno
  gno.land/pkg/integration/testdata/moul_authz.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3806 feat(examples): add `p/jeronimoalbi/pager` package
  examples/gno.land/p/jeronimoalbi/pager/gno.mod
  examples/gno.land/p/jeronimoalbi/pager/pager.gno
  examples/gno.land/p/jeronimoalbi/pager/pager_options.gno
  examples/gno.land/p/jeronimoalbi/pager/pager_test.gno
Labels: :receipt: package/realm

#3823 feat(commondao): simplify proposal definition requirements
  examples/gno.land/p/nt/commondao/commondao.gno
  examples/gno.land/p/nt/commondao/commondao_test.gno
  examples/gno.land/p/nt/commondao/proposal.gno
Labels: :receipt: package/realm

#3803 feat(boards2): add views to list board members
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/permissions.gno
  examples/gno.land/r/nt/boards2/v1/permissions_default.gno
  examples/gno.land/r/nt/boards2/v1/permissions_default_test.gno
  examples/gno.land/r/nt/boards2/v1/render.gno
Labels: :receipt: package/realm

#3833 chore(gnoweb): bump hardcoded gas value
  gno.land/pkg/gnoweb/components/ui/help_function.html
Labels: :package: :mountain: gno.land

#3834 feat(r/docs): add `minisocial` example
  examples/gno.land/r/docs/docs.gno
  examples/gno.land/r/docs/minisocial/gno.mod
  examples/gno.land/r/docs/minisocial/minisocial.gno
  examples/gno.land/r/docs/minisocial/v1/admin.gno
  examples/gno.land/r/docs/minisocial/v1/gno.mod
  examples/gno.land/r/docs/minisocial/v1/posts.gno
  examples/gno.land/r/docs/minisocial/v1/posts_test.gno
  examples/gno.land/r/docs/minisocial/v1/types.gno
  examples/gno.land/r/docs/minisocial/v2/admin.gno
  examples/gno.land/r/docs/minisocial/v2/gno.mod
  examples/gno.land/r/docs/minisocial/v2/posts.gno
  examples/gno.land/r/docs/minisocial/v2/posts_test.gno
  examples/gno.land/r/docs/minisocial/v2/types.gno
Labels: :receipt: package/realm

#3836 fix(gnovm): don't assert to bodyStmt when creating stacktraces
  gnovm/pkg/gnolang/machine.go
  gnovm/tests/files/recover20.gno
Labels: :package: :robot: gnovm

#3797 feat(gnoweb): add metadata to md content
  examples/gno.land/r/docs/docs.gno
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/markdown/meta.go
  gno.land/pkg/gnoweb/markdown/meta_test.go
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  go.mod
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb

#3840 fix(gnovm): remove readonly flag
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_assign.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm

#3843 fix: check interface convertable and print safe nil
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/convert6.gno
  gnovm/tests/files/convert6a.gno
  gnovm/tests/files/convert6b.gno
  gnovm/tests/files/convert6c.gno
  gnovm/tests/files/convert6d.gno
  gnovm/tests/files/convert6e.gno
  gnovm/tests/files/convert7.gno
  gnovm/tests/files/convert7a.gno
  gnovm/tests/files/convert7b.gno
  gnovm/tests/files/convert7c.gno
  gnovm/tests/files/interface47.gno
  gnovm/tests/files/interface48.gno
  gnovm/tests/files/struct60.gno
  gnovm/tests/files/struct61.gno
Labels: :package: :robot: gnovm

#3459 feat: Add vm/qdoc with function comments
  docs/gno-tooling/cli/gnokey/querying-a-network.md
  docs/reference/rpc-endpoints.md
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/handler_test.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/doc/doc.go
  gnovm/pkg/doc/doc_test.go
  gnovm/pkg/doc/json_doc.go
  gnovm/pkg/doc/json_doc_test.go
  gnovm/pkg/doc/pkg.go
  gnovm/pkg/doc/testdata/integ/hello/hello.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#2325 fix(amino): panic when registering types with the same name
  tm2/pkg/amino/README.md
  tm2/pkg/amino/amino.go
  tm2/pkg/amino/codec_test.go
  tm2/pkg/amino/pkg/pkg.go
Labels: :package: :globe_with_meridians: tendermint v2

#3850 fix(gnoweb): change 'docs' to 'actions', updates to menus
  gno.land/pkg/gnoweb/components/layout_footer.go
  gno.land/pkg/gnoweb/components/layout_header.go
  gno.land/pkg/gnoweb/components/ui/help_function.html
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/components/views/help.html
  gno.land/pkg/gnoweb/handler.go
Labels: :package: :mountain: gno.land

#3853 chore: refactor gnoland/home
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/home/override_filetest.gno
Labels: :receipt: package/realm
