Repository gnolang/gno, pull requests merged in 2025-08, with the labels that each got.

#4505 fix(gnovm): runtime panic when using nil as key
  gnovm/pkg/gnolang/misc.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/map36.gno
  gnovm/tests/files/map37.gno
Labels: :package: :robot: gnovm

#4610 ci: add testnet in genesis-verify
  .github/workflows/genesis-verify.yml
Labels: 🚀 ci

#4607 fix(tm2): potential nil `stores` map
  tm2/pkg/store/rootmulti/store.go
Labels: :package: :globe_with_meridians: tendermint v2

#4517 fix: add documentation for storage deposit and update gas fee simulation instructions
  docs/README.md
  docs/builders/deploy-packages.md
  docs/resources/gas-fees.md
  docs/resources/storage-deposit.md
  docs/users/interact-with-gnokey.md
  misc/docs/sidebar.json
Labels: :book: documentation

#4617 fix(examples): Fix Adder realm Add function
  examples/gno.land/r/docs/adder/adder.gno
  examples/gno.land/r/docs/adder/adder_test.gno
Labels: :receipt: package/realm, review/triage-pending

#4525 docs: add crossing
  docs/_assets/minisocial/posts-1.gno
  docs/_assets/minisocial/posts_test-0.gno
  docs/_assets/minisocial/posts_test-1.gno
  docs/_assets/minisocial/types-2-bonus.gno
  docs/builders/anatomy-of-a-gno-package.md
  docs/builders/example-minisocial-dapp.md
  docs/builders/local-dev-with-gnodev.md
  docs/resources/effective-gno.md
  docs/resources/glossary.md
  docs/resources/gno-interrealm.md
  docs/resources/gno-testing.md
  docs/resources/realms.md
  docs/resources/users-and-teams.md
Labels: :book: documentation, :receipt: package/realm

#4625 ci(stale): bump operations-per-run
  .github/workflows/stale-bot.yml
Labels: 🚀 ci

#4631 fix(tx-archive): correctly wrap error in rpc client
  contribs/tx-archive/backup/client/rpc/rpc.go
Labels: 🤝 contribs

#4597 fix(govdao): logic flaw & set crossing for add member
  examples/gno.land/r/gov/dao/v3/impl/impl.gno
  gno.land/pkg/integration/testdata/govdao_invite_t3_member.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#4551 feat(examples): Coinflip
  examples/gno.land/r/sacha/coinflip/coinflip.gno
  examples/gno.land/r/sacha/coinflip/coinflip_test.gno
  examples/gno.land/r/sacha/coinflip/gnomod.toml
  examples/gno.land/r/sacha/coinflip/render.gno
  examples/gno.land/r/sacha/coinflip/types.gno
  examples/gno.land/r/sacha/config/config.gno
  examples/gno.land/r/sacha/config/gnomod.toml
  examples/gno.land/r/sacha/home/gnomod.toml
  examples/gno.land/r/sacha/home/home.gno
  examples/gno.land/r/sacha/home/update.gno
Labels: :receipt: package/realm

#4661 fix(examples): failing test in p/samcrew/urlfilter
  examples/gno.land/p/samcrew/urlfilter/urlfilter_test.gno
Labels: :receipt: package/realm

#4669 fix(gnoweb): improve user link
  gno.land/pkg/gnoweb/components/ui/icons.html
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4487 docs: simplify CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 📄 top-level-md

#4674 fix(gnoweb): toc md redered links
  gno.land/pkg/gnoweb/markdown/toc.go
  gno.land/pkg/gnoweb/markdown/utils.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4523 perf(crypto/keys/armor): do not hash with empty passphrase
  tm2/pkg/commands/io.go
  tm2/pkg/commands/utils.go
  tm2/pkg/crypto/keys/armor/armor.go
  tm2/pkg/crypto/keys/armor/armor_compat_test.go
  tm2/pkg/crypto/keys/armor/armor_test.go
  tm2/pkg/crypto/keys/client/add.go
  tm2/pkg/crypto/keys/client/export.go
  tm2/pkg/crypto/keys/client/export_test.go
  tm2/pkg/crypto/keys/client/import.go
  tm2/pkg/crypto/keys/client/import_test.go
  tm2/pkg/crypto/keys/client/rotate.go
  tm2/pkg/crypto/keys/client/rotate_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#4702 fix: no sync on pebbledb
  tm2/pkg/db/pebbledb/pebbledb.go
Labels: :package: :globe_with_meridians: tendermint v2

#4478 feat(gnoweb): implementing home override using aliases and md local files
  misc/deployments/home-alias/.gitignore
  misc/deployments/home-alias/README.md
  misc/deployments/home-alias/docker-compose.yml
  misc/deployments/home-alias/gnoalias.sh
  misc/deployments/staging.gno.land/.env.example
  misc/deployments/staging.gno.land/.gitignore
  misc/deployments/staging.gno.land/Makefile
  misc/deployments/staging.gno.land/README.md
  misc/deployments/staging.gno.land/docker-compose.yml
  misc/deployments/staging.gno.land/gnoland.entrypoint.sh
  misc/deployments/staging.gno.land/overlay/HOME.md
  misc/deployments/staging.gno.land/overlay/config.toml
Labels: 🐳 devops, 🤝 contribs

#4646 feat: add context client methods & gnoweb liveness / readiness endpoint
  contribs/gnodev/accounts.go
  contribs/gnodev/app.go
  contribs/gnodev/pkg/dev/node.go
  contribs/gnodev/pkg/packages/resolver_remote.go
  contribs/gnodev/pkg/proxy/path_interceptor_test.go
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
  contribs/gnogenesis/integration_test.go
  contribs/gnohealth/internal/timestamp/timestamp.go
  contribs/tx-archive/backup/client/rpc/rpc.go
  contribs/tx-archive/restore/client/client.go
  contribs/tx-archive/restore/client/http/http.go
  contribs/tx-archive/restore/mock_test.go
  contribs/tx-archive/restore/restore.go
  contribs/tx-archive/restore/restore_test.go
  gno.land/cmd/gnoland/start_test.go
  gno.land/cmd/gnoweb/main.go
  gno.land/pkg/gnoclient/client_queries.go
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
  gno.land/pkg/gnoclient/mock_test.go
  gno.land/pkg/gnoweb/app.go
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/client.go
  gno.land/pkg/gnoweb/client_mock.go
  gno.land/pkg/gnoweb/handler_http.go
  gno.land/pkg/gnoweb/handler_http_test.go
  gno.land/pkg/gnoweb/status.go
  gno.land/pkg/integration/process_test.go
  gnovm/pkg/packages/pkgdownload/rpcpkgfetcher/rpcpkgfetcher.go
  tm2/pkg/bft/rpc/client/client.go
  tm2/pkg/bft/rpc/client/client_test.go
  tm2/pkg/bft/rpc/client/e2e_test.go
  tm2/pkg/bft/rpc/client/local.go
  tm2/pkg/bft/rpc/client/types.go
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/query.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, 🌍 gnoweb, 🐹 golang, 🛠️ gnodev
