Repository gnolang/gno, pull requests merged in 2025-03, with the labels that each got.

#3845 chore: improve error response structure and metadata
  gno.land/pkg/integration/testdata/err_metadata.txtar
  gno.land/pkg/sdk/vm/handler.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/sdk/baseapp.go
  tm2/pkg/sdk/options.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3472 feat(example): `r/mouss`
  examples/gno.land/r/mouss/config/config.gno
  examples/gno.land/r/mouss/config/config_test.gno
  examples/gno.land/r/mouss/config/gno.mod
  examples/gno.land/r/mouss/home/gno.mod
  examples/gno.land/r/mouss/home/home.gno
  examples/gno.land/r/mouss/home/home_test.gno
Labels: :receipt: package/realm

#3876 fix(gnovm): fix unary operator ^ on constants
  gnovm/pkg/gnolang/op_unary.go
  gnovm/tests/files/const59.gno
  gnovm/tests/files/const60.gno
  gnovm/tests/files/const61.gno
Labels: :package: :robot: gnovm

#3861 fix(gnovm): handle calling method with value receiver on nil
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/ptr11.gno
  gnovm/tests/files/ptr11a.gno
  gnovm/tests/files/ptr11b.gno
Labels: :package: :robot: gnovm

#3837 feat(gnovm): show stacktraces when recovering from a test
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/cmd/gno/run.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/testing/testing.gno
  gnovm/stdlibs/testing/testing.go
  gnovm/tests/stdlibs/generated.go
  gnovm/tests/stdlibs/testing/native_testing.gno
  gnovm/tests/stdlibs/testing/native_testing.go
  misc/genstd/mapping.go
  misc/genstd/mapping_test.go
  misc/genstd/template.tmpl
  misc/genstd/testdata/linkFunctions_TypedValue/std/std.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#3879 fix(minisocial): reset pager upon reset
  examples/gno.land/r/docs/minisocial/v2/admin.gno
  examples/gno.land/r/docs/minisocial/v2/posts.gno
  examples/gno.land/r/docs/minisocial/v2/posts_test.gno
Labels: :receipt: package/realm

#3791 feat(commondao): Add Common DAO realm
  examples/gno.land/p/nt/commondao/commondao.gno
  examples/gno.land/p/nt/commondao/options.gno
  examples/gno.land/p/nt/commondao/record.gno
  examples/gno.land/p/nt/commondao/record_test.gno
  examples/gno.land/r/nt/commondao/commondao.gno
  examples/gno.land/r/nt/commondao/genesis.gno
  examples/gno.land/r/nt/commondao/gno.mod
  examples/gno.land/r/nt/commondao/iterator.gno
  examples/gno.land/r/nt/commondao/iterator_options.gno
  examples/gno.land/r/nt/commondao/proposal.gno
  examples/gno.land/r/nt/commondao/proposal_members.gno
  examples/gno.land/r/nt/commondao/proposal_members_test.gno
  examples/gno.land/r/nt/commondao/public.gno
  examples/gno.land/r/nt/commondao/public_proposals.gno
  examples/gno.land/r/nt/commondao/render.gno
  examples/gno.land/r/nt/commondao/z_1_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_1_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_1_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_3_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_3_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_g_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_a_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_b_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_c_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_d_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_e_filetest.gno
Labels: :receipt: package/realm

#2307 feat(examples): add `p/thox/{accesscontrol,timelock}`
  examples/gno.land/p/thox/accesscontrol/accesscontrol.gno
  examples/gno.land/p/thox/accesscontrol/accesscontrol_test.gno
  examples/gno.land/p/thox/accesscontrol/doc.gno
  examples/gno.land/p/thox/accesscontrol/errors.gno
  examples/gno.land/p/thox/accesscontrol/gno.mod
  examples/gno.land/p/thox/timelock/doc.gno
  examples/gno.land/p/thox/timelock/errors.gno
  examples/gno.land/p/thox/timelock/gno.mod
  examples/gno.land/p/thox/timelock/timelock.gno
  examples/gno.land/p/thox/timelock/timelock_test.gno
Labels: :receipt: package/realm

#2518 fix(tm2): Fix the endpoint /tx?hash= to make it work
  tm2/pkg/bft/rpc/lib/server/handlers.go
  tm2/pkg/bft/rpc/lib/server/parse_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#3886 fix(gnovm): fix nil pointer deref for duplicate declarations
  gno.land/pkg/integration/testdata/issue_2763.txtar
  gnovm/cmd/gno/testdata/test/issue_2763.txtar
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/nodes.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#3698 feat(examples): add `p/jeronimoalbi/datastore` package
  examples/gno.land/p/jeronimoalbi/datastore/datastore.gno
  examples/gno.land/p/jeronimoalbi/datastore/datastore_test.gno
  examples/gno.land/p/jeronimoalbi/datastore/doc.gno
  examples/gno.land/p/jeronimoalbi/datastore/gno.mod
  examples/gno.land/p/jeronimoalbi/datastore/index.gno
  examples/gno.land/p/jeronimoalbi/datastore/index_test.gno
  examples/gno.land/p/jeronimoalbi/datastore/query.gno
  examples/gno.land/p/jeronimoalbi/datastore/query_options.gno
  examples/gno.land/p/jeronimoalbi/datastore/record.gno
  examples/gno.land/p/jeronimoalbi/datastore/record_test.gno
  examples/gno.land/p/jeronimoalbi/datastore/schema.gno
  examples/gno.land/p/jeronimoalbi/datastore/schema_options.gno
  examples/gno.land/p/jeronimoalbi/datastore/schema_test.gno
  examples/gno.land/p/jeronimoalbi/datastore/storage.gno
  examples/gno.land/p/jeronimoalbi/datastore/storage_options.gno
  examples/gno.land/p/jeronimoalbi/datastore/storage_test.gno
Labels: :receipt: package/realm

#3854 fix(gnovm/pkg/test): use scoped store when running GetMemPackage
  gnovm/cmd/gno/testdata/test/two_packages_init.txtar
  gnovm/cmd/gno/testdata_test.go
  gnovm/pkg/test/test.go
Labels: :package: :robot: gnovm

#3738 feat(examples): `p/leon/pkgerr`
  examples/gno.land/p/leon/pkgerr/err.gno
  examples/gno.land/p/leon/pkgerr/err_test.gno
  examples/gno.land/p/leon/pkgerr/gno.mod
  examples/gno.land/r/leon/hof/errors.gno
Labels: :receipt: package/realm

#3757 fix: interface to concrete type by T(ifaceVal) is not allowed
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/interface39b.gno
Labels: :package: :robot: gnovm

#3896 fix: remove `r/demo/users` traces
  docs/builders/deploy-packages.md
  docs/resources/glossary.md
  docs/resources/gno-packages.md
  docs/resources/users-and-teams.md
  docs/users/explore-with-gnoweb.md
  gno.land/pkg/sdk/vm/handler_test.go
  gnovm/cmd/gno/mod_test.go
  gnovm/pkg/transpiler/transpiler_test.go
  gnovm/tests/files/zrealm_crossrealm13.gno
  gnovm/tests/files/zrealm_crossrealm13a.gno
  gnovm/tests/integ/replace_with_module/gno.mod
  gnovm/tests/integ/replace_with_module/main.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#3892 feat: add assets.gnoteam.com to the CSP img-src whitelist
  gno.land/cmd/gnoweb/main.go
  gno.land/cmd/gnoweb/main_test.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#3904 ci: reciprocally test gnovm and examples when they change
  .github/workflows/examples.yml
  .github/workflows/gnovm.yml
  examples/Makefile
  examples/gno.land/r/x/map_delete/gno.mod
  examples/gno.land/r/x/nir1218_evaluation_proposal/gno.mod
  examples/gno.land/r/x/skip_height_to_skip_time/gno.mod
  gnovm/cmd/gno/test.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#3524 feat(examples): add {p,r}/agherasie/forms
  examples/gno.land/p/agherasie/forms/create.gno
  examples/gno.land/p/agherasie/forms/create_test.gno
  examples/gno.land/p/agherasie/forms/doc.gno
  examples/gno.land/p/agherasie/forms/errors.gno
  examples/gno.land/p/agherasie/forms/forms.gno
  examples/gno.land/p/agherasie/forms/forms_json.gno
  examples/gno.land/p/agherasie/forms/gno.mod
  examples/gno.land/p/agherasie/forms/submit.gno
  examples/gno.land/p/agherasie/forms/submit_test.gno
  examples/gno.land/p/agherasie/forms/validate.gno
  examples/gno.land/p/agherasie/forms/validate_test.gno
  examples/gno.land/r/agherasie/forms/forms.gno
  examples/gno.land/r/agherasie/forms/forms_test.gno
  examples/gno.land/r/agherasie/forms/gno.mod
Labels: :receipt: package/realm

#3677 chore: remove All nativeType and nativeValues
  examples/gno.land/p/demo/flow/io_test.gno
  examples/gno.land/p/demo/tamagotchi/z0_filetest.gno
  examples/gno.land/r/x/manfred_outfmt/outfmt.gno
  examples/no_cycles_test.go
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/alloc_test.go
  gnovm/pkg/gnolang/frame.go
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/helpers.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/nodes_copy.go
  gnovm/pkg/gnolang/nodes_string.go
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/pkg/gnolang/op_eval.go
  gnovm/pkg/gnolang/op_exec.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/op_types.go
  gnovm/pkg/gnolang/ownership.go
  gnovm/pkg/gnolang/package.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/string_methods.go
  gnovm/pkg/gnolang/transcribe.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/pkg/gnolang/types.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/pkg/gnolang/values_fill.go
  gnovm/pkg/gnolang/values_string.go
  gnovm/pkg/test/imports.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/net/url/url_test.gno
  gnovm/stdlibs/testing/match.gno
  gnovm/stdlibs/testing/testing.gno
  gnovm/stdlibs/testing/testing.go
  gnovm/tests/backup/struct23.gno
  gnovm/tests/backup/struct51.gno
  gnovm/tests/files/addr2b.gno
  gnovm/tests/files/map24.gno
  gnovm/tests/files/map25.gno
  gnovm/tests/files/struct56.gno
  gnovm/tests/files/struct57.gno
  gnovm/tests/files/xfactor_long.gno
  gnovm/tests/stdlibs/generated.go
  gnovm/tests/stdlibs/os/os.gno
  gnovm/tests/stdlibs/os/os.go
  gnovm/tests/stdlibs/testing/native_testing.gno
  gnovm/tests/stdlibs/testing/native_testing.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#3907 fix(gnoweb): footer logo link to navigate to home page
  gno.land/pkg/gnoweb/components/layouts/footer.html
Labels: :package: :mountain: gno.land

#3909 chore(examples): move r/demo/markdown_test to r/docs/markdown + update content
  examples/gno.land/r/demo/markdown_test/gno.mod
  examples/gno.land/r/demo/markdown_test/markdown.gno
  examples/gno.land/r/docs/docs.gno
  examples/gno.land/r/docs/markdown/gno.mod
  examples/gno.land/r/docs/markdown/markdown.gno
  examples/gno.land/r/docs/markdown/markdown_test.gno
Labels: :receipt: package/realm

#3913 fix(examples): a p/moul/authz.ContractAuthority could execute multiple actions
  examples/gno.land/p/moul/authz/authz.gno
  examples/gno.land/p/moul/authz/authz_test.gno
Labels: :receipt: package/realm

#3912 fix(pkg/doc): include Consts and Vars of the type in JSON
  gnovm/pkg/doc/json_doc.go
  gnovm/pkg/doc/json_doc_test.go
  gnovm/pkg/doc/testdata/integ/hello/hello.gno
Labels: :package: :robot: gnovm, review/triage-pending

#3911 feat(examples): add gno.land/{p,r}/morgan/chess
  examples/gno.land/p/morgan/chess/engine.gno
  examples/gno.land/p/morgan/chess/engine_test.gno
  examples/gno.land/p/morgan/chess/glicko2/glicko2.gno
  examples/gno.land/p/morgan/chess/glicko2/glicko2_test.gno
  examples/gno.land/p/morgan/chess/glicko2/gno.mod
  examples/gno.land/p/morgan/chess/gno.mod
  examples/gno.land/p/morgan/chess/zobrist/gno.mod
  examples/gno.land/p/morgan/chess/zobrist/rands.go
  examples/gno.land/p/morgan/chess/zobrist/zobrist.gno
  examples/gno.land/p/morgan/chess/zobrist/zobrist_test.gno
  examples/gno.land/r/morgan/chess/chess.gno
  examples/gno.land/r/morgan/chess/chess_test.gno
  examples/gno.land/r/morgan/chess/discovery.gno
  examples/gno.land/r/morgan/chess/gno.mod
  examples/gno.land/r/morgan/chess/json.gno
  examples/gno.land/r/morgan/chess/lobby.gno
  examples/gno.land/r/morgan/chess/lobby_test.gno
  examples/gno.land/r/morgan/chess/time.gno
  gnovm/pkg/gnolang/preprocess.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#3905 fix: user registry changes
  examples/gno.land/r/demo/boards/z_0_filetest.gno
  examples/gno.land/r/demo/groups/z_2_b_filetest.gno
  examples/gno.land/r/demo/groups/z_2_d_filetest.gno
  examples/gno.land/r/gnoland/users/users.gno
  examples/gno.land/r/gnoland/users/v1/admin.gno
  examples/gno.land/r/gnoland/users/v1/errors.gno
  examples/gno.land/r/gnoland/users/v1/users.gno
  examples/gno.land/r/gnoland/users/v1/users_test.gno
  examples/gno.land/r/sys/users/admin.gno
  examples/gno.land/r/sys/users/users.gno
  gno.land/genesis/genesis_txs.jsonl
  gnovm/stdlibs/std/native.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#3916 fix(boards2): change realm to work with new users realm
  examples/gno.land/r/nt/boards2/v1/format.gno
  examples/gno.land/r/nt/boards2/v1/permissions_default.gno
  examples/gno.land/r/nt/boards2/v1/z_0_h_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_3_f_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_3_g_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_3_i_filetest.gno
Labels: :receipt: package/realm

#3914 feat(r/docs): using `r/sys/users`
  examples/gno.land/r/docs/docs.gno
  examples/gno.land/r/docs/users/gno.mod
  examples/gno.land/r/docs/users/resolve.gno
Labels: :receipt: package/realm

#3413 feat(examples): add p/moul/ulist/lplist (layered proxy list)
  examples/gno.land/p/moul/ulist/lplist/gno.mod
  examples/gno.land/p/moul/ulist/lplist/lplist.gno
  examples/gno.land/p/moul/ulist/lplist/lplist_test.gno
  examples/gno.land/p/moul/ulist/ulist.gno
Labels: :receipt: package/realm

#3934 style: fix sublist margin
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, review/triage-pending

#3920 feat(gnovm): implement import rules for non-obvious identifiers
  examples/gno.land/r/x/jeronimo_render_proxy/home/v1/z_filetest.gno
  examples/gno.land/r/x/jeronimo_render_proxy/home/v2/z_filetest.gno
  examples/gno.land/r/x/manfred_outfmt/outfmt_test.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_c/integration_filetest.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v1/z_filetest.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v2/v2.gno
  examples/gno.land/r/x/manfred_upgrade_patterns/upgrade_d/v2/z_filetest.gno
  gno.land/pkg/integration/testdata/addpkg_identifier_mismatch.txtar
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/extern/foo/v2/foo.gno
  gnovm/tests/files/extern/tata/tutu.gno
  gnovm/tests/files/extern/toto/titi.gno
  gnovm/tests/files/import15.gno
  gnovm/tests/files/import9.gno
  gnovm/tests/files/ipp_as_key.gno
  gnovm/tests/files/pkgname0.gno
  gnovm/tests/files/pkgname1.gno
  gnovm/tests/files/pkgname2.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#3939 feat(commondao): simplify tally allowing prop definitions to deal with logic
  examples/gno.land/p/gnoland/commondao/commondao.gno
  examples/gno.land/p/gnoland/commondao/commondao_test.gno
  examples/gno.land/p/gnoland/commondao/memberset.gno
  examples/gno.land/p/gnoland/commondao/memberset_test.gno
  examples/gno.land/p/gnoland/commondao/proposal.gno
  examples/gno.land/p/gnoland/commondao/proposal_test.gno
  examples/gno.land/p/gnoland/commondao/record.gno
  examples/gno.land/p/gnoland/commondao/record_readonly.gno
  examples/gno.land/p/gnoland/commondao/record_test.gno
  examples/gno.land/r/gnoland/commondao/proposal_members.gno
  examples/gno.land/r/gnoland/commondao/proposal_members_test.gno
  examples/gno.land/r/gnoland/commondao/z_5_a_filetest.gno
  examples/gno.land/r/gnoland/commondao/z_5_e_filetest.gno
  examples/gno.land/r/gnoland/commondao/z_6_a_filetest.gno
Labels: :receipt: package/realm

#3935 refactor(vm): use expected keeper interface
  gno.land/pkg/sdk/vm/builtins.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/types.go
Labels: :package: :mountain: gno.land

#3830 feat: refactor r/gnoland/valopers to remove `r/sys/validators` dependency
  examples/gno.land/r/gnoland/valopers/admin.gno
  examples/gno.land/r/gnoland/valopers/admin_test.gno
  examples/gno.land/r/gnoland/valopers/gno.mod
  examples/gno.land/r/gnoland/valopers/init.gno
  examples/gno.land/r/gnoland/valopers/v2/gno.mod
  examples/gno.land/r/gnoland/valopers/v2/init.gno
  examples/gno.land/r/gnoland/valopers/v2/valopers.gno
  examples/gno.land/r/gnoland/valopers/v2/valopers_test.gno
  examples/gno.land/r/gnoland/valopers/valopers.gno
  examples/gno.land/r/gnoland/valopers/valopers_test.gno
  examples/gno.land/r/gnoland/valopers/z_1_filetest.gno
  examples/gno.land/r/gnoland/valopers/z_2_filetest.gno
  examples/gno.land/r/gnoland/valopers_proposal/gno.mod
  examples/gno.land/r/gnoland/valopers_proposal/proposal.gno
  examples/gno.land/r/gnoland/valopers_proposal/proposal_test.gno
  examples/gno.land/r/gnoland/valopers_proposal/z_0_a_filetest.gno
  examples/gno.land/r/gnoland/valopers_proposal/z_1_filetest.gno
  examples/gno.land/r/sys/validators/v2/poc.gno
  gno.land/pkg/integration/testdata/valopers.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3526 feat(cmd): `gno mod` module name validations
  gnovm/pkg/gnomod/parse.go
  gnovm/pkg/gnomod/parse_test.go
Labels: :package: :robot: gnovm

#3953 feat(boards2): change pager dependency to be consistent
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/pagination.gno
  examples/gno.land/r/nt/boards2/v1/post.gno
  examples/gno.land/r/nt/boards2/v1/render.gno
Labels: :receipt: package/realm

#3958 feat(boards2): check replies length and disallow UI breaking Markdown
  examples/gno.land/r/nt/boards2/v1/public.gno
  examples/gno.land/r/nt/boards2/v1/z_2_m_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_2_n_filetest.gno
Labels: :receipt: package/realm

#3957 fix: stdlibs/os: func Sleep doesn't return a value
  gnovm/tests/stdlibs/os/os.gno
Labels: :package: :robot: gnovm

#3960 feat(boards2): simplify freeze implementation
  examples/gno.land/r/nt/boards2/v1/freeze.gno
  examples/gno.land/r/nt/boards2/v1/public.gno
  examples/gno.land/r/nt/boards2/v1/public_flag.gno
  examples/gno.land/r/nt/boards2/v1/public_freeze.gno
Labels: :receipt: package/realm

#3760 feat(example/pager): Preserve query params when using `Picker`
  examples/gno.land/p/demo/avl/pager/pager.gno
  examples/gno.land/p/demo/avl/pager/pager_test.gno
  examples/gno.land/p/demo/avl/pager/z_filetest.gno
  examples/gno.land/r/demo/userbook/render.gno
  examples/gno.land/r/docs/avl_pager/avl_pager.gno
  examples/gno.land/r/docs/avl_pager/avl_pager_test.gno
  examples/gno.land/r/docs/avl_pager_with_params/render.gno
  examples/gno.land/r/docs/minisocial/v2/posts.gno
  examples/gno.land/r/gnoland/valopers/valopers.gno
  examples/gno.land/r/leon/config/render.gno
  examples/gno.land/r/leon/hof/render.gno
  examples/gno.land/r/moul/present/present.gno
  examples/gno.land/r/moul/present/present_filetest.gno
  gno.land/pkg/integration/testdata/issue_2283.txtar
  gno.land/pkg/integration/testdata/issue_2283_cacheTypes.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3969 feat(boards2): add realm and realm members locking support
  examples/gno.land/r/nt/boards2/v1/boards.gno
  examples/gno.land/r/nt/boards2/v1/permissions.gno
  examples/gno.land/r/nt/boards2/v1/public.gno
  examples/gno.land/r/nt/boards2/v1/public_flag.gno
  examples/gno.land/r/nt/boards2/v1/public_freeze.gno
  examples/gno.land/r/nt/boards2/v1/public_lock.gno
  examples/gno.land/r/nt/boards2/v1/render.gno
  examples/gno.land/r/nt/boards2/v1/z_21_a_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_21_b_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_21_c_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_22_a_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_22_b_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_22_c_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_22_d_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_22_e_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_22_f_filetest.gno
Labels: :receipt: package/realm

#3950 feat(examples): add URL query params to `mux` package request
  examples/gno.land/p/demo/mux/request.gno
  examples/gno.land/p/demo/mux/router.gno
  examples/gno.land/p/demo/mux/router_test.gno
Labels: :receipt: package/realm

#3977 feat(boards2): add public iteration functions to read minimal board data
  examples/gno.land/r/nt/boards2/v1/board.gno
  examples/gno.land/r/nt/boards2/v1/board_readonly.gno
  examples/gno.land/r/nt/boards2/v1/post.gno
  examples/gno.land/r/nt/boards2/v1/public.gno
  examples/gno.land/r/nt/boards2/v1/public_freeze.gno
  examples/gno.land/r/nt/boards2/v1/render.gno
  examples/gno.land/r/nt/boards2/v1/z_23_a_filetest.gno
  examples/gno.land/r/nt/boards2/v1/z_24_a_filetest.gno
Labels: :receipt: package/realm

#3979 fix(avl/pager): put back missing tests
  examples/gno.land/p/demo/avl/pager/pager_test.gno
Labels: :receipt: package/realm

#3674 feat(examples/hof): Title and description for realms, sorting by upvotes and newest
  examples/gno.land/r/agherasie/forms/forms.gno
  examples/gno.land/r/jjoptimist/home/home.gno
  examples/gno.land/r/leon/hof/datasource.gno
  examples/gno.land/r/leon/hof/datasource_test.gno
  examples/gno.land/r/leon/hof/hof.gno
  examples/gno.land/r/leon/hof/hof_test.gno
  examples/gno.land/r/leon/hof/render.gno
  examples/gno.land/r/leon/home/home.gno
  examples/gno.land/r/matijamarjanovic/home/home.gno
  examples/gno.land/r/morgan/home/home.gno
  examples/gno.land/r/moul/home/home.gno
  examples/gno.land/r/mouss/home/home.gno
  examples/gno.land/r/n2p5/home/home.gno
  examples/gno.land/r/stefann/fomo3d/fomo3d.gno
  examples/gno.land/r/stefann/home/home.gno
  examples/gno.land/r/ursulovic/home/home.gno
Labels: :receipt: package/realm

#3924 chore: revert "feat(gnoweb): add metadata to md content (#3797)"
  examples/gno.land/r/docs/docs.gno
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/markdown/meta.go
  gno.land/pkg/gnoweb/markdown/meta_test.go
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  go.mod
Labels: :receipt: package/realm, :package: :mountain: gno.land, security

#3763 feat(gnoweb): Add gno-columns extension
  examples/gno.land/r/docs/markdown/markdown.gno
  gno.land/pkg/gnoweb/components/layouts/article.html
  gno.land/pkg/gnoweb/components/views/status.html
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/markdown/ext.go
  gno.land/pkg/gnoweb/markdown/ext_columns.go
  gno.land/pkg/gnoweb/markdown/ext_test.go
  gno.land/pkg/gnoweb/markdown/golden.go
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_beyond_maximum_level_heading.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_close_alone.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_heading_in_list.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_inline_shortcut_tag.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_inline_tag.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_nested_tags.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_nested_tags_unclose.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_top_level_intermediary_content.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_unfinished_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_unstarted_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_basic.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_empty_heading.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_image_starter.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_inline_tags_in_title.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_maximum_level_heading.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_multi_level.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_multi_level_2.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_multi_row_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_no_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_sticky_header.md.txtar
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/webclient_html.go
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb

#3894 fix(gnovm): show object updates using difflib, log blocks
  examples/gno.land/p/demo/avl/z_0_filetest.gno
  examples/gno.land/p/demo/avl/z_1_filetest.gno
  examples/gno.land/p/demo/avl/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  examples/gno.land/r/demo/nft/z_0_filetest.gno
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/testdata/test/realm_correct.txtar
  gnovm/cmd/gno/testdata/test/realm_incorrect.txtar
  gnovm/cmd/gno/testdata/test/realm_sync.txtar
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/test/filetest.go
  gnovm/pkg/test/imports.go
  gnovm/pkg/test/test.go
  gnovm/tests/files/assign_unnamed_type/more/realm_compositelit_filetest.gno
  gnovm/tests/files/heap_item_value.gno
  gnovm/tests/files/heap_item_value_init.gno
  gnovm/tests/files/zrealm0.gno
  gnovm/tests/files/zrealm1.gno
  gnovm/tests/files/zrealm10.gno
  gnovm/tests/files/zrealm11.gno
  gnovm/tests/files/zrealm13.gno
  gnovm/tests/files/zrealm14.gno
  gnovm/tests/files/zrealm15.gno
  gnovm/tests/files/zrealm16.gno
  gnovm/tests/files/zrealm2.gno
  gnovm/tests/files/zrealm3.gno
  gnovm/tests/files/zrealm4.gno
  gnovm/tests/files/zrealm5.gno
  gnovm/tests/files/zrealm6.gno
  gnovm/tests/files/zrealm7.gno
  gnovm/tests/files/zrealm8.gno
  gnovm/tests/files/zrealm9.gno
  gnovm/tests/files/zrealm_avl0.gno
  gnovm/tests/files/zrealm_avl1.gno
  gnovm/tests/files/zrealm_avl2.gno
  gnovm/tests/files/zrealm_crossrealm21.gno
  gnovm/tests/files/zrealm_crossrealm22.gno
  gnovm/tests/files/zrealm_example.gno
  gnovm/tests/files/zrealm_natbind0.gno
  gnovm/tests/files/zrealm_tests0.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#3849 fix: deterministic pointer ids for print
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/print2.gno
Labels: :package: :robot: gnovm

#3952 perf(gnolang): improve `print` and `println` performance
  gnovm/pkg/gnolang/machine_test.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/uverse_test.go
  go.mod
  tm2/pkg/bft/rpc/lib/server/write_endpoints_test.go
  tm2/pkg/sdk/auth/params_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#3968 fix(gnovm): avoid panic for non-constant literal composite
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/tests/files/composite18.gno
Labels: :package: :robot: gnovm

#3866 feat(gno test): implement failfast flag
  examples/Makefile
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/test/flag_failfast.txtar
  gnovm/pkg/test/test.go
  gnovm/stdlibs/testing/testing.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#3978 chore: fix home links, add docs
  docs/resources/gno-stdlibs.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#3986 chore(examples): store std.ChainDomain at inits
  examples/gno.land/p/moul/helplink/helplink.gno
  examples/gno.land/p/moul/helplink/helplink_test.gno
  examples/gno.land/p/moul/realmpath/realmpath.gno
  examples/gno.land/p/moul/realmpath/realmpath_test.gno
  examples/gno.land/p/moul/txlink/txlink.gno
  examples/gno.land/p/moul/txlink/txlink_test.gno
  examples/gno.land/r/moul/present/present.gno
  examples/gno.land/r/moul/present/present_filetest.gno
  gnovm/pkg/test/test.go
  gnovm/tests/files/zrealm_natbind1_stdlibs.gno
  misc/genstd/Makefile
Labels: :receipt: package/realm, :package: :robot: gnovm

#4012 fix: valopers instructions: use correct name ProposeNewValidator, txlink
  examples/gno.land/r/gnoland/valopers/init.gno
  examples/gno.land/r/gnoland/valopers/z_1_filetest.gno
Labels: :receipt: package/realm

#4010 fix(p/grc721): Verify approved address in `isApprovedOrOwner` function
  examples/gno.land/p/demo/grc/grc721/basic_nft.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
Labels: :receipt: package/realm, security, review/triage-pending

#4016 feat(boards2): add boards, thread and reply sorting support by oldest/newest
  examples/gno.land/r/gnoland/boards2/v1/board.gno
  examples/gno.land/r/gnoland/boards2/v1/post.gno
  examples/gno.land/r/gnoland/boards2/v1/render.gno
Labels: :receipt: package/realm

#4032 docs: replace jdkato/gnols by gnoverse/gnopls for vim-lsp config
  CONTRIBUTING.md
Labels: :book: documentation

#3908 feat(gnoweb): special menu logic for homepage
  gno.land/pkg/gnoweb/alias.go
  gno.land/pkg/gnoweb/components/layout_header.go
  gno.land/pkg/gnoweb/components/layout_index.go
  gno.land/pkg/gnoweb/components/layouts/header.html
  gno.land/pkg/gnoweb/components/layouts/index.html
  gno.land/pkg/gnoweb/components/ui/header_link.html
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4030 fix(gnovm): Allocation of a large slice literal
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/tests/files/slice4.gno
Labels: :package: :robot: gnovm
