Repository gnolang/gno, pull requests merged in 2025-05, with the labels that each got.

#4240 license: update license to Gno Network GPL v5 Strong Attribution Terms
  LICENSE.md
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#4231 docs: fixed dead link
  tm2/pkg/iavl/PERFORMANCE.md
Labels: :package: :globe_with_meridians: tendermint v2

#4247 fix: uint64 -> int64 and uint -> int
  examples/gno.land/p/demo/grc/exts/token_metadata.gno
  examples/gno.land/p/demo/grc/grc1155/basic_grc1155_token.gno
  examples/gno.land/p/demo/grc/grc1155/basic_grc1155_token_test.gno
  examples/gno.land/p/demo/grc/grc1155/errors.gno
  examples/gno.land/p/demo/grc/grc1155/igrc1155.gno
  examples/gno.land/p/demo/grc/grc20/tellers.gno
  examples/gno.land/p/demo/grc/grc20/tellers_test.gno
  examples/gno.land/p/demo/grc/grc20/token.gno
  examples/gno.land/p/demo/grc/grc20/token_test.gno
  examples/gno.land/p/demo/grc/grc20/types.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
  examples/gno.land/p/demo/grc/grc721/grc721_metadata.gno
  examples/gno.land/p/demo/grc/grc721/grc721_royalty.gno
  examples/gno.land/p/demo/grc/grc721/grc721_royalty_test.gno
  examples/gno.land/p/demo/grc/grc721/igrc721.gno
  examples/gno.land/p/demo/grc/grc721/igrc721_royalty.gno
  examples/gno.land/p/demo/grc/grc777/dummy_test.gno
  examples/gno.land/p/demo/grc/grc777/igrc777.gno
  examples/gno.land/r/demo/atomicswap/atomicswap_test.gno
  examples/gno.land/r/demo/bar20/bar20_test.gno
  examples/gno.land/r/demo/btree_dao/btree_dao.gno
  examples/gno.land/r/demo/disperse/disperse.gno
  examples/gno.land/r/demo/disperse/errors.gno
  examples/gno.land/r/demo/disperse/util.gno
  examples/gno.land/r/demo/foo1155/foo1155.gno
  examples/gno.land/r/demo/foo1155/foo1155_test.gno
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/foo721/foo721.gno
  examples/gno.land/r/demo/foo721/foo721_test.gno
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
  examples/gno.land/r/demo/grc20factory/grc20factory_test.gno
  examples/gno.land/r/demo/wugnot/wugnot.gno
Labels: :receipt: package/realm

#4239 feat(txtar): add balance arg to adduser command
  contribs/gnofaucet/go.sum
  contribs/gnogenesis/go.mod
  contribs/gnogenesis/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  contribs/gnomigrate/go.mod
  contribs/gnomigrate/go.sum
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/testdata/atomicswap.txtar
  gno.land/pkg/integration/testscript_gnoland.go
  misc/autocounterd/go.mod
  misc/loop/go.mod
  misc/loop/go.sum
Labels: :package: :mountain: gno.land

#4252 feat(gnoweb): add aliases flag and static markdown file support
  contribs/gnodev/Makefile
  contribs/gnodev/pkg/browser/utils.go
  gno.land/cmd/gnoweb/main.go
  gno.land/cmd/gnoweb/main_test.go
  gno.land/pkg/gnoweb/alias.go
  gno.land/pkg/gnoweb/app.go
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
  gno.land/pkg/gnoweb/markdown.go
  gno.land/pkg/gnoweb/redirect.go
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/webclient_mock.go
Labels: :package: :mountain: gno.land

#4258 fix(examples): more meta4 realms
  examples/gno.land/r/matijamarjanovic/home/config.gno
  examples/gno.land/r/matijamarjanovic/home/gno.mod
  examples/gno.land/r/matijamarjanovic/home/home.gno
  examples/gno.land/r/matijamarjanovic/home/home_test.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/errors.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/getters.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/gno.mod
  examples/gno.land/r/matijamarjanovic/tokenhub/render.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/tokenhub.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/tokenhub_test.gno
Labels: :receipt: package/realm

#3899 feat: `r/coins` balance checker
  examples/gno.land/r/gnoland/coins/coins.gno
  examples/gno.land/r/gnoland/coins/coins_test.gno
  examples/gno.land/r/gnoland/coins/gno.mod
  gnovm/tests/stdlibs/std/std.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4229 chore(examples): improve txlink calls in `r/demo/boards` realm
  examples/gno.land/r/demo/boards/board.gno
  examples/gno.land/r/demo/boards/boards.gno
  examples/gno.land/r/demo/boards/post.gno
Labels: :receipt: package/realm

#4268 fix(examples): repair expected behavior for mgroup, config, and home
  examples/gno.land/p/n2p5/mgroup/mgroup.gno
  examples/gno.land/p/n2p5/mgroup/mgroup_test.gno
  examples/gno.land/r/n2p5/config/config.gno
  examples/gno.land/r/n2p5/config/config_test.gno
  examples/gno.land/r/n2p5/home/home.gno
Labels: :receipt: package/realm

#4166 feat: better unknown account error
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :mountain: gno.land

#4249 docs: fix broken links, improve linter
  CONTRIBUTING.md
  README.md
  examples/README.md
  examples/gno.land/p/demo/json/README.md
  examples_drafts/r/demo/nft/nft.gno
  gno.land/pkg/gnoclient/README.md
  misc/docs/tools/linter/links.go
  misc/loop/README.md
Labels: :receipt: package/realm, :package: :mountain: gno.land

#4213 docs: update gno.land readme
  gno.land/cmd/gnoland/README.md
Labels: :package: :mountain: gno.land

#4209 fix(p/ownable2step): prevent ownership claim after `DropOwnership`
  examples/gno.land/p/oxtekgrinder/ownable2step/ownable.gno
  examples/gno.land/p/oxtekgrinder/ownable2step/ownable_test.gno
Labels: :receipt: package/realm, review/triage-pending

#4171 feat(gnoweb): alert md extension
  examples/gno.land/r/docs/markdown/markdown.gno
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/markdown/ext.go
  gno.land/pkg/gnoweb/markdown/ext_alert.go
  gno.land/pkg/gnoweb/markdown/golden/ext_alerts/valid_basic.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_alerts/valid_closed.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_alerts/valid_multiline.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_alerts/valid_scoped.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_alerts/valid_with_title.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_alerts/valid_with_title_closed.md.txtar
  gno.land/pkg/gnoweb/public/styles.css
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb

#4176 feat(gnoweb): add send input/warning in gnokey function
  gno.land/pkg/gnoweb/components/ui/breadcrumb.html
  gno.land/pkg/gnoweb/components/ui/help_function.html
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/components/view_help.go
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/frontend/js/realmhelp.ts
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/public/js/realmhelp.js
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4266 test: add a user_journey txtar
  examples/gno.land/p/demo/grc/grc20/token.gno
  examples/gno.land/p/demo/grc/grc20/types.gno
  examples/gno.land/r/demo/atomicswap/atomicswap.gno
  examples/gno.land/r/demo/bar20/bar20.gno
  examples/gno.land/r/demo/disperse/disperse.gno
  examples/gno.land/r/demo/disperse/z_0_filetest.gno
  examples/gno.land/r/demo/disperse/z_1_filetest.gno
  examples/gno.land/r/demo/disperse/z_2_filetest.gno
  examples/gno.land/r/demo/disperse/z_3_filetest.gno
  examples/gno.land/r/demo/disperse/z_4_filetest.gno
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
  examples/gno.land/r/demo/grc20reg/grc20reg.gno
  examples/gno.land/r/demo/grc20reg/grc20reg_test.gno
  examples/gno.land/r/demo/tests/test20/test20.gno
  examples/gno.land/r/demo/wugnot/wugnot.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/getters.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/render.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/tokenhub.gno
  examples/gno.land/r/matijamarjanovic/tokenhub/tokenhub_test.gno
  gno.land/pkg/integration/testdata/user_journey.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#2969 feat(keeper): add `vm/qpaths` query
  docs/users/interact-with-gnokey.md
  gno.land/pkg/integration/testdata/gnokey_qpaths.txtar
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/store_test.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#4255 feat(example): add more to /p/demo/svg pure package for more elements
  examples/gno.land/p/demo/svg/doc.gno
  examples/gno.land/p/demo/svg/svg.gno
  examples/gno.land/p/demo/svg/z0_filetest.gno
  examples/gno.land/p/demo/svg/z1_filetest.gno
Labels: :receipt: package/realm

#4253 feat(examples): markdown charts package
  examples/gno.land/p/demo/ufmt/ufmt.gno
  examples/gno.land/p/demo/ufmt/ufmt_test.gno
  examples/gno.land/p/matijamarjanovic/charts/bar_chart.gno
  examples/gno.land/p/matijamarjanovic/charts/charts.gno
  examples/gno.land/p/matijamarjanovic/charts/charts_test.gno
  examples/gno.land/p/matijamarjanovic/charts/column_chart.gno
  examples/gno.land/p/matijamarjanovic/charts/gno.mod
  examples/gno.land/p/matijamarjanovic/charts/line_chart.gno
Labels: :receipt: package/realm

#4290 feat(gnoweb): namespace directory
  gno.land/pkg/gnoweb/Makefile
  gno.land/pkg/gnoweb/components/layout_header.go
  gno.land/pkg/gnoweb/components/layout_index.go
  gno.land/pkg/gnoweb/components/layout_test.go
  gno.land/pkg/gnoweb/components/layouts/header.html
  gno.land/pkg/gnoweb/components/view_directory.go
  gno.land/pkg/gnoweb/components/view_test.go
  gno.land/pkg/gnoweb/components/views/directory.html
  gno.land/pkg/gnoweb/components/views/status.html
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/webclient_mock.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4271 feat(examples): pure package for ascii UI elements
  examples/gno.land/p/lou/ascii/ascii.gno
  examples/gno.land/p/lou/ascii/ascii_test.gno
  examples/gno.land/p/lou/ascii/doc.gno
  examples/gno.land/p/lou/ascii/gno.mod
Labels: :receipt: package/realm

#4270 feat(commondao): add render support
  examples/gno.land/p/nt/commondao/commondao.gno
  examples/gno.land/p/nt/commondao/commondao_options.gno
  examples/gno.land/p/nt/commondao/commondao_test.gno
  examples/gno.land/p/nt/commondao/proposal.gno
  examples/gno.land/p/nt/commondao/proposal_storage.gno
  examples/gno.land/p/nt/commondao/proposal_storage_test.gno
  examples/gno.land/p/nt/commondao/record.gno
  examples/gno.land/p/nt/commondao/record_test.gno
  examples/gno.land/r/nt/commondao/commondao.gno
  examples/gno.land/r/nt/commondao/genesis.gno
  examples/gno.land/r/nt/commondao/iterator.gno
  examples/gno.land/r/nt/commondao/options.gno
  examples/gno.land/r/nt/commondao/proposal.gno
  examples/gno.land/r/nt/commondao/proposal_members.gno
  examples/gno.land/r/nt/commondao/proposal_members_test.gno
  examples/gno.land/r/nt/commondao/public.gno
  examples/gno.land/r/nt/commondao/public_proposals.gno
  examples/gno.land/r/nt/commondao/render.gno
  examples/gno.land/r/nt/commondao/uri.gno
  examples/gno.land/r/nt/commondao/z_2_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_3_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_3_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_g_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_a_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_b_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_d_filetest.gno
Labels: :receipt: package/realm

#4313 fix: master post transpile
  contribs/gnodev/pkg/packages/package.go
  contribs/gnofaucet/go.sum
  contribs/gnogenesis/go.mod
  contribs/gnogenesis/go.sum
  contribs/gnogenesis/internal/txs/txs_add_packages.go
  contribs/gnogenesis/internal/txs/txs_add_packages_test.go
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  contribs/gnomigrate/go.mod
  contribs/gnomigrate/go.sum
  examples/gno.land/p/n2p5/mgroup/mgroup_test.gno
  examples/gno.land/r/gnoland/coins/coins_test.gno
  examples/gno.land/r/n2p5/config/config_test.gno
  examples/gno.land/r/nt/commondao/genesis.gno
  examples/gno.land/r/nt/commondao/z_5_a_filetest.gno
  gno.land/pkg/integration/testdata/ghverify.txtar
  gno.land/pkg/integration/testdata/gnokey_gasfee.txtar
  gnovm/cmd/gno/README.md
  gnovm/pkg/gnolang/internal/softfloat/runtime_softfloat64.go
  gnovm/pkg/gnolang/mempackage_test.go
  gnovm/pkg/gnolang/string_methods.go
  misc/autocounterd/go.mod
  misc/loop/go.mod
  misc/loop/go.sum
  tm2/pkg/std/memfile_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4314 chore: use 'go fmt' for core components
  .github/golangci.yml
  Makefile
  gno.land/Makefile
  gnovm/Makefile
  tm2/Makefile
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4318 fix(gnoweb): pass encoded query strings to render
  gno.land/pkg/gnoweb/weburl/url.go
  gno.land/pkg/gnoweb/weburl/url_test.go
Labels: :package: :mountain: gno.land

#4325 feat(examples): add small Coins sorting package
  examples/gno.land/p/leon/coinsort/coinsort.gno
  examples/gno.land/p/leon/coinsort/coinsort_test.gno
  examples/gno.land/p/leon/coinsort/gno.mod
Labels: :receipt: package/realm

#4022 refactor(stdlibs/math/overflow): support unsigned, new codegen
  gno.land/pkg/integration/testdata/assertorigincall.txtar
  gno.land/pkg/integration/testdata/improved_coins.txtar
  gnovm/stdlibs/math/overflow/doc.gno
  gnovm/stdlibs/math/overflow/gen.go
  gnovm/stdlibs/math/overflow/overflow.gno
  gnovm/stdlibs/math/overflow/overflow_generated.gno
  gnovm/stdlibs/math/overflow/overflow_test.gno
  gnovm/stdlibs/math/overflow/template.go.tpl
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land
