Repository gnolang/gno, pull requests merged in 2025-04, with the labels that each got.

#3900 feat(gnoweb): download source
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/components/view_source.go
  gno.land/pkg/gnoweb/components/views/source.html
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/webclient_mock.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#3996 feat(stdlibs/std)!: remove std.OriginPkgAddress
  docs/resources/gno-stdlibs.md
  examples/gno.land/r/demo/atomicswap/atomicswap.gno
  examples/gno.land/r/demo/atomicswap/atomicswap_test.gno
  examples/gno.land/r/demo/banktest/README.md
  examples/gno.land/r/demo/banktest/banktest.gno
  examples/gno.land/r/demo/banktest/z_0_filetest.gno
  examples/gno.land/r/demo/banktest/z_1_filetest.gno
  examples/gno.land/r/demo/banktest/z_2_filetest.gno
  examples/gno.land/r/demo/disperse/z_0_filetest.gno
  examples/gno.land/r/demo/disperse/z_1_filetest.gno
  examples/gno.land/r/demo/disperse/z_2_filetest.gno
  examples/gno.land/r/demo/disperse/z_3_filetest.gno
  examples/gno.land/r/demo/disperse/z_4_filetest.gno
  examples/gno.land/r/demo/grc20factory/grc20factory_test.gno
  examples/gno.land/r/demo/wugnot/z0_filetest.gno
  examples/gno.land/r/nemanya/home/home.gno
  examples/gno.land/r/stefann/fomo3d/fomo3d_test.gno
  gno.land/pkg/integration/testdata/transfer_lock.txtar
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/keeper_test.go
  gnovm/pkg/test/test.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/std/banker.gno
  gnovm/stdlibs/std/context.go
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
  gnovm/stdlibs/testing/context.gno
  gnovm/tests/files/std5.gno
  gnovm/tests/files/std8.gno
  gnovm/tests/files/zrealm_std6.gno
  gnovm/tests/stdlibs/generated.go
  gnovm/tests/stdlibs/testing/context_testing.gno
  gnovm/tests/stdlibs/testing/context_testing.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#4041 chore(boards2): address `v1rc1` review issues
  examples/gno.land/r/gnoland/boards2/v1/board.gno
  examples/gno.land/r/gnoland/boards2/v1/board_test.gno
  examples/gno.land/r/gnoland/boards2/v1/permissions_default.gno
  examples/gno.land/r/gnoland/boards2/v1/permissions_default_test.gno
  examples/gno.land/r/gnoland/boards2/v1/post.gno
  examples/gno.land/r/gnoland/boards2/v1/post_test.gno
  examples/gno.land/r/gnoland/boards2/v1/public.gno
  examples/gno.land/r/gnoland/boards2/v1/render.gno
  examples/gno.land/r/gnoland/boards2/v1/z_4_g_filetest.gno
Labels: :receipt: package/realm

#4011 feat(gnoweb): link types UI
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/markdown/ext.go
  gno.land/pkg/gnoweb/markdown/ext_columns.go
  gno.land/pkg/gnoweb/markdown/ext_links.go
  gno.land/pkg/gnoweb/markdown/ext_test.go
  gno.land/pkg/gnoweb/markdown/golden/ext_link/external.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/iniline.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/inline.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/internal.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/invalid.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/package.md.txtar
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/webclient_mock.go
  gno.land/pkg/gnoweb/weburl/url.go
  gno.land/pkg/gnoweb/weburl/url_test.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4038 refactor(gnovm): remove utils.go file in gnolang
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/utils.go
Labels: :package: :robot: gnovm

#4013 refactor(tm2/pkg/overflow): use generics
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/store.go
  tm2/pkg/overflow/README.md
  tm2/pkg/overflow/overflow.go
  tm2/pkg/overflow/overflow_impl.go
  tm2/pkg/overflow/overflow_template.sh
  tm2/pkg/overflow/overflow_test.go
  tm2/pkg/std/coin.go
  tm2/pkg/store/gas/store.go
  tm2/pkg/store/types/gas.go
  tm2/pkg/store/types/gas_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#4048 style(gnoweb): fix links icon UI
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4050 fix(pkg/test): include Gno stacktrace for unexpected filetest panics
  gnovm/pkg/test/filetest.go
Labels: :package: :robot: gnovm

#3941 chore: make "cannot modify external-realm" error message an exception
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm

#4044 chore(benchops): require build tags for running command
  gnovm/cmd/benchops/README.md
  gnovm/cmd/benchops/tags_required.go
Labels: :package: :robot: gnovm

#2076 feat: add p/snowflake
  examples/gno.land/p/thox/snowflake/gno.mod
  examples/gno.land/p/thox/snowflake/snowflake.gno
  examples/gno.land/p/thox/snowflake/snowflake_test.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#4057 feat: `r/demo` list page
  examples/gno.land/r/demo/demo.gno
  examples/gno.land/r/demo/gno.mod
Labels: :receipt: package/realm

#4049 fix(p/grc721): Verify `IsApprovedForAll` to check actual approval status
  examples/gno.land/p/demo/grc/grc721/basic_nft.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
Labels: :receipt: package/realm

#4059 fix: gnoweb copy default cmd
  gno.land/pkg/gnoweb/components/ui/help_function.html
Labels: :package: :mountain: gno.land

#3948 feat: add txlink builder and send special arg
  examples/gno.land/p/moul/helplink/helplink_test.gno
  examples/gno.land/p/moul/txlink/txlink.gno
  examples/gno.land/p/moul/txlink/txlink_test.gno
  examples/gno.land/r/gnoland/users/v1/render.gno
Labels: :receipt: package/realm

#4052 fix(lint): ignore init function when we delete redefinition function
  gnovm/cmd/gno/testdata/lint/issue_3930.txtar
  gnovm/pkg/gnolang/gotypecheck.go
  gnovm/pkg/gnolang/gotypecheck_test.go
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm

#4067 feat(gnoweb/ext): single separator syntax for columns
  examples/gno.land/r/docs/markdown/markdown.gno
  gno.land/pkg/gnoweb/markdown/ext_columns.go
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_beyond_maximum_level_heading.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_close_alone.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_heading_in_list.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_inline_shortcut_tag.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_inline_tag.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_lost_close.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_lost_separator.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_nested_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_nested_tags.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_nested_tags_unclose.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_top_level_intermediary_content.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_unclosed.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_unfinished_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/invalid_unstarted_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_basic.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_basic_htmltag.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_empty.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_empty_heading.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_image_starter.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_inline_tags_in_title.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_maximum_level_heading.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_multi.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_multi_level.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_multi_row_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_no_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_columns/valid_single_columns.md.txtar
  gno.land/pkg/gnoweb/markdown/utils.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3987 feat(examples): add more `r/docs` items
  examples/gno.land/p/moul/authz/authz.gno
  examples/gno.land/p/moul/authz/authz_test.gno
  examples/gno.land/r/devrels/config/config.gno
  examples/gno.land/r/devrels/config/gno.mod
  examples/gno.land/r/docs/complexargs/complexargs.gno
  examples/gno.land/r/docs/complexargs/gno.mod
  examples/gno.land/r/docs/docs.gno
  examples/gno.land/r/docs/events/events.gno
  examples/gno.land/r/docs/events/gno.mod
  examples/gno.land/r/docs/img_embed/img_embed.gno
  examples/gno.land/r/docs/routing/gno.mod
  examples/gno.land/r/docs/routing/routing.gno
  examples/gno.land/r/docs/safeobjects/gno.mod
  examples/gno.land/r/docs/safeobjects/safeobjects.gno
  examples/gno.land/r/docs/use_rsysusers/gno.mod
  examples/gno.land/r/docs/use_rsysusers/resolve.gno
  examples/gno.land/r/docs/users/gno.mod
Labels: :receipt: package/realm

#4085 feat(commondao): minor improvements
  examples/gno.land/p/gnoland/commondao/commondao.gno
  examples/gno.land/p/gnoland/commondao/doc.gno
  examples/gno.land/p/gnoland/commondao/proposal.gno
  examples/gno.land/p/gnoland/commondao/proposal_test.gno
  examples/gno.land/p/gnoland/commondao/record.gno
  examples/gno.land/p/gnoland/commondao/record_test.gno
  examples/gno.land/r/gnoland/commondao/z_5_a_filetest.gno
Labels: :receipt: package/realm

#4090 feat: add `ProposalStorage` interface
  examples/gno.land/p/gnoland/commondao/commondao.gno
  examples/gno.land/p/gnoland/commondao/commondao_test.gno
  examples/gno.land/p/gnoland/commondao/options.gno
  examples/gno.land/p/gnoland/commondao/proposal_storage.gno
  examples/gno.land/p/gnoland/commondao/proposal_storage_test.gno
  examples/gno.land/r/gnoland/commondao/z_6_a_filetest.gno
  examples/gno.land/r/gnoland/commondao/zp_0_a_filetest.gno
Labels: :receipt: package/realm

#4103 fix: update `gnogenesis balances add` output
  contribs/gnogenesis/internal/balances/balances_add.go
Labels: :package: :mountain: gno.land

#4105 chore: add txlink to minisocial
  examples/gno.land/r/docs/minisocial/v1/posts.gno
Labels: :receipt: package/realm

#4031 feat: validate app_state in gnogenesis verify subcmd
  contribs/gnogenesis/internal/verify/verify.go
  contribs/gnogenesis/internal/verify/verify_test.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/gnoland/genesis_test.go
Labels: :package: :mountain: gno.land

#4077 feat: save action selected mode
  gno.land/pkg/gnoweb/frontend/js/realmhelp.ts
  gno.land/pkg/gnoweb/public/js/realmhelp.js
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4112 feat: Gno Core Team genesis data for `test6`
  misc/deployments/test6.gno.land/README.md
  misc/deployments/test6.gno.land/config.toml
  misc/deployments/test6.gno.land/generate.sh
Labels: :package: :mountain: gno.land

#3808 feat(gnofaucet): Github middleware with cooldown
  contribs/gnofaucet/.env.example
  contribs/gnofaucet/README.md
  contribs/gnofaucet/captcha.go
  contribs/gnofaucet/captcha_test.go
  contribs/gnofaucet/cooldown.go
  contribs/gnofaucet/cooldown_test.go
  contribs/gnofaucet/gh.go
  contribs/gnofaucet/gh_test.go
  contribs/gnofaucet/github.go
  contribs/gnofaucet/github_test.go
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
  contribs/gnofaucet/main_test.go
  contribs/gnofaucet/serve.go
Labels: :seedling: feature

#4063 feat(gnoweb): make test files & non-gno files on $source be in a collapsible sections
  gno.land/pkg/gnoweb/components/layout_test.go
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/components/ui/toc_source.html
  gno.land/pkg/gnoweb/components/view_source.go
  gno.land/pkg/gnoweb/components/view_test.go
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land

#4078 feat: Add initial members to govdaov3 memberstore
  examples/gno.land/r/gov/dao/v3/impl/govdao_test.gno
  examples/gno.land/r/gov/dao/v3/init/init.gno
  examples/gno.land/r/gov/dao/v3/loader/gno.mod
  examples/gno.land/r/gov/dao/v3/loader/loader.gno
  examples/gno.land/r/gov/dao/v3/memberstore/memberstore.gno
  examples/gno.land/r/gov/dao/v3/memberstore/types.gno
Labels: :receipt: package/realm

#4025 fix(examples/cford32): support all decoding characters in Uint64
  examples/gno.land/p/demo/cford32/cford32.gno
  examples/gno.land/p/demo/cford32/cford32_test.gno
Labels: :receipt: package/realm

#4117 chore: Building testnet binaries via Docker Bake
  .dockerignore
  .github/workflows/autocounterd.yml
  .github/workflows/testnets_build.yml
  Dockerfile
  Dockerfile.release
  misc/deployments/bake/README.md
  misc/deployments/bake/docker-bake.hcl
  misc/deployments/test5.gno.land/CHECKLIST.md
  misc/deployments/test5.gno.land/README.md
  misc/deployments/test6.gno.land/CHECKLIST.md
  misc/deployments/test6.gno.land/README.md
  misc/deployments/test6.gno.land/config.toml
  misc/deployments/test6.gno.land/generate.sh
Labels: :seedling: feature, :package: :mountain: gno.land

#4093 feat: add `test6` genesis
  misc/deployments/test6.gno.land/CHECKLIST.md
  misc/deployments/test6.gno.land/README.md
  misc/deployments/test6.gno.land/config.toml
  misc/deployments/test6.gno.land/generate.sh
Labels: :seedling: feature

#4118 feat(example): gnomaze, a simple 3D maze game
  examples/gno.land/r/gfanton/gnomaze/asset.gno
  examples/gno.land/r/gfanton/gnomaze/gno.mod
  examples/gno.land/r/gfanton/gnomaze/maze.gno
Labels: :receipt: package/realm

#3942 chore: remove gno mod init without args
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/mod_test.go
  gnovm/pkg/gnomod/gnomod.go
  gnovm/pkg/gnomod/gnomod_test.go
Labels: :package: :robot: gnovm

#4135 docs: fix broken links & sections, fix linter edge case
  docs/builders/become-a-gnome.md
  docs/builders/deploy-packages.md
  docs/builders/local-dev-with-gnodev.md
  docs/resources/gno-packages.md
  docs/resources/gno-stdlibs.md
  docs/users/interact-with-gnokey.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  misc/docs/tools/linter/links.go
  misc/docs/tools/linter/main_test.go
Labels: :receipt: package/realm, review/triage-pending

#4113 feat(gnodev): handle addpkg msg in gnodev
  contribs/gnodev/pkg/proxy/path_interceptor.go
  contribs/gnodev/pkg/proxy/path_interceptor_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#4139 chore(boards2): change `commondao` package imports to use `nt` namespace
  examples/gno.land/r/gnoland/boards2/v1/board.gno
  examples/gno.land/r/gnoland/boards2/v1/permissions_default.gno
  examples/gno.land/r/gnoland/boards2/v1/permissions_default_test.gno
  examples/gno.land/r/gnoland/boards2/v1/z_18_a_filetest.gno
  examples/gno.land/r/gnoland/boards2/v1/z_18_b_filetest.gno
  examples/gno.land/r/gnoland/boards2/v1/z_18_c_filetest.gno
Labels: :receipt: package/realm

#4140 chore: move 'gno tool lint' to 'gno lint'
  CONTRIBUTING.md
  docs/builders/example-minisocial-dapp.md
  docs/resources/go-gno-compatibility.md
  examples/Makefile
  gnovm/cmd/gno/README.md
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/testdata/lint/bad_import.txtar
  gnovm/cmd/gno/testdata/lint/file_error.txtar
  gnovm/cmd/gno/testdata/lint/issue_3930.txtar
  gnovm/cmd/gno/testdata/lint/no_error.txtar
  gnovm/cmd/gno/testdata/lint/no_gnomod.txtar
  gnovm/cmd/gno/testdata/lint/not_declared.txtar
  gnovm/cmd/gno/tool.go
  gnovm/cmd/gno/tool_lint_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#4096 fix(gnovm): fix decl for func with declared type
  gnovm/pkg/gnolang/nodes.go
  gnovm/tests/files/declared_type_func.gno
Labels: :package: :robot: gnovm

#3927 chore: Portal Loop > Staging in `docs/` & `examples/`
  docs/builders/deploy-packages.md
  docs/builders/example-minisocial-dapp.md
  docs/resources/gas-fees.md
  docs/resources/glossary.md
  docs/resources/gno-packages.md
  docs/resources/gnoland-networks.md
  docs/resources/users-and-teams.md
  docs/users/discover-gnoland.md
  docs/users/explore-with-gnoweb.md
  docs/users/interact-with-gnokey.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_testnets.gno
Labels: :receipt: package/realm

#4102 feat: gas fee estimation
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/integration/node_testing.go
  gno.land/pkg/integration/testdata/atomicswap.txtar
  gno.land/pkg/integration/testdata/err_metadata.txtar
  gno.land/pkg/integration/testdata/gnokey_gasfee.txtar
  gno.land/pkg/integration/testdata/realm_banker_issued_coin_denom.txtar
  gno.land/pkg/integration/testdata/time_simple.txtar
  gno.land/pkg/integration/testdata/transfer_lock.txtar
  gno.land/pkg/integration/testdata/transfer_unlock.txtar
  gno.land/pkg/integration/testdata/valopers.txtar
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/sdk/auth/handler.go
  tm2/pkg/sdk/auth/handler_test.go
  tm2/pkg/sdk/auth/keeper.go
  tm2/pkg/std/gasprice.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3956 feat: add initial txfees logic
  examples/gno.land/r/sys/txfees/gno.mod
  examples/gno.land/r/sys/txfees/render.gno
  examples/gno.land/r/sys/txfees/txfees.gno
  gno.land/pkg/gnoland/app_test.go
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/auth/ante_test.go
  tm2/pkg/sdk/auth/consts.go
  tm2/pkg/sdk/auth/params.go
  tm2/pkg/sdk/auth/params_test.go
  tm2/pkg/sdk/auth/test_common.go
Labels: :receipt: package/realm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4162 fix: properly set the govDAO implementation on the v3/impl realm
  examples/gno.land/r/gov/dao/v3/impl/impl.gno
  examples/gno.land/r/gov/dao/v3/loader/loader.gno
Labels: :receipt: package/realm

#4169 feat(govdao): Modify members
  examples/gno.land/r/gov/dao/v3/memberstore/memberstore.gno
Labels: :receipt: package/realm

#4131 feat(gnovm): simplify redundant conversions
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/preprocess.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4172 chore: update test6 README and gen script
  misc/deployments/test6.gno.land/README.md
  misc/deployments/test6.gno.land/generate.sh
Labels: :package: :mountain: gno.land

#4173 docs: Update Portal Loop in glossary
  docs/resources/glossary.md
Labels: :book: documentation

#4191 fix(gnovm): Gno tests use Go typecheck; remove cross/crossing before go-typechecker
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/cmd/gno/testdata/test/two_packages_init.txtar
  gnovm/pkg/gnolang/gotypecheck.go
  gnovm/pkg/test/filetest.go
  gnovm/tests/files/extern/timtadh/data_structures/types/string.gno
  gnovm/tests/files/zrealm_crossrealm11.gno
  gnovm/tests/files/zrealm_crossrealm26.gno
  gnovm/tests/files/zrealm_crossrealm27.gno
  gnovm/tests/files/zrealm_crossrealm28.gno
  gnovm/tests/files/zrealm_crossrealm29.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#4202 docs: remove prebuilt binaries
  docs/users/interact-with-gnokey.md
Labels: :book: documentation

#4201 chore(examples): add SetRealm context for testing on mgroups
  examples/gno.land/p/n2p5/mgroup/mgroup_test.gno
Labels: :receipt: package/realm

#4195 chore: small fixes
  .github/golangci.yml
  contribs/gnofaucet/go.sum
  contribs/gnogenesis/go.mod
  contribs/gnogenesis/go.sum
  contribs/gnokeykc/go.mod
  contribs/gnokeykc/go.sum
  contribs/gnomigrate/go.mod
  contribs/gnomigrate/go.sum
  examples/gno.land/r/jaekwon/dao/dao.gno
  gnovm/pkg/gnolang/helpers.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/op_call.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/uverse.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/test/filetest.go
  gnovm/stdlibs/std/emit_event_test.go
  gnovm/stdlibs/std/native.go
  gnovm/tests/stdlibs/std/std.go
  misc/autocounterd/go.mod
  misc/docs/tools/indexparser/main.go
  misc/genstd/Makefile
  misc/genstd/genstd_test.go
  misc/genstd/testdata/integration/generated.go.golden
  misc/loop/go.mod
  misc/loop/go.sum
  misc/stdlib_diff/report.go
  misc/stress-test/stress-test-many-posts/main.go
Labels: :receipt: package/realm, :package: :robot: gnovm

#4212 fix(commondao): update realm for the inter-realm spec changes
  examples/gno.land/r/nt/commondao/iterator.gno
  examples/gno.land/r/nt/commondao/proposal_members.gno
  examples/gno.land/r/nt/commondao/public.gno
  examples/gno.land/r/nt/commondao/public_proposals.gno
  examples/gno.land/r/nt/commondao/z_1_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_1_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_2_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_3_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_3_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_4_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_5_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_8_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_b_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_c_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_d_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_9_g_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_a_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_b_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_c_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_d_filetest.gno
  examples/gno.land/r/nt/commondao/zp_0_e_filetest.gno
Labels: :receipt: package/realm

#4207 fix(examples): restored expected behavior for Ownable
  examples/gno.land/p/demo/ownable/ownable.gno
  examples/gno.land/p/demo/ownable/ownable_test.gno
Labels: :receipt: package/realm

#4194 feat(gnovm): garbage collector
  gno.land/pkg/integration/testdata/gc.txtar
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/garbage_collector.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/ownership.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/store.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_test.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/runtime/runtime.gno
  gnovm/stdlibs/runtime/runtime.go
  gnovm/tests/files/alloc_0.gno
  gnovm/tests/files/alloc_1.gno
  gnovm/tests/files/alloc_2.gno
  gnovm/tests/files/alloc_3.gno
  gnovm/tests/files/alloc_4.gno
  gnovm/tests/files/alloc_5.gno
  gnovm/tests/files/alloc_6.gno
  gnovm/tests/files/alloc_6a.gno
  gnovm/tests/files/alloc_7.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#4152 fix: `svg` image not showing up
  gno.land/cmd/gnoweb/main.go
  gno.land/pkg/gnoweb/markdown/context.go
  gno.land/pkg/gnoweb/markdown/ext.go
  gno.land/pkg/gnoweb/markdown/ext_columns.go
  gno.land/pkg/gnoweb/markdown/ext_imgvalidator.go
  gno.land/pkg/gnoweb/markdown/ext_links.go
  gno.land/pkg/gnoweb/markdown/ext_test.go
  gno.land/pkg/gnoweb/markdown/golden/ext_imgvalidator/image_filter.md.txtar
  gno.land/pkg/gnoweb/webclient_html.go
Labels: :package: :mountain: gno.land

#4222 chore: update the gnokey quickstart link
  gno.land/cmd/gnokey/README.md
Labels: :package: :mountain: gno.land
