Repository gnolang/gno, pull requests merged in 2025-09, with the labels that each got.

#4672 ci(dependabot-tidy): use pr's head rather than merge ref
  .github/workflows/dependabot-tidy.yml
Labels: 🚀 ci

#4692 feat(tm2/rpc): readyness probe
  contribs/gnogenesis/integration_test.go
  contribs/gnohealth/internal/timestamp/timestamp.go
  contribs/tx-archive/backup/client/rpc/rpc.go
  gno.land/pkg/gnoclient/client_queries.go
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/mock_test.go
  gno.land/pkg/gnoweb/status.go
  tm2/pkg/bft/rpc/client/client.go
  tm2/pkg/bft/rpc/client/client_test.go
  tm2/pkg/bft/rpc/client/e2e_test.go
  tm2/pkg/bft/rpc/client/local.go
  tm2/pkg/bft/rpc/client/types.go
  tm2/pkg/bft/rpc/core/routes.go
  tm2/pkg/bft/rpc/core/status.go
  tm2/pkg/bft/rpc/lib/server/handlers.go
  tm2/pkg/bft/rpc/lib/types/types.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, 🌍 gnoweb, 🐳 devops, 🐹 golang, 🚀 ci, 🤝 contribs, 🛠️ gnodev

#4709 chore(gnofaucet): updating faucet lib dependency
  contribs/gnofaucet/go.mod
  contribs/gnofaucet/go.sum
Labels: 🐹 golang, 🤝 contribs

#4388 feat(p/uassert): Add AbortsContains, PanicsContains functions (partial matching support)
  examples/gno.land/p/demo/uassert/uassert.gno
  examples/gno.land/p/demo/uassert/uassert_test.gno
Labels: :receipt: package/realm

#4630 chore: In gnokey, show storage deposit fee
  gno.land/pkg/integration/testdata/atomicswap.txtar
  gno.land/pkg/integration/testdata/gnokey_gasfee.txtar
  gno.land/pkg/integration/testdata/grc20_registry_emit.txtar
  gno.land/pkg/integration/testdata/storage_deposit.txtar
  gno.land/pkg/keyscli/addpkg.go
  gno.land/pkg/keyscli/call.go
  gno.land/pkg/keyscli/root.go
  gno.land/pkg/keyscli/run.go
  gno.land/pkg/sdk/vm/keeper.go
  gnovm/stdlibs/std/emit_event.go
  gnovm/stdlibs/std/package.go
  tm2/pkg/crypto/keys/client/broadcast.go
  tm2/pkg/crypto/keys/client/common.go
  tm2/pkg/crypto/keys/client/maketx.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4304 fix(gnovm): fix mapkey with refValue
  gno.land/pkg/integration/testdata/issue_4280.txtar
  gno.land/pkg/integration/testdata/issue_4280a.txtar
  gno.land/pkg/integration/testdata/issue_4280b.txtar
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/map39.gno
  gnovm/tests/files/map39a.gno
  gnovm/tests/files/map39b.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#4327 fix(gnovm): mapkey pass by value
  gno.land/pkg/integration/testdata/mapkey.txtar
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/map35.gno
  gnovm/tests/files/map35a.gno
  gnovm/tests/files/map35b.gno
Labels: :package: :robot: gnovm, :package: :mountain: gno.land, 🤝 contribs

#4114 fix(gnovm): allow multiple NaN keys in map
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/map40.gno
  gnovm/tests/files/map40b.gno
  gnovm/tests/files/map40c.gno
  gnovm/tests/files/map41.gno
  gnovm/tests/files/map41b.gno
Labels: :package: :robot: gnovm

#4679 fix(gnovm): remove runtime duplicate-key panic in map literals; rely on type checker
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/tests/files/map0.gno
  gnovm/tests/files/map42.gno
  gnovm/tests/files/map43.gno
Labels: :package: :robot: gnovm

#3509 feat: Add NFT Event Ticketing System
  examples/gno.land/p/demo/grc/grc20/tellers.gno
  examples/gno.land/r/jjoptimist/eventix/eventix.gno
  examples/gno.land/r/jjoptimist/eventix/eventix_test.gno
  examples/gno.land/r/jjoptimist/eventix/gnomod.toml
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#4644 fix(gnovm): support non-print characters in tests
  gnovm/cmd/gno/testdata/test/nonprint_name.txtar
  gnovm/tests/stdlibs/testing/base/match.gno
  gnovm/tests/stdlibs/testing/match.gno
Labels: :package: :robot: gnovm

#4667 feat(examples): Simple realm to derive realm addresses
  examples/gno.land/r/leon/derive/derive.gno
  examples/gno.land/r/leon/derive/derive_test.gno
  examples/gno.land/r/leon/derive/gnomod.toml
Labels: :receipt: package/realm

#4717 feat(govdao): enforce `r/gnoland/users` registration for voters
  examples/gno.land/r/gnoland/users/v1/z_0_prop1_filetest.gno
  examples/gno.land/r/gnoland/users/v1/z_1_prop2_filetest.gno
  examples/gno.land/r/gnoland/users/z_0_filetest.gno
  examples/gno.land/r/gnops/valopers/proposal/proposal_test.gno
  examples/gno.land/r/gnops/valopers/proposal/z_0_a_filetest.gno
  examples/gno.land/r/gnops/valopers/proposal/z_1_filetest.gno
  examples/gno.land/r/gov/dao/v3/impl/govdao.gno
  examples/gno.land/r/gov/dao/v3/impl/govdao_test.gno
  examples/gno.land/r/gov/dao/v3/impl/impl.gno
  examples/gno.land/r/gov/dao/v3/impl/render.gno
  examples/gno.land/r/sys/names/verifier_test.gno
  examples/gno.land/r/sys/params/unlock_test.gno
  gno.land/pkg/integration/testdata/govdao_invite_t3_member.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_add_member.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_change_law.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_new_param.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_new_post.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_promote_member.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_treasury_payment.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_treasury_tokens_update.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_withdraw_member.txtar
  gno.land/pkg/integration/testdata/set_fee_collector.txtar
  gno.land/pkg/integration/testdata/transfer_unlock.txtar
  gno.land/pkg/integration/testdata/update_storage_params.txtar
  gno.land/pkg/integration/testdata/valopers.txtar
  gnovm/tests/files/govdao/realm_govdao.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#4746 fix(github-bot): don't fail if missing tech-staff review
  contribs/github-bot/internal/config/config.go
Labels: 🤝 contribs

#4747 fix(gnovm): no fill value of LHS for map assignment
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/map44.gno
Labels: :package: :robot: gnovm

#4722 feat(gnovm): storage fee collector
  gno.land/pkg/integration/testdata/storage_deposit.txtar
  gno.land/pkg/integration/testdata/storage_deposit_collector.txtar
  gno.land/pkg/keyscli/root.go
  gno.land/pkg/sdk/vm/keeper.go
  gno.land/pkg/sdk/vm/params.go
  gno.land/pkg/sdk/vm/params_test.go
  gno.land/pkg/sdk/vm/types.go
  gnovm/stdlibs/std/emit_event.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#4741 fix: `gnokey verify`: single-sig now works; multisig supported; new flags; base64 signatures
  tm2/pkg/commands/types.go
  tm2/pkg/crypto/keys/client/verify.go
  tm2/pkg/crypto/keys/client/verify_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#4694 feat(examples): Add tablesort package
  examples/gno.land/p/samcrew/tablesort/README.md
  examples/gno.land/p/samcrew/tablesort/gnomod.toml
  examples/gno.land/p/samcrew/tablesort/render.gno
  examples/gno.land/p/samcrew/tablesort/tablesort.gno
  examples/gno.land/p/samcrew/tablesort/tablesort_test.gno
  examples/gno.land/r/gov/dao/v3/memberstore/rendermembers.gno
Labels: :receipt: package/realm

#4770 feat: add `gno.land/p/nt/mdalert` package
  examples/gno.land/p/nt/mdalert/gnomod.toml
  examples/gno.land/p/nt/mdalert/mdalert.gno
  examples/gno.land/p/nt/mdalert/mdalert_test.gno
Labels: :receipt: package/realm

#4666 docs: add `gnowork.toml` explainer
  docs/resources/configuring-gno-projects.md
Labels: :book: documentation

#4801 ci: fix examples.yml workflow by adding a `workflow_dispatch` input for debug
  .github/workflows/examples.yml
Labels: 🚀 ci

#4802 fix: keep number of defer on a local variable
  gnovm/pkg/gnolang/frame.go
Labels: :package: :robot: gnovm

#4745 fix: Amino/protobuf gno-js-client compatibility
  gno.land/pkg/sdk/vm/msgs.go
  gno.land/pkg/sdk/vm/msgs_test.go
  tm2/pkg/std/memfile.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4800 chore(staging): fix prefixes for staging backups for tx-export
  misc/loop/docker-compose.yml
  misc/loop/scripts/pull-gh.sh
  misc/loop/traefik/gno.yml
Labels: 🐳 devops

#4814 chore(staging): adding fixed faucet address
  misc/loop/cmd/docker/docker.go
  misc/loop/scripts/start.sh
Labels: 🐳 devops

#4546 feat(gnolang): consume gas when we allocate
  gno.land/pkg/integration/testdata/append.txtar
  gno.land/pkg/integration/testdata/append_string.txtar
  gno.land/pkg/integration/testdata/cpu-cycle-overrun1.txtar
  gno.land/pkg/integration/testdata/event_multi_msg.txtar
  gno.land/pkg/integration/testdata/gc.txtar
  gno.land/pkg/integration/testdata/ghverify.txtar
  gno.land/pkg/integration/testdata/gnokey_gasfee.txtar
  gno.land/pkg/integration/testdata/govdao_invite_t3_member.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_promote_member.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_withdraw_member.txtar
  gno.land/pkg/integration/testdata/many_inserts_stack_overflow.txtar
  gno.land/pkg/integration/testdata/moul_authz.txtar
  gno.land/pkg/integration/testdata/set_fee_collector.txtar
  gno.land/pkg/integration/testdata/simulate_gas.txtar
  gno.land/pkg/integration/testdata/user_journey.txtar
  gno.land/pkg/sdk/vm/gas_test.go
  gnovm/pkg/gnolang/alloc.go
  gnovm/pkg/gnolang/machine.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#4808 fix(garbage_collector): Ineffective overflow protection
  gnovm/pkg/gnolang/garbage_collector.go
Labels: :package: :robot: gnovm

#4828 chore(boards2): restore board request invite link
  examples/gno.land/r/gnoland/boards2/v1/public_invite.gno
  examples/gno.land/r/gnoland/boards2/v1/render.gno
  examples/gno.land/r/gnoland/boards2/v1/uris_board.gno
  examples/gno.land/r/gnoland/boards2/v1/z_0_j_filetest.gno
  examples/gno.land/r/gnoland/boards2/v1/z_ui_2_a_filetest.gno
  examples/gno.land/r/gnoland/boards2/v1/z_ui_2_b_filetest.gno
  examples/gno.land/r/gnoland/boards2/v1/z_ui_2_c_filetest.gno
  examples/gno.land/r/gnoland/boards2/v1/z_ui_2_e_filetest.gno
Labels: :receipt: package/realm
