Repository gnolang/gno, pull requests merged in 2025-06, with the labels that each got.

#4291 feat(examples): add p/sys/genesis
  examples/gno.land/p/sys/genesis/consts.gno
  examples/gno.land/p/sys/genesis/consts_test.gno
  examples/gno.land/p/sys/genesis/gno.mod
Labels: :receipt: package/realm

#4332 fix(gnoweb): improve toc levels UI
  gno.land/pkg/gnoweb/components/ui/toc_realm.html
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4345 chore: add proper multisig pubkey display in `gnokey list`
  tm2/pkg/crypto/multisig/threshold_pubkey.go
  tm2/pkg/crypto/multisig/threshold_pubkey_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4352 chore(commondao): add `MustValidate` and `MustExecute`
  examples/gno.land/p/nt/commondao/proposal.gno
  examples/gno.land/p/nt/commondao/proposal_test.gno
  examples/gno.land/p/nt/commondao/z_commondao_must_execute_0_filetest.gno
  examples/gno.land/p/nt/commondao/z_commondao_must_execute_1_filetest.gno
  examples/gno.land/p/nt/commondao/z_commondao_must_execute_2_filetest.gno
Labels: :receipt: package/realm

#4359 fix(gnoweb): add lexer for gno.mod
  gno.land/pkg/gnoweb/webclient_html.go
Labels: :package: :mountain: gno.land

#4024 feat(gnoweb): user template
  .gitignore
  examples/gno.land/r/demo/groups/misc.gno
  examples/gno.land/r/demo/microblog/microblog.gno
  examples/gno.land/r/gnoland/users/v1/render.gno
  examples/gno.land/r/leon/hor/datasource_test.gno
  examples/gno.land/r/sys/users/store.gno
  gno.land/pkg/gnoweb/components/component.go
  gno.land/pkg/gnoweb/components/layout_header.go
  gno.land/pkg/gnoweb/components/layout_index.go
  gno.land/pkg/gnoweb/components/layout_test.go
  gno.land/pkg/gnoweb/components/layouts/article.html
  gno.land/pkg/gnoweb/components/layouts/aside.html
  gno.land/pkg/gnoweb/components/layouts/header.html
  gno.land/pkg/gnoweb/components/layouts/index.html
  gno.land/pkg/gnoweb/components/template.go
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/components/view_directory.go
  gno.land/pkg/gnoweb/components/view_test.go
  gno.land/pkg/gnoweb/components/view_user.go
  gno.land/pkg/gnoweb/components/views/directory.html
  gno.land/pkg/gnoweb/components/views/status.html
  gno.land/pkg/gnoweb/components/views/user.html
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/frontend/js/index.ts
  gno.land/pkg/gnoweb/frontend/js/list.ts
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
  gno.land/pkg/gnoweb/public/js/index.js
  gno.land/pkg/gnoweb/public/js/list.js
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/weburl/url.go
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb

#4391 fix(cs): create empty block
  gno.land/pkg/integration/node_testing.go
  gno.land/pkg/integration/testdata/gnokey_gasfee.txtar
  tm2/pkg/bft/consensus/state.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4393 chore: update test6 `README` and `generate.sh`
  misc/deployments/test6.gno.land/README.md
  misc/deployments/test6.gno.land/generate.sh
Labels: :package: :mountain: gno.land

#4394 fix: gnoweb help: Don't make an entry field for "cur realm"
  gno.land/pkg/gnoweb/handler.go
Labels: :package: :mountain: gno.land

#4346 feat: add `gnokey multisign`
  gno.land/pkg/keyscli/root.go
  tm2/pkg/crypto/keys/client/maketx.go
  tm2/pkg/crypto/keys/client/multisign.go
  tm2/pkg/crypto/keys/client/multisign_test.go
  tm2/pkg/crypto/keys/client/root.go
  tm2/pkg/crypto/keys/client/sign.go
  tm2/pkg/crypto/keys/client/sign_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4408 chore(docs): gno.land>Gno.land, add gnoclient docs
  docs/README.md
  docs/builders/anatomy-of-a-gno-package.md
  docs/builders/become-a-gnome.md
  docs/builders/connect-clients-and-apps.md
  docs/builders/deploy-packages.md
  docs/builders/example-minisocial-dapp.md
  docs/builders/local-dev-with-gnodev.md
  docs/builders/what-is-gnolang.md
  docs/resources/gas-fees.md
  docs/resources/glossary.md
  docs/resources/gno-packages.md
  docs/users/discover-gnoland.md
  docs/users/example-boards.md
  docs/users/explore-with-gnoweb.md
  docs/users/interact-with-gnokey.md
  docs/users/power-users.md
  docs/users/third-party-wallets.md
  gno.land/pkg/gnoclient/docs/using-gnoclient.md
  misc/docs/sidebar.json
Labels: :package: :mountain: gno.land

#4412 chore(examples): support gno-forms in coin checker
  examples/gno.land/r/gnoland/coins/coins.gno
  examples/gno.land/r/gnoland/coins/coins_test.gno
Labels: :receipt: package/realm

#4419 chore: fix broken link in `gnodev -h`
  contribs/gnodev/cmd/gnodev/app.go
Labels: review/triage-pending

#4361 feat(commondao): add variadic options support to DAO creation functions
  examples/gno.land/r/nt/commondao/commondao.gno
  examples/gno.land/r/nt/commondao/options.gno
  examples/gno.land/r/nt/commondao/public.gno
  examples/gno.land/r/nt/commondao/z_5_f_filetest.gno
  examples/gno.land/r/nt/commondao/z_6_e_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_a_filetest.gno
  examples/gno.land/r/nt/commondao/z_7_d_filetest.gno
Labels: :receipt: package/realm

#4431 fix(minisocial): fixes rendering issues due to unwanted parameter in …
  examples/gno.land/r/docs/minisocial/v1/posts.gno
  examples/gno.land/r/docs/minisocial/v1/posts_test.gno
  examples/gno.land/r/docs/minisocial/v2/posts.gno
  examples/gno.land/r/docs/minisocial/v2/posts_test.gno
Labels: :receipt: package/realm

#4395 chore: gno.land homepage fixes
  examples/gno.land/r/demo/demo.gno
  examples/gno.land/r/demo/gnomod.toml
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
  examples/gno.land/r/gnoland/pages/page_partners.gno
  examples/gno.land/r/gnoland/users/v1/render.gno
  examples/gno.land/r/leon/hor/hor.gno
  examples/gno.land/r/leon/hor/render.gno
  gno.land/pkg/gnoweb/app.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#4420 chore(grc20): prune zero-balance addresses
  examples/gno.land/p/demo/grc/grc20/token.gno
  gno.land/pkg/integration/testdata/wugnot.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3615 docs(gnoconnect): add specs
  docs/README.md
  docs/resources/gnoconnect.md
  docs/resources/gnoland-networks.md
  misc/docs/sidebar.json
  misc/docs/tools/linter/urls.go
Labels: :book: documentation, 🌍 gnoweb, help wanted

#4439 fix: move and update no-cycles test
  gno.land/pkg/gnoland/no_cycles_test.go
  gnovm/stdlibs/stdlibs.go
  gnovm/tests/stdlibs/stdlibs.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land

#4446 feat(examples): move r/docs realm to r/docs/home
  examples/gno.land/r/docs/avl_pager_with_params/render.gno
  examples/gno.land/r/docs/gnomod.toml
  examples/gno.land/r/docs/home/gnomod.toml
  examples/gno.land/r/docs/home/home.gno
  examples/gno.land/r/docs/home/home_test.gno
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :receipt: package/realm

#4299 feat(examples): yet another unit and file testing package `p/jeronimoabi/expect`
  examples/gno.land/p/jeronimoalbi/expect/boolean.gno
  examples/gno.land/p/jeronimoalbi/expect/boolean_test.gno
  examples/gno.land/p/jeronimoalbi/expect/context.gno
  examples/gno.land/p/jeronimoalbi/expect/doc.gno
  examples/gno.land/p/jeronimoalbi/expect/error.gno
  examples/gno.land/p/jeronimoalbi/expect/float.gno
  examples/gno.land/p/jeronimoalbi/expect/float_test.gno
  examples/gno.land/p/jeronimoalbi/expect/func.gno
  examples/gno.land/p/jeronimoalbi/expect/func_test.gno
  examples/gno.land/p/jeronimoalbi/expect/gnomod.toml
  examples/gno.land/p/jeronimoalbi/expect/int.gno
  examples/gno.land/p/jeronimoalbi/expect/int_test.gno
  examples/gno.land/p/jeronimoalbi/expect/message.gno
  examples/gno.land/p/jeronimoalbi/expect/string.gno
  examples/gno.land/p/jeronimoalbi/expect/string_test.gno
  examples/gno.land/p/jeronimoalbi/expect/uint.gno
  examples/gno.land/p/jeronimoalbi/expect/uint_test.gno
  examples/gno.land/p/jeronimoalbi/expect/value.gno
  examples/gno.land/p/jeronimoalbi/expect/value_test.gno
  examples/gno.land/p/jeronimoalbi/expect/z_boolean_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_boolean_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_boolean_2_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_error_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_error_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_float_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_float_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_float_2_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_float_3_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_float_4_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_2_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_3_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_4_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_5_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_6_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_7_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_func_8_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_int_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_int_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_int_2_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_int_3_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_int_4_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_string_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_string_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_string_2_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_uint_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_uint_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_uint_2_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_uint_3_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_uint_4_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_value_0_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_value_1_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_value_2_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_value_3_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_value_4_filetest.gno
  examples/gno.land/p/jeronimoalbi/expect/z_value_5_filetest.gno
Labels: :receipt: package/realm
