Repository gnolang/gno, pull requests merged in 2025-01, with the labels that each got.

#3396 fix(gno.land): improve test speed
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/node_testing.go
  gno.land/pkg/integration/pkgloader.go
  gno.land/pkg/integration/process.go
  gno.land/pkg/integration/process/main.go
  gno.land/pkg/integration/process_test.go
  gno.land/pkg/integration/testdata/gnoland.txtar
  gno.land/pkg/integration/testdata/loadpkg_example.txtar
  gno.land/pkg/integration/testdata/restart.txtar
  gno.land/pkg/integration/testdata_test.go
  gno.land/pkg/integration/testing_integration.go
  gno.land/pkg/integration/testscript_gnoland.go
  gno.land/pkg/integration/testscript_gnoland_test.go
  gno.land/pkg/integration/testscript_testing.go
  gnovm/cmd/gno/testdata_test.go
  gnovm/pkg/integration/testscript.go
  gnovm/pkg/integration/testscript_coverage.go
  gnovm/pkg/integration/testscript_gno.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/bft/config/config_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3419 feat(examples): add p/moul/fp
  examples/gno.land/p/moul/fp/fp.gno
  examples/gno.land/p/moul/fp/fp_test.gno
  examples/gno.land/p/moul/fp/gno.mod
Labels: :receipt: package/realm

#3422 feat(examples): add p/moul/memo(ize)
  examples/gno.land/p/moul/memo/gno.mod
  examples/gno.land/p/moul/memo/memo.gno
  examples/gno.land/p/moul/memo/memo_test.gno
Labels: :receipt: package/realm

#3452 fix: handle p2p events properly in cluster tests
  tm2/pkg/internal/p2p/p2p.go
  tm2/pkg/p2p/events/events.go
Labels: :package: :globe_with_meridians: tendermint v2

#3340 feat: min gas prices config
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/app_test.go
  tm2/pkg/bft/config/config.go
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/config/config.go
  tm2/pkg/sdk/config/config_test.go
  tm2/pkg/std/gasprice.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3403 feat(examples): add moul/xmath
  .gitattributes
  .github/workflows/examples.yml
  examples/gno.land/p/moul/xmath/generate.go
  examples/gno.land/p/moul/xmath/generator.go
  examples/gno.land/p/moul/xmath/gno.mod
  examples/gno.land/p/moul/xmath/xmath.gen.gno
  examples/gno.land/p/moul/xmath/xmath.gen_test.gno
Labels: :receipt: package/realm

#3456 feat(stefann/home): Convert HTML to Markdown and enhance features
  examples/gno.land/r/stefann/home/home.gno
  examples/gno.land/r/stefann/home/home_test.gno
Labels: :receipt: package/realm

#3461 chore: Remove markdown/highlighting.go and directly use goldmark-highlighting
  contribs/gnodev/go.mod
  contribs/gnodev/go.sum
  gno.land/pkg/gnoweb/app.go
  gno.land/pkg/gnoweb/markdown/highlighting.go
  gno.land/pkg/gnoweb/markdown/highlighting_test.go
  go.mod
  go.sum
Labels: :package: :mountain: gno.land

#3366 fix(gnoweb): simplify url parsing system
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/url.go
  gno.land/pkg/gnoweb/url_test.go
Labels: :package: :mountain: gno.land, in focus

#3384 fix: increase max block gas limit
  gno.land/cmd/gnoland/start.go
Labels: :package: :mountain: gno.land, in focus

#3250 feat(gnovm): implement overflow checking at VM level
  examples/gno.land/p/demo/grc/grc20/token.gno
  gnovm/pkg/gnolang/op_bench_test.go
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/op_inc_dec.go
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/math/const_test.gno
  gnovm/stdlibs/math/overflow/overflow.gno
  gnovm/stdlibs/math/overflow/overflow_test.gno
  gnovm/stdlibs/std/coins.gno
  gnovm/tests/files/overflow0.gno
  gnovm/tests/files/overflow1.gno
  gnovm/tests/files/overflow2.gno
  gnovm/tests/files/overflow3.gno
  gnovm/tests/files/overflow4.gno
  gnovm/tests/files/overflow5.gno
  gnovm/tests/files/recover14.gno
  misc/genstd/util.go
  tm2/pkg/overflow/README.md
  tm2/pkg/overflow/overflow_impl.go
  tm2/pkg/overflow/overflow_template.sh
  tm2/pkg/overflow/overflow_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, in focus

#3465 feat(gnoweb): add breadcrumb args
  gno.land/pkg/gnoweb/Makefile
  gno.land/pkg/gnoweb/components/breadcrumb.go
  gno.land/pkg/gnoweb/components/breadcrumb.gohtml
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/url.go
  gno.land/pkg/gnoweb/url_test.go
Labels: :package: :mountain: gno.land

#3280 feat: add genesis packages with transaction signing
  contribs/gnodev/pkg/dev/node.go
  contribs/gnogenesis/internal/txs/txs_add_packages.go
  contribs/gnogenesis/internal/txs/txs_add_packages_test.go
  gno.land/pkg/gnoclient/integration_test.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/node_inmemory.go
  gno.land/pkg/integration/node_testing.go
  gno.land/pkg/integration/pkgloader.go
  gno.land/pkg/integration/signer.go
  gno.land/pkg/integration/testdata/event_multi_msg.txtar
  gno.land/pkg/integration/testdata/gnokey_simulate.txtar
  gno.land/pkg/integration/testdata/gnoweb_airgapped.txtar
  gno.land/pkg/integration/testdata/restart_missing_type.txtar
  gno.land/pkg/integration/testdata/simulate_gas.txtar
  gno.land/pkg/integration/testscript_gnoland.go
  misc/autocounterd/go.sum
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/auth/ante_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3462 feat(boards2): board renaming
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/boards.gno
  examples/gno.land/r/demo/boards2/permission.gno
  examples/gno.land/r/demo/boards2/permission_default.gno
  examples/gno.land/r/demo/boards2/public.gno
  examples/gno.land/r/demo/boards2/z_3_a_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_b_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_c_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_d_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_e_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_f_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_g_filetest.gno
Labels: :receipt: package/realm

#3457 feat: fuzz gnovm/pkg/transpiler.Transpile
  gnovm/pkg/transpiler/fuzz_test.go
  gnovm/pkg/transpiler/testdata/fuzz/FuzzTranspiling/26ec2c0a22e242fc
  gnovm/pkg/transpiler/testdata/fuzz/FuzzTranspiling/54f7287f473abfa5
  gnovm/pkg/transpiler/testdata/fuzz/FuzzTranspiling/703a1cacabb84c6d
  gnovm/pkg/transpiler/testdata/fuzz/FuzzTranspiling/bcd60839c81ca478
  gnovm/pkg/transpiler/testdata/fuzz/FuzzTranspiling/bf4f7515b25bf71b
Labels: :package: :robot: gnovm, bounty/candidate

#3424 perf(gnovm): cache PkgIDFromPkgPath for higher performance
  gnovm/pkg/gnolang/bench_test.go
  gnovm/pkg/gnolang/realm.go
Labels: :package: :robot: gnovm

#3470 test: fix adding examples directory in fuzzer
  gnovm/pkg/transpiler/fuzz_test.go
Labels: :package: :robot: gnovm

#3467 style: fix breadcrumb long query
  gno.land/pkg/gnoweb/components/breadcrumb.gohtml
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land

#3434 perf: use fmt.Fprintf to avoid unnecessary string+args + WriteString
  contribs/gnomigrate/internal/txs/txs.go
  gnovm/pkg/gnolang/gno_test.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/machine_test.go
  go.mod
  misc/docs-linter/jsx.go
  misc/docs-linter/links.go
  misc/docs-linter/main.go
  misc/docs-linter/urls.go
  tm2/pkg/bft/rpc/lib/server/handlers.go
  tm2/pkg/bft/rpc/lib/server/write_endpoints_test.go
  tm2/pkg/sdk/auth/params.go
  tm2/pkg/sdk/auth/params_test.go
Labels: :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#3323 feat(gnovm): categorize imports
  gno.land/pkg/integration/pkgloader.go
  gnovm/cmd/gno/download_deps.go
  gnovm/pkg/doc/dirs.go
  gnovm/pkg/gnomod/pkg.go
  gnovm/pkg/packages/filekind.go
  gnovm/pkg/packages/filekind_test.go
  gnovm/pkg/packages/imports.go
  gnovm/pkg/packages/imports_test.go
  gnovm/pkg/test/imports.go
Labels: :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3388 feat: add btree_dao to demo
  examples/gno.land/r/demo/btree_dao/btree_dao.gno
  examples/gno.land/r/demo/btree_dao/btree_dao_test.gno
  examples/gno.land/r/demo/btree_dao/gno.mod
Labels: :receipt: package/realm, review/triage-pending

#3448 feat(examples): add p/moul/addrset
  examples/gno.land/p/moul/addrset/addrset.gno
  examples/gno.land/p/moul/addrset/addrset_test.gno
  examples/gno.land/p/moul/addrset/gno.mod
Labels: :receipt: package/realm

#3468 fix: add support for signing lazily loaded transactions in genesis
  .github/workflows/portal-loop.yml
  contribs/gnogenesis/internal/txs/txs_add_packages.go
  gno.land/cmd/gnoland/start.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/app_test.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/gnoland/types.go
  gno.land/pkg/gnoland/types_test.go
  gno.land/pkg/integration/node_testing.go
  gno.land/pkg/integration/pkgloader.go
  gno.land/pkg/integration/signer.go
  gno.land/pkg/integration/testdata/event_multi_msg.txtar
  gno.land/pkg/integration/testdata/gnokey.txtar
  gno.land/pkg/integration/testdata/gnoweb_airgapped.txtar
  gno.land/pkg/integration/testdata/restart_missing_type.txtar
  gno.land/pkg/integration/testdata/simulate_gas.txtar
  misc/loop/scripts/start.sh
  tm2/pkg/sdk/auth/ante.go
  tm2/pkg/sdk/auth/ante_test.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#3474 fix: re-enable the portal loop CI
  .github/workflows/portal-loop.yml
Labels: :package: :mountain: gno.land

#3477 feat: add account number / sequence as env in txtar
  gno.land/pkg/integration/doc.go
  gno.land/pkg/integration/testdata/addpkg.txtar
  gno.land/pkg/integration/testdata/addpkg_namespace.txtar
  gno.land/pkg/integration/testdata/adduserfrom.txtar
  gno.land/pkg/integration/testdata/event_multi_msg.txtar
  gno.land/pkg/integration/testdata/gnokey.txtar
  gno.land/pkg/integration/testdata/gnokey_simulate.txtar
  gno.land/pkg/integration/testdata/patchpkg.txtar
  gno.land/pkg/integration/testdata/prevrealm.txtar
  gno.land/pkg/integration/testdata/realm_banker_issued_coin_denom.txtar
  gno.land/pkg/integration/testscript_gnoland.go
  gno.land/pkg/integration/utils.go
  gno.land/pkg/integration/utils_test.go
Labels: :package: :mountain: gno.land

#3492 chore(gnovm): remove unused attributes
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm

#3185 feat(gnovm): add software floating point package
  gno.land/pkg/sdk/vm/convert.go
  gnovm/pkg/gnolang/frame.go
  gnovm/pkg/gnolang/gonative.go
  gnovm/pkg/gnolang/internal/softfloat/copy.sh
  gnovm/pkg/gnolang/internal/softfloat/runtime_softfloat64.go
  gnovm/pkg/gnolang/internal/softfloat/runtime_softfloat64_test.go
  gnovm/pkg/gnolang/internal/softfloat/softfloat.go
  gnovm/pkg/gnolang/op_binary.go
  gnovm/pkg/gnolang/op_inc_dec.go
  gnovm/pkg/gnolang/op_unary.go
  gnovm/pkg/gnolang/values.go
  gnovm/pkg/gnolang/values_conversions.go
  gnovm/pkg/gnolang/values_conversions_test.go
  gnovm/pkg/gnolang/values_string.go
  gnovm/tests/files/float8.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3375 feat(stdlibs): add package crypto/bech32
  examples/gno.land/p/demo/testutils/crypto_test.gno
  examples/gno.land/r/demo/keystore/keystore_test.gno
  examples/gno.land/r/demo/microblog/microblog_test.gno
  gno.land/pkg/integration/testdata/assertorigincall.txtar
  gno.land/pkg/integration/testdata/grc20_invalid_address.txtar
  gno.land/pkg/integration/testdata/grc20_registry.txtar
  gno.land/pkg/integration/testdata/grc721_emit.txtar
  gno.land/pkg/integration/testdata/issue_1786.txtar
  gno.land/pkg/integration/testdata/prevrealm.txtar
  gno.land/pkg/integration/testdata/wugnot.txtar
  gnovm/stdlibs/crypto/bech32/bech32.gno
  gnovm/stdlibs/crypto/bech32/bech32_test.gno
  gnovm/stdlibs/crypto/bech32/error.gno
  gnovm/stdlibs/crypto/bech32/version.gno
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/std/crypto.gno
  gnovm/stdlibs/std/crypto_test.gno
  gnovm/stdlibs/std/native.gno
  gnovm/stdlibs/std/native.go
  gnovm/tests/files/std5.gno
  gnovm/tests/files/std8.gno
  gnovm/tests/files/zrealm_natbind0.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3498 feat: add `EstimateGas` to gnoclient
  gno.land/pkg/gnoclient/client_test.go
  gno.land/pkg/gnoclient/client_txs.go
Labels: :package: :mountain: gno.land

#3491 refactor(gnovm): move go type checking to own file
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/go2gno_test.go
  gnovm/pkg/gnolang/gotypecheck.go
  gnovm/pkg/gnolang/gotypecheck_test.go
Labels: :package: :robot: gnovm

#3490 test(gnovm): move tests in values_conversions_test.go to filetests
  gnovm/pkg/gnolang/values_conversions_test.go
  gnovm/tests/files/overflow10.gno
  gnovm/tests/files/overflow11.gno
  gnovm/tests/files/overflow12.gno
  gnovm/tests/files/overflow13.gno
  gnovm/tests/files/overflow14.gno
  gnovm/tests/files/overflow15.gno
  gnovm/tests/files/overflow16.gno
  gnovm/tests/files/overflow6.gno
  gnovm/tests/files/overflow7.gno
  gnovm/tests/files/overflow8.gno
  gnovm/tests/files/overflow9.gno
Labels: :package: :robot: gnovm

#2828 feat(gnovm): align Gno constant handling with Go specifications
  examples/gno.land/r/demo/keystore/keystore_test.gno
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/type_check.go
  gnovm/tests/files/const23.gno
  gnovm/tests/files/const24.gno
  gnovm/tests/files/const25.gno
  gnovm/tests/files/const26.gno
  gnovm/tests/files/const27.gno
  gnovm/tests/files/const28.gno
  gnovm/tests/files/const29.gno
  gnovm/tests/files/const30.gno
  gnovm/tests/files/const31.gno
  gnovm/tests/files/const32.gno
  gnovm/tests/files/const33.gno
  gnovm/tests/files/const34.gno
  gnovm/tests/files/const35.gno
  gnovm/tests/files/const36.gno
  gnovm/tests/files/const37_native.gno
  gnovm/tests/files/const37_stdlibs.gno
  gnovm/tests/files/const38.gno
  gnovm/tests/files/const39.gno
  gnovm/tests/files/const40.gno
  gnovm/tests/files/const41.gno
  gnovm/tests/files/const42.gno
  gnovm/tests/files/const43.gno
  gnovm/tests/files/const44.gno
  gnovm/tests/files/const45_a.gno
  gnovm/tests/files/const45_b.gno
  gnovm/tests/files/const46.gno
  gnovm/tests/files/const47.gno
  gnovm/tests/files/const48.gno
  gnovm/tests/files/const49.gno
  gnovm/tests/files/const50.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3354 feat(examples): Ivan's registry, home realm
  examples/gno.land/r/ursulovic/home/gno.mod
  examples/gno.land/r/ursulovic/home/home.gno
  examples/gno.land/r/ursulovic/home/home_test.gno
  examples/gno.land/r/ursulovic/registry/gno.mod
  examples/gno.land/r/ursulovic/registry/registry.gno
Labels: :receipt: package/realm

#2992 fix(gnovm): save object when refCount changed
  contribs/gnodev/pkg/dev/node_test.go
  examples/gno.land/p/demo/avl/z_0_filetest.gno
  examples/gno.land/p/demo/avl/z_1_filetest.gno
  examples/gno.land/p/demo/avl/z_2_filetest.gno
  examples/gno.land/r/demo/boards/z_4_filetest.gno
  gno.land/pkg/integration/testdata/addpkg_namespace.txtar
  gno.land/pkg/integration/testdata/ghverify.txtar
  gno.land/pkg/integration/testdata/issue_1543.txtar
  gno.land/pkg/integration/testdata/issue_2266.txtar
  gno.land/pkg/integration/testdata/simulate_gas.txtar
  gno.land/pkg/sdk/vm/gas_test.go
  gnovm/cmd/gno/testdata/test/realm_correct.txtar
  gnovm/cmd/gno/testdata/test/realm_incorrect.txtar
  gnovm/cmd/gno/testdata/test/realm_sync.txtar
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/store.go
  gnovm/tests/files/assign_unnamed_type/more/realm_compositelit_filetest.gno
  gnovm/tests/files/heap_item_value.gno
  gnovm/tests/files/heap_item_value_init.gno
  gnovm/tests/files/zrealm0.gno
  gnovm/tests/files/zrealm1.gno
  gnovm/tests/files/zrealm13.gno
  gnovm/tests/files/zrealm14.gno
  gnovm/tests/files/zrealm15.gno
  gnovm/tests/files/zrealm16.gno
  gnovm/tests/files/zrealm2.gno
  gnovm/tests/files/zrealm3.gno
  gnovm/tests/files/zrealm4.gno
  gnovm/tests/files/zrealm5.gno
  gnovm/tests/files/zrealm6.gno
  gnovm/tests/files/zrealm7.gno
  gnovm/tests/files/zrealm_avl0.gno
  gnovm/tests/files/zrealm_avl1.gno
  gnovm/tests/files/zrealm_crossrealm21.gno
  gnovm/tests/files/zrealm_crossrealm22.gno
  gnovm/tests/files/zrealm_natbind0.gno
  gnovm/tests/files/zrealm_tests0.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3453 feat(cmd/gno): allow gno test to default to the current directory
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/test/no_args.txtar
  gnovm/cmd/gno/testdata/test/no_path_empty_dir.txtar
  gnovm/cmd/gno/testdata/test/no_path_empty_gno.txtar
  gnovm/cmd/gno/testdata/test/no_path_flag_run.txtar
Labels: :package: :robot: gnovm

#3516 fix(gnoweb): fix mobile breadcrumb
  gno.land/pkg/gnoweb/components/breadcrumb.gohtml
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land

#3400 feat(examples): add rolist
  examples/gno.land/p/demo/avl/list/list.gno
  examples/gno.land/p/demo/avl/rolist/gno.mod
  examples/gno.land/p/demo/avl/rolist/rolist.gno
  examples/gno.land/p/demo/avl/rolist/rolist_test.gno
  examples/gno.land/p/demo/avl/rotree/rotree.gno
Labels: :receipt: package/realm

#3321 feat(examples): add p/moul/collection
  examples/gno.land/p/demo/avl/list/list_test.gno
  examples/gno.land/p/moul/collection/collection.gno
  examples/gno.land/p/moul/collection/collection_test.gno
  examples/gno.land/p/moul/collection/entry.gno
  examples/gno.land/p/moul/collection/gno.mod
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3504 chore(autocounterd): fix `ShortHelp`, improve error messages
  misc/autocounterd/cmd/cmd_start.go
Labels: review/triage-pending

#3525 fix(gnoweb): enable table on gnoweb
  gno.land/pkg/gnoweb/app.go
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/public/styles.css
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb

#3513 feat(boardsv2): initialize reposting
  examples/gno.land/r/demo/boards2/format.gno
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/post_test.gno
  examples/gno.land/r/demo/boards2/public.gno
Labels: :receipt: package/realm

#3379 chore(gnoweb): cleanup iteration on gnoweb
  gno.land/cmd/gnoweb/main.go
  gno.land/pkg/gnoweb/Makefile
  gno.land/pkg/gnoweb/app.go
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/format.go
  gno.land/pkg/gnoweb/formatter.go
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
  gno.land/pkg/gnoweb/markdown/toc.go
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/webclient_mock.go
Labels: :package: :mountain: gno.land, in focus

#3537 fix(gnoweb): font style italic
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#3536 feat(boardsv2): hide flagged comments
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/post_test.gno
  examples/gno.land/r/demo/boards2/render.gno
Labels: :receipt: package/realm

#3550 fix(txtar): ignore filetests when loading packages
  gno.land/pkg/integration/pkgloader.go
  gno.land/pkg/integration/testdata/issue_3546.txtar
Labels: :package: :mountain: gno.land

#2510 feat: add r/demo/atomicswap
  examples/gno.land/r/demo/atomicswap/atomicswap.gno
  examples/gno.land/r/demo/atomicswap/atomicswap_test.gno
  examples/gno.land/r/demo/atomicswap/gno.mod
  examples/gno.land/r/demo/atomicswap/swap.gno
  gno.land/pkg/integration/testdata/atomicswap.txtar
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land

#3527 chore: cleanup gno files
  examples/gno.land/p/demo/btree/btree_test.gno
  examples/gno.land/p/demo/context/context_test.gno
  examples/gno.land/p/demo/grc/grc1155/basic_grc1155_token_test.gno
  examples/gno.land/p/demo/grc/grc721/basic_nft_test.gno
  examples/gno.land/p/demo/grc/grc721/grc721_royalty_test.gno
  examples/gno.land/p/demo/grc/grc777/dummy_test.gno
  examples/gno.land/p/demo/subscription/recurring/recurring_test.gno
  examples/gno.land/p/moul/typeutil/typeutil_test.gno
  examples/gno.land/p/n2p5/loci/loci_test.gno
  examples/gno.land/p/wyhaines/rand/isaac/isaac_test.gno
  examples/gno.land/p/wyhaines/rand/isaac64/isaac64_test.gno
  examples/gno.land/r/demo/foo1155/foo1155_test.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/foo721/foo721_test.gno
  examples/gno.land/r/demo/games/dice_roller/dice_roller_test.gno
  examples/gno.land/r/demo/keystore/keystore_test.gno
  examples/gno.land/r/gnoland/blog/gnoblog_test.gno
  examples/gno.land/r/ursulovic/home/home.gno
Labels: :receipt: package/realm

#2077 fix: global var dependencies
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/closure.gno
  gnovm/tests/files/var27.gno
  gnovm/tests/files/var28.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, in focus

#3556 fix(tm2/pkg/bft,os,p2p): close leaking resources
  tm2/pkg/bft/privval/utils.go
  tm2/pkg/os/tempfile.go
  tm2/pkg/p2p/transport.go
Labels: :package: :globe_with_meridians: tendermint v2

#3127 fix(gnovm): correct map key persistence
  gno.land/pkg/integration/testdata/ptr_mapkey.txtar
  gnovm/Makefile
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/ptrmap_1.gno
  gnovm/tests/files/ptrmap_10.gno
  gnovm/tests/files/ptrmap_11.gno
  gnovm/tests/files/ptrmap_12.gno
  gnovm/tests/files/ptrmap_13.gno
  gnovm/tests/files/ptrmap_14.gno
  gnovm/tests/files/ptrmap_15.gno
  gnovm/tests/files/ptrmap_16.gno
  gnovm/tests/files/ptrmap_17.gno
  gnovm/tests/files/ptrmap_18.gno
  gnovm/tests/files/ptrmap_19.gno
  gnovm/tests/files/ptrmap_2.gno
  gnovm/tests/files/ptrmap_20.gno
  gnovm/tests/files/ptrmap_22.gno
  gnovm/tests/files/ptrmap_23.gno
  gnovm/tests/files/ptrmap_24.gno
  gnovm/tests/files/ptrmap_25.gno
  gnovm/tests/files/ptrmap_26.gno
  gnovm/tests/files/ptrmap_3.gno
  gnovm/tests/files/ptrmap_4.gno
  gnovm/tests/files/ptrmap_5.gno
  gnovm/tests/files/ptrmap_6.gno
  gnovm/tests/files/ptrmap_7.gno
  gnovm/tests/files/ptrmap_8.gno
  gnovm/tests/files/ptrmap_9.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3198 fix: addressability
  gnovm/pkg/gnolang/go2gno.go
  gnovm/pkg/gnolang/nodes.go
  gnovm/pkg/gnolang/op_types.go
  gnovm/pkg/gnolang/preprocess.go
  gnovm/pkg/gnolang/types.go
  gnovm/stdlibs/crypto/sha256/sha256_test.gno
  gnovm/tests/files/addressable_1.gno
  gnovm/tests/files/addressable_10.gno
  gnovm/tests/files/addressable_10a_err.gno
  gnovm/tests/files/addressable_10b_err.gno
  gnovm/tests/files/addressable_11.gno
  gnovm/tests/files/addressable_1a_err.gno
  gnovm/tests/files/addressable_1b_err.gno
  gnovm/tests/files/addressable_1c_err.gno
  gnovm/tests/files/addressable_1d_err.gno
  gnovm/tests/files/addressable_2.gno
  gnovm/tests/files/addressable_2a_err.gno
  gnovm/tests/files/addressable_2b_err.gno
  gnovm/tests/files/addressable_3.gno
  gnovm/tests/files/addressable_3a_err.gno
  gnovm/tests/files/addressable_3b_err.gno
  gnovm/tests/files/addressable_3c_err.gno
  gnovm/tests/files/addressable_3d_err.gno
  gnovm/tests/files/addressable_4.gno
  gnovm/tests/files/addressable_4a_err.gno
  gnovm/tests/files/addressable_5.gno
  gnovm/tests/files/addressable_5a_err_stdlibs.gno
  gnovm/tests/files/addressable_5b_err_stdlibs.gno
  gnovm/tests/files/addressable_5c_err.gno
  gnovm/tests/files/addressable_5d_err.gno
  gnovm/tests/files/addressable_6.gno
  gnovm/tests/files/addressable_6a_err.gno
  gnovm/tests/files/addressable_6b_err.gno
  gnovm/tests/files/addressable_6c_err.gno
  gnovm/tests/files/addressable_6d_err.gno
  gnovm/tests/files/addressable_7a_err.gno
  gnovm/tests/files/addressable_7b_err.gno
  gnovm/tests/files/addressable_8.gno
  gnovm/tests/files/addressable_8a_err.gno
  gnovm/tests/files/addressable_9.gno
  gnovm/tests/files/addressable_9a_err.gno
  gnovm/tests/files/addressable_9b_err.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, in focus

#3565 test: fix TestDownloadDeps after #3534
  gnovm/cmd/gno/download_deps_test.go
Labels: :package: :robot: gnovm

#3495 fix(grc721): Make basic `metadataNFT` implementation usable from external packages
  examples/gno.land/p/demo/grc/grc721/grc721_metadata.gno
Labels: :receipt: package/realm

#3570 chore(r/gnoland/pages): add bounties repo link to `page_contribute.gno`
  examples/gno.land/r/gnoland/pages/page_contribute.gno
Labels: :receipt: package/realm

#3538 fix(gnoweb): titles missing id and toc anchors
  gno.land/pkg/gnoweb/app.go
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/format.go
  gno.land/pkg/gnoweb/webclient_html.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb, in focus

#3575 fix(gnomd): patch dependencies, add linter, remove ioutils
  contribs/gnomd/Makefile
  contribs/gnomd/go.mod
  contribs/gnomd/go.sum
  contribs/gnomd/main.go
Labels: dependencies

#3558 feat(boards2): initial commondao implementation
  examples/gno.land/p/demo/boards2/admindao/admindao.gno
  examples/gno.land/p/demo/boards2/admindao/admindao_test.gno
  examples/gno.land/p/demo/boards2/admindao/gno.mod
  examples/gno.land/p/demo/commondao/commondao.gno
  examples/gno.land/p/demo/commondao/commondao_test.gno
  examples/gno.land/p/demo/commondao/gno.mod
  examples/gno.land/p/demo/commondao/options.gno
  examples/gno.land/p/demo/commondao/proposal.gno
  examples/gno.land/p/demo/commondao/record.gno
  examples/gno.land/p/demo/commondao/record_test.gno
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/permission.gno
  examples/gno.land/r/demo/boards2/permission_default.gno
  examples/gno.land/r/demo/boards2/permission_default_test.gno
  examples/gno.land/r/demo/boards2/z_0_a_filetest.gno
  examples/gno.land/r/demo/boards2/z_0_c_filetest.gno
  examples/gno.land/r/demo/boards2/z_0_d_filetest.gno
  examples/gno.land/r/demo/boards2/z_2_a_filetest.gno
  examples/gno.land/r/demo/boards2/z_2_b_filetest.gno
  examples/gno.land/r/demo/boards2/z_2_c_filetest.gno
  examples/gno.land/r/demo/boards2/z_2_d_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_a_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_b_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_c_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_e_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_f_filetest.gno
  examples/gno.land/r/demo/boards2/z_3_g_filetest.gno
  examples/gno.land/r/demo/boards2/z_4_b_filetest.gno
Labels: :receipt: package/realm

#3576 docs: remove `require`, add example gno doc
  docs/concepts/effective-gno.md
  docs/concepts/gno-modules.md
Labels: :book: documentation, in focus

#3557 ci(goreleaser): use `concurrency` to only execute 1 job at a time
  .github/workflows/releaser-master.yml
Labels: in focus

#3580 refactor(examples): use std.Address based behaviour
  examples/gno.land/r/demo/foo20/foo20.gno
  examples/gno.land/r/demo/foo20/foo20_test.gno
  examples/gno.land/r/demo/wugnot/wugnot.gno
  examples/gno.land/r/demo/wugnot/z0_filetest.gno
Labels: :receipt: package/realm, in focus

#3590 fix: #3580 txtar
  .github/workflows/gnoland.yml
  gno.land/pkg/integration/testdata/issue_1786.txtar
Labels: :package: :mountain: gno.land

#3574 feat(github-bot): avoid triage-pending if there is any tech-staff review
  contribs/github-bot/internal/config/config.go
  contribs/github-bot/internal/requirements/reviewer.go
  contribs/github-bot/internal/requirements/reviewer_test.go
  contribs/github-bot/internal/utils/github_const.go
Labels: in focus

#3304 fix: remove import cycles
  examples/gno.land/p/moul/md/md_test.gno
  examples/gno.land/r/gnoland/faucet/faucet_test.gno
  examples/no_cycles_test.go
  gnovm/pkg/packages/imports_test.go
  gnovm/stdlibs/crypto/ed25519/ed25519_test.gno
  gnovm/stdlibs/crypto/sha256/sha256_test.gno
  gnovm/stdlibs/encoding/binary/binary_test.gno
  gnovm/stdlibs/generated.go
  gnovm/stdlibs/hash/marshal_test.gno
  gnovm/stdlibs/io/export_test.gno
  gnovm/stdlibs/io/io_test.gno
  gnovm/stdlibs/io/multi_test.gno
  gnovm/stdlibs/math/bits/bits_test.gno
  gnovm/stdlibs/math/bits/export_test.gno
  gnovm/stdlibs/strconv/atob_test.gno
  gnovm/stdlibs/strconv/atof_test.gno
  gnovm/stdlibs/strconv/atoi_test.gno
  gnovm/stdlibs/strconv/decimal_test.gno
  gnovm/stdlibs/strconv/ftoa_test.gno
  gnovm/stdlibs/strconv/ftoaryu_test.gno
  gnovm/stdlibs/strconv/itoa_test.gno
  gnovm/stdlibs/strconv/quote_test.gno
  gnovm/stdlibs/strconv/strconv_test.gno
  gnovm/stdlibs/strings/printtrie_impl_test.gno
  gnovm/stdlibs/strings/printtrie_test.gno
  gnovm/stdlibs/testing/match.gno
  gnovm/stdlibs/testing/testing.gno
  gnovm/stdlibs/testing/testing.go
  gnovm/tests/stdlibs/README.md
  gnovm/tests/stdlibs/generated.go
  gnovm/tests/stdlibs/testing/native_testing.gno
  gnovm/tests/stdlibs/testing/native_testing.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, in focus

#3593 fix(p2p): infinity loop if no peer in queue
  tm2/pkg/p2p/switch.go
Labels: :package: :globe_with_meridians: tendermint v2

#3602 test(fuzz): appease goimports by renaming added .go corpus files to *go_fuzz
  gnovm/pkg/gnolang/fuzz_test.go
  gnovm/pkg/gnolang/testdata/corpora/parsefile/a.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/b.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/bug_3013.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/bug_3014_redefine.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/bug_3014_redefine2.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/bug_3014_redefine3.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/bug_3014_redefine4.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/bug_3014_redefine5.go_fuzz
  gnovm/pkg/gnolang/testdata/corpora/parsefile/bug_3014_redefine6.go_fuzz
Labels: :package: :robot: gnovm

#3587 chore: reorganize gnovm/cmd/gno
  .github/workflows/examples.yml
  .gitignore
  CONTRIBUTING.md
  docs/reference/go-gno-compatibility.md
  examples/Makefile
  gnovm/Makefile
  gnovm/cmd/gno/README.md
  gnovm/cmd/gno/bug.go
  gnovm/cmd/gno/clean.go
  gnovm/cmd/gno/doc.go
  gnovm/cmd/gno/env.go
  gnovm/cmd/gno/fmt.go
  gnovm/cmd/gno/main.go
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/run.go
  gnovm/cmd/gno/test.go
  gnovm/cmd/gno/testdata/lint/bad_import.txtar
  gnovm/cmd/gno/testdata/lint/file_error.txtar
  gnovm/cmd/gno/testdata/lint/no_error.txtar
  gnovm/cmd/gno/testdata/lint/no_gnomod.txtar
  gnovm/cmd/gno/testdata/lint/not_declared.txtar
  gnovm/cmd/gno/testdata/transpile/gobuild_flag_build_error.txtar
  gnovm/cmd/gno/testdata/transpile/gobuild_flag_parse_error.txtar
  gnovm/cmd/gno/testdata/transpile/invalid_import.txtar
  gnovm/cmd/gno/testdata/transpile/no_args.txtar
  gnovm/cmd/gno/testdata/transpile/parse_error.txtar
  gnovm/cmd/gno/testdata/transpile/valid_empty_dir.txtar
  gnovm/cmd/gno/testdata/transpile/valid_gobuild_file.txtar
  gnovm/cmd/gno/testdata/transpile/valid_gobuild_flag.txtar
  gnovm/cmd/gno/testdata/transpile/valid_output_flag.txtar
  gnovm/cmd/gno/testdata/transpile/valid_output_gobuild.txtar
  gnovm/cmd/gno/testdata/transpile/valid_transpile_file.txtar
  gnovm/cmd/gno/testdata/transpile/valid_transpile_package.txtar
  gnovm/cmd/gno/testdata/transpile/valid_transpile_tree.txtar
  gnovm/cmd/gno/tool.go
  gnovm/cmd/gno/tool_lint.go
  gnovm/cmd/gno/tool_lint_test.go
  gnovm/cmd/gno/tool_repl.go
  gnovm/cmd/gno/tool_repl_test.go
  gnovm/cmd/gno/tool_transpile.go
  gnovm/cmd/gno/tool_transpile_test.go
  gnovm/tests/challenges/unused0.gno
Labels: :receipt: package/realm, :package: :robot: gnovm

#3606 feat(boards2): change public delete reply function to soft delete replies
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/post_test.gno
  examples/gno.land/r/demo/boards2/public.gno
Labels: :receipt: package/realm

#3583 feat(boards2): improve public realm functions
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/permission.gno
  examples/gno.land/r/demo/boards2/permission_default.gno
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/public.gno
Labels: :receipt: package/realm

#3586 feat(boards2): pagination
  examples/gno.land/r/demo/boards2/board.gno
  examples/gno.land/r/demo/boards2/pagination.gno
  examples/gno.land/r/demo/boards2/post.gno
  examples/gno.land/r/demo/boards2/render.gno
Labels: :receipt: package/realm

#3616 feat(boards2): add proposal definition tally support to `commondao` package
  examples/gno.land/p/demo/commondao/commondao.gno
  examples/gno.land/p/demo/commondao/commondao_test.gno
  examples/gno.land/p/demo/commondao/proposal.gno
  examples/gno.land/p/demo/commondao/proposal_test.gno
  examples/gno.land/p/demo/commondao/record.gno
  examples/gno.land/p/demo/commondao/record_test.gno
Labels: :receipt: package/realm

#3584 fix(gnovm/softfloat): replace copy.sh with Go generator
  gnovm/pkg/gnolang/internal/softfloat/copy.sh
  gnovm/pkg/gnolang/internal/softfloat/gen/main.go
  gnovm/pkg/gnolang/internal/softfloat/runtime_softfloat64.go
  gnovm/pkg/gnolang/internal/softfloat/runtime_softfloat64_test.go
  gnovm/pkg/gnolang/internal/softfloat/softfloat.go
Labels: :package: :robot: gnovm

#3622 test(boards2): add missing filetests for board creation
  examples/gno.land/r/nt/boards2/z_0_g_filetest.gno
  examples/gno.land/r/nt/boards2/z_0_h_filetest.gno
  examples/gno.land/r/nt/boards2/z_0_i_filetest.gno
Labels: :receipt: package/realm, review/triage-pending

#3603 feat(examples): update leon's config & home
  examples/gno.land/r/leon/config/config.gno
  examples/gno.land/r/leon/hof/hof.gno
  examples/gno.land/r/leon/home/home.gno
Labels: :receipt: package/realm

#3608 feat(r/docs): pager + render paths
  examples/gno.land/r/docs/avl_pager_with_params/gno.mod
  examples/gno.land/r/docs/avl_pager_with_params/render.gno
  examples/gno.land/r/docs/docs.gno
Labels: :receipt: package/realm

#3611 feat(gnoweb): "No render" page/component
  examples/gno.land/r/docs/docs.gno
  examples/gno.land/r/docs/optional_render/gno.mod
  examples/gno.land/r/docs/optional_render/optional_render.gno
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/components/view_status.go
  gno.land/pkg/gnoweb/components/views/status.html
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/webclient_mock.go
  gno.land/pkg/sdk/vm/errors.go
  gno.land/pkg/sdk/vm/handler.go
  gno.land/pkg/sdk/vm/package.go
Labels: :receipt: package/realm, :package: :mountain: gno.land

#3634 fix(gnoweb): NoRender response & test
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
Labels: :package: :mountain: gno.land

#3629 feat: optimize jitter factor calculation
  tm2/pkg/p2p/switch.go
  tm2/pkg/p2p/switch_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#3588 feat: gno mod graph
  gnovm/cmd/gno/mod.go
  gnovm/cmd/gno/mod_test.go
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2

#3633 test(boards2): add missing filetests for member removal
  examples/gno.land/r/nt/boards2/public.gno
  examples/gno.land/r/nt/boards2/z_5_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_5_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_5_c_filetest.gno
Labels: :receipt: package/realm

#3636 test(boards2): add missing filetests for member role change
  examples/gno.land/r/nt/boards2/z_4_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_4_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_4_c_filetest.gno
  examples/gno.land/r/nt/boards2/z_4_d_filetest.gno
  examples/gno.land/r/nt/boards2/z_4_e_filetest.gno
  examples/gno.land/r/nt/boards2/z_4_h_filetest.gno
Labels: :receipt: package/realm

#3649 test(boards2): add missing filetests for thread edit
  examples/gno.land/r/nt/boards2/z_11_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_11_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_11_c_filetest.gno
  examples/gno.land/r/nt/boards2/z_11_d_filetest.gno
  examples/gno.land/r/nt/boards2/z_11_e_filetest.gno
  examples/gno.land/r/nt/boards2/z_11_f_filetest.gno
  examples/gno.land/r/nt/boards2/z_11_g_filetest.gno
Labels: :receipt: package/realm

#3646 test(boards2): add missing filetests for thread flagging
  examples/gno.land/r/nt/boards2/flag.gno
  examples/gno.land/r/nt/boards2/z_10_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_10_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_10_c_filetest.gno
  examples/gno.land/r/nt/boards2/z_10_d_filetest.gno
  examples/gno.land/r/nt/boards2/z_10_e_filetest.gno
  examples/gno.land/r/nt/boards2/z_10_f_filetest.gno
Labels: :receipt: package/realm

#3645 test(boards2): add missing filetests for thread deletion
  examples/gno.land/r/nt/boards2/public.gno
  examples/gno.land/r/nt/boards2/z_9_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_9_b_filetest.gno
  examples/gno.land/r/nt/boards2/z_9_c_filetest.gno
  examples/gno.land/r/nt/boards2/z_9_d_filetest.gno
  examples/gno.land/r/nt/boards2/z_9_e_filetest.gno
Labels: :receipt: package/realm

#3642 test(boards2): add missing filetests for board ID getter by name
  examples/gno.land/r/nt/boards2/public.gno
  examples/gno.land/r/nt/boards2/z_7_a_filetest.gno
  examples/gno.land/r/nt/boards2/z_7_b_filetest.gno
Labels: :receipt: package/realm, review/triage-pending

#3594 feat: ownable2step realm
  examples/gno.land/p/oxtekgrinder/ownable2step/errors.gno
  examples/gno.land/p/oxtekgrinder/ownable2step/gno.mod
  examples/gno.land/p/oxtekgrinder/ownable2step/ownable.gno
  examples/gno.land/p/oxtekgrinder/ownable2step/ownable_test.gno
Labels: :receipt: package/realm

#3640 fix(tm2/pkg/bft/node): make Node.startRPC not leak listeners on any error
  tm2/pkg/bft/node/node.go
Labels: :package: :globe_with_meridians: tendermint v2

#3548 feat(tm2/pkg/iavl): add FuzzIterateRange and modernize FuzzMutableTree
  tm2/pkg/iavl/tree_fuzz_test.go
Labels: :package: :globe_with_meridians: tendermint v2

#3540 test(tm2/pkg/cmap): add benchmarks to show true impact of contention
  tm2/pkg/cmap/cmap_test.go
Labels: :package: :globe_with_meridians: tendermint v2
