Repository gnolang/gno, pull requests merged in 2025-07, with the labels that each got.

#4443 fix(examples): match r/docs/avl_pager_params path with r/docs/home
  examples/gno.land/r/docs/avl_pager_params/gnomod.toml
  examples/gno.land/r/docs/avl_pager_params/render.gno
  examples/gno.land/r/docs/avl_pager_with_params/gnomod.toml
Labels: :receipt: package/realm

#4427 fix: protect r/gov/dao.AllowedDAOs against proposal spoofing
  examples/gno.land/r/gov/dao/proxy.gno
Labels: :receipt: package/realm

#4401 feat(gnoweb): README.md support for p/ & r/ packages
  gno.land/pkg/gnoweb/app_test.go
  gno.land/pkg/gnoweb/components/layouts/article.html
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/components/view_directory.go
  gno.land/pkg/gnoweb/components/view_realm.go
  gno.land/pkg/gnoweb/components/view_source.go
  gno.land/pkg/gnoweb/components/views/directory.html
  gno.land/pkg/gnoweb/components/views/source.html
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/handler.go
  gno.land/pkg/gnoweb/handler_test.go
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/webclient.go
  gno.land/pkg/gnoweb/webclient_html.go
  gno.land/pkg/gnoweb/webclient_mock.go
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4347 fix(gnovm): switch var capture
  examples/gno.land/p/demo/uassert/helpers.gno
  examples/gno.land/p/demo/uassert/uassert.gno
  gnovm/README.md
  gnovm/pkg/gnolang/preprocess.go
  gnovm/tests/files/closure11.gno
  gnovm/tests/files/closure11_known.gno
  gnovm/tests/files/closure11a.gno
  gnovm/tests/files/revive/abort.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land

#4373 feat: small grc20 package / realm fixes and improvements
  examples/gno.land/p/demo/grc/grc20/token.gno
  examples/gno.land/p/demo/grc/grc20/token_test.gno
  examples/gno.land/r/demo/grc20factory/grc20factory.gno
Labels: :receipt: package/realm

#4460 test(pkg/integration): -no-parallel flag for sequential tests
  gno.land/pkg/integration/testdata/gc.txtar
  gno.land/pkg/integration/testscript_gnoland.go
Labels: :package: :mountain: gno.land

#1736 test(bug): txtar to reproduce the VM hanging during Render
  gno.land/pkg/integration/testdata/cpu-cycle-overrun1.txtar
Labels: 🐞 bug, :package: :mountain: gno.land

#4470 fix(govdao): make executor crossing
  examples/gno.land/r/gnoland/blog/admin.gno
  examples/gno.land/r/gnoland/users/users.gno
  examples/gno.land/r/gnoland/users/v1/admin.gno
  examples/gno.land/r/gnoland/valopers/admin.gno
  examples/gno.land/r/gov/dao/proxy.gno
  examples/gno.land/r/gov/dao/proxy_test.gno
  examples/gno.land/r/gov/dao/types.gno
  examples/gno.land/r/gov/dao/v3/impl/prop_requests.gno
  examples/gno.land/r/gov/dao/v3/memberstore/prop_requests.gno
  examples/gno.land/r/sys/params/params.gno
  examples/gno.land/r/sys/users/admin.gno
  examples/gno.land/r/sys/validators/v2/poc.gno
  gno.land/pkg/integration/testdata/govdao_proposal_only_members_proposals.txtar
  gnovm/tests/files/govdao/realm_govdao.gno
Labels: :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, 🤝 contribs

#4459 feat(genesis): support custom uploader addresses via gnomod.toml
  examples/gno.land/p/moul/addrset/gnomod.toml
  examples/gno.land/p/moul/authz/gnomod.toml
  examples/gno.land/p/moul/collection/gnomod.toml
  examples/gno.land/p/moul/cow/gnomod.toml
  examples/gno.land/p/moul/debug/gnomod.toml
  examples/gno.land/p/moul/dynreplacer/gnomod.toml
  examples/gno.land/p/moul/errs/gnomod.toml
  examples/gno.land/p/moul/fifo/gnomod.toml
  examples/gno.land/p/moul/fp/gnomod.toml
  examples/gno.land/p/moul/helplink/gnomod.toml
  examples/gno.land/p/moul/md/gnomod.toml
  examples/gno.land/p/moul/mdtable/gnomod.toml
  examples/gno.land/p/moul/memo/gnomod.toml
  examples/gno.land/p/moul/once/gnomod.toml
  examples/gno.land/p/moul/printfdebugging/gnomod.toml
  examples/gno.land/p/moul/realmpath/gnomod.toml
  examples/gno.land/p/moul/txlink/gnomod.toml
  examples/gno.land/p/moul/typeutil/gnomod.toml
  examples/gno.land/p/moul/ulist/gnomod.toml
  examples/gno.land/p/moul/ulist/lplist/gnomod.toml
  examples/gno.land/p/moul/web25/gnomod.toml
  examples/gno.land/p/moul/xmath/gnomod.toml
  examples/gno.land/p/nt/commondao/gnomod.toml
  examples/gno.land/p/nt/poa/gnomod.toml
  examples/gno.land/p/sys/genesis/gnomod.toml
  examples/gno.land/p/sys/validators/gnomod.toml
  examples/gno.land/r/gnoland/blog/gnomod.toml
  examples/gno.land/r/gnoland/coins/gnomod.toml
  examples/gno.land/r/gnoland/events/gnomod.toml
  examples/gno.land/r/gnoland/faucet/gnomod.toml
  examples/gno.land/r/gnoland/ghverify/gnomod.toml
  examples/gno.land/r/gnoland/home/gnomod.toml
  examples/gno.land/r/gnoland/monit/gnomod.toml
  examples/gno.land/r/gnoland/pages/gnomod.toml
  examples/gno.land/r/gnoland/users/gnomod.toml
  examples/gno.land/r/gnoland/users/v1/gnomod.toml
  examples/gno.land/r/gnoland/valopers/gnomod.toml
  examples/gno.land/r/gnoland/valopers_proposal/gnomod.toml
  examples/gno.land/r/gov/dao/gnomod.toml
  examples/gno.land/r/gov/dao/v3/impl/gnomod.toml
  examples/gno.land/r/gov/dao/v3/init/gnomod.toml
  examples/gno.land/r/gov/dao/v3/loader/gnomod.toml
  examples/gno.land/r/gov/dao/v3/memberstore/gnomod.toml
  examples/gno.land/r/moul/config/gnomod.toml
  examples/gno.land/r/moul/microposts/gnomod.toml
  examples/gno.land/r/nt/commondao/gnomod.toml
  examples/gno.land/r/sys/names/gnomod.toml
  examples/gno.land/r/sys/params/gnomod.toml
  examples/gno.land/r/sys/rewards/gnomod.toml
  examples/gno.land/r/sys/txfees/gnomod.toml
  examples/gno.land/r/sys/users/gnomod.toml
  examples/gno.land/r/sys/validators/v2/gnomod.toml
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/gnoland/genesis.go
  gno.land/pkg/gnoland/genesis_test.go
  misc/set-gnomod-uploader.sh
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🤝 contribs

#4452 fix(gnovm): handle nil MapValue for range
  gnovm/pkg/gnolang/op_exec.go
  gnovm/tests/files/map30.gno
Labels: :package: :robot: gnovm

#4480 ci(labeler): apply contribs label more selectively
  .github/labeler.yml
Labels: 🚀 ci, 🤝 contribs

#4409 docs: gno.mod > gnomod.toml, add toml resource page
  docs/README.md
  docs/builders/deploy-packages.md
  docs/builders/example-minisocial-dapp.md
  docs/builders/gno-testing.md
  docs/builders/local-dev-with-gnodev.md
  docs/resources/configuring-gno-projects.md
  docs/users/interact-with-gnokey.md
  misc/docs/sidebar.json
Labels: :book: documentation

#4486 fix(govdao): repair tests
  gno.land/pkg/integration/testdata/govdao_proposal_only_members_proposals.txtar
Labels: :package: :mountain: gno.land

#4453 feat(govdao): enhance rendering
  examples/gno.land/r/gnoland/users/v1/admin.gno
  examples/gno.land/r/gnoland/users/v1/render.gno
  examples/gno.land/r/gnoland/users/v1/z_0_prop1_filetest.gno
  examples/gno.land/r/gnoland/users/v1/z_1_prop2_filetest.gno
  examples/gno.land/r/gnoland/valopers_proposal/z_1_filetest.gno
  examples/gno.land/r/gov/dao/types.gno
  examples/gno.land/r/gov/dao/v3/impl/govdao.gno
  examples/gno.land/r/gov/dao/v3/impl/govdao_test.gno
  examples/gno.land/r/gov/dao/v3/impl/prop_requests.gno
  examples/gno.land/r/gov/dao/v3/impl/render.gno
  examples/gno.land/r/gov/dao/v3/impl/types.gno
  gno.land/pkg/integration/testdata/govdao_proposal_add_member.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_change_law.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_new_post.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_promote_member.txtar
  gno.land/pkg/integration/testdata/govdao_proposal_withdraw_member.txtar
  gnovm/tests/files/govdao/realm_govdao.gno
Labels: don't merge, :receipt: package/realm, :package: :robot: gnovm, :package: :mountain: gno.land, 🤝 contribs

#4485 fix: typo on gno.land/r/gnoland/users/v1 event
  examples/gno.land/r/gnoland/users/v1/users.gno
Labels: :receipt: package/realm

#4502 fix: txtar timeout
  .github/workflows/gnoland.yml
  .github/workflows/main_template.yml
  .github/workflows/test_template.yml
  gno.land/pkg/integration/process.go
  gno.land/pkg/integration/testdata/govdao_proposal_add_member.txtar
  gno.land/pkg/integration/testscript_gnoland.go
Labels: :package: :mountain: gno.land, 🚀 ci

#4385 fix(gnovm): an alternative solution for mapkey attachment
  gnovm/pkg/gnolang/debugger.go
  gnovm/pkg/gnolang/machine.go
  gnovm/pkg/gnolang/op_exec.go
  gnovm/pkg/gnolang/op_expressions.go
  gnovm/pkg/gnolang/realm.go
  gnovm/pkg/gnolang/values.go
  gnovm/tests/files/map31.gno
  gnovm/tests/files/map31a.gno
  gnovm/tests/files/map31b.gno
  gnovm/tests/files/map31c.gno
  gnovm/tests/files/map32.gno
  gnovm/tests/files/map33.gno
  gnovm/tests/files/map34.gno
  gnovm/tests/stdlibs/fmt/print.go
Labels: :package: :robot: gnovm, 🤝 contribs

#4509 chore(docs): outdated cross / crossing + GetOrigCaller() -> OriginCaller()
  docs/resources/realms.md
Labels: :book: documentation

#4511 chore: move wrong docs, index missing page
  docs/README.md
  docs/resources/gno-testing.md
  misc/docs/sidebar.json
Labels: :book: documentation

#4462 fix(gnoweb): UI batch
  gno.land/pkg/gnoweb/components/layouts/article.html
  gno.land/pkg/gnoweb/components/layouts/aside.html
  gno.land/pkg/gnoweb/components/layouts/header.html
  gno.land/pkg/gnoweb/components/ui/breadcrumb.html
  gno.land/pkg/gnoweb/components/ui/header_link.html
  gno.land/pkg/gnoweb/components/ui/help_function.html
  gno.land/pkg/gnoweb/components/ui/toc_realm.html
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/frontend/js/copy.ts
  gno.land/pkg/gnoweb/markdown/ext_links.go
  gno.land/pkg/gnoweb/markdown/golden/ext_link/external.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/iniline.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/inline.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/internal.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/invalid.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_link/package.md.txtar
  gno.land/pkg/gnoweb/public/js/copy.js
  gno.land/pkg/gnoweb/public/styles.css
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4436 feat(grc20): specify the token implementation path in emit
  examples/gno.land/p/demo/grc/grc20/token.gno
  examples/gno.land/p/demo/grc/grc20/types.gno
  gno.land/pkg/integration/testdata/grc20_registry_emit.txtar
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🤝 contribs

#4521 perf(gnovm): don't call pn.NewPackage on `evalStaticType*`
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm

#4536 chore: gnodev cmd in gnoweb
  gno.land/pkg/gnoweb/Makefile
Labels: :package: :mountain: gno.land, 🌍 gnoweb

#4508 feat(gnogenesis): add params sub command & integration test
  contribs/gnogenesis/genesis.go
  contribs/gnogenesis/go.mod
  contribs/gnogenesis/integration_test.go
  contribs/gnogenesis/internal/params/params.go
  contribs/gnogenesis/internal/params/params_get.go
  contribs/gnogenesis/internal/params/params_get_test.go
  contribs/gnogenesis/internal/params/params_set.go
  contribs/gnogenesis/internal/params/params_set_test.go
  gno.land/cmd/gnoland/config.go
  gno.land/cmd/gnoland/config_get.go
  gno.land/cmd/gnoland/config_help.go
  gno.land/cmd/gnoland/config_set.go
  gno.land/cmd/gnoland/secrets_get.go
  gno.land/pkg/gnoland/app.go
  gno.land/pkg/integration/testdata/gnokey_gasfee.txtar
  tm2/pkg/commands/fields_generator.go
  tm2/pkg/std/gasprice.go
Labels: :package: :globe_with_meridians: tendermint v2, :package: :mountain: gno.land, 🐹 golang, 🤝 contribs

#4539 fix: update master `goreleaser.yaml`
  .github/goreleaser.yaml
Labels: 🚀 ci

#4540 chore(gnovm): add clarifying comment in evalStaticType{,OfRaw}
  gnovm/pkg/gnolang/preprocess.go
Labels: :package: :robot: gnovm

#4438 feat(gnoweb): new form inputs
  examples/gno.land/r/docs/markdown/markdown.gno
  gno.land/pkg/gnoweb/components/ui/help_function.html
  gno.land/pkg/gnoweb/components/ui/toc_generic.html
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/markdown/ext_forms.go
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/form_empty_no_submit.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/form_with_descriptions.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/form_with_path.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_duplicate_names.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_input_not_selfclosing.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_radio_checkbox.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_select_missing_name.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_textarea_missing_name.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_textarea_not_selfclosing.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_textarea_rows.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/invalid_unknown_tag.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_descriptions.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_radio_checkbox.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_select_alternating_names.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_select_basic.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_select_with_description.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_select_with_selected.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_select_with_underscores.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_textarea.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_forms/valid_textarea_default_placeholder.md.txtar
  gno.land/pkg/gnoweb/markdown/utils.go
  gno.land/pkg/gnoweb/public/styles.css
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb

#4474 feat(gnoweb): mention markdown ext
  examples/gno.land/r/docs/markdown/markdown.gno
  gno.land/pkg/gnoweb/components/ui/icons.html
  gno.land/pkg/gnoweb/frontend/css/input.css
  gno.land/pkg/gnoweb/frontend/css/tx.config.js
  gno.land/pkg/gnoweb/markdown/ext.go
  gno.land/pkg/gnoweb/markdown/ext_links.go
  gno.land/pkg/gnoweb/markdown/ext_mentions.go
  gno.land/pkg/gnoweb/markdown/golden/ext_mentions/email_test.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_mentions/gno_addresses.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_mentions/mixed.md.txtar
  gno.land/pkg/gnoweb/markdown/golden/ext_mentions/user_mentions.md.txtar
  gno.land/pkg/gnoweb/public/styles.css
  gno.land/pkg/gnoweb/weburl/url.go
Labels: :receipt: package/realm, :package: :mountain: gno.land, 🌍 gnoweb, 🤝 contribs

#4554 feat: add initial `test7` deployment
  misc/deployments/test7.gno.land/CHECKLIST.md
  misc/deployments/test7.gno.land/README.md
  misc/deployments/test7.gno.land/config.toml
  misc/deployments/test7.gno.land/generate.sh
Labels: :package: :mountain: gno.land, 🐳 devops

#4537 feat(treasury): add pagination to payments history
  examples/gno.land/p/demo/avl/list/list.gno
  examples/gno.land/p/demo/avl/list/list_test.gno
  examples/gno.land/p/demo/avl/rolist/rolist.gno
  examples/gno.land/p/nt/treasury/render.gno
  examples/gno.land/p/nt/treasury/treasury.gno
  examples/gno.land/p/nt/treasury/treasury_filetest.gno
  examples/gno.land/p/nt/treasury/types.gno
  examples/gno.land/r/gov/dao/v3/loader/loader.gno
  examples/gno.land/r/gov/dao/v3/treasury/test/treasury_test.gno
  examples/gno.land/r/gov/dao/v3/treasury/treasury.gno
Labels: :receipt: package/realm

#4562 ci: skip gnokms flaky test
  contribs/gnokms/internal/common/flags_test.go
Labels: 🚀 ci, 🤝 contribs

#4563 fix: Dockerfile and Dockerfile.release images
  Dockerfile
  Dockerfile.release
  misc/deployments/bake/README.md
Labels: 🐳 devops

#4565 docs: fix test7 README
  misc/deployments/test7.gno.land/README.md
  misc/deployments/test7.gno.land/config.toml
Labels: 🐳 devops

#4573 chore: reduce deployer balance needed
  contribs/gnogenesis/internal/txs/txs_add_packages.go
  gno.land/cmd/gnoland/start.go
Labels: :package: :mountain: gno.land, 🤝 contribs

#4581 docs: update test7 deployements README
  misc/deployments/test7.gno.land/README.md
Labels: 🐳 devops

#4582 chore(keeper): remove debug print in keeper
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :mountain: gno.land

#4580 fix(keeper): realm diff iteration, make it deterministic by sorting path
  gno.land/pkg/sdk/vm/keeper.go
Labels: :package: :mountain: gno.land, 🤝 contribs

#4574 chore(docs): update test6 to test7
  docs/resources/gnoland-networks.md
  examples/gno.land/r/gnoland/home/home.gno
  examples/gno.land/r/gnoland/home/home_filetest.gno
Labels: :book: documentation, :receipt: package/realm
